<div class="modal-header configuration-editor-modal-header">
    <h5 class="modal-title" i18n="@@configuration.editSpecificCategory">
        Kategorie <code>{{category.name}}</code> bearbeiten
    </h5>
    <button id="save-button" class="btn btn-success"
            [ngClass]="{ 'disabled': saving || !isChanged() }"
            (click)="saving || !isChanged() || save()">
        <span class="mdi mdi-content-save"></span>
        <span class="button-label" i18n="@@buttons.save">Speichern</span>
    </button>
    <button class="btn btn-primary"
            [class.disabled]="saving"
            (click)="saving || cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body configuration-editor-modal-body">
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.categoryLabel">
            Kategoriebezeichnung
        </div>
        <multi-language-input [translations]="clonedLabel"
            [defaultTranslations]="category.defaultLabel"></multi-language-input>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.description">
            Beschreibung
        </div>
        <multi-language-input [translations]="clonedDescription"
            [defaultTranslations]="category.defaultDescription"></multi-language-input>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.color">
            Farbe
        </div>
        <input [(colorPicker)]="getClonedCategoryDefinition().color"
               [style.background]="getClonedCategoryDefinition().color"
               [cpAlphaChannel]="'disabled'">
    </div>
</div>
