<div class="modal-header configuration-editor-modal-header">
    <h5 *ngIf="!new"
        class="modal-title" i18n="@@configuration.editSpecificCategory">
        Kategorie <code>{{category.name}}</code> bearbeiten
    </h5>
    <h5 *ngIf="new"
        class="modal-title" i18n="@@configuration.addSpecificCategory">
        Kategorie <code>{{category.name}}</code> hinzufügen
    </h5>
    <button id="confirm-button" class="btn btn-primary"
            [ngClass]="{ 'disabled': applyingChanges || !isChanged() }"
            (click)="applyingChanges || !isChanged() || confirm()">
        <span class="button-label" i18n="@@buttons.ok">OK</span>
    </button>
    <button class="btn btn-primary btn-square"
            [class.disabled]="applyingChanges"
            (click)="applyingChanges || cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body configuration-editor-modal-body">
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.categoryLabel">
            Kategoriebezeichnung
        </div>
        <multi-language-input [translations]="clonedLabel"
            [defaultTranslations]="category.defaultLabel"
            [projectLanguages]="getClonedProjectLanguages()"></multi-language-input>
    </div>
    <div *ngIf="isCustomCategory()" class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.description">
            Beschreibung
        </div>
        <multi-language-input [translations]="clonedDescription"
            [defaultTranslations]="category.defaultDescription"
            [projectLanguages]="getClonedProjectLanguages()"></multi-language-input>
    </div>
    <div *ngIf="isCustomCategory()" class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.references">
            Verweise
        </div>
        <references-input [references]="getClonedFormDefinition().references"></references-input>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.color">
            Farbe
        </div>
        <input *ngIf="getClonedFormDefinition().color" id="category-color"
               type="color"
               class="form-control form-control-color"
               [class.with-restore-default-color-button]="isRestoreColorButtonVisible()"
               [value]="getClonedFormDefinition().color"
               (change)="getClonedFormDefinition().color = $event.srcElement.value">
        <input *ngIf="!getClonedFormDefinition().color" id="category-color"
               type="color"
               class="form-control form-control-color"
               [value]="category.defaultColor">
        <button *ngIf="isRestoreColorButtonVisible()"
                id="restore-color-button" class="btn btn-primary btn-square" type="button"
                (click)="restoreDefaultColor()">
            <span class="mdi mdi-restore"></span>
        </button>
    </div>
    <div *ngIf="isIdentifierPrefixAvailable()" class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.identifierPrefix">
            Bezeichner-Präfix
        </div>
        <input type="text" id="identifier-prefix"
               class="form-control reference-input"
               [(ngModel)]="getClonedFormDefinition().identifierPrefix">
        <div *ngIf="isIdentifierPrefixWarningShown() && numberOfCategoryResources === 1"
             id="identifier-prefix-warning"
             class="alert alert-warning"
             i18n="@@configuration.identifierPrefix.warning.single">
            Es wurde bereits eine Ressource dieser Kategorie angelegt. Bitte beachten Sie, dass das Präfix
            <b>nicht</b> automatisch für schon existierende Bezeichner gesetzt wird.
        </div>
        <div *ngIf="isIdentifierPrefixWarningShown() && numberOfCategoryResources > 1"
             id="identifier-prefix-warning"
             class="alert alert-warning"
             i18n="@@configuration.identifierPrefix.warning.multiple">
            Es wurden bereits {{numberOfCategoryResources}} Ressourcen dieser Kategorie angelegt. Bitte beachten Sie, dass
            das Präfix <b>nicht</b> automatisch für schon existierende Bezeichner gesetzt wird.
        </div>
    </div>
</div>
