.configuration-editor-modal-body {
  #identifier-prefix {
    width: 200px;  
  }

  #category-color {
    width: 38px;
    height: 38px;
    padding: 1px 3px;
    float: left;
    border-radius: 0.3rem !important;
  }

  #restore-color-button {
    margin-left: 10px;
  }
}
