.field-editor-modal-body {
  #constraint-indexed-switch {
    width: 340px;
    
    div span {
      user-select: none;

      &.disabled {
        color: grey;
      }
    }
  }

  .basic-settings-label {
    width: 300px;
    float: left;
    user-select: none;
  }

  #swap-valuelist-button {
    height: 38px;
    margin-right: 12px;
  }

  code {
    user-select: none;
  }
}
