<div class="modal-header configuration-editor-modal-header">
    <h5 *ngIf="new" class="modal-title" i18n="@@configuration.createSpecificField">
        Feld <code>{{field.name}}</code> erstellen
    </h5>
    <h5 *ngIf="!new" class="modal-title" i18n="@@configuration.editSpecificField">
        Feld <code>{{field.name}}</code> bearbeiten
    </h5>
    <button id="save-button" class="btn btn-success"
            [ngClass]="{ 'disabled': saving || !isChanged() }"
            (click)="saving || !isChanged() || save()">
        <span class="mdi mdi-content-save"></span>
        <span class="button-label" i18n="@@buttons.save">Speichern</span>
    </button>
    <button class="btn btn-primary"
            [class.disabled]="saving"
            (click)="saving || cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body configuration-editor-modal-body field-editor-modal-body">
    <div *ngIf="field.source === 'custom'" class="configuration-editor-section">
        <div class="configuration-editor-section-title"
            i18n="@@configuration.field.inputType">Eingabetyp</div>
        <select (change)="setInputType($event.target.value)" [disabled]="hidden"
                class="form-control">
            <option *ngFor="let inputType of getAvailableInputTypes()"
                    value="{{inputType.name}}"
                    [selected]="getInputType() === inputType.name">
                {{inputType.label}}
            </option>
        </select>
    </div>
    <div class="configuration-editor-section form-group">
        <div class="configuration-editor-section-title" i18n="@@configuration.basicSettings">
            Grundeinstellungen
        </div>
        <div *ngIf="hideable">
            <div class="basic-settings-label">
                <span i18n="@@configuration.showField">Feld anzeigen</span>
            </div>
            <div>
                <label class="switch">
                    <input type="checkbox"
                        [checked]="!hidden"
                        (change)="toggleHidden()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div id="constraint-indexed-switch"
             ngbTooltip="{{getConstraintIndexedTooltip()}}"
             container="body">
            <div class="basic-settings-label">
                <span i18n="@@configuration.allowFieldSpecificSearch"
                      [class.disabled]="!isConstraintIndexOptionEnabled()">Feldspezifische Suche erlauben</span>
            </div>
            <div>
                <label class="switch" [class.disabled]="!isConstraintIndexOptionEnabled()">
                    <input type="checkbox"
                        [checked]="isConstraintIndexed()"
                        [disabled]="!isConstraintIndexOptionEnabled()"
                        (change)="toggleConstraintIndexed()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.fieldLabel">
            Feldbezeichnung
        </div>
        <multi-language-input [translations]="clonedLabel"
            [defaultTranslations]="field.defaultLabel" [disabled]="hidden"></multi-language-input>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.description">
            Beschreibung
        </div>
        <multi-language-input [translations]="clonedDescription"
            [defaultTranslations]="field.defaultDescription" [disabled]="hidden"></multi-language-input>
    </div>
    <div *ngIf="isValuelistSectionVisible()" class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.valuelist">
            Werteliste
        </div>
        <div *ngIf="clonedField.valuelist">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <button id="swap-valuelist-button"
                            class="btn btn-primary"
                            type="button"
                            (click)="selectValuelist()"
                            ngbTooltip="Werteliste wechseln"
                            i18n-ngbTooltip="@@configiguration.swapValuelist"
                            container="body"
                            placement="right">
                        <span class="mdi mdi-swap-horizontal"></span>
                    </button>
                    <button *ngIf="isEditValuelistButtonVisible()"
                            id="edit-valuelist-button"
                            class="btn btn-primary"
                            type="button"
                            (click)="editValuelist()"
                            ngbTooltip="Werteliste bearbeiten"
                            i18n-ngbTooltip="@@configiguration.editValuelist"
                            container="body"
                            placement="right">
                        <span class="mdi mdi-pencil"></span>
                    </button>
                    <code>{{clonedField.valuelist.id}}</code>
                </li>
                <li *ngIf="clonedField.valuelist" class="list-group-item">
                    <valuelist-view [valuelist]="clonedField.valuelist"></valuelist-view>
                </li>
            </ul>
        </div>
        <div *ngIf="!clonedField.valuelist">
            <button id="add-valuelist-button" class="btn btn-success" type="button"
                    (click)="selectValuelist()"
                    ngbTooltip="Werteliste hinzufügen"
                    i18n-ngbTooltip="@@configiguration.swapValuelist"
                    container="body"
                    placement="right">
                <span class="mdi mdi-plus"></span>
            </button>
        </div>
    </div>
</div>
