.field-editor-modal-body {
  #constraint-indexed-switch,
  #i18n-switch {
    width: 340px;
    
    div span {
      user-select: none;

      &.disabled {
        color: grey;
      }
    }
  }

  .basic-settings-label {
    width: 300px;
    float: left;
    font-size: 15px;
    user-select: none;
  }

  #swap-valuelist-button,
  #edit-valuelist-button {
    height: 38px;
    float: right;
  }

  #edit-valuelist-button {
    margin-right: 8px;
  }

  #valuelist-header {
    padding: 8px 8px 8px 16px;

    code {
      position: relative;
      top: 7px;
      user-select: none;
    }
  }
}
