<div class="modal-header configuration-editor-modal-header field-editor-modal-header">
    <h5 *ngIf="new" class="modal-title" i18n="@@configuration.createSpecificField">
        Feld <code>{{field.name}}</code> erstellen
    </h5>
    <h5 *ngIf="!new" class="modal-title" i18n="@@configuration.editSpecificField">
        Feld <code>{{field.name}}</code> bearbeiten
    </h5>
    <button id="confirm-button" class="btn btn-primary"
            [ngClass]="{ 'disabled': applyingChanges || !isChanged() }"
            (click)="applyingChanges || !isChanged() || confirm()">
        <span class="button-label" i18n="@@buttons.ok">OK</span>
    </button>
    <button class="btn btn-primary btn-square"
            [class.disabled]="applyingChanges"
            (click)="applyingChanges || cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body configuration-editor-modal-body field-editor-modal-body">
    <input-type-selector [selectedInputType]="getInputType()"
                         [availableInputTypes]="availableInputTypes"
                         [isCustomField]="isCustomField()"
                         [isFixedInputType]="field.fixedInputType"
                         [disabled]="hidden"
                         (onChanged)="setInputType($event)">
    </input-type-selector>
    <div class="configuration-editor-section form-group">
        <div class="configuration-editor-section-title" i18n="@@configuration.basicSettings">
            Grundeinstellungen
        </div>
        <div *ngIf="hideable">
            <div class="basic-settings-label">
                <span i18n="@@configuration.showField">Feld anzeigen</span>
            </div>
            <div>
                <label id="toggle-hidden-slider" class="switch">
                    <input
                        type="checkbox"
                        [checked]="!hidden"
                        (change)="toggleHidden()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <i18n-switch *ngIf="isI18nCompatible()"
                     [inputType]="getInputType()"
                     (onChanged)="setInputType($event)"></i18n-switch>
        <div id="constraint-indexed-switch"
             class="field-editor-switch"
             ngbTooltip="{{getConstraintIndexedTooltip()}}"
             container="body">
            <div class="basic-settings-label">
                <span i18n="@@configuration.allowFieldSpecificSearch"
                      [class.disabled]="!isConstraintIndexOptionEnabled()">Feldspezifische Suche erlauben</span>
            </div>
            <div>
                <label class="switch" [class.disabled]="!isConstraintIndexOptionEnabled()">
                    <input type="checkbox"
                        [checked]="isConstraintIndexed()"
                        [disabled]="!isConstraintIndexOptionEnabled()"
                        (change)="toggleConstraintIndexed()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.fieldLabel">
            Feldbezeichnung
        </div>
        <multi-language-input [translations]="clonedLabel"
            [defaultTranslations]="field.defaultLabel"
            [projectLanguages]="getClonedProjectLanguages()"
            [disabled]="hidden"></multi-language-input>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.description">
            Beschreibung
        </div>
        <multi-language-input [translations]="clonedDescription"
            [defaultTranslations]="field.defaultDescription ?? {}"
            [projectLanguages]="getClonedProjectLanguages()"
            [disabled]="hidden"></multi-language-input>
    </div>
    <div *ngIf="isCustomField()" class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.references">
            Verweise
        </div>
        <references-input [references]="getClonedFieldDefinition().references"></references-input>
    </div>
    <div *ngIf="isValuelistSectionVisible()"
         id="field-editor-valuelist-section"
         class="configuration-editor-section">
        <div class="configuration-editor-section-title">
            <span *ngIf="getInputType() !== 'dimension'" i18n="@@configuration.valuelist">
                Werteliste
            </span>
            <span *ngIf="getInputType() === 'dimension'" i18n="@@configuration.valuelistForDimensionSubfield">
                Werteliste (Unterfeld "Gemessen an")
            </span>
        </div>
        <div *ngIf="clonedField.valuelist">
            <ul class="list-group list-group-flush">
                <li id="valuelist-header" class="list-group-item">
                    <code>{{clonedField.valuelist.id}}</code>
                    <button id="swap-valuelist-button"
                            class="btn btn-primary btn-square"
                            type="button"
                            [disabled]="hidden"
                            (click)="selectValuelist()"
                            ngbTooltip="Werteliste wechseln"
                            i18n-ngbTooltip="@@configuration.replaceValuelist"
                            container="body"
                            placement="left"
                            #swapValuelistTooltip="ngbTooltip"
                            (mouseover)="swapValuelistTooltip.open()"
                            (mouseleave)="swapValuelistTooltip.close()"
                            (mousedown)="swapValuelistTooltip.close()">
                        <span class="mdi mdi-swap-horizontal"></span>
                    </button>
                    <button *ngIf="isEditValuelistButtonVisible()"
                            id="edit-valuelist-button"
                            class="btn btn-primary btn-square"
                            type="button"
                            [disabled]="hidden"
                            (click)="editValuelist()"
                            ngbTooltip="Werteliste bearbeiten"
                            i18n-ngbTooltip="@@configuration.editValuelist"
                            container="body"
                            placement="left"
                            triggers="manual"
                            #editValuelistTooltip="ngbTooltip"
                            (mouseover)="editValuelistTooltip.open()"
                            (mouseleave)="editValuelistTooltip.close()"
                            (mousedown)="editValuelistTooltip.close()">
                        <span class="mdi mdi-pencil"></span>
                    </button>
                </li>
                <li *ngIf="clonedField.valuelist" class="list-group-item">
                    <valuelist-view [valuelist]="clonedField.valuelist"></valuelist-view>
                </li>
            </ul>
        </div>
        <div *ngIf="!clonedField.valuelist">
            <button id="add-valuelist-button" class="btn btn-success btn-square" type="button"
                    (click)="selectValuelist()"
                    ngbTooltip="Werteliste hinzufügen"
                    i18n-ngbTooltip="@@configuration.addValuelist"
                    container="body"
                    placement="right"
                    triggers="manual"
                    #addValuelistTooltip="ngbTooltip"
                    (mouseover)="addValuelistTooltip.open()"
                    (mouseleave)="addValuelistTooltip.close()"
                    (mousedown)="addValuelistTooltip.close()">
                <span class="mdi mdi-plus"></span>
            </button>
        </div>
    </div>
    <div *ngIf="isSubfieldsSectionVisible()" class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.subfields">
            Unterfelder
        </div>
        <div id="subfields" cdkDropList (cdkDropListDropped)="onDropSubfield($event)">
            <div *ngFor="let subfield of getClonedSubfieldDefinitions()"
                 class="subfield-container"
                 cdkDrag cdkDragBoundary="#subfields" cdkDragLockAxis="y"
                 (cdkDragStarted)="dragging = true"
                 (cdkDragEnded)="dragging = false">
                <div class="subfield-input-group input-group">
                    <span class="mdi mdi-drag" cdkDragHandle></span>
                    <div class="subfield form-control">
                        {{getSubfieldLabel(subfield)}}
                        <code>{{subfield.name}}</code>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-danger"
                                (click)="deleteSubfield(subfield)">
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button class="btn btn-info"
                                (click)="editSubfield(subfield)">
                            <span class="mdi mdi-pencil"></span>
                        </button>
                    </div>
                </div>
                <div *cdkDragPreview class="subfield-drag-preview subfield form-control">
                    {{getSubfieldLabel(subfield)}}
                    <code>{{subfield.name}}</code>
                </div>
                <div *cdkDragPlaceholder class="subfield-drag-placeholder"></div>
            </div>
        </div>
    </div>
</div>
