<div *ngFor="let languageCode of usedLanguages">
    <div class="input-group mb-2">
        <div class="language-label">
            <label class="col-form-label">{{getLanguageLabel(languageCode)}}</label>
        </div>
        <div class="language-input">
            <input [(ngModel)]="translations[languageCode]"
                   type="text" class="form-control"
                   [disabled]="disabled">
        </div>
        <button *ngIf="isDeleteButtonVisible(languageCode)" class="btn btn-danger" type="button"
                [disabled]="disabled"
                (click)="deleteTranslation(languageCode)">
            <span class="mdi mdi-delete"></span>
        </button>
        <button *ngIf="isRestoreButtonVisible(languageCode)" class="btn btn-primary" type="button"
                [disabled]="disabled"
                (click)="restoreDefaultTranslation(languageCode)">
            <span class="mdi mdi-restore"></span>
        </button>
    </div>
</div>

<div class="input-group mb-2">
    <select class="form-control language-select" [(ngModel)]="newTranslationLanguage" [disabled]="disabled">
        <option value="" selected disabled hidden
                i18n="@@configuration.multiLanguageInput.chooseLanguage">Sprache auswählen</option>
        <option *ngFor="let languageCode of unusedLanguages"
                [value]="languageCode">{{getLanguageLabel(languageCode)}}</option>
    </select>
    <input [(ngModel)]="newTranslationText"
           type="text" class="form-control language-input" [disabled]="disabled">
    <button class="btn btn-success" [disabled]="disabled || !isNewTranslationValid()" type="button"
            (click)="addNewTranslation()">
        <span class="mdi mdi-plus"></span>
    </button>
</div>
