multi-language-input {
  .input-group {
    width: 100%;

    .language-label,
    .language-select {
      width: 200px !important;
      height: 38px !important;
    }

    .language-input {
      width: calc(100% - 242px);
    }

    .col-form-label {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .btn {
    position: relative;
    right: 1px;
    height: 38px;
  }

  select {
    flex: unset !important;
  }
}
