.valuelist-editor-modal-body {
  .value-item-group {
    .value-item {
      height: 33px;
      color: #495057;
      background-color: #e9ecef;
      user-select: none;
      font-size: 13px;
    }

    .btn {
      width: 34px;
      height: 33px;

      .mdi {
        position: relative;
        bottom: 2px;
        right: 4px;
      }
    }
  }

  #new-value-input {
    max-width: 200px;
  }

  #sort-label {
    width: 300px;
    float: left;
    user-select: none;
  }
}
