.value-editor-modal-header {
  h6 {
    margin-bottom: 0;
    font-size: 1.15rem;
  }
}

.value-editor-modal-body {
  height: initial;
  background-color: initial;
  max-height: calc(100vh - 140px);
}

.value-editor-modal-footer {
  .button-label {
    margin-left: 0;
  }
}
