<div class="modal-header configuration-editor-modal-header valuelist-editor-modal-body"
     [class.dragging]="dragging">
    <h5 *ngIf="new" class="modal-title" i18n="@@configuration.createSpecificValuelist">
        Werteliste <code>{{valuelist.id}}</code> erstellen
    </h5>
    <h5 *ngIf="!new" class="modal-title" i18n="@@configuration.editSpecificValuelist">
        Werteliste <code>{{valuelist.id}}</code> bearbeiten
    </h5>
    <button id="confirm-valuelist-button" class="btn btn-primary"
            [ngClass]="{ 'disabled': applyingChanges || !isChanged() }"
            (click)="applyingChanges || !isChanged() || confirm()">
        <span class="button-label" i18n="@@buttons.ok">OK</span>
    </button>
    <button class="btn btn-primary btn-square"
            [class.disabled]="applyingChanges"
            (click)="applyingChanges || cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body configuration-editor-modal-body valuelist-editor-modal-body"
     [class.dragging]="dragging">
     <div *ngIf="openedFromFieldEditor" class="alert alert-primary" i18n="@@configuration.editValuelistInfo">
         Bitte beachten Sie, dass vorgenommene Änderungen nach Klick auf den OK-Button für sämtliche Felder
         angewendet werden, die diese Werteliste benutzen.
     </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.valuelistDescription">
            Beschreibung der Werteliste
        </div>
        <multi-language-input [translations]="clonedDescription"
                              [defaultTranslations]="{}"
                              [projectLanguages]="getClonedProjectLanguages()"></multi-language-input>
    </div>
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.references">
            Verweise
        </div>
        <references-input [references]="getClonedValuelistDefinition().references"></references-input>
    </div>
    <div class="configuration-editor-section form-group">
        <div class="configuration-editor-section-title" i18n="@@configuration.values">Werte</div>
        <div>
            <div id="sort-label">
                <span i18n="@@configuration.sortValues">Automatische Sortierung</span>
            </div>
            <div>
                <label class="switch">
                    <input type="checkbox"
                        [checked]="sortAlphanumerically"
                        (change)="toggleSort()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div id="value-items" cdkDropList
             (cdkDropListDropped)="onDrop($event)"
             [cdkDropListDisabled]="sortAlphanumerically">
            <div *ngFor="let valueId of getValueIds()"
                 class="value-item-container"
                 cdkDrag cdkDragBoundary="#value-items" cdkDragLockAxis="y"
                 (cdkDragStarted)="dragging = true"
                 (cdkDragEnded)="dragging = false">
                <div class="value-item-input-group input-group">
                    <span *ngIf="!sortAlphanumerically" class="mdi mdi-drag" cdkDragHandle></span>
                    <div class="value-item form-control" [class.hidden-value]="isHidden(valueId)">
                        {{getValueLabel(valueId)}}
                        <code>{{valueId}}</code>
                    </div>
                    <div class="input-group-append">
                        <button *ngIf="isInherited(valueId)"
                                class="btn btn-primary"
                                (click)="toggleHidden(valueId)">
                            <span class="mdi"
                                [class.mdi-eye]="isHidden(valueId)"
                                [class.mdi-eye-off]="!isHidden(valueId)">
                            </span>
                        </button>
                        <button *ngIf="!isInherited(valueId)"
                                class="btn btn-danger"
                                (click)="deleteValue(valueId)">
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button class="btn btn-info"
                                (click)="editValue(valueId)">
                            <span class="mdi mdi-pencil"></span>
                        </button>
                    </div>
                </div>
                <div *cdkDragPreview class="value-drag-preview value-item form-control">
                    {{getValueLabel(valueId)}}
                    <code>{{valueId}}</code>
                </div>
                <div *cdkDragPlaceholder class="value-drag-placeholder"></div>
            </div>
        </div>
        <div class="input-group mb-2">
            <input id="new-value-input"
                   [(ngModel)]="newValueId"
                   type="text"
                   placeholder="{{inputPlaceholder}}"
                   class="form-control">
            <div class="input-group-append">
                <button id="add-value-button" class="btn btn-success" type="button"
                        [disabled]="!isValidValue(newValueId)"
                        (click)="addValue(newValueId)">
                    <span class="mdi mdi-plus"></span>
                </button>
            </div>
        </div>
    </div>
</div>
