<div class="image-overview row">
    <div class="col-sm-12" (dragover)="false" (dragleave)="false" (drop)="false">

        <div class="row bg-light image-overview-nav">
            <div *ngIf="!hasSelectedImages()" class="col-sm-7 image-overview-nav-content">
                <image-overview-search-bar [filterOptions]="filterOptions"
                                           [q]="getQuery().q"
                                           [types]="getQuery().types"
                                           [hidden]="nrOfSelectedImages()"
                                           (onQueryStringChanged)="setQueryString($event)"
                                           (onTypesChanged)="setTypeFilters($event)">
                </image-overview-search-bar>
            </div>

            <div *ngIf="hasSelectedImages()" class="col-sm-3 image-overview-nav-content">
                <select id="link-filter-select" class="form-control"
                        [ngModel]="getLinkFilter()"
                        (ngModelChange)="setLinkFilter($event)">
                    <option value="ALL"><em i18n="@@imageOverview.filter.all">Alle Bilder</em></option>
                    <option value="UNLINKED"><em i18n="@@imageOverview.filter.unlinked">Unverknüpfte Bilder</em></option>
                    <option value="LINKED"><em i18n="@@imageOverview.filter.linked">Verknüpfte Bilder</em></option>
                </select>
            </div>

            <div *ngIf="hasSelectedImages()" id="taskbar-container" class="col-sm-10">
                <image-overview-taskbar [imageGrid]="imageGrid"></image-overview-taskbar>
            </div>

            <div class="col-sm-2 text-right slider-container">
                <span id="decrease-grid-size-button" class="mdi mdi-view-grid align-middle"
                      (click)="decreaseNrImagesPerRow()"></span>
                <input id="grid-size-slider" #gridSize type="range" min="{{getMinNrImagesPerRow()}}"
                       max="{{getMaxNrImagesPerRow()}}" value="{{getNrImagesPerRow()}}"
                       class="slider align-middle"
                       (change)="setNrImagesPerRow(gridSize.value)">
                <span id="increase-grid-size-button" class="mdi mdi-apps align-middle"
                      (click)="increaseNrImagesPerRow()"></span>
            </div>
        </div>

        <div (window:resize)="onResize()" class="image-grid-container">
            <image-grid #imageGrid
                    [nrOfColumns]="getNrImagesPerRow()"
                    [documents]="getDocuments()"
                    [selected]="getSelected()"
                    [totalDocumentCount]="getTotalDocumentCount()"
                    [showDropArea]="true"
                    [showGeoIcon]="true"
                    [showTooltips]="true"
                    [paddingRight]="20"
                    (onClick)="toggleSelected($event)"
                    (onClickedNext)="turnPage()"
                    (onClickedPrevious)="turnPageBack()"
                    (onDoubleClick)="showImage($event)"
                    (onImagesUploaded)="onImagesUploaded($event)">
            </image-grid>


            <div *ngIf="canTurnPage()" class="more-rows-message">
                <br>
                <br>
                <br>
                <br>
                <i>
            <span i18n="@@imageGrid.moreRowsMessage.1">
                Es werden die ersten {{imageOverviewFacade.getDocuments().length - 1}}
                von insgesamt {{imageOverviewFacade.getTotalDocumentCount()}} Suchtreffern
                angezeigt. Schränken Sie die Suche weiter ein, um alle Ergebnisse auf einen Blick zu
                sehen</span><span *ngIf="getNrImagesPerRow() === 12">.</span>
                    <span *ngIf="getNrImagesPerRow() < 12" i18n="@@imageGrid.moreRowsMessage.2">
                oder erhöhen Sie den Zoomlevel, um mehr Bilder gleichzeitig zu sehen.
            </span>
                </i>

                <hr>

                <div *ngIf="canTurnPage()" (click)="turnPage()">Next Page</div>
                <div *ngIf="canTurnPageBack()" (click)="turnPageBack()">Previous Page</div>
            </div>
        </div>
    </div>
</div>
