<div class="image-overview row">
    <div class="col-sm-12" (dragover)="false" (dragleave)="false" (drop)="false">

        <div class="row bg-light image-overview-nav">

            <div *ngIf="!hasSelectedImages()" class="col-sm-3 image-overview-nav-content">
                <select id="link-filter-select" class="form-control"
                        [ngModel]="getLinkFilter()"
                        (ngModelChange)="setLinkFilter($event)">
                    <option value="ALL"><em i18n="@@imageOverview.filter.all">Alle Bilder</em></option>
                    <option value="UNLINKED"><em i18n="@@imageOverview.filter.unlinked">Unverknüpfte Bilder</em></option>
                    <option value="LINKED"><em i18n="@@imageOverview.filter.linked">Verknüpfte Bilder</em></option>
                </select>
            </div>

            <div *ngIf="!hasSelectedImages()" class="col-sm-7 image-overview-nav-content">
                <image-overview-search-bar [filterOptions]="filterOptions"
                                           [q]="getQuery().q"
                                           [types]="getQuery().types"
                                           [hidden]="nrOfSelectedImages()"
                                           (onQueryStringChanged)="setQueryString($event)"
                                           (onTypesChanged)="setTypeFilters($event)">
                </image-overview-search-bar>
            </div>

            <div *ngIf="hasSelectedImages()" id="taskbar-container" class="col-sm-10">
                <image-overview-taskbar [imageGrid]="imageGrid"></image-overview-taskbar>
            </div>

            <div class="col-sm-2 text-right slider-container">
                <span id="decrease-grid-size-button" class="mdi mdi-view-grid align-middle"
                      (click)="decreaseNrImagesPerRow()"></span>
                <input id="grid-size-slider" #gridSize type="range" min="{{getMinNrImagesPerRow()}}"
                       max="{{getMaxNrImagesPerRow()}}" value="{{getNrImagesPerRow()}}"
                       class="slider align-middle"
                       (change)="setNrImagesPerRow(gridSize.value)">
                <span id="increase-grid-size-button" class="mdi mdi-apps align-middle"
                      (click)="increaseNrImagesPerRow()"></span>
            </div>
        </div>

        <div (window:resize)="onResize()" class="image-grid-container">
            <image-grid #imageGrid
                    [nrOfColumns]="getNrImagesPerRow()"
                    [documents]="getDocuments()"
                    [selected]="getSelected()"
                    [totalDocumentCount]="getTotalDocumentCount()"
                    [showDropArea]="true"
                    [showGeoIcon]="true"
                    [showTooltips]="true"
                    [paddingRight]="20"
                    (onClick)="toggleSelected($event)"
                    (onDoubleClick)="showImage($event)"
                    (onImagesUploaded)="onImagesUploaded($event)">
            </image-grid>

            <span style="margin-left: 4px" *ngIf="getDocuments() && getTotalDocumentCount()">

                {{getTotalDocumentCount()}}
                <span
                        *ngIf="getTotalDocumentCount() === 1"
                        i18n="@@imageoverview.imagestotal.singular">Bild insgesamt.</span>
                <span
                        *ngIf="getTotalDocumentCount() !== 1"
                        i18n="@@imageoverview.imagestotal.plural">Bilder insgesamt.</span>
                {{getDocuments().length - 1}}<!-- -1 for the drop area which is a fake doc -->
                <span
                        *ngIf="(getDocuments().length - 1) === 1"
                        i18n="@@imageoverview.shown.singular">&nbsp;wird angezeigt.</span>
                <span
                        *ngIf="(getDocuments().length - 1) !== 1"
                        i18n="@@imageoverview.shown.plural">&nbsp;werden angezeigt.</span>

                <span *ngIf="canTurnPage() || canTurnPageBack()">&nbsp;(</span>
                <span
                        *ngIf="canTurnPageBack()"
                        (click)="turnPageBack()"
                        style="color: #37588e"
                        i18n="@@imageoverview.previous">Vorige</span>
                <span *ngIf="canTurnPage() && canTurnPageBack()">&nbsp;|&nbsp;</span>
                <span
                        *ngIf="canTurnPage()"
                        (click)="turnPage()"
                        style="color: #37588e"
                        i18n="@@imageoverview.next">Nächste</span>
                <span *ngIf="canTurnPage() || canTurnPageBack()">)</span>
            </span>
        </div>
    </div>
</div>
