<div class="image-overview row">
    <div class="col-sm-12" (dragover)="false" (dragleave)="false" (drop)="false">

        <div class="row bg-light image-overview-nav">
            <div *ngIf="!getSelected().length" class="col-sm-7 image-overview-nav-content">
                <image-overview-search-bar [filterOptions]="getFilterOptions()"
                                           [q]="getQuery().q"
                                           [types]="getQuery().types"
                                           [hidden]="getSelected().length"
                                           (onQueryStringChanged)="setQueryString($event)"
                                           (onTypesChanged)="setTypeFilters($event)">
                </image-overview-search-bar>
            </div>

            <div *ngIf="!getSelected().length" class="col-sm-3 image-overview-nav-content">
                <select id="link-filter-select" class="form-control"
                        [ngModel]="getLinkFilter()"
                        (ngModelChange)="setLinkFilter($event)">
                    <option value="ALL"><em i18n="@@imageOverview.filter.all">Alle Bilder</em></option>
                    <option value="UNLINKED"><em i18n="@@imageOverview.filter.unlinked">Unverknüpfte Bilder</em></option>
                    <option value="LINKED"><em i18n="@@imageOverview.filter.linked">Verknüpfte Bilder</em></option>
                </select>
            </div>

            <div *ngIf="getSelected().length" id="taskbar-container" class="col-sm-10">
                <image-overview-taskbar [imageGrid]="imageGrid"></image-overview-taskbar>
            </div>

            <div class="col-sm-2 text-right slider-container">
                <span id="decrease-grid-size-button" class="mdi mdi-view-grid align-middle"
                      (click)="setGridSize(getGridSize() - 1)"></span>
                <input id="grid-size-slider" #gridSize type="range" min="{{minGridSize}}"
                       max="{{maxGridSize}}" value="{{getGridSize()}}"
                       class="slider align-middle"
                       (change)="setGridSize(gridSize.value)">
                <span id="increase-grid-size-button" class="mdi mdi-apps align-middle"
                      (click)="setGridSize(getGridSize() + 1)"></span>
            </div>
        </div>

        <div (window:resize)="onResize()" class="image-grid-container">
            <image-grid #imageGrid
                    [nrOfColumns]="getGridSize()"
                    [documents]="getDocuments()"
                    [selected]="getSelected()"
                    [totalDocumentCount]="getTotalDocumentCount()"
                    [showDropArea]="true"
                    [showGeoIcon]="true"
                    [showTooltips]="true"
                    [paddingRight]="20"
                    (onClick)="toggleSelected($event)"
                    (onDoubleClick)="jumpToResource($event)"
                    (onImagesUploaded)="onImagesUploaded($event)">
            </image-grid>
        </div>
    </div>
</div>
