<div id="context-menu"
     class="dropdown-menu show"
     [class.orientation-top]="orientation === 'top'"
     [class.orientation-bottom]="orientation === 'bottom'"
     [style.left]="position.x + 'px'"
     [style.top]="position.y + 'px'"
     [style.bottom]="getBottomPosition(position.y) + 'px'">
    <div id="context-menu-edit-button" class="dropdown-item" (click)="selectAction('edit')">
        <span class="mdi mdi-pencil"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.edit">Bearbeiten</span>
    </div>
    <div id="context-menu-move-button" class="dropdown-item" (click)="selectAction('move')">
        <span class="mdi mdi-file-tree"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.move">Verschieben</span>
    </div>
    <div id="context-menu-delete-button" class="dropdown-item" (click)="selectAction('delete')">
        <span class="mdi mdi-delete"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.delete">Löschen</span>
    </div>

    <hr>

    <div *ngIf="resourcesMapComponent.contextMenuDocument && !resourcesMapComponent.contextMenuDocument.resource.geometry"
            id="context-menu-create-geo-1-button" class="dropdown-item" (click)="selectAction('create-polygon')">
        <span class="mdi mdi-shape-polygon-plus mdi-18px"></span>
        <span class="dropdown-entry-label" i18n="@@resources.detailSidebar.geometryView.polygon">Polygon</span>
    </div>
    <div *ngIf="resourcesMapComponent.contextMenuDocument && !resourcesMapComponent.contextMenuDocument.resource.geometry"
            id="context-menu-create-geo-2-button" class="dropdown-item" (click)="selectAction('create-line-string')">
        <span class="mdi mdi-vector-polyline"></span>
        <span class="dropdown-entry-label" i18n="@@resources.detailSidebar.geometryView.polyline">Polyline</span>
    </div>
    <div *ngIf="resourcesMapComponent.contextMenuDocument && !resourcesMapComponent.contextMenuDocument.resource.geometry"
            id="context-menu-create-geo-3-button" class="dropdown-item" (click)="selectAction('create-point')">
        <span class="mdi mdi-map-marker-plus"></span>
        <span class="dropdown-entry-label" i18n="@@resources.detailSidebar.geometryView.point">Punkt</span>
    </div>

    <div *ngIf="resourcesMapComponent.contextMenuDocument && resourcesMapComponent.contextMenuDocument.resource.geometry"
            id="context-menu-edit-geo-button" class="dropdown-item" (click)="selectAction('edit-geometry')">
        <span class="mdi mdi-pencil"></span>
        <span class="dropdown-entry-label" >
                <span *ngIf="resourcesMapComponent.contextMenuDocument.resource.geometry.type === 'Polygon'"
                      class="fieldvalue"
                      i18n="@@resources.detailSidebar.geometryView.polygon">Polygon</span>
                <span *ngIf="resourcesMapComponent.contextMenuDocument.resource.geometry.type === 'MultiPolygon'"
                      class="fieldvalue"
                      i18n="@@resources.detailSidebar.geometryView.multipolygon">Multipolygon</span>
                <span *ngIf="resourcesMapComponent.contextMenuDocument.resource.geometry.type === 'LineString'"
                      class="fieldvalue"
                      i18n="@@resources.detailSidebar.geometryView.polyline">Polyline</span>
                <span *ngIf="resourcesMapComponent.contextMenuDocument.resource.geometry.type === 'MultiLineString'"
                      class="fieldvalue"
                      i18n="@@resources.detailSidebar.geometryView.multipolyline">Multipolyline</span>
                <span *ngIf="resourcesMapComponent.contextMenuDocument.resource.geometry.type === 'Point'"
                      class="fieldvalue"
                      i18n="@@resources.detailSidebar.geometryView.point">Punkt</span>
                <span *ngIf="resourcesMapComponent.contextMenuDocument.resource.geometry.type === 'MultiPoint'"
                      class="fieldvalue"
                      i18n="@@resources.detailSidebar.geometryView.multipoint">Multipunkt</span>
        </span>
    </div>

</div>