/*
 * @author Thomas Kleinke
 */

#relations-menu {
  position: fixed;
  z-index: 1001;
  margin: 0;
  min-width: 120px;

  .dropdown-entry-label {
    margin-left: 5px;
  }

  .mdi-pencil,
  .mdi-file-tree {
    color: #37588e;
  }

  .mdi-delete {
    color: #dc3545;
  }
}