@import 'context-menu';
@import 'list/sidebar-list';

#sidebar-list-container {
  padding: 0 !important;
  max-width: 300px;
}

.detail-sidebar-container {
  max-width: 300px;
}

.no-zoom-buttons {
  .leaflet-control-zoom {
    display: none;
  }
}

.leaflet-control-zoom {
  border: 1px solid rgba(0, 0, 0, 0.35) !important;

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    font-family: Roboto, sans-serif;
    font-weight: normal;
  }

  .leaflet-control-zoom-in {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;

    border-bottom: 1px solid rgba(0, 0, 0, 0.35) !important;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.35) !important;
    }
  }

  .leaflet-control-zoom-out {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
}