@import 'list/sidebar-list';

#sidebar-list-container {
  padding: 0 !important;
  min-width: 300px;
  max-width: 300px;
}

#map-component-container {
  max-width: calc(100vw - 300px);

  &.small-container {
    max-width: calc(100vw - 600px);
  }
}

.detail-sidebar-container {
  min-width: 300px;
  max-width: 300px;
}
