@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "variables";
@import "bootstrap";
@import "navbar";
@import "footer";
@import "overview";
@import "import";
@import "materialdesignicons";
@import "buttons";
@import "document-view";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Footer height */
  margin-bottom: 73px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#app {
  margin-top: 60px;
}

#idaifieldlogo {
  height: 35px;
}