/**
 * @author: Thomas Kleinke
 */

#mapContainer {
  width: 100%;
  height: calc(100vh - 75px);
}

#layerButton {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 1000;
}

#layerMenu {
  position: absolute;
  top: 10px;
  right: 25px;
  padding-bottom: 10px;
  z-index: 1000;
}

#layerMenu label {
  margin-left: -5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}