#brand-img {
  height: 38px;
  margin-top: -16px;
  margin-bottom: -14px;
}

.navbar {
  border: 0;
}

.navbar-brand {
  position: absolute;
  left: 17px;
  cursor: pointer;
}

.navbar-button {
  position: absolute;
  left: 150px;
  top: 8px;
  cursor: pointer;
}

// display arrow on top of dropdown menu for idai.world menu
.navbar .nav > li > .dropdown-menu:before {

  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -7px;
  left: 25px;
}

.navbar .form-control:focus {

  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .form-control:focus ~ .input-group-btn .btn-default {

  border: 1px solid $input-border-focus;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  border: none !important;
}

.navbar-form {

  box-shadow: none !important;
}

// Dropdown menu
.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {

  background-clip: padding-box !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
  font-size: 14px !important;
  left: 0;
  list-style: outside none none;
  margin: 0 !important;
  min-width: 160px !important;
  padding: 5px 0 !important;
  position: absolute !important;
  text-align: left !important;
  top: 100% !important;
  z-index: 1000 !important;
}

.dropdown-menu > li > a {

  clear: both !important;
  color: #333 !important;
  display: block !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
  padding: 3px 20px !important;
  white-space: nowrap !important;
}

// Define navigation bar for small and medium sized screen resolutions
@media (max-width: $grid-float-breakpoint) {

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {

    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-collapse.collapse {

    display: none !important;
  }

  .navbar-nav {

    float: none !important;
    margin: 0;
  }

  .navbar-nav>li {

    float: none;
  }

  .navbar-nav > li > a {

    padding-bottom: 15px;
    padding-top: 15px;
  }

  .navbar-collapse {

    box-shadow: none;
  }

  .navbar .nav > li > .dropdown-menu::before {

    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 25px;
    position: absolute;
    top: -7px;
  }

  .navbar-nav > li > .dropdown-menu {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
}

// Medium screen resolutions: Spread form input item over whole width
@media (min-width: $screen-sm) and (max-width: $grid-float-breakpoint) {

  .navbar-form {

    margin: 8px -15px;
    padding: 10px 15px;
  }

  .input-group .form-control, .input-group-addon, .input-group-btn {

    display: table-cell;
  }

  .input-group .form-control {

    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .navbar-left {

    float: none !important;
  }
}

@media screen and (max-width: 372px) {

  #projectLogo {

    display: none;
  }
}

#objectsToSyncCount {
  position: absolute;
  top: 7px;
  right: 7px;

  padding: 3px 0 0 0;

  border-radius: 50%;
  margin: auto;
  min-width: 35px;
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  line-height: normal;

  background-color: #aaa;
  height: 35px;
  width: 35px;
  z-index: 1;
  text-align: center;
}

#objectsToSyncCount.connected {
  background-color: #4caf50 !important;
  transition: background-color .5s ease;
}

#objectsToSyncCount.unconnected {
}

#syncCounter {
  font-size: 0.7em;
}

#syncSymbol {
  display: block;
  color: #fff;
  font-size: 1.7em;
}

#objectsToSyncCount #success {
  color: #fff;
  padding: 5px 0 0 0;
  font-size: 1.5em;
  transition: background-color .5s ease;
}

#syncprogress.active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdbb7+0,ffa73d+50,ff7c00+51,ff7f04+100 */
  background: #ffdbb7; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffdbb7 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffdbb7 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffdbb7 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbb7', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}

#syncprogress {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 3px 0 0 0;
  border-radius: 50%;
  margin: auto;
  min-width: 35px;
  height: 41px;
  width: 41px;
  z-index: 1;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}