/**
 * @author: Jan G. Wieners
 */

#objectList {
  margin-bottom: -5px;
}

#objectList .list-group-item {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  margin: 1px 0;
  font-size: 1.1em;
}

#objectList .list-group-item:hover {
  background-color: #c7dee0;
  transition: background-color .65s ease;
}

.selected {
  background-color: #c7dee0;
}

#objectList .title {
  color: #111;
}

#objectList .identifier {
  font-size: 0.7em;
  color: #999;
}

#objectList .new {
  color: #111;
  font-style: italic;
}

#objectList .synced {
  border-right: 3px solid #657faa;
  transition: border-right 1s ease;
}

#objectList .unsynced {
  border-right: 3px solid #ccc;
  transition: border-right 1s ease;
}

#objectOverview #object-overview-button-create-object {
  left: 45%;
  margin: -23px auto auto auto;
}

#objectOverview {
  padding: 0 !important;
  background-color: #eee;
}

#objectOverview header {
  background-color: #eee;
  padding: 7px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

#objectOverview header .mdi {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  background-color: #294b83;
  padding: 10px 10px 10px 11px;
  margin-right: 5px;
}

#objectOverview header h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #657faa;
}

#objectOverview main {
  padding: 7px;
}

#object-search {
  border-radius: 0;
  //border: 1px solid lighten(#657faa, 25%);
  border: 0;
  height: 45px;
}

.search {
  position: relative;
  border-bottom: 1px solid #ddd;
  margin-bottom: 7px;
}

.search input {
  text-indent: 20px;
}

.search .glyphicon-search {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 1.2em;
  padding: 0 0 5px 0;
  color: #ddd;
}

textarea {
  width: 100%;
  resize: vertical;
}

#document-edit-wrapper header, #object-create header {
  background-color: #eee;
  padding: 7px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

#document-edit-wrapper header .mdi, #object-create header .mdi {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  background-color: #007883;
  padding: 10px 10px 10px 11px;
  margin-right: 5px;
}

#document-edit-wrapper header h1, #object-create header h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #67b2b9;
}

#document-edit-wrapper main, #object-create main {
  padding: 25px;
  background-color: #eee;
}