/**
 * @author Jan G. Wieners
 * @author Thomas Kleinke
 */

.suggestion-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 3px #ccc;
  z-index: 100;
}

.suggestion {
  padding: 7px 25px 7px 25px;
  cursor: pointer;
}

.suggestion.selected-suggestion {
  background-color: #ccc;
}

#relation-picker {
  margin-left: 40px;
  margin-bottom: 10px;
}

.add-relation, .add-relation-disabled {
  margin-left: -4px;
  padding-left: 2px !important;
  padding-top: 4px !important;
  margin-top: 5px;
  position: relative !important;
  display: block;
  color: #555 !important;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;
}

.small-circular-button {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;
}

.add-relation:hover {
  background-color: lighten(#1b9519, 25%);
}

.add-relation-disabled {
  color: #ccc;
  cursor: default;
}

#relation-picker .badge {
  background-color: #ccc;
  color: #333;
  font-weight: normal;
  border-radius: 1px;
  margin-right: 10px;
}