.image-overview {

  margin-top: 62px;

  .image-grid {
    margin-top: 5px !important;
  }

  #remove-link-btn {
    margin-right: 1px;
  }

  .image-overview-nav {
    position: fixed;
    z-index: 1001;
    right: 0;
    left: 0;
    top: 62px;
    margin: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }

  #image-overview-buttons {
    height: 40px;

    div {
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }

  #search-bar {
    margin-top: 2px;
    margin-bottom: -2px;
  }

  #main-type-document-filter-select {
    margin-top: 3px;
    margin-bottom: -3px;
  }

  #image-count-badge {
    margin-top: 10px;
    margin-left: 5px;
  }

  .slider-container .mdi {
    -webkit-user-select: none;
    cursor: pointer;
  }

  .slider {
    -webkit-appearance: none;
    width: 70%;
    height: 5px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $primary-color;
      cursor: pointer;
    }
  }
}