#remove-link-btn {
  margin-right: 1px;
}

#image-overview-buttons {
  height: 40px;

  div {
    margin-top: 1px;
    margin-bottom: -1px;
  }
}

#search-bar {
  margin-top: 2px;
  margin-bottom: -2px;
}