/**
 * @author Daniel de Oliveira
 * @author Thomas Kleinke
 */

#children-list {
  height: calc(100% - 72px);
  overflow-y: auto;

  loading-icon {
    position: relative;
    top: 49px;
  }
}

#open-child-collection-button {
  background-color: transparent;
  color: gray;
  font-size: 12px;
  border: none;

  &:hover {
    background-color: darken($list-item-hover-color, 5%);
  }
}