<div class="sidebar-popover-header">
    <div *ngIf="childrenCount === 1" i18n="@@resources.childrenView.oneResource">Eine Ressource</div>
    <div *ngIf="childrenCount !== 1" i18n="@@resources.childrenView.resources">
        {{childrenCount}} Ressourcen
    </div>
    <div class="btn btn-light" (click)="closePopover()">
        <span class="mdi mdi-close"></span>
    </div>
</div>

<div id="open-child-collection-button"
     class="btn btn-block btn-light"
     (click)="openChildCollection()"
     i18n="@@resources.childrenView.openCollection">
    <span class="mdi mdi-subdirectory-arrow-right"></span>Kollektion öffnen
</div>

<ul #childrenList
    id="children-list"
    class="resources-listing"
    [class.scrollbar-visible]="isScrollbarVisible(childrenList)">
    <loading-icon [context]="'sidebar-children'"></loading-icon>
    <li *ngFor="let document of children"
        (click)="openChildCollection(document)"
        class="resources-listing-item resources-listing-item-slim"
        [class.conflicted]="document['_conflicts']"
        [id]="'resource-' + document.resource.identifier">

        <document-teaser [document]="document"></document-teaser>
    </li>
</ul>