<div #relationsView id="relations-view" class="resources-listing"
     [class.scrollbar-visible]="isScrollbarVisible(relationsView)">
    <div class="sidebar-popover-header">
        <div *ngIf="relationsCount === 1" i18n="@@resources.relationsView.oneRelation">Eine Relation</div>
        <div *ngIf="relationsCount !== 1"
             i18n="@@resources.relationsView.relations">{{relationsCount}} Relationen</div>
        <div class="btn btn-light" (click)="closePopover()">
            <span class="mdi mdi-close"></span>
        </div>
    </div>

    <div *ngFor="let relation of relations">
        <div class="relation-name">{{relation.name}}</div>
        <div *ngFor="let target of relation.targets" class="resources-listing-item" (click)="jumpToResource(target)">
            <document-teaser [document]="target"></document-teaser>
        </div>
    </div>
</div>