#relations-view {
  height: calc(100% - 40px);
  overflow-y: auto;

  .relation-name {
    padding-left: $item-horizontal-padding;
  }

  .relation-name {
    font-weight: normal;
    font-size: $font-size-smaller;
    color: gray;
  }

  .sidebar-popover-header {
    margin-bottom: 7px;
  };
}