$resources-listing-item-wide-width: 300px;
$resources-listing-item-wide-width-with-scrollbar: 293px;
$resources-listing-item-slim-width: 232px;
$resources-listing-item-slim-width-with-scrollbar: 225px;
$teaser-width: $resources-listing-item-slim-width;

@import 'sidebar-list-button-group';

#sidebar {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #f8f9fa;

  .new {
    color: #111;
    font-style: italic;
  }

  .conflicted {
    border-right: 2px solid red !important;
    transition: border-right 1s ease;
  }

  .new-from-remote {
    background-color: #d7ffd9;
  }

  .selected {
    background-color: darken($list-item-hover-color, 5%);
  }

  #document-limit-info {
    padding: 10px;
    font-style: italic;
    user-select: none;
    cursor: default;
  }
}

#sidebar-popover {
  background-color: rgba(255, 255, 255, 0.92);
  position: absolute;
  left: $resources-listing-item-wide-width;
  height: 100%;
  width: $teaser-width;
  z-index: 1002;
  overflow: hidden;

  ul {
    padding: 0;
  }

  .sidebar-popover-page {
    height: 100%;

    .sidebar-popover-header {
      height: 40px;
      padding: 11px;
      background-color: rgba(0, 0, 0, 0.07);
      border-bottom: 1px solid #ced4da;
      text-align: center;
      font-size: 14px;
      user-select: none;
      cursor: default;

      .btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 39px;
        background-color: transparent;
        border: none;

        &:hover {
          background-color: darken($list-item-hover-color, 5%);
        }

        .mdi-close {
          position: relative;
          top: 3px;
          color: #000;
        }
      }
    }
  }
}

.resources-listing {
  .resources-listing-item {
    position: relative;
    display: block;
    cursor: default;
    border: 0;
    border-radius: 0;
    margin: 0 0 1px 0 !important;
    user-select: none;
    background-color: transparent;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-height: $item-height;
    height: $item-height;

    &:hover {
      background-color: darken($list-item-hover-color, 5%);
      transition: background-color .65s ease;
    }
  }

  .resources-listing-item-slim {
    width: $teaser-width;
  }

  .resources-listing-item-wide {
    width: $resources-listing-item-wide-width;
  }

  &.scrollbar-visible {
    .resources-listing-item-slim {
      width: $resources-listing-item-slim-width-with-scrollbar;
    }

    .resources-listing-item-wide {
      width: $resources-listing-item-wide-width-with-scrollbar;
    }

    document-teaser {
      width: $resources-listing-item-slim-width-with-scrollbar;
    }
  }

  document-teaser {
    position: absolute;
    width: $teaser-width;
    top: 0;
    height: $item-height;
    padding-left: $item-horizontal-padding;

    .title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: $font-size-bigger;
    }

    .subtitle {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: $font-size-even-smaller;
    }
  }
}

#document-info {
  height: calc(100% - 40px);
  overflow-y: auto;

  &.short-document-info {
    height: calc(100% - 190px);
  }
}

#create-document-button .circular-button {
  left: 45%;
  margin: -45px auto auto auto;
  z-index: 100;
}