<div *ngIf="listPopoverOpened"
     style="position: absolute; left: 300px;  height: 100%; width: 300px; z-index: 1002;
    background-color: rgba(255, 255, 255, 0.8); padding: 10px; overflow: hidden">

    <div *ngIf="childrenMenuOpened" class="float-right" style="opacity: 0.8; font-size: 12px; color: gray">
        {{children.length}} Ressource(n)</div>

    <ul *ngIf="childrenMenuOpened"
            class="list-group object-list" style="background-color:transparent">

        <li *ngFor="let document of children" style="background-color: transparent"
            (click)="select(document)"
            (dblclick)="resourcesComponent.editDocument(document, 'fields')"
            (contextmenu)="openContextMenu($event, document)"
            class="list-group-item"
            [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
            [class.conflicted]="document['_conflicts']"
            [class.selected]="viewFacade.getSelectedDocument()
                    && viewFacade.getSelectedDocument().resource.id === document.resource.id"
            [id]="'resource-' + document.resource.identifier">


            <div class="document-teaser-container" style="opacity: 0.8; background-color: transparent">
                <document-teaser [document]="document"></document-teaser>
            </div>
        </li>
    </ul>


    <div *ngIf="relationsMenuOpened && viewFacade.getSelectedDocument()">
        <relations-view style="opacity: 1.0"
                        [resource]="viewFacade.getSelectedDocument().resource"
                        (onRelationTargetClicked)="jumpToResource($event)"
                        [hideRelations]="relationsToHide">
        </relations-view>
    </div>


    <div *ngIf="infoMenuOpened">
        <document-view-sidebar></document-view-sidebar>
    </div>
</div>


<ul id="objectList" class="list-group object-list" (scroll)="closeContextMenu()">
    <li *ngFor="let document of viewFacade.getDocuments()"
        (mouseover)="highlightDocument(document)"
        (contextmenu)="openContextMenu($event, document)"
        class="list-group-item"
        [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
        [class.conflicted]="document['_conflicts']"
        [class.selected]="viewFacade.getSelectedDocument()
                && viewFacade.getSelectedDocument().resource.id === document.resource.id"
        [id]="'resource-' + document.resource.identifier">


        <div class="object-list-button-group">

            <div class="btn hierarchy-button"
                 [class.object-list-button-group-active-button]="listPopoverOpened && !relationsMenuOpened && isChildrenOpened(document)"
                 *ngIf="showMoveIntoOption(document) "
                 (click)="toggleChildrenMenu(document); $event.stopPropagation();"
                 (dblclick)="moveInto(document); $event.stopPropagation();">

                <span [class.object-list-button-no-items]="viewFacade.getChildrenCount(document) === 0"
                      class="mdi mdi-subdirectory-arrow-right object-list-button-group-inner">
                </span>
            </div>
            <!-- moveInto(document); $event.stopPropagation(); -->


            <div class="btn link-button move-into-button"
                 *ngIf="hasVisibleRelations(document)"
                 [class.object-list-button-group-active-button]="listPopoverOpened && isRelationsOpened(document)"
                 ngbTooltip="Untergeordnete Ressourcen ansehen"
                 i18n-ngbTooltip="@@resources.moveIntoButton.tooltip"
                 placement="left"
                 triggers="manual"
                 #tooltip="ngbTooltip"
                 (click)="toggleRelationsMenu(document); $event.stopPropagation();"
                 >

                <span *ngIf="isHighlighted(document) || isRelationsOpened(document)"
                        [class.object-list-button-no-items]="!hasVisibleRelations(document)"
                        class="mdi mdi-link object-list-button-group-inner">
                </span>
            </div>


            <div class="btn info-button"
                 [class.object-list-button-group-active-button]="listPopoverOpened && isInfoOpened(document)"
                 (click)="toggleInfoMenu(document); $event.stopPropagation();">

                <span *ngIf="isHighlighted(document) || isInfoOpened(document)"
                      class="mdi mdi-information-outline object-list-button-group-inner">
                </span>
            </div>


            <!-- (mouseover)="tooltip.open();"
                 (mouseleave)="tooltip.close();"
                 (mousedown)="tooltip.close()" -->


            <div *ngIf="showJumpToViewOption(document) && document.resource.type !== 'Trench'"
                 class="link-button btn float-right"
                 ngbTooltip="Zur Maßnahme wechseln"
                 i18n-ngbTooltip="@@resources.jumpToView.tooltip"
                 placement="left"
                 triggers="manual"
                 #tooltip="ngbTooltip"
                 (mouseover)="tooltip.open()"
                 (mouseleave)="tooltip.close()"
                 (mousedown)="tooltip.close()"
                 (click)="jumpToView(document); $event.stopPropagation();">
                <span class="mdi mdi-arrow-top-right mdi-18px"></span>
            </div>

            <div *ngIf="showJumpToViewOption(document) && document.resource.type === 'Trench'"
                 ngbDropdown placement="bottom-right"
                 (click)="$event.stopPropagation()">
                <div class="link-button btn float-right" ngbDropdownToggle>
                    <span class="mdi mdi-arrow-top-right mdi-18px"></span>
                </div>
                <div ngbDropdownMenu>
                    <div [id]="'jump-to-resources-view-button-' + document.resource.identifier"
                         class="dropdown-item"
                         (click)="jumpToView(document)">
                    <span class="dropdown-entry-label"
                          i18n="@@resources.jumpToView.resources">Ressourcenansicht</span>
                    </div>
                    <div [id]="'jump-to-matrix-view-button-' + document.resource.identifier"
                         class="dropdown-item"
                         (click)="jumpToMatrix(document)">
                    <span class="dropdown-entry-label"
                          i18n="@@resources.jumpToView.matrix">Matrix</span>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div *ngIf="showMoveIntoOption(document)"
             class="hierarchy-button move-into-button btn float-right"
             ngbTooltip="Untergeordnete Ressourcen ansehen"
             i18n-ngbTooltip="@@resources.moveIntoButton.tooltip"
             placement="left"
             triggers="manual"
             #tooltip="ngbTooltip"
             (mouseover)="tooltip.open();"
             (mouseleave)="tooltip.close();"
             (mousedown)="tooltip.close()"
             (click)="moveInto(document); $event.stopPropagation();">

            <span class="move-into-icon">
                <span *ngIf="viewFacade.getChildrenCount(document) > 0" class="children-count">
                    {{viewFacade.getChildrenCount(document)}}
                </span>
            </span>
        </div>
        -->

        <div class="document-teaser-container"
             (click)="select(document)"
             (dblclick)="resourcesComponent.editDocument(document, 'fields')"
        >
            <document-teaser [document]="document"></document-teaser>
        </div>
    </li>

    <li *ngIf="isDocumentLimitExceeded()" id="document-limit-info" i18n="@@resources.sidebarList.resourceLimitInfo">
        Es werden die ersten {{viewFacade.getDocuments().length}} von {{viewFacade.getTotalDocumentCount()}}
        Ressourcen angezeigt. Schränken Sie die Suche weiter ein oder verlassen Sie den erweiterten Suchmodus,
        um auf die übrigen Ressourcen zuzugreifen.
        <br><br><br>
    </li>
</ul>

<plus-button *ngIf="isPlusButtonShown()" id="create-document-button" [placement]="'top'"
             [preselectedType]="getCurrentFilterType()"
             [liesWithin]="getSelectedSegmentDoc()"
             [isRecordedIn]="viewFacade.getCurrentOperation()"
             [status]="getPlusButtonStatus()"></plus-button>
<loading-icon></loading-icon>