<div *ngIf="isPopoverMenuOpened()" id="sidebar-popover">

    <div *ngIf="isPopoverMenuOpened('children')" class="sidebar-popover-page">
        <div class="sidebar-popover-header">
            <div>Kind-Ressourcen</div>
            <div class="btn btn-light" (click)="closePopover()">
                <span class="mdi mdi-close"></span>
            </div>
        </div>

        <div id="open-child-collection-button"
             class="btn btn-light"
             (click)="openChildCollection()">
            <span class="mdi mdi-subdirectory-arrow-right"></span>Kollektion öffnen
        </div>

        <div id="child-resources-count">
            <span *ngIf="childrenCount === 1">1 Ressource</span>
            <span *ngIf="childrenCount !== 1">{{childrenCount}} Ressourcen</span>
        </div>

        <ul #childrenList
            id="children-list"
            class="resources-listing"
            [class.scrollbar-visible]="isScrollbarVisible(childrenList)">
            <loading-icon [context]="'sidebar-children'"></loading-icon>
            <li *ngFor="let document of children"
                (click)="openChildCollection(document)"
                (dblclick)="resourcesComponent.editDocument(document, 'fields')"
                (contextmenu)="openContextMenu($event, document)"
                class="resources-listing-item resources-listing-item-slim"
                [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
                [class.conflicted]="document['_conflicts']"
                [class.selected]="viewFacade.getSelectedDocument()
                    && viewFacade.getSelectedDocument().resource.id === document.resource.id"
                [id]="'resource-' + document.resource.identifier">

                <document-teaser [document]="document"></document-teaser>
            </li>
        </ul>
    </div>

    <div *ngIf="isPopoverMenuOpened('relations')" class="sidebar-popover-page">
        <div class="sidebar-popover-header">
            <div>Relationen</div>
            <div class="btn btn-light" (click)="closePopover()">
                <span class="mdi mdi-close"></span>
            </div>
        </div>

        <relations-view
                [resource]="viewFacade.getSelectedDocument().resource"
                (onRelationTargetClicked)="jumpToResource($event)"
                [hideRelations]="relationsToHide">
        </relations-view>
    </div>

    <div *ngIf="isPopoverMenuOpened('info')" class="sidebar-popover-page">
        <div class="sidebar-popover-header">
            <div>Daten</div>
            <div class="btn btn-light" (click)="closePopover()">
                <span class="mdi mdi-close"></span>
            </div>
        </div>

        <div *ngIf="selectedDocumentThumbnailUrl"
             id="sidebar-popover-thumbnail-container"
             class="d-flex align-items-center justify-content-center">
            <img [src]="selectedDocumentThumbnailUrl">
        </div>

        <div id="document-info">
            <fields-view [resource]="viewFacade.getSelectedDocument().resource"></fields-view>
        </div>
    </div>
</div>

<ul #sidebar id="sidebar" class="resources-listing" [class.scrollbar-visible]="isScrollbarVisible(sidebar)"
    (mouseleave)="highlightedDocument = undefined"
    (scroll)="closeContextMenu()">
    <li *ngFor="let document of viewFacade.getDocuments()"
        class="resources-listing-item resources-listing-item-wide"
        (mouseover)="highlightDocument(document)"
        (contextmenu)="openContextMenu($event, document)"
        [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
        [class.conflicted]="document['_conflicts']"
        [class.selected]="viewFacade.getSelectedDocument()
                && viewFacade.getSelectedDocument().resource.id === document.resource.id"
        [id]="'resource-' + document.resource.identifier">

        <sidebar-list-button-group [document]="document"></sidebar-list-button-group>

        <document-teaser
                (click)="select(document)"
                (dblclick)="resourcesComponent.editDocument(document, 'fields')"
                [document]="document"></document-teaser>
    </li>

    <li *ngIf="isDocumentLimitExceeded()" id="document-limit-info" i18n="@@resources.sidebarList.resourceLimitInfo">
        Es werden die ersten {{viewFacade.getDocuments().length}} von {{viewFacade.getTotalDocumentCount()}}
        Ressourcen angezeigt. Schränken Sie die Suche weiter ein oder verlassen Sie den erweiterten Suchmodus,
        um auf die übrigen Ressourcen zuzugreifen.
        <br><br><br>
    </li>
</ul>

<plus-button *ngIf="isPlusButtonShown()" id="create-document-button" [placement]="'top'"
             [preselectedType]="getCurrentFilterType()"
             [liesWithin]="getSelectedSegmentDoc()"
             [isRecordedIn]="viewFacade.getCurrentOperation()"
             [status]="getPlusButtonStatus()"></plus-button>
<loading-icon></loading-icon>