<div class="sidebar-list-button-group">

    <div class="btn info-button"
         [class.info-button-middle-position]="viewFacade.isInOverview() || viewFacade.getBypassHierarchy()"
         [class.sidebar-list-button-group-active-button]="sidebarList.isPopoverMenuOpened('info', document)"
         (click)="sidebarList.togglePopoverMenu('info', document); $event.stopPropagation();">

        <span *ngIf="sidebarList.isHighlighted(document) || sidebarList.isSelected(document)"
              class="mdi mdi-information-outline sidebar-list-button-group-inner">
        </span>
    </div>

    <div *ngIf="!viewFacade.isInOverview() && !viewFacade.getBypassHierarchy()"
         class="btn link-button"
         [class.sidebar-list-button-group-active-button]="sidebarList.isPopoverMenuOpened('relations', document)"
         placement="left"
         (click)="sidebarList.togglePopoverMenu('relations', document); $event.stopPropagation();">

        <span *ngIf="sidebarList.isHighlighted(document) || sidebarList.isSelected(document)"
              [class.arrow-deactivated]="!sidebarList.hasVisibleRelations(document)"
              class="mdi mdi-link sidebar-list-button-group-inner">
        </span>
    </div>

    <div *ngIf="shouldShowArrowBottomRight()"
            class="btn hierarchy-button"
         [class.sidebar-list-button-group-active-button]="sidebarList.isPopoverMenuOpened('children', document)"
         (click)="sidebarList.togglePopoverMenu('children', document); $event.stopPropagation();">

        <span [class.arrow-deactivated]="viewFacade.getChildrenCount(document) === 0"
              class="arrow-bottom-right sidebar-list-button-group-inner">
        </span>
    </div>

    <div *ngIf="shouldShowArrowTopRightForSearchMode()"
         class="btn hierarchy-button hierarchy-button-overview"
         (click)="jumpToResourceFromOverviewToOperation(); $event.stopPropagation();"
         placement="right"
         container="body"
         ngbTooltip="Im Kontext der Maßnahme anzeigen"
         i18n-ngbTooltip="@@resources.navigation.arrowtopright.search">
        <span class="arrow-top-right mdi-18px"></span>
    </div>

    <div *ngIf="shouldShowArrowUpForSearchMode()" class="btn hierarchy-button hierarchy-button-overview"
         (click)="jumpToResourceInSameView(); $event.stopPropagation();"
         placement="right"
         container="body"
         ngbTooltip="Im Kontext anzeigen"
         i18n-ngbTooltip="@@resources.navigation.arrowup">
        <span class="arrow-up mdi-16px"></span>
    </div>

    <div *ngIf="shouldShowArrowTopRight()"
         class="btn hierarchy-button hierarchy-button-overview"
         ngbTooltip="Zur Maßnahme wechseln"
         i18n-ngbTooltip="@@resources.jumpToView.tooltip"
         placement="right"
         container="body"
         (click)="jumpToView(); $event.stopPropagation();">
        <span class="arrow-top-right mdi-18px"></span>
    </div>
</div>