$deactivated-button-color: lightgray;
$button-width: 24px;
$button-group-width: 3 * $button-width;


.object-list-button-group {

  position: relative;
  left: $resources-listing-item-wide-width - $button-group-width;
  height: $item-height;
  width: $button-group-width;
  color: gray;

  .btn {
    border: 0;
    color: #868e96;
  }

  .object-list-button-group-inner {
    position: relative;
    width: $button-width;
    top: 14px;
  }

  .object-list-button-no-items {
    color: $deactivated-button-color;
  }

  .info-button,
  .link-button,
  .hierarchy-button {
    position: absolute;
    width: $button-width;
    height: $item-height;

    &:hover {
      color: darken(#868e96, 10%);
      background-color: darken($list-item-hover-color, 10%);
      transition: background-color .2s ease;
    }
  }

  .info-button {
    left: 0 * $button-width;

    span {
      position: absolute;
      left: 0;
      top: 20px;
    }
  }

  .info-button-middle-position {
    left: 1 * $button-width;
  }

  .link-button {
    left: 1 * $button-width;

    &.move-into-button {
      height: $item-height;
    }
  }

  .hierarchy-button {
    left: 2 * $button-width;

    span {
      position: absolute;
      top: 21px;
      left: 0;
    }

    &.hierarchy-button-overview span {
      top: 20px;
      left: 2px;
    }

    &.dropdown-toggle::after {
      display: none;
    }
  }


  .object-list-button-group-active-button {
    background-color: darken($list-item-hover-color, 10%);
  }
}