$resources-listing-item-wide-width: 300px;
$resources-listing-item-wide-width-with-scrollbar: 293px;
$resources-listing-item-slim-width: 232px;
$resources-listing-item-slim-width-with-scrollbar: 225px;
$teaser-width: $resources-listing-item-slim-width;
$item-height: 58px;
$item-padding-top: 8px;
$item-horizontal-padding: 9px;
$font-size-bigger: 14px;
$font-size-smaller: 12px;
$font-size-even-smaller: 10px;

@import 'sidebar-list-button-group';

#sidebar {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #f8f9fa;

  .new {
    color: #111;
    font-style: italic;
  }

  .conflicted {
    border-right: 2px solid red !important;
    transition: border-right 1s ease;
  }

  .new-from-remote {
    background-color: #d7ffd9;
  }

  .selected {
    background-color: darken($list-item-hover-color, 5%);
  }

  #document-limit-info {
    padding: 10px;
    font-style: italic;
    user-select: none;
    cursor: default;
  }
}

#sidebar-popover {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: $resources-listing-item-wide-width;
  height: 100%;
  width: $teaser-width;
  z-index: 1002;
  overflow: hidden;

  ul {
    padding: 0;
  }

  .fieldname,
  .fieldvalue,
  .relation-name {
    padding-left: $item-horizontal-padding;
  }

  .fieldname,
  .relation-name {
    font-weight: normal;
    font-size: $font-size-smaller;
    color: gray;
  }

  .fieldname {
    margin-bottom: 4px;
  }

  .fieldvalue {
    padding-right: $item-horizontal-padding;
    font-size: $font-size-bigger;
    margin-bottom: 10px;
    color: black;
  }
}

.resources-listing {
  .resources-listing-item {
    position: relative;
    display: block;
    cursor: default;
    border: 0;
    border-radius: 0;
    margin: 0 0 1px 0 !important;
    user-select: none;
    background-color: transparent;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-height: $item-height;
    height: $item-height;

    &:hover {
      background-color: darken($list-item-hover-color, 5%);
      transition: background-color .65s ease;
    }
  }

  .resources-listing-item-slim {
    width: $teaser-width;
  }

  .resources-listing-item-wide {
    width: $resources-listing-item-wide-width;
  }

  &.scrollbar-visible {
    .resources-listing-item-slim {
      width: $resources-listing-item-slim-width-with-scrollbar;
    }

    .resources-listing-item-wide {
      width: $resources-listing-item-wide-width-with-scrollbar;
    }

    document-teaser {
      width: $resources-listing-item-slim-width-with-scrollbar;
    }
  }

  document-teaser {
    position: absolute;
    width: $teaser-width;
    top: 0;
    height: $item-height;
    padding-left: $item-horizontal-padding;
    padding-top: $item-padding-top;

    .title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: $font-size-bigger;
    }

    .subtitle {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: $font-size-even-smaller;
    }
  }
}

#children-list {
  height: calc(100% - 32px);
  overflow-y: auto;

  loading-icon {
    position: relative;
    top: 49px;
  }
}

#document-info,
#relations-view-container {
  height: 100%;
  overflow-y: auto;
}

#create-document-button .circular-button {
  left: 45%;
  margin: -45px auto auto auto;
  z-index: 100;
}
