$activated-color: #868e96;
$button-width: 24px;
$button-group-width: 3 * $button-width;


.object-list-button-group {
  position: absolute;
  right: 0;
  height: $item-height;
  width: $button-group-width;
  color: gray;

  .btn {
    border: 0;
    color: $activated-color;
  }

  .object-list-button-group-inner {
    position: relative;
    width: $button-width;
    top: 14px;
  }

  .info-button,
  .link-button,
  .hierarchy-button {
    position: absolute;
    width: $button-width;
    height: $item-height;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: darken($activated-color, 10%);
      background-color: darken($list-item-hover-color, 10%);
      transition: background-color .2s ease;
    }
  }

  .info-button {
    left: 0;

    span {
      position: absolute;
      left: 0;
      top: 20px;
    }
  }

  .info-button-middle-position {
    left: $button-width;
  }

  .link-button {
    left: $button-width;

    &.move-into-button {
      height: $item-height;
    }
  }

  .hierarchy-button {
    left: 2 * $button-width;

    span {
      position: absolute;
      top: 21px;
      left: 1px;
    }

    &.hierarchy-button-overview span {
      top: 20px;
      left: 3px;
    }

    &.dropdown-toggle::after {
      display: none;
    }
  }

  .dropdown {
    height: 0;
  }

  .object-list-button-group-active-button {
    background-color: darken($list-item-hover-color, 10%);
  }
}