<div class="object-list-button-group">

    <div class="btn info-button"
         [class.info-button-middle-position]="viewFacade.isInOverview() || viewFacade.getBypassHierarchy()"
         [class.object-list-button-group-active-button]="sidebarList.isPopoverMenuOpened('info', document)"
         (click)="sidebarList.togglePopoverMenu('info', document); $event.stopPropagation();">

        <span *ngIf="sidebarList.isHighlighted(document) || sidebarList.isSelected(document)"
              class="mdi mdi-information-outline object-list-button-group-inner">
        </span>
    </div>

    <div *ngIf="!viewFacade.isInOverview() && !viewFacade.getBypassHierarchy()"
         class="btn link-button move-into-button"
         [class.object-list-button-group-active-button]="sidebarList.isPopoverMenuOpened('relations', document)"
         ngbTooltip="Untergeordnete Ressourcen ansehen"
         i18n-ngbTooltip="@@resources.moveIntoButton.tooltip"
         placement="left"
         triggers="manual"
         #tooltip="ngbTooltip"
         (click)="sidebarList.togglePopoverMenu('relations', document); $event.stopPropagation();">

        <span *ngIf="sidebarList.isHighlighted(document) || sidebarList.isSelected(document)"
              [class.object-list-button-no-items]="!sidebarList.hasVisibleRelations(document)"
              class="mdi mdi-link object-list-button-group-inner">
        </span>
    </div>

    <div *ngIf="!viewFacade.getBypassHierarchy() && sidebarList.showMoveIntoOption(document)"
            class="btn hierarchy-button"
         [class.object-list-button-group-active-button]="sidebarList.isPopoverMenuOpened('children', document)"
         (click)="sidebarList.togglePopoverMenu('children', document); $event.stopPropagation();">

        <span [class.object-list-button-no-items]="viewFacade.getChildrenCount(document) === 0"
              class="mdi mdi-subdirectory-arrow-right object-list-button-group-inner">
        </span>
    </div>

    <div *ngIf="viewFacade.isInOverview() && viewFacade.getBypassHierarchy() && !this.typeUtility.isSubtype(document.resource.type, 'Operation')"
         class="btn hierarchy-button hierarchy-button-overview"
         (click)="sidebarList.jumpToResource(document); $event.stopPropagation();">
        <span class="mdi mdi-arrow-top-right mdi-18px"></span>
    </div>

    <div *ngIf="(!viewFacade.isInOverview() && viewFacade.getBypassHierarchy()) || (viewFacade.isInOverview() && viewFacade.getBypassHierarchy() && (this.typeUtility.isSubtype(document.resource.type, 'Operation') || document.resource.type === 'Place'))"
        class="btn hierarchy-button hierarchy-button-overview"
        (click)="sidebarList.jumpToResourceFromInsideOperation(document); $event.stopPropagation();">
        <span class="mdi mdi-arrow-up mdi-16px"></span>
    </div>

    <div *ngIf="sidebarList.showJumpToViewOption(document) && document.resource.type !== 'Trench'"
         class="btn hierarchy-button hierarchy-button-overview"
         ngbTooltip="Zur Maßnahme wechseln"
         i18n-ngbTooltip="@@resources.jumpToView.tooltip"
         placement="left"
         triggers="manual"
         #tooltip="ngbTooltip"
         (mouseover)="tooltip.open()"
         (mouseleave)="tooltip.close()"
         (mousedown)="tooltip.close()"
         (click)="sidebarList.jumpToView(document); $event.stopPropagation();">
        <span class="mdi mdi-arrow-top-right mdi-18px"></span>
    </div>

    <div *ngIf="sidebarList.showJumpToViewOption(document) && document.resource.type === 'Trench'"
         ngbDropdown placement="bottom-right"
         (click)="$event.stopPropagation()">

        <div class="btn hierarchy-button hierarchy-button-overview" ngbDropdownToggle>
            <span class="mdi mdi-arrow-top-right"></span>
        </div>

        <div ngbDropdownMenu>
            <div [id]="'jump-to-resources-view-button-' + document.resource.identifier"
                 class="dropdown-item"
                 (click)="sidebarList.jumpToView(document)">
                    <span class="dropdown-entry-label"
                          i18n="@@resources.jumpToView.resources">Ressourcenansicht</span>
            </div>
            <div [id]="'jump-to-matrix-view-button-' + document.resource.identifier"
                 class="dropdown-item"
                 (click)="sidebarList.jumpToMatrix(document)">
                    <span class="dropdown-entry-label"
                          i18n="@@resources.jumpToView.matrix">Matrix</span>
            </div>
        </div>
    </div>
</div>