/**
 * @author Thomas Kleinke
 */

#thumbnail-container {
  width: $resources-listing-item-slim-width;
  height: 150px;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    user-select: none;
    -webkit-user-drag: none;
  }
}