#import-configuration-modal-body {
  div {
    user-select: none;
  }

  #import-options-container {
    height: 164px;

    .file-input {
      display: none;
    }

    .file-input-label {
      height: 38px;
    }
  }
}
