/**
 * @author Jan G. Wieners
 * @author Thomas Kleinke
 */

.add-relation {
  display: block;

  &:hover {
    background-color: lighten(#1b9519, 25%);
  }
}

.add-relation-disabled {
  display: none;
}

.add-relation, .add-relation-disabled {
  position: relative !important;
  color: #555 !important;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;
}