e2e/**/*.js
e2e/**/*.js.map
!e2e/config
!e2e/*.ts
browser/references.js*
unit/**/*.spec.js
unit/**/*.spec.js.map
unit/**/*.js
subsystem/**/*.spec.js
subsystem/**/*.spec.js.map
subsystem/**/*.js
!subsystem/config
