<div id="syncprogress"
    [class.active] = "connected && resourceIdsOfDocsToSync.length > 0"></div>

<div id="objectsToSyncCount"
     [class.connected] = "connected && resourceIdsOfDocsToSync.length === 0"
     [class.unconnected] = "!connected || resourceIdsOfDocsToSync.length > 0"
     data-toggle="tooltip" title="{{resourceIdsOfDocsToSync.length}} unsynced objects">
    <div id="syncCounter"
         *ngIf="resourceIdsOfDocsToSync.length > 0">
        <span id="syncSymbol"
              class="mdi mdi-cloud-upload"></span>
        {{resourceIdsOfDocsToSync.length}}
    </div>

    <div
        *ngIf="connected && resourceIdsOfDocsToSync.length === 0">
        <span data-toggle="tooltip"
              title="All objects are synced"
              id="success"
              class="mdi mdi-check"></span>
    </div>
</div>