<div class="container-fluid">
    <div #editor class="row">
        <div id="edit-form-groups-container" class="col-md-3">
            <ul id="edit-form-groups">
                <li *ngFor="let group of groups" class="nav nav-pills"
                    (click)="activateGroup(group.name)">
                    <a *ngIf="shouldShow(group.name)"
                            class="nav-link" [id]="getGroupId(group)"
                            [class.active]="group.name === activeGroup"
                            [class.conflicted]="group.name === 'conflicts' && document._conflicts"
                            href="javascript: void(0);">
                        <span *ngIf="group.name === 'conflicts' && document._conflicts"
                            class="mdi mdi-alert">
                        </span>
                        {{getLabel(group)}}
                    </a>
                </li>
            </ul>
        </div>        
        <div class="col-md-9 forms-container">
            <div id="{{activeGroup}}-group" class="scrollable-group"
                 *ngIf="activeGroup !== 'conflicts' && activeGroup !== 'images' && activeGroup !== 'changes'">
                <edit-form-group [document]="document"
                                 [originalDocument]="originalDocument"
                                 [fieldDefinitions]="getFields(activeGroup)"
                                 [identifierPrefix]="identifierPrefix"
                                 [languages]="languages"
                                 [scrollTargetField]="scrollTargetField">
                </edit-form-group>
            </div>
            <div *ngIf="activeGroup === 'conflicts'" id="docedit-conflicts-tab">
                <docedit-conflicts-tab [document]="document"
                                       [inspectedRevisions]="inspectedRevisions">
                </docedit-conflicts-tab>
            </div>
        </div>
    </div>
</div>



