<div class="container-fluid">
    <div #editor class="row">
        <ul id="table-of-contents" class="col-md-3 flex-column nav">
            <li *ngFor="let group of groups" class="nav nav-pills flex-column"
                (click)="activateGroup(group.name)">
                <a *ngIf="shouldShow(group.name)"
                        class="nav-link" id="edit-form-goto-{{group.name}}"
                        [class.active]="group.name === activeGroup"
                        [class.conflicted]="group.name === 'conflicts' && document._conflicts"
                        href="javascript: void(0);">
                    <span *ngIf="group.name === 'conflicts' && document._conflicts"
                          class="mdi mdi-alert">
                    </span>
                    {{group.label ? group.label : group.name}}
                </a>
            </li>
        </ul>

        <div class="col-md-9 forms-container">
            <div id="{{activeGroup}}-group" class="scrollable-group"
                 *ngIf="activeGroup !== 'conflicts' && activeGroup !== 'images'">
                <edit-form-group
                        [document]="document"
                        [fieldDefinitions]="getFieldDefinitions(activeGroup)"
                        [relationDefinitions]="getRelationDefinitions(activeGroup)">
                </edit-form-group>
            </div>

            <div *ngIf="activeGroup === 'images'" id="docedit-images-tab">
                <docedit-image-tab [document]="document"></docedit-image-tab>
            </div>


            <div *ngIf="activeGroup === 'conflicts'" id="docedit-conflicts-tab">
                <docedit-conflicts-tab [document]="document" [inspectedRevisions]="inspectedRevisions">
                </docedit-conflicts-tab>
            </div>
        </div>
    </div>
</div>



