#document-edit-wrapper {
  main {
    .container-fluid {
      height: calc(100vh - 154px);

      .row {
        height: 100%;

        #edit-form-groups-container {
          height: 100%;
          padding-left: 15px;
          padding-top: 15px;
          padding-bottom: 15px;

          #edit-form-groups {
            height: 100%;
            padding: 0;
            overflow-y: auto;
            user-select: none;

            .conflicted {
              color: #dc3545;

              &.active {
                color: white;
                background-color: #dc3545 !important;
              }
            }

            .nav {
              width: 100%;

              .nav-link {
                width: 100%;
                margin: 5px 12px;

                &.active {
                  background-color: $primary-button-color;
                }
              }
            }
          }
        }

        .forms-container {
          padding-right: 0;
          padding-left: 0;
          height: 100%;

          .scrollable-group {
            height: 100%;
            overflow-y: auto;
            padding-top: 15px;
            padding-bottom: 15px;

            input:not([type]),
            input[type="text"],
            input[type="number"],
            select {
              height: 33px;
            }

            input[type="checkbox"],
            input[type="radio"] {
              position: relative;
              top: 0.5px;
            }

            input[type="radio"] {
              margin-right: 8px;
            }

            .form-check-label,
            label {
              user-select: none;
            }

            label {
              margin-bottom: 0;
            }

            .card-title {
              cursor: default;
              user-select: none;
            }

            .btn:focus,
            .btn:active {
              box-shadow: none;
            }

            .input-group {
              .btn-success,
              .btn-danger:not(.btn-sm),
              .btn-info,
              .btn-outline-primary,
              .btn-secondary {
                height: 33px;
                width: 34px;
                padding: 0;
              }
            }

            .delete-multi-input-entry .mdi,
            .mdi-plus-circle {
              position: relative;
              right: 1px;
            }

            .card-footer:last-child {
              border-radius: 0 0 7px 7px;
            }
          }
        }

        #docedit-images-tab,
        #docedit-conflicts-tab {
          margin-top: 15px;
        }
      }
    }
  }
}
