edit-form-group {
  .edit-form-field-container {
    margin-right: 15px;

    .card-header {
      border-radius: 0 !important;
      border-top-left-radius: 7px !important;
      border-top-right-radius: 7px !important;
      padding-top: 5px;
      padding-bottom: 10px;
      border-bottom: none;
  
      .card-title {
        font-size: 15px !important;
      }
  
      .mdi-eye-lock-outline,
      .mdi-eye-lock-open-outline,
      .mdi-eye {
        position: relative;
        top: 3px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }

      .mdi-eye {
        color: rgb(40 46 57 / 73%)
      }
  
      .relation-image {
        position: absolute;
        top: 6px;
        margin-left: 14px;
        user-select: none;
      }
    }

    &.conditional {
      .card-header {
        background-color: rgb(55 88 142 / 17%);
      }

      .card-block {
        background-color: rgb(55 88 142 / 7%);
        margin-bottom: 10px;
      }
    }
  }
}
