<div *ngFor="let field of fieldDefinitions" [id]="getFieldId(field)">
    <div *ngIf="shouldShow(field)" class="form-group card">
        <div class="card-header h4">
            <span class="card-title">{{labels[field.name]}}</span>

            <span *ngIf="descriptions[field.name]"
                    placement="left"
                    container="body"
                    ngbTooltip="{{descriptions[field.name]}}"
                  class="mdi mdi-information-outline float-right"></span>
        </div>

        <div class="card-block">
            <edit-form-field [resource]="document['resource']" [field]="field"></edit-form-field>
        </div>
    </div>
</div>
