<div *ngFor="let field of fieldDefinitions" [id]="getFieldId(field)">
    <div *ngIf="shouldShow(field)" class="card bg-light">
        <div class="card-header h4">
            <span class="card-title">{{labels[field.name]}}</span>

            <span *ngIf="descriptions[field.name]"
                    placement="left"
                    container="body"
                    ngbTooltip="{{descriptions[field.name]}}"
                    class="mdi mdi-information-outline float-end"></span>

            <img *ngIf="getStratigraphicalRelationInfo(field)"
                 class="relation-image"
                 [src]="'img/matrix-' + getStratigraphicalRelationInfo(field).imageName + '.png'"
                 placement="left"
                 container="body"
                 ngbTooltip="{{getStratigraphicalRelationInfo(field).tooltip}}">
        </div>

        <div *ngIf="isValidFieldData(field)" class="card-block">
            <edit-form-field [resource]="document.resource"
                             [fieldContainer]="document.resource"
                             [field]="field"
                             [languages]="languages"
                             [identifierPrefix]="identifierPrefix"></edit-form-field>
        </div>
        <div *ngIf="!isValidFieldData(field)" class="card-block">
            <invalid-field-data [resource]="document['resource']"
                                [field]="field"></invalid-field-data>
        </div>
    </div>
</div>
