<div #imageRowContainer class="image-row-container">
    <div *ngIf="hasPreviousPage()" class="previous-page-button" (click)="previousPage()">
        <span class="mdi mdi-chevron-left"></span>
    </div>
    <div #imageRow class="image-row">
        <div *ngFor="let image of images"
             class="type-image-container"
             (click)="onThumbnailClicked(image)">
            <img *ngIf="thumbnailUrls && thumbnailUrls[image.imageId]" [src]="thumbnailUrls[image.imageId]">
        </div>
    </div>
    <div *ngIf="hasNextPage()" class="next-page-button" (click)="nextPage()">
        <span class="mdi mdi-chevron-right"></span>
    </div>
</div>