<div #imageRowContainer class="image-row-container">
    <div *ngIf="hasPreviousPage()" class="previous-page-button" (click)="previousPage()">
        <span class="mdi mdi-chevron-left"></span>
    </div>
    <div #imageRow
         class="image-row"
         [class.animated]="!initializing">
        <div *ngFor="let image of images"
             class="image-container"
             (click)="onThumbnailClicked(image)">
            <img *ngIf="hasImageUrl(image)"
                 [src]="thumbnailUrls[image.imageId]"
                 [class.highlightOnHover]="highlightOnHover"
                 [class.selected-image]="image === selectedImage"
                 [style.width]="getImageWidth(image) + 'px'">
            <div *ngIf="isPlaceholder(image) && !initializing"
                 class="image-placeholder"
                 [class.highlightOnHover]="highlightOnHover">
                <type-icon [type]="image.document.resource.type" [size]="60"></type-icon>
            </div>
            <div *ngIf="showResourceInfoOnHover" class="resource-info badge badge-light">
                {{image.document.resource.identifier}}
            </div>
        </div>
    </div>
    <div *ngIf="hasNextPage()" class="next-page-button" (click)="nextPage()">
        <span class="mdi mdi-chevron-right"></span>
    </div>
</div>