<div *ngIf="!isLoading()" id="conflict-resolver" class="bg-light">
    <revision-selector [document]="document"
                       [conflictedRevisions]="conflictedRevisions"
                       [inspectedRevisions]="inspectedRevisions"
                       [selectedRevision]="selectedRevision"
                       [winningSide]="getWinningSide()"
                       (onSelectWinningSide)="setWinningSide($event)"
                       (onSelectRevision)="setSelectedRevision($event)"></revision-selector>
    <div *ngFor="let field of differingFields" class="card bg-light">
        <div class="card-header">
            <h3 class="card-title">{{field.label}}</h3>
        </div>
        <div class="row h-100">
            <div class="col-md-1 my-auto radio-button-field" (click)="setWinningSideForField(field, false)">
                <input type="radio" name="radiobutton-{{field.name}}" [checked]="!field.rightSideWinning" />
            </div>
            <div class="col-md-5 my-auto conflict-resolver-field" [class.winning-side]="!field.rightSideWinning"
                 [class.losing-side]="field.rightSideWinning" (click)="setWinningSideForField(field, false)">
                <div *ngIf="field.type === 'field'" >
                    <div *ngIf="document.resource[field.name] !== undefined" [innerHTML]="getFieldContent(field, document)">
                    </div>
                    <div *ngIf="document.resource[field.name] === undefined">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
                <div *ngIf="field.type === 'geometry'">
                    <div *ngIf="document.resource.geometry" i18n="@@docedit.tabs.conflicts.geometryOfType">
                        Geometrie vom Typ {{document.resource.geometry.type}}
                    </div>
                    <div *ngIf="!document.resource.geometry">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
                <div *ngIf="field.type === 'georeference'">
                    <div *ngIf="document.resource.georeference" i18n="@@docedit.tabs.conflicts.georeferenceData">
                        Georeferenzdaten
                    </div>
                    <div *ngIf="!document.resource.georeference">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
                <div *ngIf="field.type === 'relation'">
                    <div *ngIf="document.resource.relations[field.name]">
                        {{getTargetIdentifiers(document.resource.relations[field.name])}}
                    </div>
                    <div *ngIf="!document.resource.relations[field.name]">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
            </div>
            <div class="col-md-1 my-auto radio-button-field" (click)="setWinningSideForField(field, true)">
                <input type="radio" name="radiobutton-{{field.name}}" [checked]="field.rightSideWinning"
                       [disabled]="!isSelectable(field, true)"/>
            </div>
            <div class="col-md-5 my-auto conflict-resolver-field" [class.winning-side]="field.rightSideWinning"
                 [class.losing-side]="!field.rightSideWinning" (click)="setWinningSideForField(field, true)">
                <div *ngIf="field.type === 'field'">
                    <div *ngIf="selectedRevision.resource[field.name] !== undefined"
                         [innerHTML]="getFieldContent(field, selectedRevision)"></div>
                    <div *ngIf="selectedRevision.resource[field.name] === undefined">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
                <div *ngIf="field.type === 'geometry'">
                    <div *ngIf="selectedRevision.resource.geometry" i18n="@@docedit.tabs.conflicts.geometryOfType">
                        Geometrie vom Typ {{selectedRevision.resource.geometry.type}}
                    </div>
                    <div *ngIf="!selectedRevision.resource.geometry">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
                <div *ngIf="field.type === 'georeference'">
                    <div *ngIf="selectedRevision.resource.georeference"
                         i18n="@@docedit.tabs.conflicts.georeferenceData">
                        Georeferenzdaten
                    </div>
                    <div *ngIf="!selectedRevision.resource.georeference">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
                <div *ngIf="field.type === 'relation'">
                    <div *ngIf="selectedRevision.resource.relations[field.name]">
                        {{getTargetIdentifiers(selectedRevision.resource.relations[field.name])}}
                    </div>
                    <div *ngIf="!selectedRevision.resource.relations[field.name]">
                        <em i18n="@@docedit.tabs.conflicts.notSet">Nicht gesetzt</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedRevision" class="text-center">
        <button class="btn btn-primary" id="solve-conflict-button" (click)="solveConflict()">
            <span i18n="@@docedit.tabs.conflicts.resolveConflict">Konflikt lösen</span>
        </button>
    </div>
</div>
<div *ngIf="showLoadingIcon()">
    <loading-icon [context]="'docedit-conflicts-tab'"></loading-icon>
</div>


