@use './revision-selector';
@use '../../variables' as *;

#conflict-resolver {
  height: calc(100vh - 161px);
  width: calc(100% - 15px);
  overflow-x: hidden;
  overflow-y: auto;

  .card {
    .card-header {
      padding-top: 13px;
      padding-bottom: 12px;
      border-top-left-radius: 7px !important;
      border-top-right-radius: 7px !important;
      border-bottom: none;

      .card-title {
        font-size: 15px !important;
      }
    }
  }

  .conflict-resolver-field {
    padding: 10px 5px;
    font-size: 15px;
    user-select: none;
  }

  .radio-button-field {
    padding-left: 20px;
  }

  .winning-side {
    color: #1b9519;
  }

  .losing-side {
    color: $red-button-color;
  }

  #solve-conflict-button {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .row {
    margin: inherit;
  }
}

docedit-conflicts-tab {
  loading-icon {
    position: absolute;
    top: 70px;
    left: -15px;
    width: 100%;
  }
}
