#image-category-picker-modal {
  ul {
    li {
      &.list-group-item {
        border: 1px solid #eee;
      }


      &.selected {
        box-shadow: inset 0 0 2px 1px #898989
      }

      category-icon.child-image-icon {
        margin-left: 10px;
      }
    }
  }

  .image-category-label {
    position: relative;
    left: 10px;
    bottom: 4px;
    user-select: none;
  }
}