<div class="modal-header">
    <h5 class="modal-title" i18n="@@imageUpload.imageMetadataModal.header">
        Bildmetadaten auswählen
    </h5>
</div>

<div class="modal-body" id="image-upload-metadata-modal">
    <div *ngIf="fileCount >= 100" class="text-center alert alert-warning"
        i18n="@@imageUpload.imageMetadataModal.warning">
        Bitte beachten Sie, dass das Einlesen von {{fileCount}} Bilddateien einige Zeit in Anspruch nehmen kann.
    </div>
    <div *ngIf="depictsRelationTarget" class="text-center alert alert-info">
        <span *ngIf="fileCount == 1" i18n="@@imageUpload.imageMetadataModal.linkInfo.single">
            Das importierte Bild wird mit der Ressource <b>{{depictsRelationTarget.resource.identifier}}</b> verknüpft.
        </span>
        <span *ngIf="fileCount > 1" i18n="@@imageUpload.imageMetadataModal.linkInfo.multiple">
            Die importierten Bilder werden mit der Ressource <b>{{depictsRelationTarget.resource.identifier}}</b>
            verknüpft.
        </span>
    </div>
    <p *ngIf="hasImageChildCategories()">
        <span i18n="@@imageUpload.imageMetadataModal.chooseCategory">
            Bitte wählen Sie die gewünschte Kategorie aus.
        </span>
    </p>
    <category-picker [topLevelCategoriesArray]="topLevelCategories"
                     [selectedCategories]="getSelectedCategoryNames()"
                     (onCategoryPicked)="setCategory($event)"></category-picker>
    <hr/>

    <div class="radio form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio"    
                   [value]="false"
                   (click)="setParseFileMetadata(false)"
                   [checked]="getParseFileMetadata() === false">
            <span i18n="@@imageUpload.imageMetadataModal.chooseSetMetadata">Metadaten für alle Bilder setzen</span>
        </label>
    </div>
    <div class="radio form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" type="radio"    
                   [value]="true"
                   (click)="setParseFileMetadata(true)"
                   [checked]="getParseFileMetadata() === true">
            <span i18n="@@imageUpload.imageMetadataModal.chooseReadMetadata">Metadaten aus Bildern auslesen</span>
        </label>
    </div>

    <div class="container">
        <div *ngIf="!getParseFileMetadata()">
            <div *ngIf="projectStaff.length > 0" class="row" style="margin-top: 13px; border-top-style: solid; border-width: thin; border-color: rgba(0, 0, 0, 0.1); padding-top: 13px;">
                <div i18n="@@imageUpload.imageMetadataModal.draughtsmen" class="col" style="border-right-style: solid; border-width: thin; font-size:small; border-color: rgba(0, 0, 0, 0.1);">
                    Bildersteller/Bilderstellerin
                </div>
                <div class="col">
                    <div *ngFor="let person of projectStaff" class="checkbox form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" value="{{person}}" type="checkbox" (click)="toggleDraughtsman(person)"
                                [checked]="metadata.draughtsmen.includes(person)">
                            {{person}}
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="projectStaff.length == 0" class="small-info-text" i18n="@@imageUpload.imageMetadataModal.noStaffWarning">
                Es wurden keine Projektmitarbeiter in den Projekteigenschaften (Team) gefunden. Um Bildersteller explizit festzulegen,
                müssten zuerst die Projekteigenschaften angepasst werden.
            </div>
        </div>
        <div *ngIf="getParseFileMetadata()" class="small-info-text" i18n="@@imageUpload.imageMetadataModal.metadataFormatsInfo">
            Liest EXIF-, IPTC- oder XMP-Daten, sofern diese extern konfiguriert wurden.
        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="confirmUploadButton" type="button" class="btn btn-primary"
        (click)="activeModal.close(metadata)">
        <span i18n="@@buttons.ok">OK</span>
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>