<div class="modal-body" id="image-category-picker-modal">
    <div *ngIf="fileCount >= 100" class="text-center alert alert-warning"
        i18n="@@imageUpload.imageCategoryPickerModal.warning">
        Bitte beachten Sie, dass das Einlesen von {{fileCount}} Bilddateien einige Zeit in Anspruch nehmen kann.
    </div>
    <div *ngIf="depictsRelationTarget" class="text-center alert alert-info">
        <span *ngIf="fileCount == 1" i18n="@@imageUpload.imageCategoryPickerModal.linkInfo.single">
            Das importierte Bild wird mit der Ressource <b>{{depictsRelationTarget.resource.identifier}}</b> verknüpft.
        </span>
        <span *ngIf="fileCount > 1" i18n="@@imageUpload.imageCategoryPickerModal.linkInfo.multiple">
            Die importierten Bilder werden mit der Ressource <b>{{depictsRelationTarget.resource.identifier}}</b>
            verknüpft.
        </span>
    </div>
    <p *ngIf="imageCategory.children && imageCategory.children.length > 0">
        <span i18n="@@imageUpload.imageCategoryPickerModal.chooseCategory">
            Bitte wählen Sie die gewünschte Kategorie aus.
        </span>
    </p>
    <ul *ngIf="imageCategory.children && imageCategory.children.length > 0" class="list-group">
        <li [ngClass]="{ 'abstract-category': imageCategory.isAbstract, 'selected': (imageCategory.name == metadata.category) }" class="list-group-item popover-item" 
            id="choose-image-supercategory" (click)="!imageCategory.isAbstract && setCategory(imageCategory.name)">
            <category-icon [category]="imageCategory.name" size="30"></category-icon>
            <span class="image-category-label">{{getImageCategoryLabel(imageCategory)}}</span>
            <span *ngIf="(imageCategory.name == metadata.category)" class="mdi mdi-check-bold checked-category-icon"></span>
        </li>
            <li *ngFor="let childCategory of imageCategory.children; let index = index"
                id="choose-image-subcategory-option-{{index}}" class="list-group-item popover-item" [ngClass]="{ 'selected': (childCategory.name == metadata.category)}"
                (click)="setCategory(childCategory.name)">
                <category-icon class="child-image-icon" [category]="childCategory.name" size="30"></category-icon>
                <span class="image-category-label">{{getImageCategoryLabel(childCategory)}}</span>
                <span *ngIf="(childCategory.name == metadata.category)" class="mdi mdi-check-bold checked-category-icon"></span>
            </li>
    </ul>

    <p i18n="@@imageUpload.imageCategoryPickerModal.chooseDraughtsmen">
        Bitte wählen Sie die Bildersteller/-innen aus.
    </p>

    <div *ngFor="let person of projectStaff" class="checkbox form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" value="{{person}}" type="checkbox" (click)="toggleCreator(person)"
                [checked]="metadata.draughtsmen.includes(person)">
            {{person}}
        </label>
    </div>

    <p i18n="@@imageUpload.imageCategoryPickerModal.chooseProcessors">
        Bitte wählen Sie die Bearbeiter/-innen aus.
    </p>

    <div *ngFor="let person of projectStaff" class="checkbox form-check form-check-inline">
        <label class="form-check-label">
            <input class="form-check-input" value="{{person}}" type="checkbox" (click)="toggleProcessor(person)"
                [checked]="metadata.processor.includes(person)">
            {{person}}
        </label>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary"
        (click)="activeModal.close(metadata)">
        <span i18n="@@buttons.ok">OK</span>
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>