<div class="modal-header">
    <h5 class="modal-title" i18n="@@imageUpload.imageMetadataModal.header">
        Bildmetadaten auswählen
    </h5>
</div>

<div class="modal-body" id="image-upload-metadata-modal">
    <div *ngIf="fileCount >= 100" class="text-center alert alert-warning"
        i18n="@@imageUpload.imageMetadataModal.warning">
        Bitte beachten Sie, dass das Einlesen von {{fileCount}} Bilddateien einige Zeit in Anspruch nehmen kann.
    </div>
    <div *ngIf="depictsRelationTarget" class="text-center alert alert-info">
        <span *ngIf="fileCount == 1" i18n="@@imageUpload.imageMetadataModal.linkInfo.single">
            Das importierte Bild wird mit der Ressource <b>{{depictsRelationTarget.resource.identifier}}</b> verknüpft.
        </span>
        <span *ngIf="fileCount > 1" i18n="@@imageUpload.imageMetadataModal.linkInfo.multiple">
            Die importierten Bilder werden mit der Ressource <b>{{depictsRelationTarget.resource.identifier}}</b>
            verknüpft.
        </span>
    </div>
    <p *ngIf="imageCategory.children && imageCategory.children.length > 0">
        <span i18n="@@imageUpload.imageMetadataModal.chooseCategory">
            Bitte wählen Sie die gewünschte Kategorie aus.
        </span>
    </p>
    <ul *ngIf="imageCategory.children && imageCategory.children.length > 0" class="list-group">
        <li [ngClass]="{ 'abstract-category': imageCategory.isAbstract, 'selected': (imageCategory.name == metadata.category) }" class="list-group-item popover-item" 
            id="choose-image-supercategory" (click)="!imageCategory.isAbstract && setCategory(imageCategory.name)">
            <category-icon [category]="imageCategory.name" size="30"></category-icon>
            <span class="image-category-label">{{getImageCategoryLabel(imageCategory)}}</span>
            <span *ngIf="(imageCategory.name == metadata.category)" class="mdi mdi-check-bold checked-category-icon"></span>
        </li>
            <li *ngFor="let childCategory of imageCategory.children; let index = index"
                id="choose-image-subcategory-option-{{index}}" class="list-group-item popover-item" [ngClass]="{ 'selected': (childCategory.name == metadata.category)}"
                (click)="setCategory(childCategory.name)">
                <category-icon class="child-image-icon" [category]="childCategory.name" size="30"></category-icon>
                <span class="image-category-label">{{getImageCategoryLabel(childCategory)}}</span>
                <span *ngIf="(childCategory.name == metadata.category)" class="mdi mdi-check-bold checked-category-icon"></span>
            </li>
    </ul>

    <hr/>

    <div i18n="@@imageUpload.imageMetadataModal.chooseDraughtsmen">
        Bitte wählen Sie den/die Bildersteller/-in aus.
    </div>

    <div *ngIf="projectStaff.length > 0">
        <div class="small-info-text"  i18n="@@imageUpload.imageMetadataModal.chooseDraughtsmeInfo">
            Es können explizit Mitarbeitende des Projekts als Bildersteller/-innen ausgewählt werden. Diese Auswahl gilt für alle zum Einlesen
            ausgewählte Bilder.
        </div>
        <div *ngFor="let person of projectStaff" class="checkbox form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" value="{{person}}" type="checkbox" (click)="toggleDraughtsman(person)" [disabled]="metadata.draughtsmenFromMetadata"
                    [checked]="metadata.draughtsmen.includes(person)">
                {{person}}
            </label>
        </div>
    </div>
    <div *ngIf="projectStaff.length == 0">
        <div class="small-info-text" i18n="@@imageUpload.imageMetadataModal.noStaffWarning">
            Es wurden keine Projektmitarbeiter in den Projekteigenschaften (Team) gefunden. Um Bildersteller explizit festzulegen, müssten zuerst die
            Projekteigenschaften angepasst werden.
        </div>
    </div>
    <div>
        <div class="small-info-text" i18n="@@imageUpload.imageMetadataModal.draughtsmenFromMetadataInfo">
            Alternativ kann die Anwendung die Bildersteller/-innen  aus den EXIF, IPTC oder XMP Metadaten der Bilddatei zu auslesen. Dies geschieht individuell
            für jedes Bild, eignet sich also eventuell besser beim Einlesen von vielen Bildern von verschiedenen Mitarbeitenden. Nach Möglichkeit sollten
            die im Bild hinterlegte Namensschreibweise der in den Projekteigenschaften entsprechen (siehe obige Liste).
        </div>
        <div class="checkbox form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" value="{{metadata.draughtsmenFromMetadata}}" type="checkbox" (click)="toggleDraughtsmenFromMetadata()"
                        [checked]="metadata.draughtsmenFromMetadata">
                Bildmetadaten auslesen
            </label>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="confirmUploadButton" type="button" class="btn btn-primary"
        (click)="activeModal.close(metadata)">
        <span i18n="@@buttons.ok">OK</span>
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>