<div *ngFor="let field of fieldDefinitions" id="edit-form-element-{{field.name}}">
    <div *ngIf="field && (field.editable==true)" class="form-group card">
        <div class="card-header h4">
            <span class="card-title" *ngIf="field.label">{{field.label}}</span>
            <span class="card-title" *ngIf="!field.label">{{field.name}}</span>

            <span *ngIf="field.description" placement="left" container="body" ngbTooltip="{{field.description}}"
                  class="mdi mdi-information-outline float-right"></span>
        </div>

        <div class="card-block">
            <edit-form-field [resource]="document['resource']" [field]="field"></edit-form-field>
        </div>
    </div>
</div>