<div class="container-fluid">

    <div #editor class="row">

        <ul id="table-of-contents" class="col-md-3 flex-column nav">
            <li *ngFor="let group of groups" class="nav nav-pills flex-column"
                (click)="activateGroup(group.name)">

                <a *ngIf="group.name !== 'conflicts' || document._conflicts"
                        class="nav-link" id="edit-form-goto-{{group.name}}"
                        [class.active]="group.name === activeGroup"
                        [class.conflicted]="group.name === 'conflicts' && document._conflicts"
                        href="javascript: void(0);">

                    {{group.label}}
                </a>
            </li>
        </ul>


        <div class="col-md-9 forms-container">


            <div style="height: 22px"></div>

            <div id="basic-group" class="scrollable-group" *ngIf="activeGroup === 'basic'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="basicFieldsToShow">
                </generic-form>
            </div>

            <div id="properties-group" class="scrollable-group" *ngIf="activeGroup === 'properties'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="propertiesFieldsToShow">
                </generic-form>
            </div>

            <div id="dimension-group" class="scrollable-group" *ngIf="activeGroup === 'dimension'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="dimensionFieldsToShow">
                </generic-form>
            </div>

            <div id="space-group" class="scrollable-group" *ngIf="activeGroup === 'space'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="spatialFieldsToShow"
                        [relationDefinitions]="spatialRelationsToShow">
                </generic-form>
            </div>

            <div id="time-group" class="scrollable-group" *ngIf="activeGroup === 'time'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="timeFieldsToShow"
                        [relationDefinitions]="timeRelationsToShow">
                </generic-form>
            </div>


            <div *ngIf="activeGroup === 'images'" id="docedit-images-tab">
                <docedit-image-tab
                        [(document)]="document">
                </docedit-image-tab>
            </div>


            <div *ngIf="activeGroup === 'conflicts'">
                <docedit-conflicts-tab [(document)]="document" [(inspectedRevisions)]="inspectedRevisions">
                </docedit-conflicts-tab>
            </div>
        </div>
    </div>
</div>



