#document-edit-wrapper {
  main {
    .container-fluid {
      height: 100%;

      .row {
        height: 100%;

        #table-of-contents {
          padding-left: 50px;
          padding-top: 20px;
          user-select: none;

          .conflicted {
            color: orange;

            &.active {
              color: white;
              background-color: orange !important;
            }
          }

          .nav {
            .nav-link {
              margin: 5px 12px;

              &.active {
                background-color: #5572a1;
              }
            }
          }
        }

        .forms-container {
          padding-right: 53px;
          height: 100%;

          .scrollable-group {
            height: 100%;
            overflow-y: auto;

            input[type="text"],
            select {
              height: 33px;
            }

            .btn-success,
            .btn-danger,
            .btn-info,
            .btn-outline-primary {
              height: 33px;
              width: 34px;
              padding: 0;
            }
          }
        }

        .list-group-item {
          background-color: #eee;
        }

        #table-of-contents-placeholder {
          border-right: 1px solid #eee;
        }

        .choose-geometry-icon {
          margin-right: 10px;
          position: relative;
          top: 2px;
        }

        #docedit-conflicts-tab {
          color: red !important;
        }
      }
    }
  }
}

