<div class="container-fluid">

    <div #ed class="row">

        <!--<div id="table-of-contents-placeholder" class="col-md-2"></div>-->
        <!--<div class="col-md-1"></div>-->

        <ul id="table-of-contents" class="col-md-3 flex-column nav">
            <li *ngFor="let group of groups" class="nav nav-pills flex-column"
                (click)="activateGroup(group.name)">
                <a class="nav-link" id="edit-form-goto-{{group.name}}" [class.active]="group.name === activeGroup" href="javascript: void(0);">
                    {{group.label}}
                </a>
            </li>
        </ul>


        <div class="col-md-9 forms-container">


            <div style="height: 22px"></div>

            <!--<h3 i18n="@@docedit.tabs.space">Räumliche Einordnung</h3>-->
            <!--<h3 i18n="@@docedit.tabs.time">Zeitliche Einordnung</h3>-->

            <div id="basic-group" class="scrollable-group" *ngIf="activeGroup === 'basic'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="basicFieldsToShow">
                </generic-form>
            </div>

            <div id="properties-group" class="scrollable-group" *ngIf="activeGroup === 'properties'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="propertiesFieldsToShow">
                </generic-form>
            </div>

            <div id="dimension-group" class="scrollable-group" *ngIf="activeGroup === 'dimension'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="dimensionFieldsToShow">
                </generic-form>
            </div>

            <div id="space-group" class="scrollable-group" *ngIf="activeGroup === 'space'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="spatialFieldsToShow"
                        [relationDefinitions]="spatialRelationsToShow">
                </generic-form>
            </div>

            <div id="time-group" class="scrollable-group" *ngIf="activeGroup === 'time'">
                <generic-form
                        [document]="document"
                        [fieldDefinitions]="timeFieldsToShow"
                        [relationDefinitions]="timeRelationsToShow">
                </generic-form>
            </div>


            <div *ngIf="activeGroup === 'images'" id="docedit-images-tab">

                <docedit-image-tab
                        [(document)]="document">
                </docedit-image-tab>

                <!--
                <ng-template ngbTabTitle>
                    <span class="mdi mdi-image"></span>
                    <span class="button-label" i18n="@@docedit.tabs.images">Bilder</span>
                </ng-template>
                <ng-template ngbTabContent>

                </ng-template>
                -->
            </div>


            <div *ngIf="activeGroup === 'conflicts'">
                <docedit-conflicts-tab [(document)]="document" [(inspectedRevisions)]="documentHolder.inspectedRevisions">
                </docedit-conflicts-tab>
            </div>
        </div>
    </div>
</div>



