#document-edit-wrapper {
  main {
    .container-fluid {
      height: calc(100vh - 132px);

      .row {
        height: 100%;

        #table-of-contents {
          padding-left: 50px;
          padding-top: 20px;
          user-select: none;

          .conflicted {
            color: #dc3545;

            &.active {
              color: white;
              background-color: #dc3545 !important;
            }
          }

          .nav {
            .nav-link {
              margin: 5px 12px;

              &.active {
                background-color: #5572a1;
              }
            }
          }
        }

        .forms-container {
          padding-right: 53px;
          height: 100%;

          .scrollable-group {
            height: calc(100% - 44px);
            overflow-y: auto;
            margin-top: 22px;
            margin-bottom: 22px;

            input[type="text"],
            input[type="number"],
            select {
              height: 33px;
            }

            .btn-success,
            .btn-danger,
            .btn-info,
            .btn-outline-primary {
              height: 33px;
              width: 34px;
              padding: 0;
            }
          }
        }

        .list-group-item {
          background-color: #eee;
        }

        #table-of-contents-placeholder {
          border-right: 1px solid #eee;
        }

        #docedit-images-tab {
          margin-top: 12px;
        }
      }
    }
  }
}

