/**
 * @author Jan G. Wieners
 * @author Thomas Kleinke
 */

#relation-picker {

  margin-left: 40px;
  margin-bottom: 10px;

  .small-circular-button {
    margin-left: -35px;
    margin-bottom: 0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;
  }

  .badge {
    background-color: #ccc;
    color: #333;
    font-weight: normal;
    border-radius: 1px;
  }

  .suggestion-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 3px 3px 3px #ccc;
    z-index: 100;
  }

  .suggestion {
    padding: 7px 25px 7px 25px;
    cursor: pointer;
  }

  .suggestion.selected-suggestion {
    background-color: #ccc;
  }
}