<div *ngIf="relationDefinitions && relationDefinitions.length > 0" class="card">
    <div class="card-header">
        <h3 class="card-title">Relationen</h3>
    </div>
    <ul class="list-group list-group-flush"
        *ngIf="!isCollapsed">
        <ng-template ngFor [ngForOf]="relationDefinitions" let-relationDefinition="$implicit">
            <li class="list-group-item" style="display: block;">
                <label *ngIf="relationDefinition.label">{{relationDefinition.label}}</label>
                <label *ngIf="!relationDefinition.label">{{relationDefinition.name}}</label>

                <ul style="margin-left: 0; padding-left: 1px;">
                    <li style="list-style-type: none;">
                    <relation-picker-group [(document)]="document" [relationDefinition]="relationDefinition"
                                           [primary]="primary"></relation-picker-group>
                    </li>
                </ul>
            </li>
        </ng-template>
    </ul>
</div>




