<div class="image-overview row">
    <div class="col-sm-12" (dragover)="false" (dragleave)="false" (drop)="false">

        <div class="row bg-light image-overview-nav">
            <div *ngIf="!hasSelectedImages() && getQuery()" class="col image-overview-nav-content">
                <image-overview-search-bar [filterOptions]="filterOptions"
                                           [q]="getQuery().q"
                                           [categories]="getQuery().categories"
                                           [hidden]="nrOfSelectedImages()"
                                           (onQueryStringChanged)="setQueryString($event)"
                                           (onCategoriesChanged)="setCategoryFilters($event)">
                </image-overview-search-bar>
            </div>

            <div *ngIf="!hasSelectedImages() && getDocuments() && getTotalDocumentCount()"
                    class="col-auto image-overview-nav-content">
                <paging-buttons
                    [currentPage]="getCurrentPage()"
                    [pageCount]="getPageCount()"
                    [canTurnPage]="canTurnPage()"
                    [canTurnPageBack]="canTurnPageBack()"
                    (onTurnPage)="turnPage()"
                    (onTurnPageBack)="turnPageBack()">
                </paging-buttons>
            </div>

            <div *ngIf="hasSelectedImages()" id="taskbar-container" class="col">
                <image-overview-taskbar [imageGrid]="imageGrid"></image-overview-taskbar>
            </div>

            <div class="col-auto text-right slider-container">
                <span id="decrease-grid-size-button" class="mdi mdi-view-grid align-middle"
                      (click)="decreaseNrImagesPerRow()"></span>
                <input id="grid-size-slider" #gridSize type="range" min="{{getMinNrImagesPerRow()}}"
                       max="{{getMaxNrImagesPerRow()}}" value="{{getNrImagesPerRow()}}"
                       class="image-size-slider align-middle"
                       (change)="setNrImagesPerRow(gridSize.value)">
                <span id="increase-grid-size-button" class="mdi mdi-apps align-middle"
                      (click)="increaseNrImagesPerRow()"></span>
            </div>
        </div>

        <div (window:resize)="onResize()" class="image-grid-container">
            <image-grid #imageGrid
                    [nrOfColumns]="getNrImagesPerRow()"
                    [documents]="getDocuments()"
                    [selected]="getSelected()"
                    [totalDocumentCount]="getTotalDocumentCount()"
                    [showDropArea]="true"
                    [showGeoIcon]="true"
                    [showTooltips]="true"
                    [paddingRight]="20"
                    (onClick)="toggleSelected($event)"
                    (onShiftClick)="toggleSelected($event, true)"
                    (onDoubleClick)="showImage($event)">
                <drop-area (onImagesUploaded)="onImagesUploaded($event)">
                </drop-area>
            </image-grid>
        </div>
    </div>
</div>
