@import 'deletion/delete-modal';
@import 'searchbar/image-overview-search-bar';

.image-overview {

  .image-grid {
    margin-top: 15px !important;
  }

  #remove-link-btn {
    margin-right: 1px;
  }

  .image-overview-nav {
    position: relative;
    z-index: 1001;
    border-bottom: 1px solid $gray-200;
    height: $toolbar-height;
    display: flex;

    .image-overview-nav-content {
      padding-top: 3px;

      #paging-buttons {
        padding-top: 2px;
      }
    }
  }

  #taskbar-container {
    padding-top: 4px;
  }

  #image-overview-buttons {
    height: 39px;

    div {
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }

  #search-bar {
    margin-top: 2px;
    margin-bottom: -2px;
  }

  #image-count-badge {
    margin-top: 10px;
    margin-left: 5px;
    user-select: none;
    cursor: default;
  }

  .slider-container {
    padding-top: 11px;
    user-select: none;
    cursor: default;
  }

  .image-size-slider {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $primary;
    }
  }

  .image-grid-container {
    height: calc(100vh - 97px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0 -10px;
  }
}
