<.back navigate={~p"/"}>{gettext("Back to landing page")}</.back>

<.document_heading>Management</.document_heading>
<%= if User.is_admin?(@current_user) do %>
  <.group_heading>Administration</.group_heading>
  <section class="flex">
    <ul class="p-4 min-w-80 list-disc list-inside">
      <li>
        <.link navigate={~p"/management/projects/new"}>
          Create new project
        </.link>
      </li>
      <li>
        <button
          class="text-primary hover:text-primary-hover cursor-pointer"
          phx-click={JS.push("reindex_all_search_indices")}
          data-confirm="Are you sure?"
        >
          Recreate search indices
        </button>
      </li>
      <li>
        <button
          class="text-primary hover:text-primary-hover cursor-pointer"
          phx-click={JS.push("recreate_previews")}
          data-confirm="Are you sure?"
        >
          Recreate all preview documents
        </button>
      </li>
      <li>
        <.link navigate={~p"/management/users"}>
          Manage users
        </.link>
      </li>
      <li>
        <.link navigate={~p"/management/settings"}>
          Settings
        </.link>
      </li>
    </ul>
    <div class="grow ">
      <div>Running processes</div>

      <%= if @processing_state == %{} do %>
        None
      <% else %>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 max-h-64 overflow-y-auto">
          <%= for {publication_id, processes} <- @processing_state do %>
            <.labeled_value>
              <:label>{publication_id}</:label>
              <%= for {process_type, progress} <- processes do %>
                <div class="flex gap-4">
                  <div>{process_type}</div>
                  <div class="w-96">
                    <%= if progress == nil do %>
                      <.icon
                        name="hero-cog-8-tooth-solid"
                        class="h-4 w-4 animate-spin-slow text-primary"
                      />
                    <% else %>
                      <.progress_bar
                        count={progress.counter}
                        max={progress.overall}
                      />
                    <% end %>
                  </div>
                </div>
              <% end %>
            </.labeled_value>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<.group_heading>Projects</.group_heading>
<%= if @projects != [] do %>
  <section class="grid lg:grid-cols-2 2xl:grid-cols-3">
    <%= for %{project: project, publications: publications, search_aliased_publication: search_aliased_publication} <- @projects do %>
      <.render_project
        project={project}
        publications={publications}
        user_info={@user_info}
        search_aliased_publication={search_aliased_publication}
        current_user={@current_user}
      />
    <% end %>
  </section>
<% else %>
  There are no projects or you are not added as an editor.
<% end %>

<.modal
  :if={@live_action in [:new_project, :edit_project]}
  id="project-modal"
  show
  on_cancel={JS.patch(~p"/management")}
>
  <%= if User.is_admin?(@current_user) do %>
    <.live_component
      module={FieldPublicationWeb.Management.Modals.ProjectFormComponent}
      id={@project.identifier || :new}
      title={@page_title}
      action={@live_action}
      project={@project}
    />
  <% else %>
    Admin only.
  <% end %>
</.modal>

<.modal
  :if={@live_action == :new_publication}
  id="publication-modal"
  show
  on_cancel={JS.patch(~p"/management")}
>
  <.live_component
    module={FieldPublicationWeb.Management.Modals.ReplicationFormComponent}
    id="publication_draft"
    action={:new}
    project_identifier={@project.identifier}
    patch={~p"/management"}
    current_user={@current_user}
  />
</.modal>
