/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

#import {
  padding: 0 !important;
  background-color: #eee;
}

#import .form-control {
  margin: 10px 0;
  padding: 0;
  background-color: inherit;
}

#import header {
  background-color: #eee;
  padding: 7px;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

#import header .mdi {
  display: inline-block;
  font-size: 1.1em;
  color: #fff;
  background-color: #294b83;
  padding: 10px 10px 10px 11px;
  margin-right: 5px;
}

#import header h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  background-color: #657faa;
}

#import main {
  padding: 7px;
}