/**
 * @author Jan G. Wieners
 * @author Thomas Kleinke
 */

#relation-picker {
  margin-bottom: 10px;

  .red-button {
    left: 24px;
    margin-bottom: 0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;

    .mdi {
      position: relative;
      bottom: 1px;
    }
  }

  .badge {
    background-color: #ccc;
    color: #333;
    font-weight: normal;
    border-radius: 1px;
  }

  .suggestion-container {
    position: absolute;
    left: 71px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #ccc;
    z-index: 100;
    cursor: default;
  }

  .suggestion {
    padding: 7px 25px 7px 25px;

    &.selected-suggestion {
      background-color: #e8e8e8;
    }
  }

  .btn-default,
  input {
    position: relative;
    left: 50px;
  }

  input {
    width: calc(100% - 50px);
  }
}