/**
 * @author Jan G. Wieners
 * @author Thomas Kleinke
 */

#relation-picker {
  height: 39px;

  .red-button {
    left: 13px;
    margin-bottom: 0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;

    .mdi {
      position: relative;
      bottom: 1px;
    }
  }

  .badge {
    position: relative;
    background-color: #ccc;
    color: #333;
    font-weight: normal;
    border-radius: 1px;

    &.no-targets-badge {
      font-style: italic;
    }
  }

  ng-select {
    position: relative;
    left: 50px;
    top: 2px;
    width: calc(100% - 50px);
  }

  .btn-default {
    position: relative;
    left: 35px;
    bottom: 2px;
  }
}