<div *ngFor="let relation of relations[relationDefinition.name]; let i = index">
    <relation-picker [resource]="resource"
                     [relationDefinition]="relationDefinition"
                     [relationIndex]="i"
                     (onTargetSelected)="onTargetSelected($event)"></relation-picker>
</div>

<div *ngIf="isPlusButtonAvailable()"
     #plusButton
     class="circular-button add-relation"
     [class.with-margin]="relations[relationDefinition.name]?.length > 0"
     type="button"
     (click)="createRelation()">+</div>
<div *ngIf="!isPlusButtonAvailable() && relations[relationDefinition.name]?.length > 1"
     class="relation-picker-group-space"></div>
