<div *ngIf="!disabled" id="relation-picker">
    <div *ngIf="!selectedTarget && availableTargets">
        <searchable-select [selectedValue]="selectedTarget?.resource.id"
                           [values]="getAvailableTargetIds()"
                           [getLabel]="getTargetLabel"
                           [initiallyOpened]="true"
                           (onValueSelected)="onTargetSelected($event)"
                           (onBlur)="onBlur()"
                           (onScrollToEnd)="loadNextChunk()"
                           (onSearchTermChanged)="search($event)"></searchable-select>
    </div>
    <div *ngIf="selectedTarget">
        <document-teaser [document]="selectedTarget" (click)="editTarget()"></document-teaser>
    </div>

    <div class="delete-relation small-circular-button red-button" (click)="deleteRelation()">
        <span class="mdi mdi-delete"></span>
    </div>
</div>
