<div *ngIf="!disabled">
    <div id="relation-picker">
        <div class="delete-relation small-circular-button red-button" (click)="deleteRelation()">
            <span class="mdi mdi-delete"></span>
        </div>

        <div *ngIf="!selectedTarget && availableTargets">
            <searchable-select [selectedValue]="selectedTarget?.resource.id"
                               [values]="getAvailableTargetIds()"
                               [getLabel]="getTargetLabel"
                               [initiallyOpened]="true"
                               (onValueSelected)="onTargetSelected($event)"
                               (onBlur)="onBlur()"></searchable-select>
        </div>
        <div *ngIf="selectedTarget">
            <button class="btn btn-default" type="button" (click)="editTarget()">
                <span class="badge">{{selectedTarget.resource.identifier}}</span>
            </button>
        </div>
    </div>
</div>
