<div *ngFor="let relation of relations[relationDefinition.name]; let i = index">
    <relation-picker [(resource)]="document.resource"
                     [relationDefinition]="relationDefinition"
                     [relationIndex]="i"></relation-picker>
</div>

<div class="circular-button add-relation"
     *ngIf="showPlusButton()"
     type="button"
     (click)="createRelation()">+</div>


<div class="circular-button add-relation-disabled"
     *ngIf="!showPlusButton()"
     type="button">+</div>