*.rb
logs
*.log
log.txt
test.html
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build
build/Release

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git

# PouchDB data directories
synctest*
_users/
pouch__all_dbs__/
proddb
remotedb

######

/.idea
.DS_Store
*iml
node_modules
dist
release
cache
typings
css
app/app.css
fonts
tools
app/app.css
app/**/*.js
app/**/*.js.map
config/Scripts/**/*.js.map
config/Scripts/**/*.js
app/messages.xlf
config.json
idai-field-documents
_replicator
idai-field-documents-test
test/LOCK
test/LOG
test/CURRENT
test/MANIFEST*
testdb
