version: b{build}

os: unstable

platform:
  - x64

environment:
  nodejs_version: "7"

cache:
  - node_modules
  - '%APPDATA%\npm-cache'
  - '%USERPROFILE%\.electron'

init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

build_script:
  - npm run build
  - npm run package-win

artifacts:
  - path: release/*.exe
    name: installer

deploy:
  provider: GitHub
  auth_token:
    secure: 3aQM4eQwpFvNNftJYWFOsF7jAl6svWY1xjFSxUR0npeVJl65TLmiTgrjw0iU5xtU
  artifact: installer
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true

notifications:
  - provider: Slack
    auth_token:
      secure: 8igb/45j7jFO/0zlLOXgvxk6AQzx68GVkMrY17G8sDhMXkofJ3jnqF6qT204DLdI7RrL5rNUt9WspyagZrzL/Gt3SVaenCd6xx7S8VQz/sk=
    channel: '#builds'
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: true
