/**
 * @author Thomas Kleinke
 */

#mesh-options-menu-button,
#mesh-options-menu {
  position: absolute;
  z-index: 1000;
  border: none;
  border-radius: 0;
}

#mesh-options-menu-button {
  top: 15px;
  right: 65px;
}

#mesh-options-menu {
  top: 54px;
  right: 65px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  cursor: default;
  user-select: none;

  #smooth-shading-check-input {
    margin-bottom: 0;
  }

  .form-check-input {
    position: relative;
    left: 20px;
    bottom: 1px
  }
}