/**
 * @author Thomas Kleinke
 */

#object-3d-viewer-container {
  width: 100%;
  overflow: hidden;
  cursor: -webkit-grab;

  &.drag {
    cursor: -webkit-grabbing;
  }

  &.rotate {
    cursor: none;
  }

  mesh-loading-progress-bar {
    position: absolute;
    top: 40px;
    left: 40px;
  }
}

#toggle-texture-button {
  position: absolute;
  z-index: 1000;
  right: 65px;
  top: 15px;
}

#focus-button {
  position: absolute;
  z-index: 1000;
  right: 15px;
  top: 15px;
}