<div id="object-3d-viewer-container" #container
     [class.drag]="isCurrentAction('drag')"
     [class.rotate]="isCurrentAction('rotate')"
     (mousedown)="onMouseDown($event)"
     (mouseup)="onMouseUp($event)"
     (mousemove)="onMouseMove($event)"
     (wheel)="onWheel($event)"
     (contextmenu)="$event.preventDefault()">
</div>

<div id="toggle-texture-button" class="btn btn-light" (click)="toggleTexture()">
    <span *ngIf="!textured" class="mdi mdi-cube-outline"></span>
    <span *ngIf="textured" class="mdi mdi-cube"></span>
</div>