/**
 * @author Thomas Kleinke
 */

#object-3d-viewer-container {
  width: 100%;
  height: calc(100vh - 57px);
  overflow: hidden;
  cursor: -webkit-grab;

  &.drag {
    cursor: -webkit-grabbing;
  }

  &.rotate {
    cursor: none;
  }

}