<div id="view-3d" class="row">
    <div *ngIf="document" class="col-md-9 px-0">
        <model-3d-viewer [document]="document"></model-3d-viewer>
    </div>

    <div *ngIf="document" class="col-md-3 px-0 document-info">
        <document-view [document]="document"
                       (onDeselect)="deselect()"
                       (onSolveConflicts)="startEdit('conflicts')">
            <ngb-tabset activeId="document-view-{{activeTab}}-tab">
                <ngb-tab id="document-view-fields-tab">
                    <ng-template ngbTabTitle>
                        <span class="mdi mdi-format-list-bulleted"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <button class="btn btn-link"
                                id="document-view-button-edit-document"
                                (click)="startEdit()">
                            <span class="mdi mdi-pencil"></span>
                        </button>

                        <description-view [document]="document"></description-view>
                        <fields-view [resource]="document.resource"></fields-view>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="document-view-relations-tab">
                    <ng-template ngbTabTitle>
                        <span class="mdi mdi-sitemap" [class.empty-tab]="!hasRelations()"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <button class="btn btn-link"
                                id="document-view-button-edit-document"
                                (click)="startEdit('relations')">
                            <span class="mdi mdi-pencil"></span>
                        </button>

                        <div *ngIf="!hasRelations()" class="empty-tab-info">Keine Relationen vorhanden.</div>
                        <relations-view *ngIf="hasRelations()" [resource]="document.resource"
                                        (onRelationTargetClicked)="jumpToRelationTarget($event)">
                        </relations-view>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </document-view>
    </div>
</div>


