img#about-logo {
  max-width: 45%;
  height: auto;
  margin: 0 auto 20px auto;
}

.centered {
  text-align: center;
}

#thirdparty {
  padding: 15px;
}

#thirdparty ul {
  margin-left: 25px;
}

#thirdparty ul li {
  list-style-type: square;
}

p#about-version {
  text-align: center;
  margin-top: 10px;
}

#header-block {
  margin-bottom: 20px;
  background-color: $navbar-default-bg;
  height: 38px;
  padding: 5px;
}
h4#about-heading {
  color: $navbar-default-color;
  position: absolute;
  font-weight: lighter;
  padding: 3px;
}