<div class="dating-component">
    <div class="input-group">
        <label *ngIf="showEndElements()">
            <span i18n="@@docedit.forms.dropdownRange.from">von</span>
        </label>


        <!-- the following block is duplicated for
        the reason that this way we can retrigger setValue() again and again,
        even when no change occurred. we use this to return to the mode
        where only period is used
        -->
        <select *ngIf="showEndElements()"
                [(ngModel)]="resource[field.name] && resource[field.name]['value']" (change)="setValue($event.target.value)"
                class="form-control">
            <option value="" [selected]="!resource.hasOwnProperty(field.name)"></option>
            <option *ngFor="let item of getValues()" value="{{item}}">{{getLabel(item)}}</option>
        </select>
        <select *ngIf="!showEndElements()"
                [(ngModel)]="resource[field.name] && resource[field.name]['value']" (change)="setValue($event.target.value)"
                class="form-control">
            <option value="" [selected]="!resource.hasOwnProperty(field.name)"></option>
            <option *ngFor="let item of getValues()" value="{{item}}">{{getLabel(item)}}</option>
        </select>
        <!-- end -->


        <label *ngIf="showEndElements()" class="dropdown-range-end-label">
            <span i18n="@@docedit.forms.dropdownRange.to">bis</span>
        </label>
        <select *ngIf="showEndElements()"
                [disabled]="!resource[field.name] || !resource[field.name]['value'] || resource[field.name]['value'] === ''"
                [(ngModel)]="resource[field.name]['endValue']" (change)="setEndValue($event.target.value)"
                class="form-control">
            <option value="" [selected]="!resource.hasOwnProperty(field.name)"></option>
            <option *ngFor="let item of getValues()" value="{{item}}">{{getLabel(item)}}</option>
        </select>
        <button *ngIf="!showEndElements()"
                ngbTooltip="Start- und Endzeitraum angeben"
                i18n-ngbTooltip="@@docedit.forms.dropdownRange.tooltip"
                placement="left"
                class="btn btn-outline-primary"
                type="button"
                (click)="activateEnd()">
            <span class="mdi mdi-arrow-expand-horizontal"></span>
        </button>
    </div>
</div>