button#close-btn {
  -webkit-app-region: no-drag;
}

img#about-logo {
  max-width: 45%;
  height: auto;
  margin: 0 auto 20px auto;
}

#close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0;
  color: $ctrl-button-text-color;
  background-color: $ctrl-button-bg;
  border-color: $ctrl-button-bg;
}

#close-btn:hover,
#close-btn:focus {
  color: $ctrl-button-text-color;
  background-color: $ctrl-button-close;
  border-color: $ctrl-button-close;
}

p#about-version {
  text-align: center;
  margin-top: 10px;
}

#header-block {
  margin-bottom: 20px;
  background-color: $navbar-default-bg;
  height: 38px;
  padding: 5px;
}
h4#about-heading {
  color: $navbar-default-color;
  position: absolute;
  font-weight: lighter;
  padding: 3px;
}