/**
 * @author Jan G. Wieners
 * @author Thomas Kleinke
 */

relation-picker-group {
  display: block;
  width: 100%;

  .disabled-info {
    font-size: 14px;
    font-style: italic;
    user-select: none;
  }
}
