<ul class="list-group list-group-flush"
    cdkDropList [cdkDropListData]="selectedLanguages"
    (cdkDropListDropped)="onDrop($event)">
    <li *ngFor="let language of selectedLanguages; let i = index"
        class="list-group-item"
        [class.list-group-item-primary]="languages[language].isMainLanguage"
        cdkDrag cdkDragLockAxis="y"
        cdkDragBoundary=".list-group"
        [cdkDragData]="language">
        <div cdkDragHandle [class.large-drag-handle]="languages[language].isMainLanguage">
            <span class="priority">{{i + 1}}. </span>
            <span class="language-label">{{languages[language].label}} ({{language}})</span>
        </div>
        <div *ngIf="!languages[language].isMainLanguage"
             class="btn btn-light remove-language"
             (click)="removeLanguage(language)"
             ngbTooltip="Sprache entfernen"
             i18n-ngbTooltip="@@settings.removeLanguage">
            <span class="mdi mdi-delete"></span>
        </div>
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
    </li>
</ul>

<div class="btn btn-block btn-secondary"
     i18n="@@settings.addLanguage"
     (click)="addLanguage()">Sprache hinzufügen</div>
