<ul class="list-group list-group-flush"
    cdkDropList [cdkDropListData]="selectedLanguages"
    (cdkDropListDropped)="onDrop($event)">
    <li *ngFor="let language of selectedLanguages; let i = index"
        class="list-group-item"
        cdkDrag [cdkDragData]="language">
        <span class="priority">{{i + 1}}.</span> {{getLabel(language)}}
        <div *ngIf="!isMainLanguage(language)" class="btn btn-danger remove-language"
             (click)="removeLanguage(language)"><span class="mdi mdi-delete"></span></div>
    </li>
    <div class="btn btn-block btn-secondary"
         i18n="@@settings.addLanguage"
         (click)="addLanguage()">Sprache hinzufügen</div>
</ul>
