workflow-step-state {
  .mdi {
    font-size: 25px;

    &.mdi-calendar-month {
      color: #454545;
    }

    &.mdi-dots-horizontal-circle {
      color: $primary-button-color;
    }

    &.mdi-check-circle {
      color: $green-button-color;
    }

    &.mdi-close-circle {
      color: #dc3545;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    .dropdown-item {
      font-size: 14px;
      cursor: default;

      .mdi {
        font-size: 19px;
      }

      .state-label {
        position: relative;
        bottom: 2px;
        left: 5px;
      }
    }
  }
}
