/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

#export {

  padding: 0 !important;

  header {
    padding: 8px;
    position: fixed;
    width: 100%;
    z-index: 1001;
    margin-left: -15px;
    top: 57px;
    height: 58px;
  }

  header button {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  main {
    padding: 7px;
    margin-top: 50px;
  }

  .spinner {
    position: relative;
    top: 15px;
    left: 5px;
  }

}