<div id="export">

    <header class="bg-light">
        <button *ngIf="!running" id="exportStartButton"
                class="btn btn-primary"
                [ngClass]="{ 'disabled': running }"
                (click)="running || startExport()">
            <span class="mdi mdi-file-export" style="color: white"></span>
            Export starten
        </button>
    </header>

    <main>
        <div class="form-group row">

            <div class="col-lg-6 mx-lg-auto">

                <div class="form-group">

                    <label class="control-label col-form-label"
                           for="exportFormatSelect">Format</label>
                    <select id="exportFormatSelect" class="form-control"
                            [(ngModel)]="format"
                            [class.disabled]="running">
                        <option value="native">iDAI.field</option>
                    </select>

                </div>

                <div style="display: inline-block;" *ngIf="running" class="spinner"></div>

            </div>
        </div>
    </main>
</div>
