<div class="modal-header">
    <h5 class="modal-title" i18n="@@navbar.projects.manageProject">Projekte verwalten</h5>
</div>

<div class="modal-body projects-modal" #projectsModalBody>
    <div class="row">
        <div class="col-md-6 project-select">
            <select id="projectSelectBox" class="form-control" [value]="selectedProject"
                    (change)="selectProject($event.srcElement.value)">
                <option *ngFor="let project of getProjects()" [ngValue]="project">
                    {{project}}
                </option>
            </select>
        </div>

        <div class="col-md-6">
            <div id="edit-project-button" class="circular-button"
                 (click)="editProject()">
                <span class="mdi mdi-pencil mdi-18px"></span>
            </div>

            <div id="delete-project-button" class="circular-button red-button"
                 [ngbPopover]="deleteProjectMenu" #deletePopover="ngbPopover"
                 triggers="manual" [placement]="'bottom'" [autoClose]="false"
                 (click)="openMenu(deletePopover)">
                <span class="delete-sign mdi mdi-delete mdi-18px"></span>
            </div>

            <div id="new-project-button" class="circular-button category-button" [ngbPopover]="newProjectMenu"
                 #createPopover="ngbPopover" triggers="manual" [placement]="'bottom'"
                 [autoClose]="false" (click)="openMenu(createPopover)">
                <category-icon [category]="'Project'" size="41"></category-icon>
                <div class="plus-sign-circle">
                    <span class="plus-sign mdi mdi-plus mdi-18px"></span>
                </div>
            </div>
        </div>
    </div>

    <ng-template #newProjectMenu>
        <div id="new-project-menu">
            <div class="popover-custom-title" i18n="@@navbar.projects.newProject.enterName">
                Bitte geben Sie den Namen des neuen Projekts ein.
            </div>
            <div class="input-group">
                <input id="new-project-input" type="text" class="project-name-input form-control"
                       [(ngModel)]="newProject" (keydown)="$event.key !== 'Enter' || createProject()"/>
                <button class="project-option-ok btn btn-primary" (click)="createProject()">
                    <span i18n="@@buttons.ok">OK</span>
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template #deleteProjectMenu>
        <div id="delete-project-menu">
            <div class="popover-custom-title" i18n="@@navbar.projects.deleteProject.enterName">
                Bitte bestätigen Sie den Namen des ausgewählten Projekts, um es zu löschen.
            </div>
            <div class="input-group">
                <input id="delete-project-input" type="text" class="project-name-input form-control"
                       [(ngModel)]="projectToDelete" (keydown)="$event.key !== 'Enter' || deleteProject()"/>
                <button class="project-option-ok btn btn-primary" (click)="deleteProject()">
                    <span i18n="@@buttons.ok">OK</span>
                </button>
            </div>
        </div>
    </ng-template>
</div>

<div class="modal-footer">
    <div id="close-projects-modal-button" type="button" class="btn btn-secondary"
            (click)="activeModal.close()">
        <span i18n="@@buttons.close">Schließen</span>
    </div>
</div>
