<div id="taskbar-conflicts-container" *ngIf="conflicts.length">
    <ng-template #popContent>
        <ul class="list-group conflicts-popover-content">
            <li *ngFor="let document of conflicts" class="list-group-item"
                [id]="'taskbar-conflict-' + document.resource.identifier"
                (click)="openConflictResolver(document)">
                <document-teaser [document]="document"></document-teaser>
            </li>
        </ul>
    </ng-template>

    <a id="taskbar-conflicts-button"
       [ngbPopover]="popContent" [autoClose]="false"
       popoverTitle="Konflikte" i18n-popoverTitle="@@navbar.taskbar.conflicts"
       #popover="ngbPopover" placement="bottom" container="body" popoverClass="conflicts-popover"
       triggers="manual" (click)="togglePopover()">
        <span id="taskbar-conflicts-button-icon" class="mdi mdi-alert-outline"></span>
        <span id="taskbar-conflicts-button-pill" class="badge-pill badge-danger taskbar-badge">
            {{conflicts.length}}
        </span>
    </a>
</div>
