<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">iDAI.field 2.0</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <span class="navbar-text navbar-right">
                <span id="connection-icon"
                    [class.connected] = "idaiFieldBackend.isConnected()"
                    [class.unconnected] = "!idaiFieldBackend.isConnected()"></span>
                <div id="connection-info">
                    <span *ngIf="idaiFieldBackend.isConnected()">Online</span>
                    <span *ngIf="!idaiFieldBackend.isConnected()">Offline</span>
                </div>
            </span>
            <!-- Show Notifications -->
        </div>
    </div>
</nav>

<div class="container-fluid" id="app">

    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>