<div class="row">
    <div class="col-md-3">

        <ul *ngIf="objects" class="list-group" id="objectList">
            <li *ngFor="#object of objects"
                [class.selected]="selectedObject && (selectedObject._id === object._id)"
                (click)="onSelect(object)" class="list-group-item">
                <div class="title">{{object.title}}</div>
                <div class="identifier">{{object._id}}</div>
                <div class="status"
                     [class.synced]="object.synced"
                     [class.unsynced]="!object.synced"
                >&#10003;</div>
            </li>
        </ul>
        <div class="btn-group" role="group">
            <button (click)="sync()" class="btn btn-small btn-default">Elastic Sync</button>
            <button (click)="fakeSync()" class="btn btn-small btn-default">Fake Sync</button>
        </div>
    </div>

    <div class="col-md-9">
        <div *ngIf="selectedObject">
            <div class="selectedObject">

                <input [(ngModel)]="selectedObject.title">
                <div class="identifier">{{selectedObject._id}}</div>
               <div><button (click)="save(selectedObject)" class="btn btn-small btn-default">Save</button></div>
            </div>
        </div>
    </div>
</div>

