<div class="row">
    <div class="col-md-3">

        <input (keyup)="onKey($event)" class="form-control">

        <ul *ngIf="objects" class="list-group" id="objectList">
            <li *ngFor="#object of objects"
                [class.selected]="selectedObject && (selectedObject.identifier === object.identifier)"
                (click)="onSelect(object)" class="list-group-item">
                <div class="title">{{object.title}}</div>
                <div class="identifier">{{object.identifier}}</div>
                <div class="status"
                     [class.synced]="object.synced"
                     [class.unsynced]="!object.synced"
                ></div>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <object-edit [selectedObject]="selectedObject"></object-edit>
    </div>
</div>

