<div id="syncprogress"
    [class.active] = "connected && objectsToSyncIds.length > 0"></div>

<div id="objectsToSyncCount"
     [class.connected] = "connected && objectsToSyncIds.length === 0"
     [class.unconnected] = "!connected || objectsToSyncIds.length > 0">
    <div id="syncCounter"
         *ngIf="objectsToSyncIds.length > 0">
        <span id="syncSymbol" class="mdi mdi-cloud-upload"></span>
        {{objectsToSyncIds.length}}
    </div>

    <div
        *ngIf="connected && objectsToSyncIds.length === 0">
        <span id="success" class="mdi mdi-check"></span>
    </div>
</div>