img {
  width: 120px;
  height: 120px;
  -webkit-user-drag: none;
  margin-top: 40px;
}

body {
  background-color: #fff;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

p#brand {
  text-align: center;
  margin-top: 25px;
  font-family: Helvetica;
  font-weight: bold;
  user-select: none;
}

p#about-version {
  text-align: center;
  font-family: Helvetica;
  font-size: 14px;
  user-select: none;
}

#close-button {
  position: relative;
  top: 15px;
  background-color: #727b84;
  border: none;
  border-radius: 2rem;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 12px;
  height: 38px;
  outline: none;
  transition: background-color 0.15s ease-in-out;
}

#close-button:hover {
  background-color: #8d959c;
}

#close-button:active {
  background-color: #545b62;
}
