img {
  width: 120px;
  height: 120px;
  -webkit-user-drag: none;
  margin-top: 40px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
}

p#brand {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

p#about-version {
  text-align: center;
  font-size: 14px;
}

#close-button {
  background-color: rgb(114, 123, 132);
  border: 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 12px;
  height: 38px;
  outline: none;
}
