<div id="list">
    <div *ngIf="typesMap">
        <div id="list-header">
            <div i18n="@@resources.list.headers.type">Typ</div>
            <div i18n="@@resources.list.headers.identifier">Bezeichner</div>
            <div i18n="@@resources.list.headers.shortDescription">Kurzbeschreibung</div>
            <div></div>
            <div id="header-placeholder"></div>
        </div>
        <div id="list-body">
            <div class="row-grid">
                <div *ngFor="let document of documents">
                    <row [document]="document" [typesMap]="typesMap"></row>
                </div>
                <li *ngIf="isDocumentLimitExceeded()" id="document-limit-info"
                    i18n="@@resources.list.resourceLimitInfo">
                    Es werden die ersten {{viewFacade.getDocuments().length}} von
                    {{viewFacade.getTotalDocumentCount()}} Ressourcen angezeigt. Schränken Sie die Suche
                    weiter ein oder wechseln Sie in die Hierarchie-Ansicht, um auf die übrigen Ressourcen
                    zuzugreifen.
                </li>
            </div>
        </div>
    </div>
</div>
<div id="list-background" class="bg-light">
    <plus-button *ngIf="isPlusButtonShown()"
                 id="create-document-button" [placement]="'top'" [preselectedGeometryType]="'none'"
                 [preselectedType]="getCurrentFilterType()"
                 [liesWithin]="getSelectedSegmentDoc()"
                 [isRecordedIn]="viewFacade.getSelectedOperations()[0]"
                 [skipFormAndReturnNewDocument]="true"
                 [status]="getPlusButtonStatus()"
                 (documentRequested)="createNewDocument($event)"></plus-button>
    <loading-icon></loading-icon>
</div>