<style>
    .row-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
        grid-gap: 0px;
        color: #444;
    }

    .row-wrapper > div{
        background-color: white;
        padding: 2px;
        border: solid 1px #bbb;
    }
</style>

<div id="{{document.resource.id ? 'resource-' + document.resource.identifier : 'new-resource'}}"
     (dblclick)="resourcesComponent.editDocument(document)" class="row-wrapper">
    <div>
        <span [class.text-info]="!document.resource.id">
            {{typesMap[document.resource.type].label}}
       </span>

        <button class="btn-small btn-link float-right align-middle" style="padding:0"
                (click)="moveInto(document)">
            <span class="mdi mdi-arrow-right-drop-circle mdi-18px float-right"></span>
        </button>

    </div>
    <div>
        <input [(ngModel)]="document.resource.identifier" (focus)="startEditing(document.resource.identifier)"
               (blur)="stopEditing(document, document.resource.identifier)"
               (keyup)="onKeyup($event, document, document.resource.identifier)"
               (dblclick)="$event.stopPropagation();" class="form-control form-control-sm identifier-input">

    </div>
    <div>
        <input *ngIf="document.resource.id" [(ngModel)]="document.resource.shortDescription"
               (focus)="startEditing(document.resource.shortDescription)"
               (blur)="stopEditing(document, document.resource.shortDescription)"
               (keyup)="onKeyup($event, document, document.resource.shortDescription)"
               (dblclick)="$event.stopPropagation();"
               class="form-control form-control-sm">
    </div>
    <div>
        <button class="btn-small btn-link float-right align-middle" style="padding:0"
                (click)="resourcesComponent.editDocument(document)">
            <span class="mdi mdi-pencil mdi-18px"></span>
        </button>
    </div>
</div>