<div *ngIf="listComponent.showRow(docRef)"
        id="{{docRef.doc.resource.id ? 'resource-'+docRef.doc.resource.identifier : 'new-resource'}}" (dblclick)="resourcesComponent.editDocument(docRef.doc)"
        class="row py-3 list-row" [class.bg-light]="depth == 0"
        [class.no-search-result]="!listComponent.documentsInclude(docRef.doc)">
    <div class="col-md-3 list-row-left" [style.padding-left]="(1+depth*2) + 'rem'"
         [class.font-weight-bold]="depth == 0">
        <div class="plus-button-wrapper">
            <plus-button *ngIf="docRef.doc.resource.id"
                         [isRecordedIn]="resourcesComponent.getIsRecordedInTarget()" 
                         [liesWithin]="docRef.doc"
                         [preselectedGeometryType]="'none'"
                         (dblclick)="$event.stopPropagation();"
                         [skipFormAndReturnNewDocument]="true"
                         (documentRequested)="listComponent.createNewDocument($event)"></plus-button>
        </div>

        <span class="list-type-label" [class.text-info]="!docRef.doc.resource.id">{{typesMap[docRef.doc.resource.type].label}}</span><br>
        <span *ngIf="docRef.children.length > 0"
                (click)="listComponent.toggleChildrenForId(docRef.doc.resource.id)"
                class="btn btn-sm btn-link p-0">
             <span class="mdi h5" [class.mdi-chevron-down]="!listComponent.childrenHiddenFor(docRef.doc.resource.id)"
                   [class.mdi-chevron-right]="listComponent.childrenHiddenFor(docRef.doc.resource.id)"></span>
        </span>
        <small class="text-muted" *ngIf="docRef.children.length > 0">
            {{docRef.children.length}}
        </small>

    </div>
    <div class="col-md-3">
        <input [(ngModel)]="docRef.doc.resource.identifier" (blur)="save(docRef.doc)" (keyup)="markAsChanged($event)"
               (dblclick)="$event.stopPropagation();" class="form-control form-control-sm identifier-input">

    </div>
    <div class="col-md-4">
        <input [(ngModel)]="docRef.doc.resource.shortDescription" (blur)="save(docRef.doc)" *ngIf="docRef.doc.resource.id"
               (keyup)="markAsChanged($event)" (dblclick)="$event.stopPropagation();" class="form-control form-control-sm">
    </div>
    <div class="col-md-2">
        
        <small>
            <button (click)="resourcesComponent.editDocument(docRef.doc)" class="btn btn-sm btn-link">
                Bearbeiten
            </button>
        </small>
    </div>
</div>

<div *ngFor="let childDoc of docRef['children']"
     [hidden]="listComponent.childrenHiddenFor(docRef.doc.resource.id)">
    <row [docRef]="childDoc" [depth]=depth+1 [typesMap]="typesMap"></row>
</div>