.row-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr 9fr 1fr;
  grid-gap: 1px;
  color: #444;

  div {
    background-color: white;

    div {
      position: relative;
      top: 2px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .label-field {
    padding: 6px 5px 0 10px;
  }

  .input-field {
    padding: 4px 5px 0 2px;
  }

  .hierarchy-button {
    position: relative;
    top: -2px;
    right: -1px;
    padding: 2px 2px 2px 4px;
    width: 44px;
    color: #868e96;
    background-color: #fff;
    cursor: pointer;

    &:not(:hover) {
      padding-left: 0;
      padding-right: 0;

      .mdi {
        display: none;
      }
    }

    &:hover {
      color: darken(#868e96, 5%);
      background-color: darken($list-item-hover-color, 5%);

      .badge {
        display: none;
      }
    }
  }

  .list-edit-button {
    cursor: pointer;
  }

  input {
    position: relative;
    top: 1px;
    border: 0;
  }
}