.row-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr 9fr 130px;
  grid-gap: 1px;
  color: #444;

  div {
    background-color: white;

    div {
      position: relative;
      top: 2px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .label-field {
    padding: 6px 5px 0 10px;
  }

  .input-field {
    padding: 4px 5px 0 2px;
  }

  .hierarchy-button {
    position: relative;
    top: -2px;
    right: -1px;
    padding: 2px 2px 2px 4px;
    width: 44px;
    height: 33px;
    color: #868e96;
    background-color: #fff;

    &:hover {
      color: darken(#868e96, 5%);
      background-color: darken($list-item-hover-color, 5%);
    }

    &.move-into-button {
      .badge {
        background-color: #8b96a0;
      }

      &:not(:hover) {
        padding-left: 0;
        padding-right: 0;

        .mdi.show-only-on-hover {
          display: none;
        }
      }

      &:hover {
        .badge {
          display: none;
        }
      }
    }

    &.jump-to-view-button {
      .mdi {
        position: relative;
        right: 1px;
      }
    }
  }

  input {
    position: relative;
    top: 1px;
    border: 0;
  }

  .mdi-delete {
    color: #dc3545;
  }
}