.list-row {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px !important;
}

.list-row-left {
  user-select: none;
  cursor: default;

  .plus-button-wrapper {
    margin-top: -8px;
    display: inline-block;
    width: 24px;
    float: right;
  }
}

.row-wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr 2fr 1fr;
   grid-gap: 0px;
   color: #444;
 }

.row-wrapper > div{
  background-color: white;
  padding: 2px;
  border: solid 1px #bbb;
}