<div class="modal-body" i18n="@@mediaOverview.removeLinkModal.info">
    Bei den ausgewählten Medienressourcen werden sämtliche Verknüpfungen zu anderen Ressourcen entfernt.
</div>

<div class="modal-footer">
    <button type="button" id="remove-link-confirm" class="btn btn-danger" (click)="activeModal.close('close')">
        <span i18n="@@mediaOverview.removeLinkModal.removeLinks">Verknüpfungen löschen</span>
    </button>
    <button type="button" id="remove-link-cancel" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>