<div *ngIf="field" class="preview">
    <div id="preview-header">
        <span class="preview-item-title">
            <b>{{label}}</b>
            <code>{{field.name}}</code>
        </span>
    </div>
    <div id="preview-body">
        <div *ngIf="description" class="preview-section">
            <b i18n="@@configuration.descriptionHeading">Beschreibung:</b>
            <div class="preview-text">{{description}}</div>
        </div>

        <div *ngIf="field.references?.length || field.semanticReferences?.length" class="preview-section">
            <references-info [references]="field.references"
                             [semanticReferences]="field.semanticReferences"
                             [context]="'configuration'"></references-info>
        </div>

        <div class="preview-section">
            <b i18n="@@configuration.field.inputType">Eingabetyp</b>:
            <div class="preview-text">{{getInputTypeLabel()}}</div>
        </div>

        <div *ngIf="field.valuelist">
            <b i18n="@@configuration.valuesHeading">Werte:</b>
            <valuelist-view [valuelist]="field.valuelist"
                            [showDescription]="false"
                            [largeList]="true"></valuelist-view>
        </div>
    </div>
</div>
