<ul class="bg-light listing">
    <li *ngFor="let field of fields"
        [id]="'select-field-' + field.name"
        [class.selected]="selectedField === field"
        (click)="select(field)">
        <span class="item-label">{{getLabel(field)}}</span>
        <code>{{field.name}}</code>
        <span *ngIf="getSearchResultLabel(field)"
                class="search-result-label"> ({{getSearchResultLabel(field)}})</span>
    </li>
    <li *ngIf="isNewFieldOptionShown()"
        id="new-field-button"
        class="new-entry-button btn btn-success"
        (click)="select(emptyField)">
        <span class="mdi mdi-plus-circle"></span>
        <div i18n="@@configuration.newField">Neues Feld <code>{{emptyField.name}}</code> erstellen</div>        
    </li>
</ul>
