$activated-color: #868e96;
$button-width: 24px;


.sidebar-list-button-group {
  height: $item-height;
  color: gray;
  display: flex;

  .btn {
    border: 0;
    border-radius: 0;
    color: $activated-color;
  }

  .info-button,
  .hierarchy-button {
    width: $button-width;
    height: $item-height;
    padding-left: 0;
    padding-right: 0;
    padding-top: 17px;

    &:hover {
      color: darken($activated-color, 10%);
      background-color: darken($list-item-hover-color, 5%);
      transition: background-color .2s ease;
    }
  }

  .info-button {
    display: none;

    &.sidebar-list-button-group-active-button {
      display: block !important;
    }
  }

  .btn:active,
  .sidebar-list-button-group-active-button {
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .sidebar-list-button-group-active-button {
    background-color: $list-item-hover-color;
  }
}

#sidebar .resources-listing-item:hover .info-button {
  display: block;
}
