$activated-color: #868e96;
$button-width: 24px;

.sidebar-list-button-group {
  height: $item-height;
  color: gray;
  display: flex;

  .btn {
    border: 0;
    border-radius: 0;
    color: $activated-color;
    width: $button-width;
    height: $item-height;
    padding-left: 0;
    padding-right: 0;
    padding-top: 17px;

    &:hover,
    &:active {
      color: darken($activated-color, 10%);
      background-color: darken($list-item-hover-color, 5%) !important;
      transition: background-color .2s ease;
    }
  }
}
