@use 'sass:color';
@use '../../variables' as *;

$activated-color: #868e96;
$button-width: 24px;

.sidebar-list-button-group {
  height: $item-height;
  color: gray;
  display: flex;

  .btn {
    border: 0;
    border-radius: 0;
    color: $activated-color;
    width: $button-width;
    height: $item-height;
    padding-left: 0;
    padding-right: 0;
    padding-top: 17px;
    transition: background-color .25s ease;

    span {
      transition: color .25s ease;
    }

    &:hover,
    &:focus,
    &:active {
      span {
        color: $activated-color !important;
      }
    }

    &:hover {
      background-color: color.adjust($list-item-hover-color, $lightness: -5%) !important;

      .arrow-deactivated {
        color: color.adjust(lightgray, $lightness: -20%) !important;
      }
    }

    &:active {
      background-color: color.adjust($list-item-hover-color, $lightness: -10%) !important;

      .arrow-deactivated {
        color: color.adjust(lightgray, $lightness: -25%) !important;
      }
    }
  }
}
