#popover-menu {
  background-color: $popover-bg-color;
  position: absolute;
  left: $resources-listing-item-wide-width;
  height: 100%;
  width: $teaser-width;
  z-index: 1009;
  overflow: hidden;

  #info-header {
    position: relative;
    left: 30px;
    width: 176px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  ul {
    padding: 0;
  }

  .popover-menu-header,
  .document-info-header {
    height: 40px;
    padding: 11px;
    background-color: $popover-header-bg-color;
    border-bottom: 1px solid #ced4da;
    text-align: center;
    font-size: 14px;
    user-select: none;
    cursor: default;

    button {
      &:hover {
        background-color: $popover-header-hover-bg-color;
      }

      &.active {
        background-color: darken($popover-header-hover-bg-color, 10%);
      }

      .mdi {
        color: #000;
      }
    }
  }
}