<div class="modal-body" id="image-upload-modal">
    <div class="image-upload-modal-container">
        <div class="spinner"></div>
        <div class="upload-info">
            <span *ngIf="uploadStatus.getTotalImages() == 1">
                Bild wird eingelesen...
            </span>
            <span *ngIf="uploadStatus.getTotalImages() > 1">
                {{uploadStatus.getHandledImages()}} / {{uploadStatus.getTotalImages()}} Bilder eingelesen...
            </span>
        </div>
    </div>
</div>