.default-nav {
  position: relative;
  z-index: 1001;
  border-bottom: 1px solid $gray-200;
  height: 50px;
  padding-top: 5px;
}

.default-container {
  height: calc(100vh - 95px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
