.add-relation {
  display: block;
  width: 35px;
  height: 35px;
  position: relative !important;
  user-select: none;
  scroll-margin: 10px;
  background-color: white;
  transition: none !important;

  &.with-margin {
    margin-top: 5px;
  }

  .mdi {
    position: relative;
    bottom: 4px;
    font-size: 20px;
    color: black;
    transition: none !important;
  }

  &:hover {
    background-color: $green-button-color;

    .mdi {
      color: white;
    }
  }
}

.relation-picker {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 2px;

  &.has-target:not(.editing) {
    margin-bottom: 12px;
  }

  &.has-target.editing {
    margin-bottom: 16px;
  }

  .red-button {
    top: 50%;
    right: 0;
    transform: translateY(calc(-50% - 1px));
    margin-bottom: 0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;

    .mdi {
      position: relative;
      bottom: 1px;
    }
  }

  document-teaser {
    display: block;
    width: calc(100% - 40px);
  }

  .delete-relation {
    margin-top: 1px !important;
    padding-top: 5px !important;
  }
}
