//
// Variables
// --------------------------------------------------

$list-item-hover-color: #ededed;

$primary: #37588e !default;
$primary-button-color: #5572a1;

$item-height: 58px;
$item-padding-top: 8px;
$item-horizontal-padding: 9px;
$font-size-bigger: 14px;
$font-size-smaller: 12px;
$font-size-even-smaller: 10px;

$modal-header-background-color: #e7e7e7;
$modal-header-font-color: #424242;

$custom-highlight-color: #e5effd;

//== Media queries breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
) !default;

//== Navbar
$navbar-default-color:       #333 !default;
$navbar-default-bg:          #ccc !default;
$navbar-default-border:      transparent !default;
$navbar-dark-color:          #333 !default;

$brand-primary:           #37588e !default;

$border-radius: 2rem !default;
$dropdown-border-radius: .25rem !default;

// Windows Ctrl Buttons
$ctrl-button-close:               #d9534f;
$ctrl-button-text-color:          #f2f2f2;
$ctrl-button-bg:                  rgba(85, 114, 161, 0);

// Sidebar & Popover
$sidebar-bg-color: #f8f9fa;
$popover-bg-color: transparentize($sidebar-bg-color, 0.08);
$popover-header-bg-color: darken($popover-bg-color, 5%);
$popover-header-hover-bg-color: darken($popover-header-bg-color, 3%);
$resources-listing-item-wide-width: 300px;
$resources-listing-item-slim-width: 258px;

$navbar-height: 48px;
$toolbar-height: 49px;
