.grid-item-icon {
    .image-container {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 25px;

        &:nth-of-type(1) {
            z-index: 4;
            left: 26px;
            bottom: 26px;
        }

        &:nth-of-type(2) {
            z-index: 3;
            left: 42px;
            bottom: 42px;
        }

        &:nth-of-type(3) {
            z-index: 2;
            left: 10px;
            bottom: 10px;
        }

        &:nth-of-type(4) {
            z-index: 1;
            left: 20px;
            bottom: 20px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: scale-down;
            user-select: none;
            -webkit-user-drag: none;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
        }
    }
}