/**
 * @author Thomas Kleinke
 */

#navigation {
  position: relative;
  top: 3px;
  padding-left: 8px;
  color: rgba(85, 114, 161, 1);

  #selected-operation-type-document {
    text-align: left;
  }

  .btn:hover {
    z-index: auto;
  }

  .navigation-button.active ~ .navigation-button,
  .navigation-button.active ~ .navigation-button:active {
    color: lighten(#5572A1, 30%);
    border-color: lighten(#5572A1, 30%);
  }

  .navigation-button.active ~ .navigation-button:hover {
    color: lighten(#5572A1, 35%);
    border-color: lighten(#5572A1, 35%);
  }

  .navigation-button.active + .navigation-button,
  .navigation-button.active + .navigation-button:hover {
    border-left-color: #5572A1;
  }

  .navigation-button:not(:last-child):before, .navigation-button:not(:last-child):after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none;
    z-index: 2;
  }

  .navigation-button:not(:last-child):before {
    border-left-color: darken(#5572A1, 5%);
    border-width: 6px;
    margin-top: -6px;
  }

  .navigation-button.active:not(:last-child):before {
    border-left-color: #37588e;
    border-width: 6px;
    margin-top: -6px;
  }

  .navigation-button:not(:last-child):not(.active):after {
    border-left-color: #fff;
    border-width: 5px;
    margin-top: -5px;
  }

  .active ~ .navigation-button:not(:last-child):before {
    border-left-color: lighten(#5572A1, 30%);
  }

  #hierarchy-mode-switch {
    padding: 0;
    width: 42px;
    height: 39px;

    .mdi {
      position: relative;
      top: 8px;
    }
  }
}