/**
 * @author Thomas Kleinke
 */

#object-3d-thumbnail-creator-modal {
  #object-3d-viewer {
    .canvas-container {
      height: 65vh;
    }

    #toggle-texture-button {
      right: 76px !important;
      top: 26px !important;
    }

    #focus-button {
      right: 26px !important;
      top: 26px !important;
    }

    zoom-buttons {
      top: 26px !important;
      left: 26px !important;
    }

    mesh-loading-progress-bar {
      top: 35px !important;
      left: 80px !important;
    }
  }
}

.thumbnail-creator-modal .modal-lg {
  min-width: 600px !important;
  width: 600px !important;
}