/**
 * @author Thomas Kleinke
 */

#object-3d-thumbnail-creator-modal {
  #object-3d-viewer-container {
    height: 65vh;
  }

  #toggle-texture-button {
    right: 76px !important;
    top: 25px !important;
  }

  #focus-button {
    right: 25px !important;
    top: 25px !important;
  }
}

.thumbnail-creator-modal .modal-lg {
  min-width: 600px !important;
  width: 600px !important;
}