<div class="row flex-nowrap">
    <div id="sidebar-list-container" class="col">
        <sidebar-list [selectedDocument]="viewFacade.getSelectedDocument()"></sidebar-list>
    </div>

    <div *ngIf="isEditing()" class="layover1"></div>
    <div *ngIf="isEditing()" class="layover2"></div>

    <div class="col px-0"
         [class.no-zoom-buttons]="isPopoverMenuOpened() && viewFacade.getSelectedDocument()">
        <editable-map [documents]="viewFacade.getDocuments()"
                      [selectedDocument]="viewFacade.getSelectedDocument()"
                      [additionalSelectedDocuments]="resourcesComponent.additionalSelectedDocuments"
                      [parentDocument]="parentDocument"
                      [coordinateReferenceSystem]="coordinateReferenceSystem"
                      [viewName]="viewFacade.getView()"
                      [isEditing]="isEditingGeometry()"
                      [paddingLeft]="getPaddingLeft()"
                      [update]="viewFacade.isReady()"
                      (onSelectDocument)="select($event.document, $event.multiSelect)"
                      (onQuitEditing)="quitEditing($event)"></editable-map>
    </div>
</div>
