@import 'list/sidebar-list';

#sidebar-list-container {
  padding: 0 !important;
  max-width: 300px;
}

.no-zoom-buttons {
  .leaflet-control-zoom {
    display: none;
  }
}

.layover1 {
  width: 100%;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  height: 97px;
  z-index: 1010;
  opacity: 0.5;
}

.layover2 {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  left: 0;
  top: 97px;
  z-index: 1007;
  opacity: 0.5;
}