$teaser-width: $resources-listing-item-slim-width;

sidebar-list {

  #sidebar-viewport {
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  #sidebar {
    padding: 0;
    margin: 0;
    background-color: $sidebar-bg-color;

    &:focus {
      outline: none;
    }

    .conflicted {
      border-right: 2px solid red !important;
      transition: border-right 1s ease;
    }

    .new-from-remote {
      background-color: #d7ffd9;
    }

    .selected {
      background-color: darken($list-item-hover-color, 5%);
    }

    #document-limit-info {
      padding: 10px;
      font-style: italic;
      user-select: none;
      cursor: default;
    }
  }

  #create-document-button .circular-button {
    left: 45%;
    margin: -45px auto auto auto;
    z-index: 100;
  }
}
