<context-menu *ngIf="contextMenu.isOpen()"
              [contextMenu]="contextMenu"
              (onSelectAction)="performContextMenuAction($event)"></context-menu>

<popover-menu [document]="selectedDocument"></popover-menu>

<ul #sidebar id="sidebar" class="resources-listing"
    tabindex="0" (scroll)="contextMenu.close()" (keydown)="onKeyDown($event)">
    <li *ngFor="let document of viewFacade.getDocuments(); trackBy: trackDocument"
        class="resources-listing-item resources-listing-item-wide"
        (contextmenu)="contextMenu.open($event, document)"
        [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
        [class.conflicted]="document['_conflicts']"
        [class.selected]="selectedDocument
                && selectedDocument.resource.id === document.resource.id"
        [id]="'resource-' + document.resource.identifier">

        <document-teaser (click)="select(document)"
                         (dblclick)="editDocument(document)"
                         [document]="document"></document-teaser>

        <list-button-group [document]="document"
                        [activePopoverMenu]="resourcesComponent.activePopoverMenu"
                        [isDocumentSelected]="resourcesComponent.isSelected(document)"
                        (popoverMenuToggled)="resourcesComponent.togglePopoverMenu($event, document)">
        </list-button-group>

    </li>
</ul>

<plus-button *ngIf="isPlusButtonShown()" id="create-document-button" [placement]="'top'"
             [preselectedCategory]="getCurrentFilterCategory()"
             [liesWithin]="getSelectedSegmentDoc()"
             [isRecordedIn]="viewFacade.getCurrentOperation()"
             [status]="getPlusButtonStatus()"></plus-button>
<loading-icon></loading-icon>
