/**
 * @author Thomas Kleinke
 */

#document-detail-sidebar {

  .tab-view-container {
    height: calc(100vh - 198px);
  }

  #document-view-button-solve-conflicts {
    position: relative;
    right: 10px;
    bottom: 1px;
    box-shadow: none;
  }

  #back-to-map {
    box-shadow: none;
  }
}
