<div class="modal-header">
    <h5 *ngIf="isNew" i18n="@@docedit.createEntry">Eintrag anlegen</h5>
    <h5 *ngIf="!isNew" i18n="@@docedit.editEntry">Eintrag bearbeiten</h5>
</div>

<div class="modal-body bg-light">
    <div *ngFor="let subfield of getSubfields()" class="subfield-section">
        <label class="composite-entry-modal-subfield-label">{{getSubfieldLabel(subfield)}}</label>
        <span *ngIf="getSubfieldDescription(subfield)"
                placement="left"
                container="body"
                ngbTooltip="{{getSubfieldDescription(subfield)}}"
                class="mdi mdi-information-outline float-right"></span>
        <div>
            <edit-form-field [resource]="resource" [fieldContainer]="entry"
                             [field]="subfield" [languages]="languages"></edit-form-field>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button id="confirm-button" class="btn btn-primary"
            [disabled]="isEmpty()"
            (click)="confirm()">
        <span i18n="@@buttons.ok">OK</span>
    </button>
    <div id="cancel-button" class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
