<div id="document-geometry-edit" *ngIf="document" class="row">
    <div class="col-md-7">

        <div *ngIf="!isEditing">
            <div *ngIf="!geometry">
                <div class="btn btn-primary" (click)="createGeometry('polygon')">Polygon erstellen</div>
                <div class="btn btn-primary" (click)="createGeometry('point')">Punkt erstellen</div>
            </div>

            <div *ngIf="geometry && geometry.type == 'Polygon'">
                <div class="btn btn-primary" (click)="editGeometry()">Polygon bearbeiten</div>
                <div class="btn btn-primary" (click)="deleteGeometry()">Polygon löschen</div>
            </div>

            <div *ngIf="geometry && geometry.type == 'Point'">
                <div class="btn btn-primary" (click)="editGeometry()">Punkt bearbeiten</div>
                <div class="btn btn-primary" (click)="deleteGeometry()">Punkt löschen</div>
            </div>
        </div>

        <div *ngIf="isEditing">
            <div class="btn btn-primary" (click)="save()">Ok</div>
            <div class="btn btn-primary" (click)="cancel()">Abbrechen</div>
        </div>


    </div>
</div>