#type-relation-modal {
  .modal-body {
    height: calc(100vh - 138px);
    overflow: auto;
  }

  #criterion-select,
  #import-format-select {
    width: 175px;
  }

  .type-search-bar {
    width: 100%;
  }
}
