#type-relation-modal .type-row {
  $type-row-height: 175px;

  width: 100%;
  height: $type-row-height;
  max-height: $type-row-height;
  position: relative;
  display: flex;
  background-color: #37588e;

  .type-info {
    min-width: 150px;
    max-width: 150px;
    height: $type-row-height;
    border-right: 1px solid lightgrey;
    background-color: white;
    transition: opacity 0.25s ease-in-out;

    &:hover {
      opacity: 0.75;
    }

    .type-title {
      text-align: center;
      height: 25px;
    }

    .type-image-container {
      display: flex;
      justify-content: center;

      img {
        max-width: 150px;
        max-height: 150px;
      }
    }
  }

  image-row {
    background-color: white;

    .image-row .image-container {
      img {
        max-height: $type-row-height;
      }

      .image-placeholder {
        height: $type-row-height;
      }
    }
  }
}