<ul>
<%= if @current_project do %>
  <li><%= @current_project.email %></li>
  <li><%= link "Settings", to: Routes.project_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.project_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.project_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.project_session_path(@conn, :new) %></li>
<% end %>
</ul>
