<div id="list">
    <div *ngIf="categoriesMap">
        <div id="list-header">
            <div i18n="@@resources.list.headers.category">Kategorie</div>
            <div i18n="@@resources.list.headers.identifier">Bezeichner</div>
            <div i18n="@@resources.list.headers.shortDescription">Kurzbeschreibung</div>
            <div></div>
            <div id="header-placeholder"></div>
        </div>
        <div id="list-body">
            <cdk-virtual-scroll-viewport itemSize="41">
                <div class="list-row" *cdkVirtualFor="let document of documents; trackBy: trackDocument" >
                    <row [document]="document" [categoriesMap]="categoriesMap"></row>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
<div id="list-background" class="bg-light">
    <plus-button *ngIf="isPlusButtonShown()"
                 id="create-document-button"
                 [placement]="'top'"
                 [preselectedGeometryType]="'none'"
                 [preselectedCategory]="getCurrentFilterCategory()"
                 [liesWithin]="getSelectedSegmentDoc()"
                 [isRecordedIn]="viewFacade.getCurrentOperation()"
                 [skipFormAndReturnNewDocument]="true"
                 [status]="getPlusButtonStatus()"
                 (documentRequested)="createNewDocument($event)"></plus-button>
</div>
<loading-icon></loading-icon>
