@use 'sass:color';

.row-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr 9fr 130px;
  grid-gap: 1px;
  color: #444;
  background: #ddd;
  border-bottom: 1px solid #ddd;

  div {
    background-color: white;
  }

  .label-field {
    padding: 6px 5px 0 10px;

    .category-label {
      position: relative;
      top: 2px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .input-field {
    padding: 4px 5px 0 2px;
  }

  .hierarchy-button {
    position: relative;
    top: -2px;
    right: -1px;
    padding: 2px 2px 2px 4px;
    width: 44px;
    height: 33px;
    color: #868e96;
    background-color: #fff;

    &:hover {
      color: color.adjust(#868e96, $lightness: -5%);
      background-color: color.adjust($list-item-hover-color, $lightness: -5%);
    }

    &.move-into-button {
      height: 33px;
    }

    &.jump-to-view-button {
      .mdi {
        position: relative;
        right: 1px;
      }
    }
  }

  .dropdown-input-field {
    padding: 0;
  }

  input.form-control {
    position: relative;
    top: 1px;
    border: 0;
  }

  .ng-select {
    width: 100%;
    font-size: 14px;
    color: #495057;
    outline: none;

    .ng-select-container {
      height: 41px !important;
      border: 0;

      .ng-value {
        z-index: 1;
      }

      input {
        position: relative;
        top: 6px;
        z-index: 2;
      }
    }
  }

  .list-action-buttons {
    border-radius: 0;

    .mdi-delete {
      color: #dc3545;
    }
  
    .btn-small:hover {
      background-color: color.adjust($list-item-hover-color, $lightness: -5%);
    }
  
    .list-edit-button,
    .list-move-button,
    .list-delete-button {
      border-radius: 32px !important;
    }

    .hidden-option {
      opacity: 0;
    }
  }
}

.ng-dropdown-panel.row-select-panel {
  &.ng-select-top {
    margin-bottom: 1px !important;
  }

  &.ng-select-bottom {
    margin-top: 1px !important;
  }
}
