.row-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr 9fr 130px;
  grid-gap: 1px;
  color: #444;
  background: #ddd;
  border-bottom: 1px solid #ddd;

  div {
    background-color: white;
  }

  .label-field {
    padding: 6px 5px 0 10px;

    .category-label {
      position: relative;
      top: 2px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .input-field {
    padding: 4px 5px 0 2px;
  }

  .hierarchy-button {
    position: relative;
    top: -2px;
    right: -1px;
    padding: 2px 2px 2px 4px;
    width: 44px;
    height: 33px;
    color: #868e96;
    background-color: #fff;

    &:hover {
      color: darken(#868e96, 5%);
      background-color: darken($list-item-hover-color, 5%);
    }

    &.move-into-button {
      height: 33px;
    }

    &.jump-to-view-button {
      .mdi {
        position: relative;
        right: 1px;
      }
    }
  }

  .dropdown-input-field {
    padding-top: 7px;
  }

  input,
  select {
    position: relative;
    top: 1px;
    border: 0;
  }

  select {
    width: 100%;
    padding-left: 4px;
    font-size: 14px;
    color: #495057;
    outline: none;

    option {
      padding-bottom: 5px;
    }
  }

  .mdi-delete {
    color: #dc3545;
  }

  .btn-small:hover {
    background-color: darken($list-item-hover-color, 5%);
  }

  .list-edit-button,
  .list-move-button,
  .list-delete-button {
    border-radius: 32px !important;
  }

  .hidden-option {
    opacity: 0;
  }
}
