<document-view [document]="selectedDocument" (onSolveConflicts)="resourcesComponent.solveConflicts($event)"
               (onDeselect)="resourcesComponent.deselect()">

    <ngb-tabset activeId="document-view-{{activeTab}}-tab">>
        <ngb-tab id="document-view-fields-tab">
            <ng-template ngbTabTitle>
                <span class="mdi mdi-format-list-bulleted"></span>
            </ng-template>
            <ng-template ngbTabContent>

                <button class="btn btn-link"
                        id="document-view-button-edit-document"
                        (click)="resourcesComponent.startEdit(selectedDocument, 'fields')">
                    <span class="mdi mdi-pencil"></span>
                </button>

                <description-view [document]="selectedDocument"></description-view>
                <fields-view [resource]="selectedDocument.resource"></fields-view>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="document-view-geometry-tab">
            <ng-template ngbTabTitle>
                <span class="mdi mdi-map" [class.empty-tab]="!selectedDocument.resource.geometry"></span>
            </ng-template>
            <ng-template ngbTabContent>

                <geometry-view [document]="selectedDocument"
                               (onEditGeometry)="resourcesComponent.startEditGeometry()"
                               (onCreateGeometry)="resourcesComponent.createGeometry($event)">
                </geometry-view>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="document-view-relations-tab">
            <ng-template ngbTabTitle>
                <span class="mdi mdi-sitemap" [class.empty-tab]="!hasRelations()"></span>
            </ng-template>
            <ng-template ngbTabContent>

                <button class="btn btn-link"
                        id="document-view-button-edit-document"
                        (click)="resourcesComponent.startEdit(selectedDocument, 'relations')">
                    <span class="mdi mdi-pencil"></span>
                </button>

                <div *ngIf="!hasRelations()" class="empty-tab-info">Keine Relationen vorhanden.</div>
                <relations-view *ngIf="hasRelations()" [resource]="selectedDocument.resource"
                                (onRelationTargetClicked)="resourcesComponent.jumpToRelationTarget($event,
                                        'relations')">
                </relations-view>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="document-view-images-tab">
            <ng-template ngbTabTitle>
                        <span class="mdi mdi-image"
                              [class.empty-tab]="!selectedDocument.resource.relations['isDepictedIn']"></span>
            </ng-template>
            <ng-template ngbTabContent>
                <button class="btn btn-link"
                        id="document-view-button-edit-document"
                        (click)="resourcesComponent.startEdit(selectedDocument, 'images')">
                    <span class="mdi mdi-pencil"></span>
                </button>
                <br>

                <div *ngIf="!selectedDocument.resource.relations['isDepictedIn']" class="empty-tab-info">
                    Keine Bilder vorhanden.
                </div>
                <thumbnail-view *ngIf="selectedDocument.resource.relations['isDepictedIn']"
                                [imageIds]="selectedDocument.resource.relations['isDepictedIn']"
                                (onRelationTargetClicked)="resourcesComponent.jumpToRelationTarget($event,
                                        'relations')">
                </thumbnail-view>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</document-view>