<div class="document-view-field" id="document-view-field-geometry">
    <div class="fieldname">Geometrie</div>
    <div *ngIf="document.resource.geometry">
        <span *ngIf="document.resource.geometry.type == 'Polygon'" class="fieldvalue">Polygon</span>
        <span *ngIf="document.resource.geometry.type == 'Point'" class="fieldvalue">Punkt</span>
        <button class="btn btn-link btn-sm" id="document-view-button-edit-geometry"
               (click)="onEditGeometry.emit(document)" >
            <span class="mdi mdi-pencil mdi-18px"></span>
        </button>
    </div>
    <div *ngIf="!document.resource.geometry">
        <span class="fieldvalue">Keine</span>
        <button class="btn btn-link btn-sm" id="document-view-button-create-polygon"
                (click)="onCreatePolygon.emit(document)" >
            <span class="mdi mdi-shape-polygon-plus mdi-18px"></span>
        </button>
        <button class="btn btn-link btn-sm" id="document-view-button-create-point"
                (click)="onCreatePoint.emit(document)" >
            <span class="mdi mdi-map-marker-plus mdi-18px"></span>
        </button>
    </div>
</div>