plus-button {

  .abstract-idai-type {
    cursor: not-allowed;
    font-style: italic;
  }

  .abstract-idai-type ul {
    font-style: normal;
  }

  .circular-button {
    width: 41px;
    height: 41px;

    &.type-button {
      padding: 0;
    }
  }
}

.type-button {
  background-color: rgb(240, 240, 240);

  .plus-sign-circle {
    position: absolute;
    top: 26px;
    left: 26px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: $greenbgr;

    .mdi-plus {
      position: absolute;
      top: -1px;
      left: 0px;
      color: white;
      line-height: 17px;
    }
  }
}

.type-button:hover {

  type-icon {
    filter: brightness(1.15);
    transition: filter .3s ease;
  }

  .plus-sign-circle {
    filter: brightness(1.18);
    transition: filter .3s ease;
  }
}
