<div *ngIf="typesTreeList">
    <div *ngIf="!isSingleTypeButton()"
             class="circular-button green-button"
             [ngbPopover]="newObjectMenu" #popover="ngbPopover"
             triggers="manual" (click)="reset(); popover.toggle();"
             onclick="window.scrollTo(0, 0)" placement="{{placement}}">
        <span class="mdi mdi-plus"></span>
    </div>

    <div *ngIf="isSingleTypeButton() && preselectedGeometryType != 'none'"
             class="circular-button type-button"
             [ngbPopover]="newObjectMenu" #popover="ngbPopover"
             triggers="manual" (click)="reset(); popover.toggle();"
             onclick="window.scrollTo(0, 0)" placement="{{placement}}">
        <type-icon [type]="typesTreeList[0].name" size="41"></type-icon>
        <div class="plus-sign-circle">
            <span class="mdi mdi-plus mdi-18px"></span>
        </div>
    </div>

    <div *ngIf="isSingleTypeButton() && preselectedGeometryType == 'none'"
            class="circular-button type-button" (click)="chooseType(typesTreeList[0])">
        <type-icon [type]="typesTreeList[0].name" size="41"></type-icon>
        <div class="plus-sign-circle">
            <span class="mdi mdi-plus mdi-18px"></span>
        </div>
    </div>
</div>

<ng-template #newObjectMenu>

    <div *ngIf="!type" id="new-object-menu">
        <div class="popover-custom-title">Bitte wählen Sie einen Typ aus.</div>
        <ul class="list-group">
            <li *ngFor="let type of typesTreeList; let index = index"
                id="choose-type-option-{{index}}" [ngClass]="{'abstract-idai-type': type.isAbstract}"
                class="list-group-item popover-item"
                (click)="chooseType(type)">
                <div>
                    <type-icon [type]="type.name" size="30"></type-icon>
                    <div class="type-label">{{type.label}}</div>
                </div>
                <ul *ngIf="type.children" style="padding: 0;">
                    <li *ngFor="let childType of type.children; let childIndex = index"
                        id="choose-type-option-{{index}}-{{childIndex}}" class="list-group-item popover-item"
                        (click)="chooseType(childType)">
                        <div>
                            <type-icon [type]="childType.name" size="30"></type-icon>
                            <div class="type-label">{{childType['label']}}</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div *ngIf="type" id="geometry-type-selection">
        <div class="popover-custom-title">Bitte wählen Sie einen Geometrietyp aus.</div>
        <ul class="list-group">
            <li id="choose-geometry-option-polygon" class="list-group-item popover-item"
                (click)="startDocumentCreation('Polygon');">
                <span class="mdi mdi-shape-polygon-plus mdi-18px choose-geometry-icon"></span>
                Polygon
            </li>
            <li id="choose-geometry-option-polyline" class="list-group-item popover-item"
                (click)="startDocumentCreation('LineString');">
                <span class="mdi mdi-vector-polyline mdi-18px choose-geometry-icon"></span>
                Polyline
            </li>
            <li id="choose-geometry-option-point" class="list-group-item popover-item"
                (click)="startDocumentCreation('Point');">
                <span class="mdi mdi-map-marker-plus mdi-18px choose-geometry-icon"></span>
                Punkt
            </li>
            <li id="choose-geometry-option-none" class="list-group-item popover-item"
                (click)="startDocumentCreation('none');">
                <span class="mdi mdi-close-circle-outline mdi-18px choose-geometry-icon"></span>
                Keine Geometriedaten
            </li>
        </ul>
    </div>

</ng-template>