plus-button {

  #object-overview-button-create-object {
    left: 45%;
    margin: -33px auto auto auto;
    z-index: 100;
  }

  .abstract-idai-type {
    cursor: not-allowed;
    font-style: italic;
  }
  .abstract-idai-type ul {
    font-style: normal;
  }

}
