plus-button {

  .abstract-idai-type {
    cursor: not-allowed;
    font-style: italic;
  }

  .abstract-idai-type ul {
    font-style: normal;
  }

  .circular-button {
    width: 41px;
    height: 41px;
  }
}

.type-button {
  background-color: rgb(240, 240, 240);

  .plus-sign-circle {
    position: relative;
    top: -12px;
    left: 28px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: $greenbgr;

    .mdi-plus {
      position: relative;
      top: -9px;
      color: white;
    }
  }

  type-icon img {
    border-radius: 25px;
    margin-bottom: 5px;
  }
}

.type-button:hover {
  filter: brightness(1.05);
  transition: filter .3s ease;

  .plus-sign-circle {
    filter: brightness(1.2);
    transition: filter .3s ease;
  }
}

#new-object-menu ul li.list-group-item {
  border: 1px solid #eee !important;
}

#new-object-menu ul li ul {
  margin-top: 10px;
}

#new-object-menu ul li:hover > ul li {
  background-color: $list-item-hover-colour !important;
  transition: background-color .65s ease;
}

#new-object-menu ul li ul li.list-group-item {
  border: none !important;
}

#new-object-menu ul li ul li:hover {
  background-color: darken($list-item-hover-colour, 5%) !important;
}
