/**
 * @author: Jan G. Wieners
 * @author: Sebastian Cuy
 */

@import "map/map";
@import "map-wrapper";
@import "plus-button";

#objectOverview,
#imageOverview {
  padding: 0 !important;
  background-color: #eee;

  header {
    background-color: #eee;
    padding: 7px;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }

  header .mdi {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    background-color: #294b83;
    padding: 10px 10px 10px 11px;
    margin-right: 5px;
  }

  header h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #657faa;
  }

  main {
    padding: 7px;
  }
}

#objectOverview .object-list {

  height: calc(100vh - 225px);
  overflow: auto;

  .list-group-item {
    cursor: pointer;
    border: 0;
    border-radius: 0;
    margin: 1px 0;
    font-size: 1em;
    padding: 10px 5px 10px 10px;
  }

  .list-group-item:hover {
    background-color: $list-item-hover-colour;
    transition: background-color .65s ease;
  }

  .selected {
    background-color: darken($list-item-hover-colour, 5%);
  }

  .title {
    color: #111;
  }

  .identifier {
    font-size: 0.7em;
    color: #999;
  }

  .new {
    color: #111;
    font-style: italic;
  }

  .synced {
    border-right: 3px solid #657faa;
    transition: border-right 1s ease;
  }

  .unsynced {
    border-right: 3px solid #ccc;
    transition: border-right 1s ease;
  }
}