/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */

@import 'map/map';
@import 'map-wrapper';
@import 'geometry-view';
@import 'list/list';
@import 'list/row';
@import 'thumbnail-view';
@import 'document-view-wrapper';

#objectOverview {
  overflow: hidden;
}

#objectOverview,
#imageOverview {
  padding: 0 !important;
  background-color: #f7f7f7;

  main {
    padding: 7px;
  }
}

.resources-mode-buttons {
  margin-top: 2px !important;
}

.no-main-type-resource-alert {
  position: absolute;
  padding: 10px;
  margin: 35vh 16.6vw 0;
  z-index: 900;
  user-select: none;
  cursor: default;
}