<nav class="navbar navbar-expand navbar-dark bg-primary" [class.mac-margin]="isRunningOnMac()"
     [class.in-resources-view]="isInDefaultResourcesView()"
     (dragover)="false" (dragleave)="false" (drop)="false">
    <div id="navbarSupportedContent" class="navbar-collapse">
        <ul #tabSpace id="resources-tabs" *ngIf="isInDefaultResourcesView()"
            class="nav navbar-nav navbar-tabbed mr-auto">
            <li id="navbar-project" class="nav-item tab" [class.active]="isActiveRoute('/resources/project')">
                <a class="nav-link" 
                   href="#" routerLink="/resources/project">
                   <span class="mdi mdi-home"></span>
               </a>
            </li>
            <li *ngFor="let tab of getShownTabs()" id="{{getTabId(tab)}}"
                class="nav-item tab closable-tab" [class.active]="isActiveRoute(getTabRoute(tab))">
                <a class="nav-link"
                   (click)="router.navigate(getTabRouteArray(tab))">
                    <category-icon [size]="23" [category]="tab.operationCategory"></category-icon>
                    <span class="closable-tab-label">{{tab.label}}</span>
                    <span class="mdi mdi-close" (click)="$event.stopPropagation(); close(tab);"></span>
                </a>
            </li>
            <li *ngIf="getHiddenTabs().length > 0" ngbDropdown placement="bottom-right" display="dynamic"
                class="nav-item">
                <a id="tabs-dropdown" ngbDropdownToggle class="nav-link"></a>
                <div id="tabs-dropdown-menu" ngbDropdownMenu>
                    <div id="tabs-dropdown-list">
                        <a *ngFor="let tab of getHiddenTabs()"
                           class="dropdown-item hidden-tab"
                           (click)="router.navigate(getTabRouteArray(tab))">
                            <category-icon [size]="19" [category]="tab.operationCategory"></category-icon>
                            <span class="hidden-tab-label">{{tab.label}}</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <ul *ngIf="!isInDefaultResourcesView()"
            id="non-resources-tab" class="nav navbar-nav navbar-tabbed mr-auto">
            <span class="form-inline">
                <button class="btn btn-link"
                     (click)="$event.stopPropagation(); openActiveTab();">
                    <span class="mdi mdi-arrow-left-circle"></span>
                </button>
            </span>
            <li class="nav-item">
                <a class="nav-link active">{{getActiveRouteLabel()}}</a>
            </li>
        </ul>

        <taskbar></taskbar>
    </div>
</nav>
