<div class="modal-header">
    <h5 class="modal-title" i18n="@@navbar.projects.manageProject">Projekte verwalten</h5>
</div>

<div *ngIf="settings && syncTarget" class="modal-body projects-modal" #projectsModalBody>
    <div class="row">
        <div class="col-md-6">
            <div id="edit-project-images-button" class="circular-button"
                 (click)="editProjectImages()">
                <span class="mdi mdi-image-edit mdi-18px"></span>
            </div>

            <div id="new-project-button" class="circular-button category-button" [ngbPopover]="newProjectMenu"
                 #createPopover="ngbPopover" triggers="manual" [placement]="'bottom'"
                 [autoClose]="false" (click)="openMenu(createPopover)">
                <category-icon [category]="'Project'" size="41"></category-icon>
                <div class="plus-sign-circle">
                    <span class="plus-sign mdi mdi-plus mdi-18px"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="synchronization-slider" class="row">
        <div class="col-auto mr-auto">
            <span i18n="@@settings.synchronization.activate">Synchronisation aktivieren</span>
        </div>
        <div class="col-auto">
            <label class="switch" style="margin-bottom: 0;">
                <input type="checkbox" [checked]="syncTarget.isSyncActive"
                       (change)="toggleSync()">
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="sync-target-address-input"
                class="control-label col-form-label"
                i18n="@@settings.synchronization.address">Adresse</label>
        <input id="sync-target-address-input" [ngModel]="syncTarget.address"
                (ngModelChange)="syncTarget.address = $event"
                class="form-control">

        <label for="sync-target-password-input"
                class="control-label col-form-label"
                i18n="@@settings.synchronization.password">Passwort</label>
        <input id="sync-target-password-input"
                type="password"
                [ngModel]="syncTarget.password"
                (ngModelChange)="syncTarget.password = $event"
                class="form-control">
    </div>

    <ng-template #newProjectMenu>
        <div id="new-project-menu">
            <div class="popover-custom-title" i18n="@@navbar.projects.newProject.enterName">
                Bitte geben Sie den Namen des neuen Projekts ein.
            </div>
            <div class="input-group">
                <input id="new-project-input" type="text" class="project-name-input form-control"
                       [(ngModel)]="newProject" (keydown)="$event.key !== 'Enter' || createProject()"/>
                <button class="project-option-ok btn btn-primary" (click)="createProject()">
                    <span i18n="@@buttons.ok">OK</span>
                </button>
            </div>
        </div>
    </ng-template>
</div>

<div class="modal-footer">
    <div id="close-projects-modal-button" type="button" class="btn btn-secondary"
            (click)="activeModal.close()">
        <span i18n="@@buttons.close">Schließen</span>
    </div>
</div>
