@import 'taskbar-conflicts';
@import 'taskbar-update';

.taskbar {
  margin-top: 2px;

  .mdi {
    font-size: 1.7em;
  }

  .mdi-cloud,
  .mdi-cloud-outline-off,
  .mdi-alert-outline {
    color: #fff;
  }

  .cloud-overlay {
    position: absolute;
    padding-left: 5px;
    color: $navbar-default-bg;
    pointer-events: none;
  }

  #update {
    z-index: 2;
  }

  #conflicts {
    z-index: 1;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-17px);
    }
    to {
      transform: translateY(14px);
    }
  }

  .slide-down {
	  animation: 1s infinite slide-down;
  }

  @keyframes slide-up {
    from {
      transform: translateY(13px);
    }
    to {
      transform: translateY(-18px);
    }
  }

  .slide-up {
	  animation: 1s infinite slide-up;
  }

  .taskbar-badge {
    position: absolute;
    font-size: 0.6em;
    top: 22px;
    right: 0;
    padding-left: 0.5em;
  }
}
