#conflicts {
  position: relative;
  margin-right: 12px;

  #taskbar-conflicts-container {
    margin-left: 18px;
  }
}

.conflicts-popover {
  .popover-header {
    width: 350px;
    position: absolute;
    right: 0;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  }

  .popover-body {
    position: absolute;
    overflow: hidden;
    width: 350px;
    right: 0;
    top: 33px;
    background-color: rgb(238, 238, 238);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);

    .list-group {
      max-height: calc(100vh - 337px);

      .list-group-item {
        display: block;
        border: 0;
        border-radius: 0;
        margin-bottom: 1px;
        font-size: 1em;
        padding: 10px 5px 10px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        min-height: 62px;
      }

      .list-group-item:hover {
        background-color: darken($list-item-hover-color, 5%);
        transition: background-color .65s ease;
      }
    }
  }
}
