taskbar-editor {
    #editor {
        position: relative;
        height: 20px;

        .mdi {
            float: left;
            margin-right: 5px;
            &:hover {
                color: $link-hover-color;
            }
        }

        #button {
            cursor: default;
            border: none;
            background-color: inherit;
            outline: none;
            box-shadow: none;
        }

        #editor-initials {
            white-space: nowrap;
            padding-bottom: 0px;
            &:hover {
                color: $link-hover-color;
            }
        }
    }
}
