@import 'taskbar-update';
@import 'taskbar-sync-status';
@import 'warnings/taskbar-warnings';
@import 'warnings/warnings-modal';
@import 'warnings/modals/delete-modals';
@import 'warnings/modals/clean-up-relation-modal';
@import 'warnings/modals/fix-outliers-modal';
@import 'warnings/modals/convert-field-data-modal';

.taskbar {
  margin-top: 2px;

  .mdi {
    font-size: 27px;
  }

  #update {
    z-index: 2;
  }

  #warnings {
    z-index: 1;
  }

  a {
    color: $navbar-link-color;
    cursor: default;

    &:hover {
      color: $link-hover-color;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(-17px);
    }
    to {
      transform: translateY(14px);
    }
  }

  .slide-down {
	  animation: 1s infinite slide-down;
  }

  @keyframes slide-up {
    from {
      transform: translateY(13px);
    }
    to {
      transform: translateY(-18px);
    }
  }

  .slide-up {
	  animation: 1s infinite slide-up;
  }

  .taskbar-badge {
    position: absolute;
    font-size: 9px;
    top: 22px;
    right: 0;
  }

  .projects-nav-item {
    margin-left: 5px;
  }
}
