taskbar-sync-status {
  #sync-status {
    position: relative;
    left: 1px;
    height: 20px;

    &.animated-icon {
      position: relative;
      top: 10px;
      overflow: hidden;
  
      .mdi-cloud,
      .mdi-alert-outline {
        position: relative;
        bottom: 51px;
        color: $navbar-link-color;
      }

      .mdi-refresh {
        position: relative;
        bottom: 1px;
      }
    
      .cloud-overlay {
        position: relative;
        padding-left: 5px;
        bottom: 12px;
        z-index: 1;
        color: #ddd;
        pointer-events: none;
      }
    }

    .mdi-cloud:hover,
    .mdi-cloud-off-outline:hover,
    .mdi-cloud-check:hover {
      color: $link-hover-color;
    }

  }
}
