/**
 * @author Thomas Kleinke
 */
taskbar-update {
  position: relative;
  left: 14px;
  bottom: 2px;
  cursor: default !important;

  #taskbar-update {
    position: relative;
    height: 25px;
    right: 10px;

    &.with-sync-status {
      right: 8px;
    }

    .mdi-arrow-down-bold {
      color: $navbar-link-color;
      position: relative;
      top: -8px;
      width: 28px;
    }

    .rounded-pill {
      left: -7px;
      width: 32px;
      text-align: center;
    }
  }
}