<div id="taskbar-update" [class.with-sync-status]="isSyncStatusShown">
    <span *ngIf="progressPercent === 0 && !downloadComplete && !downloadInterrupted  && !downloadError"
       ngbTooltip="Version {{version}} wird heruntergeladen..."
       i18n-ngbTooltip="@@navbar.taskbar.update.tooltips.downloading"
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-info taskbar-badge">
            ...
        </span>
    </span>

    <span *ngIf="progressPercent > 0 && !downloadComplete && !downloadInterrupted  && !downloadError"
       ngbTooltip="Version {{version}} wird heruntergeladen..."
       i18n-ngbTooltip="@@navbar.taskbar.update.tooltips.downloading"
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-info taskbar-badge">
            {{progressPercent}}%
        </span>
    </span>

    <span *ngIf="downloadComplete"
       ngbTooltip="Version {{version}} wurde heruntergeladen und wird beim Neustart installiert"
       i18n-ngbTooltip="@@navbar.taskbar.update.tooltips.downloadComplete"
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-success taskbar-badge">
            ✓
        </span>
    </span>

    <span *ngIf="downloadInterrupted && !downloadComplete"
       ngbTooltip="Der Download von Version {{version}} wurde unterbrochen. Bitte starten Sie die Anwendung neu, um es erneut zu versuchen."
       i18n-ngbTooltip="@@navbar.taskbar.update.tooltips.downloadInterrupted"
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-danger taskbar-badge">
            X
        </span>
    </span>

    <span *ngIf="downloadError && !downloadInterrupted && !downloadComplete"
       ngbTooltip="Beim Download von Version {{version}} ist ein Fehler aufgetreten. Bitte laden Sie die aktuelle Version von https://field.idai.world/download herunter."
       i18n-ngbTooltip="@@navbar.taskbar.update.tooltips.downloadError"
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-danger taskbar-badge">
            X
        </span>
    </span>
</div>
