.warnings-modal-body {
  height: calc(100vh - 127px);

  #document-picker #document-picker-list {
    max-height: calc(100vh - 250px);
  }

  label {
    font-size: 13px;
  }

  #warning-filter-select {
    margin-bottom: 1rem;
  }

  .card {
    .card-title,
    .card-block {
      font-size: 15px !important;
    }

    .field-label {
        font-weight: 600;
    }
  }
}
