<div class="modal-header">
    <h5 class="modal-title"
        i18n="@@navbar.taskbar.warnings.header">Warnungen</h5>
    <button id="close-warnings-modal-button"
            class="btn btn-primary btn-square" 
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body warnings-modal-body row bg-light">
    <div class="col-md-6">
        <select id="warning-filter-select" class="form-control"
                (change)="selectWarningFilter($event.target.value)">
            <option *ngFor="let warningFilter of warningFilters"
                    [value]="warningFilter.constraintName"
                    [selected]="selectedWarningFilter === warningFilter">
                {{warningFilter.label}} ({{warningFilter.count}})
            </option>
        </select>

       <document-picker [filterOptions]="categoryFilters"
                        [getConstraints]="getConstraints"
                        [limit]="20000"
                        [waitForUserInput]="false"
                        [markSelected]="true"
                        [autoSelect]="true"
                        (documentSelected)="selectDocument($event)"></document-picker>
    </div>
    <div id="document-warnings-container" class="col-md-6">
        <div id="document-warnings-header">
            <document-teaser [document]="selectedDocument"></document-teaser>
        </div>
        <div *ngIf="selectedDocument" id="document-warnings-content">
            <div *ngFor="let section of sections" class="card">
                <div class="card-header h4">
                    <span class="card-title">
                        {{getWarningTypeLabel(section)}}
                        <span *ngIf="isFieldLabelVisible(section)"
                              class="field-label">{{getFieldLabel(section)}}</span>
                    </span>
                </div>
                <div class="card-block">
                    <span *ngIf="section.type === 'conflicts'">
                        <button class="btn btn-primary" (click)="openConflictResolver()">
                            <span class="button-label"
                                  i18n="@@docedit.tabs.conflicts.resolveConflict">Konflikt lösen</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
