<div class="row">


    <div class="col-lg-3 col-md-3 col-sm-3"
         id="imageOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-image"></span>
                    Bilder
                </h1>
            </header>

            <main>
                <search-bar [showFiltersMenu]="false" [defaultFilters]="defaultFilters" (onQueryChanged)="queryChanged($event)"></search-bar>
            </main>
        </aside>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9">
        <section>
            <ul class="list-group">
                    <li *ngFor="let document of documents; let index=index"
                            (click)="select(document)"
                            class="list-group-item"
                            [class.synced]="document.synced"
                            [class.unsynced]="!document.synced"
                            [class.selected]="getSelected() && getSelected().resource.id === document.id"
                            onclick="window.scrollTo(0, 0)"
                            [id]="'resource-' + document.resource.identifier">

                        <div class="row">
                            <div class="col-sm-10">
                                <div *ngIf="document['resource'].identifier || document['resource'].shortDescription">
                                    <div class="title">
                                        {{document['resource'].shortDescription}}
                                    </div>

                                    <div class="identifier">
                                        {{document['resource'].identifier}}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>
        </section>
    </div>

</div>

