/**
 * @author: Jan G. Wieners
 * @author: Sebastian Cuy
 */

@import "map/map";
@import "document-view/document-view";
@import "document-edit-wrapper";
@import "resource-overview/map-wrapper";
@import "plus-button";
@import "image-overview/image-overview";

#objectOverview,
#imageOverview {
  padding: 0 !important;
  background-color: #eee;

  header {
    background-color: #eee;
    padding: 7px;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }

  header .mdi {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    background-color: #294b83;
    padding: 10px 10px 10px 11px;
    margin-right: 5px;
  }

  header h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #657faa;
  }

  main {
    padding: 7px;
  }

  #object-search {
    /*
    border-radius: 2px;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
    */
    border-radius: 0;
    border: 0;
    height: 45px;
  }

  .search {
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 7px;
  }

  .search input {
    text-indent: 10px;
  }

  .search.input-group-btn {
    height: 45px;
    border: 0;
    background-color: #b9c9e3;
  }

  .search .btn {
    border-radius: 0;
    border: none !important;
  }

  .search .btn-secondary {
    background-color: #ddd;
  }

  #searchfilter {
    height: 45px !important;
  }

  .search .glyphicon-search {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 1.2em;
    padding: 0 0 5px 0;
    color: #ddd;
  }

}

.object-list {
  height: calc(100vh - 200px);
  overflow: auto;
}

.object-list .list-group-item {
  cursor: pointer;
  border: 0;
  border-radius: 0;
  margin: 1px 0;
  font-size: 1.1em;
}

.object-list .list-group-item:hover {
  background-color: #c7dee0;
  transition: background-color .65s ease;
}

.object-list .selected {
  background-color: #c7dee0;
}

.object-list .title {
  color: #111;
}

.object-list .identifier {
  font-size: 0.7em;
  color: #999;
}

.object-list .new {
  color: #111;
  font-style: italic;
}

.object-list .synced {
  border-right: 3px solid #657faa;
  transition: border-right 1s ease;
}

.object-list .unsynced {
  border-right: 3px solid #ccc;
  transition: border-right 1s ease;
}