<div class="row">


    <div class="col-lg-3 col-md-3 col-sm-3"
         id="objectOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-view-list"></span>
                    Ressourcen
                </h1>
            </header>

            <main>

                <div class="search input-group">
                    <input #searchInput (keyup)="onKey($event)"
                           type="text"
                           class="form-control"
                           id="object-search"
                           placeholder="Suchen...">
                    <!--<span class="input-group-btn">
                        <button class="btn btn-secondary"
                                id="searchfilter"
                                type="button"
                                (click)="filterOverviewIsCollapsed = !filterOverviewIsCollapsed">
                            <span class="mdi mdi-filter"></span>
                        </button>
                    </span>-->
                </div>

                <!--<div id="filteroptions"
                     [ngbCollapse]="filterOverviewIsCollapsed">
                    <div class="card card-block">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> Alle Ressourcen anzeigen
                            </label>
                        </div>
                    </div>
                </div>-->

                <ul *ngIf="documents" class="list-group" id="objectList">
                    <li *ngFor="let document of documents; let index=index"
                        (click)="select(document)"
                        class="list-group-item"
                        [class.synced]="document.synced"
                        [class.unsynced]="!document.synced"
                        [class.selected]="getSelected() && getSelected().resource.id === document.id"
                        onclick="window.scrollTo(0, 0)">
                        <!-- Enable when finally implemented in Chromium
                            onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                            -->
                        <div *ngIf="document['resource'].identifier || document['resource'].shortDescription">
                            <div id="object-overview-title-{{index}}" class="title">
                                {{document['resource'].shortDescription}}
                            </div>

                            <div id="object-overview-identifier-{{index}}" class="identifier">
                                {{document['resource'].identifier}}
                            </div>
                        </div>
                        <div id="object-overview-note-{{index}}"
                             *ngIf="!(document['resource'].identifier || document['resource'].shortDescription)"
                             class="new">Neues Objekt
                        </div>
                    </li>
                </ul>

                <plus-button *ngIf="searchInput.value.length == 0" [type]="type"></plus-button>

            </main>
        </aside>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9" id="document-edit-wrapper">
        <section>
            <router-outlet></router-outlet>
        </section>
    </div>



</div>

