<div id="object-overview-button-create-object"
         class="circular-button green-button"
         [ngbPopover]="newObjectMenu" #p="ngbPopover"
         triggers="manual" (click)="reset(); p.toggle();"
         onclick="window.scrollTo(0, 0)">
        <!-- Enable when finally implemented in Chromium
       onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
       -->
    <span class="mdi mdi-plus"></span>

    <template #newObjectMenu>

        <div *ngIf="!type">
            <div class="popover-custom-title">Bitte wählen Sie einen Typ aus.</div>
            <ul class="list-group">
                <li *ngFor="let t of projectConfiguration.getTypesList(); let index = index"
                    id="choose-type-option-{{index}}" class="list-group-item popover-item"
                    (click)="type = t.name">
                    <type-icon [type]="t.name" size="30"></type-icon> {{t.label}}
                    <ul *ngIf="t['children']" style="padding:0;">
                        <li *ngFor="let childType of t['children']; let childIndex = index"
                            id="choose-type-option-{{index}}-{{childIndex}}" class="list-group-item popover-item"
                            (click)="type = childType.name">
                            <type-icon [type]="childType.name" size="30"></type-icon> {{childType['label']}}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div *ngIf="type">
            <div class="popover-custom-title">Bitte wählen Sie einen Geometrietyp aus.</div>
            <ul class="list-group">
                <li id="choose-geometry-option-polygon" class="list-group-item popover-item"
                    (click)="p.close(); startDocumentCreation('polygon');">
                    <span class="mdi mdi-shape-polygon-plus mdi-18px choose-geometry-icon"></span>
                    Polygon
                </li>
                <li id="choose-geometry-option-point" class="list-group-item popover-item"
                    (click)="p.close(); startDocumentCreation('point');">
                    <span class="mdi mdi-map-marker-plus mdi-18px choose-geometry-icon"></span>
                    Punkt
                </li>
                <li id="choose-geometry-option-none" class="list-group-item popover-item"
                    (click)="p.close(); startDocumentCreation('none');">
                    <span class="mdi mdi-close-circle-outline mdi-18px choose-geometry-icon"></span>
                    Keine Geometriedaten
                </li>
            </ul>
        </div>

    </template>
</div>