<div id="object-overview-button-create-object"
     class="circular-button green-button"
     [ngbPopover]="newObjectMenu" #p="ngbPopover"
     triggers="manual" (click)="reset(); p.toggle();"
     onclick="window.scrollTo(0, 0)">+
    <!-- Enable when finally implemented in Chromium
   onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
   -->

    <template #newObjectMenu>

        <div *ngIf="!type">
            <div class="popover-custom-title">Wählen Sie einen Typ aus.</div>
            <ul class="list-group">
                <li *ngFor="let t of projectConfiguration.getTypes(); let index = index"
                    id="choose-type-option-{{index}}" class="list-group-item popover-item"
                    (click)="type = t.name">
                    {{t.name}}
                </li>
            </ul>
        </div>

        <div *ngIf="type">
            <div class="popover-custom-title">Wählen Sie einen Geometrietyp aus.</div>
            <ul class="list-group">
                <li id="choose-geometry-option-point" class="list-group-item popover-item"
                    (click)="p.close(); startDocumentCreation('point');">
                    Punkt
                </li>
                <li id="choose-geometry-option-polygon" class="list-group-item popover-item"
                    (click)="p.close(); startDocumentCreation('polygon');">
                    Polygon
                </li>
                <li id="choose-geometry-option-none" class="list-group-item popover-item"
                    (click)="p.close(); startDocumentCreation('none');">
                    Keine Geometriedaten
                </li>
            </ul>
        </div>

    </template>
</div>