/**
 * @author Thomas Kleinke
 * @author Daniel de Oliveira
 */

#graph-container {
  height: 100% !important;

  svg {
    width: 100% !important;
    height: 100% !important;

    .node {
      cursor: default;
      user-select: none;
    }

    text {
      fill: #ffffff;
    }

    #graph0 g {
      ellipse {
        stroke: #ffffff;
      }
      polygon {
        fill: #f5f5f5;
        stroke: #7e7e7e;
      }
      path {
        stroke: #7e7e7e;
      }
    }
  }
}