/**
 * @author Thomas Kleinke
 * @author Daniel de Oliveira
 */

#graph-container {
  height: 100% !important;

  svg {
    width: 100% !important;
    height: 100% !important;
    user-select: none;
    cursor: default;

    .node {
      cursor: pointer;

      text {
        cursor: pointer;
      }
    }

    .cluster {
      text {
        font-size: 13px;
      }
    }

    text {
      cursor: default;
    }
  }
}