/**
 * @author Thomas Kleinke
 * @author Daniel de Oliveira
 */

#graph-container {
  height: 100% !important;

  svg {
    width: 100% !important;
    height: 100% !important;

    .node {
      cursor: pointer;
      user-select: none;

      text {
        fill: #fff;
      }
    }

    .cluster {
      cursor: default;

      text {
        fill: #000;
      }
    }
  }
}