<div id="matrix-view" class="row bg-light py-2">

    <div class="col-md-8">
        <div *ngIf="showTrenchSelector()" class="btn-group operation-document-selector"
             ngbDropdown placement="bottom-left" role="group">
            <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button *ngFor="let trench of trenches" class="dropdown-item" (click)="selectTrench(trench)">
                    {{getDocumentLabel(trench)}}
                </button>
            </div>

            <div *ngIf="selectedTrench" id="selected-trench-label" class="btn btn-outline-primary">
                {{getDocumentLabel(selectedTrench)}}
            </div>
        </div>

        <div *ngIf="!showTrenchSelector()" id="trench-selector-placeholder"></div>
    </div>

    <div class="col-md-4 mr-md-auto">
        <div class="btn-group">
            <div class="btn btn-primary"
                 (click)="setSelectionMode('none')"
                 [class.active]="selectionMode === 'none'">
                <span class="mdi mdi-pencil"></span>
            </div>
            <div class="btn btn-primary"
                 (click)="setSelectionMode('single')"
                 [class.active]="selectionMode === 'single'">
                <span class="mdi mdi-cursor-default-outline"></span>
            </div>
            <div class="btn btn-primary"
                 (click)="setSelectionMode('rect')"
                 [class.active]="selectionMode === 'rect'">
                <span class="mdi mdi-select"></span>
            </div>
        </div>

        <div class="btn-group">
            <div class="btn btn-primary"
                 [class.disabled]="subgraphSelection.length === 0"
                 (click)="createGraphFromSelection()">
                <span class="mdi mdi-transfer"></span>
            </div>

            <div class="btn btn-primary"
                 [class.disabled]="!graphFromSelection"
                 (click)="reloadGraph()">
                <span class="mdi mdi-reload"></span>
            </div>
        </div>
    </div>
</div>

<div id="matrix-container">
    <loading-icon></loading-icon>
    <matrix-options-menu (onChange)="calculateGraph()"></matrix-options-menu>

    <div *ngIf="showNoTrenchesWarning()"
         class="col-8 text-center alert alert-warning no-main-type-resource-alert">
        <em>Legen Sie eine Ressource vom Typ 'Schnitt' in der
            <a href="#" routerLink="/resources/project">Übersicht</a> an, um hier mit ihr arbeiten zu können.
        </em>
    </div>

    <div *ngIf="showNoResourcesWarning()"
         class="col-8 text-center alert alert-warning no-main-type-resource-alert">
        <em>Legen Sie für den ausgewählten Schnitt Ressourcen vom Typ 'Stratigrafische Einheit' in der Ausgrabungsansicht an und verknüpfen Sie sie mit zeitlichen Relationen.
        </em>
    </div>

    <graph *ngIf="showGraph()"
           [graph]="graph"
           (onSelect)="select($event)"
           [selectionMode]="selectionMode">
    </graph>
</div>

