<div id="matrix-view" class="row bg-light py-2">

    <div *ngIf="showTrenchSelector()" class="btn-group" ngbDropdown placement="bottom-left" role="group">
        <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button *ngFor="let trench of trenches" class="dropdown-item" (click)="selectTrench(trench)">
                {{getDocumentLabel(trench)}}
            </button>
        </div>

        <div *ngIf="selectedTrench" id="selected-trench-label" class="btn btn-outline-primary">{{getDocumentLabel(selectedTrench)}}</div>
    </div>

    <div *ngIf="!showTrenchSelector()">
        <div style="height: 41px; z-index: 1001;"></div>
    </div>
</div>

<div id="matrix-container">

    <div *ngIf="showNoTrenchesWarning()"
         class="col-8 text-center alert alert-warning no-main-type-resource-alert">
        <em>Legen Sie eine Ressource vom Typ 'Schnitt' in der
            <a href="#" routerLink="/resources/project">Übersicht</a> an, um hier mit ihr arbeiten zu können.
        </em>
    </div>


    <div *ngIf="showNoResourcesWarning()"
         class="col-8 text-center alert alert-warning no-main-type-resource-alert">
        <em>Legen Sie für den ausgewählten Schnitt Ressourcen vom Typ 'Stratigrafische Einheit' in der Ausgrabungsansicht an und verknüpfen Sie sie mit zeitlichen Relationen.
        </em>
    </div>


    <graph *ngIf="showGraph()" [documents]="featureDocuments" (onSelect)="select($event)"></graph>
</div>

