/**
 * @author Thomas Kleinke
 * @author Daniel de Oliveira
 */

@import 'graph';

#matrix-view {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index:1001;

  .btn-group {
    top: 4px;
    padding-left: 8px;
    margin-bottom: 4px;
  }

  #selected-trench-label {
    position: absolute;
    left: 43px;
  }
}


#matrix-container {
  position: absolute;
  padding-top: 58px;

  width: calc(100% - 10px);
  height: calc(100vh - 61px);

  .no-main-type-resource-alert {
    position: absolute;
    padding: 10px;
    margin: 35vh 16.6vw 0;
    z-index: 900;
    user-select: none;
    cursor: default;
  }
}
