/**
 * @author Thomas Kleinke
 */

#matrix-options-button,
#matrix-options-menu {
  position: absolute;
  z-index: 1000;
  right: 8px;
}

#matrix-options-button {
  top: 67px;
  width: 42px;
  padding-left: 11px;
}

#matrix-options-menu {
  top: 110px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  background-color: #f8f9fa !important;
  cursor: default !important;
  user-select: none;

  .card-body {
    padding-bottom: 15px;
  }

  .form-group {
    margin-bottom: 0;

    .pre-label {
      position: relative;
      top: 1px;
      margin-right: 7px;
      font-size: 15px;
    }

    .form-check {
      margin-left: 20px;
      margin-right: 10px;

      .form-check-input {
        cursor: default !important;
      }

      .form-check-label {
        margin-left: -20px;
      }
    }
  }

  fieldset:nth-of-type(2) {
    > label:first-of-type {
      margin-right: 30px;
    }

    > div:first-of-type {
      margin-right: 11px;
    }
  }
}