/**
 * @author Thomas Kleinke
 */

#matrix-view {
  .btn-group {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #selected-trench-label {
    position: absolute;
    top: 17px;
    left: 60px;
  }
}