/**
 * @author Thomas Kleinke
 */

@import 'graph';

#matrix-view {
  .btn-group {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #selected-trench-label {
    position: absolute;
    top: 17px;
    left: 60px;
  }

  #matrix-container {
    position: absolute;
    top: 70px;
    left: 10px;
    width: calc(100% - 10px);
    height: calc(100vh - 131px);
  }
}