<div id="matrix-view" class="row bg-light py-2">

    <div class="col-md-9">
        <div *ngIf="showTrenchSelector()" class="btn-group operation-document-selector"
             ngbDropdown placement="bottom-left" role="group">
            <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button *ngFor="let trench of trenches" class="dropdown-item" (click)="selectTrench(trench)">
                    {{getDocumentLabel(trench)}}
                </button>
            </div>

            <div *ngIf="selectedTrench" id="selected-trench-label" class="btn btn-outline-primary">
                {{getDocumentLabel(selectedTrench)}}
            </div>
        </div>

        <div *ngIf="!showTrenchSelector()" id="trench-selector-placeholder"></div>
    </div>

    <div class="col-md-3 mr-md-auto">
        <div class="btn-group subgraph-selection-buttons" style="width: 100% !important;">

            <button id="subgraph-selection-mode" style="width: 50% !important;"
                    (click)="toggleSubgraphSelection()"
                    ngbTooltip="{{!selectionMode ? 'Dokumentenausauswahl beginnen' : 'Dokumentenausauswahl beenden'}}"
                    placement="left"
                    container="body"
                    class="btn btn-{{!selectionMode ? 'outline-' : ''}}primary m-0">
                <span class="mdi mdi-image-search-outline"></span>
            </button>
            <button id="subgraph-selection-activate-button" style="width: 50% !important;"
                    (click)="subgraphActivateDeactivate()"
                    ngbTooltip="{{!selectionMode ?
                        'Dokumente neu laden' : 'Graphen aus ausgewählten Dokumenten erstellen'}}"
                    placement="left"
                    container="body"
                    class="btn btn-primary m-0">
                <span *ngIf="selectionMode" class="mdi mdi-play"></span>
                <span *ngIf="!selectionMode" class="mdi mdi-reload"></span>
            </button>

            <button id="createBackupButton" style="width: 20% !important;"
                    class="btn btn-primary ml-3"
                    ngbTooltip="Export function / does nothing yet"
                    placement="left"
                    container="body"
                    [ngClass]="{ 'disabled': running }">
                <span class="mdi mdi-file-export" style="color: white"></span>
            </button>
        </div>

    </div>
</div>

<div id="matrix-container">
    <loading-icon></loading-icon>
    <matrix-options-menu (onChange)="calculateGraph()"></matrix-options-menu>

    <div *ngIf="showNoTrenchesWarning()"
         class="col-8 text-center alert alert-warning no-main-type-resource-alert">
        <em>Legen Sie eine Ressource vom Typ 'Schnitt' in der
            <a href="#" routerLink="/resources/project">Übersicht</a> an, um hier mit ihr arbeiten zu können.
        </em>
    </div>

    <div *ngIf="showNoResourcesWarning()"
         class="col-8 text-center alert alert-warning no-main-type-resource-alert">
        <em>Legen Sie für den ausgewählten Schnitt Ressourcen vom Typ 'Stratigrafische Einheit' in der Ausgrabungsansicht an und verknüpfen Sie sie mit zeitlichen Relationen.
        </em>
    </div>

    <graph *ngIf="showGraph()"
           [graph]="graph"
           (onSelect)="select($event)"
           [highlightSelection]="selectionMode !== 'edit'">
    </graph>
</div>

