<div #imageRowContainer class="image-row-container">
    <div *ngIf="hasPreviousPage()" class="previous-page-button" (click)="previousPage(); $event.stopPropagation()">
        <span class="mdi mdi-chevron-left"></span>
    </div>
    <div #imageRow
         class="image-row"
         [class.animated]="!initializing">
        <div *ngFor="let image of images"
             class="image-container"
             [class.selected-image]="image === selectedImage"
             (click)="onThumbnailClicked(image)">
            <img *ngIf="hasImageUrl(image)"
                 [src]="thumbnailUrls[image.imageId]"
                 [class.highlightOnHover]="highlightOnHover"
                 [style.width]="getImageWidth(image) + 'px'">
            <div *ngIf="!hasImageUrl(image) && !initializing"
                 class="image-placeholder"
                 [class.highlightOnHover]="highlightOnHover">
                <category-icon [category]="image.document.resource.category" [size]="60"></category-icon>
            </div>
        </div>
    </div>
    <div *ngIf="hasNextPage()" class="next-page-button" (click)="nextPage(); $event.stopPropagation()">
        <span class="mdi mdi-chevron-right"></span>
    </div>
</div>
