<div id="workflow-relations-modal-body" class="modal-body">
    <p *ngIf="relationDefinition.name === 'isExecutedOn'"
        i18n="@@resources.workflowRelationsModal.heading.isExecutedOn">
        Der Arbeitsschritt <b>{{workflowStep.resource.identifier}}</b> wurde durchgeführt an:
    </p>
    <p *ngIf="relationDefinition.name === 'resultsIn'"
        i18n="@@resources.workflowRelationsModal.heading.resultsIn">
        Der Arbeitsschritt <b>{{workflowStep.resource.identifier}}</b> ergibt:
    </p>
    <relation-picker-group [resource]="clonedWorkflowStep.resource"
                           [relationDefinition]="relationDefinition"
                           [createIfEmpty]="true"></relation-picker-group>
</div>

<div  class="modal-footer">
    <button id="confirm-button"
            class="btn btn-primary"
            [class.disabled]="!validate()"
            (click)="save()">
        <span i18n="@@buttons.ok">OK</span>
    </button>
    <div id="cancel-button"
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
