#workflow-relations-modal-body {
  .add-relation {
    background-color: $primary-button-color !important;

    &:hover {
      background-color: $primary-highlight-color !important;
    }

    .mdi {
      color: white !important;
    }
  }

  relation-picker-group {
    .relations-container {
      max-height: 343px;
      padding-right: 5px;
      overflow-y: auto;
    }
  }
}
