<div *ngIf="layerGroups.length > 0">
    <div id="layer-button"
         class="btn btn-primary btn-square layer-button"
         [class.active]="opened"
         [class.disabled]="isInEditMode()"
         (click)="toggle()">
        <span class="mdi mdi-layers mdi-18px"></span>
    </div>
    <div *ngIf="opened" id="layer-menu" class="card">
        <div class="card-body">
            <loading-icon [context]="'layerMenu'"></loading-icon>
            <div class="layer-menu-container" [class.loading]="isLoading()">
                <div *ngFor="let layerGroup of layerGroups; index as i"
                        [id]="'layer-group-' + i"
                        class="layer-group">
                    <span class="layer-group-heading">{{getLayerGroupLabel(layerGroup)}}</span>
                    <span *ngIf="i === 0 && !isInEditing(layerGroup)" id="layer-menu-edit-button"
                          class="mdi mdi-pencil layer-menu-button layer-group-edit-button"
                          ngbTooltip="Kartenhintergründe bearbeiten"
                          i18n-ngbTooltip="@@resources.map.layerMenu.editLayers"
                          placement="left" container="body"
                          (click)="editGroup(layerGroup)"></span>
                    <span *ngIf="isInEditing(layerGroup)" id="layer-menu-cancel-button"
                          class="mdi mdi-close layer-menu-button layer-group-cancel-button"
                          ngbTooltip="Abbrechen"
                          i18n-ngbTooltip="@@buttons.cancel"
                          placement="left" container="body"
                          (click)="abortEditing()"></span>
                    <span *ngIf="isInEditing(layerGroup)" id="layer-menu-save-button"
                          class="mdi mdi-content-save layer-group-save-button text-success"
                          ngbTooltip="Speichern"
                          i18n-ngbTooltip="@@buttons.save"
                          placement="left" container="body"
                          (click)="saveGroup()"></span>
                    <form>
                        <fieldset class="form-group"
                                  cdkDropList [cdkDropListData]="layerGroup.layers"
                                  (cdkDropListDropped)="onDrop($event)">
                            <div *ngIf="isNoLayersInfoVisible(layerGroup)"
                                 i18n="@@resources.map.layerMenu.noLayersInfo"
                                 class="no-layers-info">
                                Benutzen Sie den Bearbeiten-Button, um georeferenzierte Bilder als
                                Kartenhintergründe hinzuzufügen.
                            </div>
                            <div *ngFor="let layer of layerGroup.layers; index as j"
                                class="layer-entry"
                                cdkDrag cdkDragLockAxis="y"
                                cdkDragBoundary=".form-group"
                                [cdkDragDisabled]="!isInEditing(layerGroup)"
                                (cdkDragStarted)="dragging = true"
                                (cdkDragEnded)="dragging = false"
                                [cdkDragData]="layer">
                                <span class="mdi layer-menu-button"
                                    [class.mdi-eye]="isActiveLayer(layer)"
                                    [class.mdi-eye-off]="!isActiveLayer(layer)"
                                    [class.layer-active]="isActiveLayer(layer)"
                                    [class.layer-inactive]="!isActiveLayer(layer)"
                                    ngbTooltip="Kartenhintergrund ein-/ausblenden"
                                    i18n-ngbTooltip="@@resources.map.layerMenu.showOrHideLayer"
                                    placement="bottom" container="body"
                                    (click)="toggleLayer(layer)">
                                </span>
                                <span *ngIf="isActiveLayer(layer)"
                                    class="mdi mdi-image-filter-center-focus layer-menu-button layer-active"
                                    ngbTooltip="Kartenhintergrund fokussieren"
                                    i18n-ngbTooltip="@@resources.map.layerMenu.focusLayer"
                                    placement="bottom" container="body"
                                    (click)="focusLayer(layer)">
                                </span>
                                <span *ngIf="!isActiveLayer(layer)"
                                    class="mdi mdi-image-filter-center-focus layer-menu-button layer-inactive">
                                </span>
                                <div cdkDragHandle class="layer-menu-drag-handle"
                                     [class.draggable]="isInEditing(layerGroup)">
                                    <span class="layer-menu-label">
                                        {{getLayerLabel(layer)}}
                                    </span>
                                </div>
                                <div class="drag-placeholder" *cdkDragPlaceholder>
                                    <span class="layer-menu-label">
                                        {{getLayerLabel(layer)}}
                                    </span>
                                </div>
                                <span *ngIf="isInEditing(layerGroup)"
                                    [id]="'layer-menu-default-layer-button-' + j"
                                    class="mdi layer-menu-button layer-menu-default-layer-button"
                                    [class.mdi-star]="isDefaultLayer(layer)"
                                    [class.mdi-star-outline]="!isDefaultLayer(layer)"
                                    ngbTooltip="Als Standard-Kartenhintergrund festlegen"
                                    i18n-ngbTooltip="@@resources.map.layerMenu.setAsDefaultMapLayer"
                                    placement="left" container="body"
                                    (click)="toggleDefaultLayer(layer)">
                                </span>
                                <span *ngIf="isInEditing(layerGroup)"
                                    [id]="'layer-menu-remove-button-' + j"
                                    class="mdi mdi-link-off layer-menu-button layer-menu-remove-button"
                                    ngbTooltip="Kartenhintergrund entfernen"
                                    i18n-ngbTooltip="@@resources.map.layerMenu.removeLayer"
                                    placement="left" container="body"
                                    (click)="removeLayer(layer)">
                                </span>
                            </div>
                        </fieldset>
                    </form>
                    <div *ngIf="isInEditing(layerGroup)"
                            class="btn btn-block btn-outline-success layer-menu-add-button"
                            ngbTooltip="Kartenhintergrund hinzufügen"
                            i18n-ngbTooltip="@@resources.map.layerMenu.addLayer"
                            placement="bottom" container="body"
                            (click)="addLayers(layerGroup)">
                        <span class="mdi mdi-plus-circle"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
