/**
 * @author Thomas Kleinke
 */
type-grid {
  document-info {
    position: relative;
    z-index: 6;
    font-size: 14px;

    .document-info {
      border-right: 1px solid #e9ecef;
    }
  }

  #type-grid {
    height: calc(100vh - 100px);
    margin-top: 2px;
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #e9ecef;

    #grid-elements-container {
      height: 100%;
      overflow-y: auto;

      .grid-section {
        width: 100%;
        display: inline-block;

        .grid-section-label {
          height: 40px;
          padding: 5px;
          color: black;
          background-color: white;
          text-align: center;
          line-height: 30px;
          font-size: 14px;
          user-select: none;
          border-bottom: 1px solid #e9ecef;
          border-top: 1px solid #e9ecef;

          &.first-grid-section-label {
            border-top: none;
          }
        }

        .type-grid-element {
          position: relative;
          width: 202px;
          height: 227px;
          margin: 10px;
          float: left;
          background-color: #fff;
          border: 1px solid #dddddd;

          .type-grid-resource-info {
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-size: 14px;
            user-select: none;
            border-bottom: 1px solid #dddddd;
          }

          .badge {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
          }

          &:hover {
            box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.3);
          }

          .type-grid-image-container {
            position: absolute;
            width: 150px;
            height: 150px;

            &:nth-of-type(1) {
              z-index: 4;
              left: 26px;
              bottom: 26px;
            }

            &:nth-of-type(2) {
              z-index: 3;
              left: 42px;
              bottom: 42px;
            }

            &:nth-of-type(3) {
              z-index: 2;
              left: 10px;
              bottom: 10px;
            }

            &:nth-of-type(4) {
              z-index: 1;
              left: 20px;
              bottom: 20px;
            }

            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: scale-down;
              user-select: none;
              -webkit-user-drag: none;
              box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
            }
          }

          category-icon {
            .category-icon {
              position: relative;
              left: 71px;
              top: 71px;
            }
          }
        }

        #plus-button-container {
          width: 100%;
          height: 63px;
          padding-top: 10px;
          position: relative;
          float: left;

          #create-document-button .circular-button {
            left: calc(50% - 20px);
            margin: auto auto auto auto;
          }

          .loading-icon {
            margin: -23px auto auto auto;
          }
        }

        .type-grid-element + #plus-button-container {
          height: 54px;
          padding-top: 0;
        }
      }
    }
  }
}