<div [id]="getCategoryId()"
     class="category-header"
     [class.with-description]="description"
     (contextmenu)="contextMenu.open($event, category)">
    <div class="row" [class.custom-category]="highlightAsCustomCategory()">
        <div class="col header header-left d-flex"
             (dblclick)="onEditCategory.emit()">
            <category-icon size="35" [category]="category"></category-icon>
            <h6>{{label}}</h6>
            <code class="category-name">{{category.name}}</code>
        </div>
        <div class="col header header-right text-right">
            <hierarchical-relations-info *ngIf="!category.isAbstract"
                                         [category]="category"
                                         [mode]="'liesWithin'"
                                         [clonedProjectConfiguration]="clonedProjectConfiguration">
            </hierarchical-relations-info>
            <hierarchical-relations-info *ngIf="!category.isAbstract"
                                         [category]="category"
                                         [mode]="'includes'"
                                         [clonedProjectConfiguration]="clonedProjectConfiguration">
            </hierarchical-relations-info>
            <span *ngIf="category.source !== 'custom'"
                  id="form-info"
                  [class.abstract-category]="category.isAbstract"
                  ngbTooltip="Ausgewähltes Formular"
                  i18n-ngbTooltip="@@configuration.seletedForm"
                  container="body"
                  placement="left">
                <span class="mdi mdi-script-text-outline"></span>
                <code>{{category.libraryId}}</code>
            </span>
        </div>
    </div>
    <div *ngIf="description" class="row subheader bg-light">
        <div class="col">{{description}}</div>
    </div>
</div>

<div class="row configuration-category">
    <div class="col-2 groups">
        <ul class="flex-column groups-container"
            cdkDropList
            (cdkDropListDropped)="onGroupDrop($event)">
            <li *ngFor="let group of category.groups"
                class="flex-column group-element"
                cdkDrag cdkDragBoundary=".groups-container" cdkDragLockAxis="y"
                (cdkDragStarted)="onDragging.emit(true)"
                (cdkDragEnded)="onDragging.emit(false)">
                <a [id]="getGroupId(group)" class="list-group-item group-button"
                   cdkDropList (cdkDropListDropped)="onFieldDrop($event, group)"
                   [cdkDropListConnectedTo]="['fields-list']"
                   [class.active]="selectedGroup === group.name"
                   [class.drop-target]="draggingField"
                   (click)="selectGroup(group.name)"
                   (dblclick)="onEditGroup.emit(group)"
                   (contextmenu)="contextMenu.open($event, category, group)">
                    <span class="mdi mdi-drag" cdkDragHandle></span>
                    <span class="group-label">
                        {{getGroupLabel(group)}}
                        <span *ngIf="highlightForCustomFields(group)" class="custom-marking"> *</span>
                    </span>
                </a>
                <div *cdkDragPreview class="group-drag-preview">
                    {{getGroupLabel(group)}}
                    <span *ngIf="highlightForCustomFields(group)" class="custom-marking"> *</span>
                </div>
                <div *cdkDragPlaceholder class="group-drag-placeholder"></div>
            </li>
        </ul>
        <div id="add-group-button"
            class="circular-button green-button"
            [class.with-description]="description"
            (click)="addGroup()"
            ngbTooltip="Gruppe hinzufügen"
            i18n-ngbTooltip="@@configuration.addGroup"
            container="body">
            <span class="mdi mdi-plus"></span>
        </div>
    </div>

    <div class="col-10 content" [class.shortened]="description">
        <div id="fields-list" class="fields-container"
            cdkDropList (cdkDropListDropped)="onFieldDrop($event)"
            [cdkDropListConnectedTo]="getGroupListIds()">
            <div *ngFor="let field of getFields()" class="field-element"
                 cdkDrag cdkDragBoundary=".configuration-category"
                 (cdkDragStarted)="startDraggingField()"
                 (cdkDragEnded)="stopDraggingField()"
                 [cdkDragData]="field.name">
                <configuration-field [field]="field"
                                     [category]="category"
                                     [configurationDocument]="configurationDocument"
                                     [hidden]="isHidden(field)"
                                     [availableInputTypes]="availableInputTypes"
                                     [contextMenu]="contextMenu"
                                     [opened]="openedFieldName === field.name"
                                     (onEdit)="onEditField.emit(field)"
                                     (onOpen)="openedFieldName = field.name">
                    <span class="mdi mdi-drag" cdkDragHandle></span>
                </configuration-field>
                <div *cdkDragPreview>
                    <configuration-field-drag-element [field]="field"
                                                      [category]="category"
                                                      [hidden]="isHidden(field)">
                    </configuration-field-drag-element>
                </div>
                <div *cdkDragPlaceholder class="field-drag-placeholder"></div>
            </div>
        </div>
        <div id="add-field-button"
             class="circular-button green-button"
             [class.with-description]="description"
            (click)="addField()"
            ngbTooltip="Feld hinzufügen"
            i18n-ngbTooltip="@@configuration.addField">
            <span class="mdi mdi-plus"></span>
        </div>
    </div>
</div>
