<div *ngIf="field && category"
     [id]="getFieldId(field)"
     class="card"
     [class.custom]="highlightAsCustomField()"
     [class.hidden-element]="hidden"
     (click)="!parentField && onOpen.emit()"
     (dblclick)="!parentField && onEdit.emit()"
     (contextmenu)="!parentField && contextMenu.open($event, category, undefined, field)">
    <div class="card-header"
         [class.parent-element]="parentField"
         [class.opened]="opened || isContextMenuOpen()">
        <ng-content></ng-content>
        <b *ngIf="label"> {{label}}</b>
        <code> {{field.name}}</code>
        <category-icon *ngIf="parentField"
                       [size]="19"
                       [category]="category.parentCategory"></category-icon>
    </div>

    <div *ngIf="opened" class="card-body">
        <p *ngIf="description" class="card-text">{{description}}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b i18n="@@configuration.field.inputType">Eingabetyp</b><span class="input-type-colon">:</span>
                <span>{{getInputTypeLabel()}}</span>
            </li>
            <li *ngIf="field.valuelist" class="list-group-item">
                <valuelist-view [valuelist]="field.valuelist"></valuelist-view>
            </li>
            <li *ngIf="field.valuelistFromProjectField" class="list-group-item">
                <span i18n="@@configuration.field.valuelistFromProjectField">
                    Die Werteliste für dieses Feld entspricht den Einträgen im Feld 
                    <code>{{field.valuelistFromProjectField}}</code> der Projekteinstellungen.
                </span>
            </li>
        </ul>
    </div>
</div>
