configuration-field {
  .card {
    margin-top: 1px;
    margin-bottom: 1px;

    .card-header {
      min-height: 55px;
      padding: 12px 20px;
      background-color: #fff;
      border: none;
      transition: background-color .25s ease;

      &.opened,
      &:hover:not(.parent-element) {
        background-color: $list-item-hover-color;
        transition: background-color .5s ease;
      }

      &.parent-element {
        b,
        code {
          font-style: italic;
          font-weight: normal;
        }
      }

      .mdi-drag {
        color: #848484;
        position: relative;
        top: 3px;
        right: 6px;
        cursor: grab;
      }

      .category-icon {
        position: relative;
        top: 2px;
        right: 2px;
        margin-left: 12px;
      }

      b,
      code,
      .mdi-alert-circle-outline {
        position: relative;
        top: 2px;
      }
    }

    .card-body {
      padding-top: 0;
      background-color: $list-item-hover-color;

      .list-group {
        color: initial;
      }
    }

    b {
      font-weight: 500;
    }

    &.custom {
      .card-header {
        background-color: $custom-highlight-color !important;
      }

      .card-header.opened,
      .card-header:hover:not(.parent-element),
      .card-body {
          background-color: darken($custom-highlight-color, 5%) !important;
      }
    }

    .oneliner-colon {
      margin-right: 4px;
    }

    .target-category {
      position: relative;
      left: 10px;
      margin-top: 8px;

      .target-category-label {
        margin-left: 5px;
      }

      &:first-of-type {
        margin-top: 5px;
      }
    }

    &.hidden-element {
      b,
      code,
      span,
      .card-text,
      .badge {
        color: #ccc;
      }
    }
  }
}
