<div *ngIf="field && category"
     [id]="getFieldId()"
     class="card"
     [class.custom]="highlightAsCustomField()"
     [class.hidden-element]="hidden"
     (click)="!parentField && onOpen.emit()"
     (dblclick)="!parentField && onEdit.emit()"
     (contextmenu)="!parentField && contextMenu.open($event, category, undefined, field)">
    <div class="card-header"
         [class.parent-element]="parentField"
         [class.opened]="opened || isContextMenuOpen()">
        <ng-content></ng-content>
        <b *ngIf="label"> {{label}}</b>
        <code> {{field.name}}</code>
        <category-icon *ngIf="parentField"
                       [size]="19"
                       [category]="category.parentCategory"></category-icon>
    </div>

    <div *ngIf="opened" class="card-body">
        <p *ngIf="description" class="card-text">{{description}}</p>
        <ul class="list-group list-group-flush">
            <li *ngIf="field.mandatory" class="list-group-item">
                <b i18n="@@configuration.mandatoryField">Pflichtfeld</b>
            </li>
            <li class="list-group-item">
                <b i18n="@@configuration.field.inputType">Eingabetyp</b><span class="oneliner-colon">:</span>
                <span>{{getInputTypeLabel()}}</span>
            </li>
            <li *ngIf="field.condition" class="list-group-item">
                <div><b i18n="@@configuration.field.condition">Bedingung</b><span class="oneliner-colon">:</span></div>
                <div><i>{{getFieldLabel(field.condition.fieldName)}}:</i> {{getConditionValuesLabel()}}</div>
            </li>
            <li *ngIf="field.valuelist" class="list-group-item">
                <valuelist-view [valuelist]="field.valuelist"></valuelist-view>
            </li>
            <li *ngIf="field.valuelistFromProjectField" class="list-group-item">
                <span i18n="@@configuration.field.valuelistFromProjectField">
                    Die Werteliste für dieses Feld entspricht den Einträgen im Feld 
                    <code>{{field.valuelistFromProjectField}}</code> der Projekteinstellungen.
                </span>
            </li>
            <li *ngIf="getRange()" class="list-group-item">
                <b i18n="@@configuration.relation.targetCategories">Erlaubte Zielkategorien</b>:
                <div *ngFor="let categoryName of getRange()" class="target-category">
                    <category-icon [category]="categoryName"
                                   [customProjectConfiguration]="clonedProjectConfiguration"
                                   size="25"></category-icon>
                    <span class="target-category-label">{{getCategoryLabel(categoryName)}}</span>
                </div>
            </li>
            <li *ngIf="getInverseRelation()" class="list-group-item inverse-relation">
                <b i18n="@@configuration.relation.inverse">Gegenrelation</b><span class="oneliner-colon">:</span>
                <span class="inverse-relation-label">{{getRelationLabel(getInverseRelation())}}</span>
            </li>
            <li *ngIf="getDateDataType()" class="list-group-item">
                <b i18n="@@configuration.date.dataType">Angabe der Uhrzeit</b><span class="oneliner-colon">:</span>
                <span *ngIf="getDateDataType() === 'optional'"
                      i18n="@@configuration.date.time.optional">Optional</span>
                <span *ngIf="getDateDataType() === 'dateTime'"
                      i18n="@@configuration.date.time.mandatory">Verpflichtend</span>
                <span *ngIf="getDateDataType() === 'date'"
                      i18n="@@configuration.date.time.no">Nicht erlaubt</span>
            </li>
            <li *ngIf="getDateInputMode()" class="list-group-item">
                <b i18n="@@configuration.date.inputMode">Eingabemodus</b><span class="oneliner-colon">:</span>
                <span *ngIf="getDateInputMode() === 'optional'"
                      i18n="@@configuration.date.inputMode.optional">Wählbar</span>
                <span *ngIf="getDateInputMode() === 'single'"
                      i18n="@@configuration.date.inputMode.single">Einzeldatum</span>
                <span *ngIf="getDateInputMode() === 'range'"
                      i18n="@@configuration.date.inputMode.range">Datumsbereich</span>
            </li> 
        </ul>
    </div>
</div>
