configuration-category {
  user-select: none;

  .category-header {
    position: relative;
    top: 1px;
    height: 45px;

    &.with-description {
      height: 101px;
    }

    .header {
      height: 45px;
      border-bottom: 1px solid #ccc;
      background-color: #ededed;

      &.header-left {
        padding: 7px;
      }

      &.header-right {
        padding-top: 10px;
        padding-right: 8px;
      }

      category-icon {
        position: relative;
        bottom: 2px;
      }

      h6 {
        position: relative;
        top: 0.3em;
        max-width: 450px;
        margin: 0 8px;
        font-size: 1.1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .category-name {
        padding-top: 0.4em;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .mdi-script-text-outline {
        position: relative;
        top: 1px;
        margin-right: 6px;
        color: #414952;
      }

      #form-info {
        position: relative;
        bottom: 6px;
        margin-left: 14px;

        &.abstract-category {
          bottom: 0;
        }
      }
    }

    .subheader {
      height: 56px;
      padding: 1rem;
      overflow-y: auto;
    }
  
    .custom-category .header {
      background-color: $custom-highlight-color;
    }
  }

  .groups {
    padding: 0;
    width: 240px;
    height: calc(100vh - 140px);

    ul {
      width: 100%;
      height: 100%;
      padding: 0;
      list-style: none;
      overflow: auto;

      .group-button {
        width: 100%;
        height: 45px;
        padding: 7px;
        border: dotted 3px transparent;
        border-radius: 0;
        color: #212529;
        background-color: white;
        transition: background-color .25s ease, border .25s ease;

        &:hover,
        &.active {
          background-color: $list-item-hover-color !important;
          transition: background-color .5s ease, border .5s ease;
        }

        &.drop-target:hover {
          background-color: #ccc !important;
          border: dotted 3px #999;
        }

        .mdi-drag {
          position: absolute;
          color: #848484;
          cursor: grab;
        }

        .group-label {
          position: absolute;
          top: 9px;
          left: 33px;
          width: calc(100% - 35px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  
  .content {
    height: calc(100vh - 140px);
    padding: 0;

    &.shortened {
      height: calc(100vh - 201px);
    }

    .fields-container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      .field-element:first-of-type .card {
        margin-top: 0;
      }
    }
  }

  .configuration-category {
    position: relative;
    top: 1px;
  }

  .category-editor {
    background-color: #eee;
  }

  #add-field-button,
  #add-group-button {
    left: 50%;
    z-index: 1001;
  }

  #add-field-button {
    transform: translate(-20px, -45px);
    padding: 2px 0 0 1px;
  }

  #add-group-button {
    position: absolute;
    bottom: 6px;
    padding-top: 2px;
    padding-right: 1px;
    transform: translate(-20px, 0);

    &.with-description {
      bottom: 62px;
    }
  }

  .field-drag-placeholder,
  .group-drag-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  }

  .field-drag-placeholder {
    min-height: 55px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 1 !important;
  }

  .group-drag-placeholder {
    min-height: 45px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 1 !important;
  }

  .group-button .field-drag-placeholder {
    display: none;
  }

  .cdk-drag-animating {
    transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  }

  .fields-container.cdk-drop-list-dragging .field-element:not(.cdk-drag-placeholder),
  .groups-container.cdk-drop-list-dragging .group-element:not(.cdk-drag-placeholder) {
    transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.group-drag-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  color: #212529;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-family: 'Open SansVariable';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2),
              0 9px 11px 2px rgba(0, 0, 0, 0.14),
              0 3px 14px 3px rgba(0, 0, 0, 0.12);
}
