<div id="view-modal-header" class="d-flex justify-content-between">
    <div *ngIf="!linkedResourceIdentifier" class="text-truncate" i18n="@@imageView.images">Bilder</div>
    <div *ngIf="linkedResourceIdentifier" class="text-truncate" i18n="@@imageView.linkedImages">
        Mit <strong>{{linkedResourceIdentifier}}</strong> verknüpfte Bilder
    </div>

    <button class="btn btn-primary"
            id="close-button"
            tabindex="-1"
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="view-modal-body" class="modal-body px-0">
    <div id="view-modal-content" class="flex-nowrap bg-light px-0">
        <document-info [document]="selectedImage?.document"
                       [getExpandAllGroups]="getExpandAllGroups"
                       [setExpandAllGroups]="setExpandAllGroups"
                       (onStartEdit)="startEdit(true)"
                       (onJumpToResource)="jumpToResource($event)"></document-info>

        <image-viewer [image]="selectedImage?.document"></image-viewer>

        <image-row [images]="images"
                   [selectedImage]="selectedImage"
                   [highlightOnHover]="true"
                   [allowSelection]="true"
                   (onImageSelected)="onSelected($event)"></image-row>
    </div>
</div>
