<select [(ngModel)]="resource[field.name]" (change)="setValue($event.target.value)"
        class="form-control">
    <option value="" [selected]="!resource.hasOwnProperty(field.name)"></option>
    <option *ngFor="let item of field.valuelist" value="{{item}}">{{item}}</option>
</select>


<br *ngIf="notIncludedInValueList()">
<span *ngIf="notIncludedInValueList()">
    <small>
        <span i18n="@@docedit.forms.outliersInfo">Die Ressource enthält nicht in der Werteliste enthaltene Einträge:</span>
        <button (click)="deleteItem()" class="btn btn-sm mr-1" *ngFor="let item of notIncludedInValueList()">{{item}} <span class="mdi mdi-close-circle-outline"></span></button>
    </small>
</span>