<div class="card">
    <div class="card-block">
        Selection:<br>
        <div *ngFor="let item of resource[field.name]" class="checkbox" style="display:inline">
            <label>
                <input value="{{item}}"
                    type="checkbox"
                    (click)="toggleItem(item)"
                    checked="checked">
                {{item}}
            </label>
        </div>
    </div>
</div>
<div>
    Search in long list:<br>
    <input class="form-control" [(ngModel)]="queryTerm">
</div>
<div *ngFor="let item of field.valuelist" class="checkbox">

    <label [style.display]="queryTerm == '*' || (queryTerm != '' && item.indexOf(queryTerm) > -1) ? 'block' : 'none'">
        <input value="{{item}}"
               type="checkbox"
               (click)="toggleItem(item)">
        {{item}}
    </label>
</div>