<div class="modal-body p-0">
    <section id="document-edit-wrapper" class="bg-light">
        <header class="d-flex justify-content-between">
            <div id="category-switcher-button-container">
                <category-switcher-button [category]="documentHolder.clonedDocument.resource.category"
                                          (onCategoryChanged)="changeCategory($event)">
                </category-switcher-button>
            </div>

            <div *ngIf="documentHolder.clonedDocument"
                  class="docedit-header-label text-truncate">
                <small *ngIf="!documentHolder.clonedDocument.resource.id" i18n="@@docedit.header.create">
                    {{getCategoryLabel()}}
                    in {{parentLabel}} anlegen
                </small>
                <small *ngIf="documentHolder.clonedDocument.resource.id" i18n="@@docedit.header.edit">
                    {{getCategoryLabel()}} bearbeiten
                </small>
                <br>
                <strong>{{getResourceLabel()}}</strong>
                <span class="sub-label">{{getResourceSubLabel()}}</span>
            </div>

            <div>
                <div class="btn-group" id="show-changes-history">
                    <button class="btn btn-secondary"
                            id="document-edit-button-show-changes-history"                            
                            (click)="showChangeHistory()">
                        <span class="mdi mdi-history"></span>                
                        <span class="button-label" i18n="@@buttons.history">Geschichte</span>
                    </button>
                </div>
                <div class="btn-group" id="save-button-group">
                    <button class="btn btn-success disabled pull-right"
                            id="document-edit-button-save-document"
                            [class.disabled]="!isChanged() || isLoading()"
                            (click)="!isChanged() || isLoading() || save()">
                        <span class="mdi mdi-content-save"></span>
                        <span class="button-label" i18n="@@buttons.save">Speichern</span>
                    </button>
                    <div *ngIf="showDuplicateButton()"
                         ngbDropdown placement="bottom-right"
                         class="btn-group">
                        <button id="document-edit-button-dropdown"
                                class="btn btn-success dropdown-toggle-split"
                                [class.disabled]="isLoading()"
                                [disabled]="isLoading()"
                                ngbDropdownToggle>
                        </button>
                        <div ngbDropdownMenu id="document-edit-dropdown-menu">
                            <span id="document-edit-button-duplicate-document"
                                  class="dropdown-item"
                                  (click)="openDuplicateModal()">
                                <span class="mdi mdi-expand-all"></span>
                                <span *ngIf="!documentHolder.clonedDocument.resource.id"
                                      class="dropdown-entry-label"
                                      i18n="@@buttons.createMultipleInstances">Mehrfach erstellen</span>
                                <span *ngIf="documentHolder.clonedDocument.resource.id"
                                      class="dropdown-entry-label"
                                      i18n="@@buttons.duplicate">Vervielfältigen</span>
                            </span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-square"
                        id="document-edit-button-goto-view"
                        [class.disabled]="isLoading()"
                        (click)="isLoading() || cancel()">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
        </header>
        <main>
            <edit-form *ngIf="projectConfiguration && documentHolder.clonedDocument && !isLoading()"
                       [originalDocument]="documentHolder.oldVersion"
                       [document]="documentHolder.clonedDocument"
                       [inspectedRevisions]="documentHolder.inspectedRevisions"
                       [fieldDefinitions]="fieldDefinitions"
                       [originalGroups]="groups"
                       [activeGroup]="activeGroup"
                       [identifierPrefix]="identifierPrefix"
                       [scrollTargetField]="scrollTargetField">
            </edit-form>

            <div *ngIf="isLoading()" id="loading-icon-container">
                <loading-icon [context]="'docedit'"></loading-icon>
                <div id="operation-in-progress-info" class="alert alert-primary">
                    <span *ngIf="operationInProgress === 'save'" i18n="@@docedit.loadingInfo.save">
                        Ressource wird gespeichert...
                    </span>
                    <span *ngIf="operationInProgress === 'duplicate' && !documentHolder.clonedDocument.resource.id"
                          i18n="@@docedit.loadingInfo.createMultipleInstances">
                        Ressourcen werden erstellt...
                    </span>
                    <span *ngIf="operationInProgress === 'duplicate' && documentHolder.clonedDocument.resource.id"
                          i18n="@@docedit.loadingInfo.duplicate">
                        Ressource wird vervielfältigt...
                    </span>
                </div>
            </div>
        </main>
    </section>
</div>
