@import 'tabs/docedit-conflicts-tab';
@import 'widgets/category-switcher-button';
@import 'widgets/image-picker';
@import 'widgets/relationpicker/relation-picker';
@import 'widgets/relationpicker/relation-picker-group';
@import 'core/edit-form';
@import 'core/edit-form-group';
@import 'core/forms/forms';
@import 'core/forms/geometry';
@import 'core/forms/date';
@import 'core/forms/dropdown';
@import 'core/forms/dropdown-range';
@import 'core/forms/dimension';
@import 'core/forms/dating';
@import 'core/forms/literature';
@import 'core/forms/input';
@import 'core/forms/multi-input';
@import 'core/forms/identifier';
@import 'core/forms/type-relation/type-relation';
@import 'core/forms/widgets/outliers';
@import 'core/forms/widgets/empty-valuelist-info';
@import 'core/forms/widgets/invalid-field-data';
@import 'core/forms/widgets/multi-language-text-field';
@import 'dialog/duplicate-modal';

#document-edit-wrapper {
  height: calc(100vh - 65px);
  overflow-y: hidden;

  .form-group.card {
    margin-bottom: 0;
  }

  .document-info .card-block {
    overflow: auto;
  }

  textarea {
    width: 100%;
    resize: vertical;
  }

  header {
    padding: 7px;
    border-bottom: 1px solid #ccc;
    user-select: none;
    background-color: $modal-header-background-color;

    #category-switcher-button-container {
      min-width: 55px;
      padding: 4px;
    }

    .docedit-header-label {
      font-size: 1.5em;
      line-height: 1em;
      margin: 0;
      padding-right: 15px;
      flex: 1;
      min-height: 2.15em;
      color: $modal-header-font-color;
    }
  }

  .mdi-arrow-left {
    margin-left: -5px;
    margin-right: -3px;
  }

  #loading-icon-container {
    position: relative;
    top: 18px;
    width: calc(100% - 50px);
    height: calc(100vh - 150px);
    margin: auto;

    loading-icon {
      position: relative;
      top: 110px;
    }

    #operation-in-progress-info {
      user-select: none;
      cursor: default;
    }
  }

  #document-edit-button-save-document:active,
  #document-edit-button-save-document:focus,
  #document-edit-button-goto-view:active,
  #document-edit-button-goto-view:focus,
  #document-edit-button-dropdown:active,
  #document-edit-button-dropdown:focus,
  #document-view-button-edit-document:active,
  #document-view-button-edit-document:focus,
  #document-view-button-back-to-map:active,
  #document-view-button-back-to-map:focus {
    outline: none;
  }

  #document-edit-button-save-document,
  #document-edit-button-goto-view,
  #document-edit-button-dropdown {
    position: relative;
    top: 8px;
    height: 39px;
    border: 0;
    color: #fff;
  }

  #document-edit-button-goto-view {
    margin-left: 7px;
  }

  #document-edit-button-dropdown {
    margin-left: 1px;

    &:focus {
      box-shadow: none;
    }
  }

  main {
    height: 86%;
    padding: 0;
    position: relative;
  }
}

#document-edit-dropdown-menu {
  .dropdown-entry-label {
    margin-left: 5px;
  }

  .mdi-expand-all {
    color: #28a745;
  }
}
