#image-type-picker-modal {
  ul {
    li {
      &.list-group-item {
        border: 1px solid #eee !important;
      }

      &:hover > ul li {
        background-color: $list-item-hover-color !important;
        transition: background-color .65s ease;
      }

      ul {
        margin-top: 10px;

        li.list-group-item {
          border: none !important;
        }

        li:hover {
          background-color: darken($list-item-hover-color, 5%) !important;
        }
      }
    }
  }

  .list-group-item {
    cursor: pointer;
  }

  .image-type-label {
    position: relative;
    left: 10px;
    bottom: 4px;
  }
}