#image-upload-modal {

  .image-upload-modal-container {
    margin-left: 115px;

    .spinner {
      display: inline-block;
      margin-top: 7px;
      margin-right: 10px;
    }

    .upload-info {
      display: inline-block;
      position: relative; top: -14px;
    }
  }

}