#image-view-modal-buttons {
  height: 49px;
  border-bottom: 1px solid #e9ecef;

  #image-view-modal-mode-buttons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin-right: 2px;
    text-align: right;

    #tiles-mode-button,
    #viewer-mode-button {
      width: 100px;
    }
  }

  #image-view-modal-selection-buttons {
    position: relative;
    top: 5px;
    left: 10px;
  }
}

.image-edit-content {
  height: 100% !important;
}

#image-view-modal-content-container {
  height: 100%;

  &.shortened-container {
    height: calc(100% - 49px);
  }

  #view-modal-content {
    background-color: #fff;
  }
}
