#image-view-modal-buttons {
  #manage-images-button {
    margin-right: 7px;
  }

  #tiles-mode-button,
  #viewer-mode-button {
    width: 100px;
  }

  #close-button {
    margin-left: 7px;
  }
}

.image-edit-content {
  height: calc(100% - 10px) !important;
}
