image-view-edit {
  #image-grid-container {
    position: relative;
    top: 10px;
    margin-top: 0;
    height: 100%;
    background-color: #f8f9fa;
    padding-left: 20px;
    padding-right: 6px;
    overflow-y: auto;

    .card-block {
      padding-top: 0;
    }

    #create-depicts-relations-btn,
    #delete-images,
    #deselect-images,
    #set-main-image {
      height: 40px;
    }

    .btn-group .btn {
      margin-left: 0.5rem;
    }

    .image-grid {
      margin-top: 0;
    }

    #link-images-button,
    #add-images-button {
      border-style: none;
      width: 100%;
      background-color: white;
      color: $primary-button-color;

      &:hover {
        background: darken(white, 5%)
      }
    }

    .popover-body {
      padding: 5px !important;
    }

    #add-images-button {
      border-bottom-style: solid;
      border-bottom-color: lighten($primary-button-color, 33%);
    }
  }
}
