<div class="droparea"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">

    <label id="plus-button"
           class="mdi mdi-48px mdi-plus-circle"
           [ngbPopover]="linkOrAddMenu"
           ngbTooltip="Um Bilder hinzuzufügen, ziehen Sie sie in die markierte Fläche oder öffnen Sie per Klick ein Auswahlmenü."
           i18n-ngbTooltip="@@imageGrid.dropArea.tooltip"
           #linkOrAddTooltip="ngbTooltip"
           (mousedown)="linkOrAddTooltip.close()"
           placement="bottom"
           container="body"
           popoverClass="view-modal-drop-area-popover"
           #popover="ngbPopover"></label>
</div>

<ng-template #linkOrAddMenu>
    <span id="add-images-button"
      class="btn btn-primary"
      (click)="selectFiles($event)"
      i18n="@@image-view-modal.dropArea.add-images">Neue Bilder hinzufügen</span>
    <span class="btn btn-primary"
          id="link-images-button"
          tabindex="-1"
          (click)="startEditImages.emit()"
          i18n="@@image-view-modal.dropArea.link-images">Existierende Bilder verknüpfen</span>
</ng-template>
