<form id="search-bar" class="form-inline">
    <span id="input-wrapper">
        <input #searchInput
               class="form-control search-bar-input"
               [class.small-search-input]="extendedSearch"
               [(ngModel)]="q"
               (keyup)="onKeyUp($event)"
               (focus)="focused = true; showSuggestions();"
               (blur)="focused = false"
               name="searchInput"
               type="text"
               placeholder="Suchen..."
               i18n-placeholder="@@widgets.searchBar.placeholder">
        <search-suggestions [maxSuggestions]="5"
                            [visible]="suggestionsVisible">
        </search-suggestions>
    </span>

    <resources-search-constraints *ngIf="extendedSearch"
                                  [type]="getSelectedType()">
    </resources-search-constraints>

    <div *ngIf="showFiltersMenu" id="resources-search-bar-filter-button" class="filter-button">
        <button class="btn btn-primary search-filter"
                type="button"
                (click)="hideSuggestions()"
                [ngbPopover]="filterMenu"
                [autoClose]="false"
                #p="ngbPopover"
                placement="bottom">
            <span *ngIf="!isTypeSelected()" class="mdi mdi-filter"></span>
            <span *ngIf="isTypeSelected()">
                <type-icon [type]="types[0]" size="30"></type-icon>
            </span>
        </button>

        <ng-template #filterMenu>
            <div class="filtermenu">
                <div class="popover-custom-title">
                    <span i18n="@@widgets.searchBar.resourceTypeFilter">Nach Ressourcentyp filtern:</span>
                </div>
                <type-picker [typesTreeList]="filterOptions"
                             [allTypesOptionVisible]="isAllTypesOptionVisible()"
                             [selectedTypes]="types"
                             [allowPickingAbstractTypes]="true"
                             (onTypePicked)="chooseTypeFilter($event); p.close();">
                </type-picker>
            </div>
        </ng-template>
    </div>
</form>