/**
 * @author Thomas Kleinke
 */
resources-search-bar {

  form {
    align-items: inherit !important;
    padding-top: 1px;

    #input-wrapper {
      position: relative;
      width: 100%;

      input {
        height: 39px;
      }
    }

    #object-search {
      width: calc(100% - 200px) !important;
    }

    #filter-button {
      right: 160px !important;

      #searchfilter {
        height: 39px !important;
      }
    }

    search-constraints {
      position: absolute;
      right: 27px;
    }
  }
}