/**
 * @author Thomas Kleinke
 */
resources-search-bar {

  form {
    align-items: inherit !important;
    padding-top: 1px;

    #input-wrapper {
      position: relative;
      width: 100%;

      input {
        height: 39px;
      }
    }

    .search-bar-input {
      width: calc(100% - 60px) !important;

      &.small-search-input {
        width: calc(100% - 101px) !important;
      }
    }

    #resources-search-bar-filter-button {
      right: 19px !important;

      .search-filter {
        height: 39px !important;
      }
    }

    resources-search-constraints {
      position: absolute;
      top: 39px;
    }
  }
}