<div id="constraints-menu-button"
     class="btn btn-outline-primary" [class.focused]="resourcesSearchBarComponent.isFocused()"
     ngbTooltip="{{getTooltip()}}"
     placement="left" container="body" triggers="manual" #tooltip="ngbTooltip"
     (mouseover)="tooltip.open()" (mouseleave)="tooltip.close()"
     (click)="tooltip.close(); showConstraintsMenu = !showConstraintsMenu;" >
    <span *ngIf="constraintListItems.length === 0" class="mdi mdi-plus"></span>
    <span *ngIf="constraintListItems.length > 0" class="badge badge-light">
        {{constraintListItems.length}}
    </span>
</div>

<div *ngIf="showConstraintsMenu" id="constraints-menu">
    <h6>Suchkriterien</h6>

    <div *ngIf="!type" id="constraints-type-filter-info">
        Wählen Sie zunächst einen Typfilter aus, um die Suche anschließend weiter verfeinern zu können.
    </div>

    <div *ngFor="let constraint of constraintListItems" class="constraint-list-item"
         (click)="removeConstraint(constraint.name); $event.stopPropagation();">
        <div class="constraint-list-item-text">
            <em>{{constraint.label}}:</em> {{getSearchTermLabel(constraint)}}
        </div>
        <span class="mdi mdi-close-circle"></span>
    </div>

    <div *ngIf="fields && fields.length > 0" class="form-inline">
        <select id="constraint-field-select" (change)="selectField($event.target.value)" class="form-control">
            <option value="" [selected]="!selectedField" hidden>Feld auswählen</option>
            <option value=""></option>
            <option *ngFor="let field of fields" value="{{field.name}}"
                    [selected]="selectedField && selectedField.name === field.name">
                {{field.label}}
            </option>
        </select>

        <input *ngIf="getSearchInputType(selectedField) === 'input'"
               id="constraint-search-term-input" type="text" placeholder="Suchbegriff eingeben"
               [(ngModel)]="searchTerm" class="form-control">

        <select *ngIf="getSearchInputType(selectedField) === 'dropdown'"
                id="constraint-search-term-select" [(ngModel)]="searchTerm" class="form-control">
            <option value="" hidden [selected]="searchTerm.length === 0">Suchbegriff auswählen</option>
            <option value=""></option>
            <option *ngFor="let value of selectedField.valuelist" value="{{value}}">{{value}}</option>
        </select>

        <select *ngIf="getSearchInputType(selectedField) === 'boolean'"
                id="constraint-search-term-boolean-select" [(ngModel)]="searchTerm" class="form-control">
            <option value="" hidden [selected]="searchTerm.length === 0">Suchbegriff auswählen</option>
            <option value=""></option>
            <option value="true">Ja</option>
            <option value="false">Nein</option>
        </select>

        <div *ngIf="searchTerm.length > 0" id="add-constraint-button" class="btn btn-primary"
             (click)="addConstraint(); $event.stopPropagation();">
            <span class="mdi mdi-plus"></span>
        </div>
    </div>
</div>