/**
 * @author Thomas Kleinke
 */
search-constraints {

  #add-constraint-button {
    width: 132px;

    .badge {
      position: relative;
      left: 4px;
    }

    .mdi-plus {
      position: relative;
      top: 1px;
      left: 8px;
    }
  }

  #constraints-menu {
    display: inline;
    position: absolute;
    top: 39px;
    width: 132px;
    background-color: rgb(238, 238, 238);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);

    div {
      padding: 10px;
      background-color: white;
    }
  }
}