/**
 * @author Thomas Kleinke
 */
search-constraints {

  #add-constraint-button {
    width: 132px;
    text-align: left;

    .badge {
      margin-left: 4px;
    }

    .mdi-plus {
      margin-left: 42px;
    }
  }

  #constraints-menu {
    display: inline;
    position: absolute;
    top: 39px;
    width: 132px;
    background-color: rgb(238, 238, 238);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);

    h6 {
      background-color: #f7f7f7;
      padding: 10px;
      margin-bottom: 0;
      cursor: default;
    }

    div {
      padding: 10px;
      background-color: white;
      cursor: pointer;
      user-select: none;
    }

    div:hover {
      background-color: darken($list-item-hover-color, 5%);
      transition: background-color .65s ease;
    }
  }
}