<div *ngIf="type" id="constraints-menu-button" class="btn btn-primary"
     (click)="showConstraintsMenu = !showConstraintsMenu;">
    <span *ngIf="constraintListItems.length === 0" class="mdi mdi-plus"></span>
    <span *ngIf="constraintListItems.length > 0" class="badge badge-light">
        {{constraintListItems.length}}
    </span>
</div>

<div *ngIf="showConstraintsMenu" id="constraints-menu">
    <h6>Suchkriterien</h6>
    <div *ngFor="let constraint of constraintListItems" class="constraint-list-item"
         (click)="removeConstraint(constraint.name); $event.stopPropagation();">
        <b>{{constraint.label}}:</b> {{constraint.searchTerm}} <span class="mdi mdi-close-circle"></span>
    </div>

    <div class="form-inline">
        <select id="constraint-field-select" (change)="selectField($event.target.value)" class="form-control">
            <option value="" [selected]="!selectedField" hidden>Feld auswählen</option>
            <option *ngFor="let field of fields" value="{{field.name}}"
                    [selected]="selectedField && selectedField.name === field.name">
                {{field.label}}
            </option>
        </select>

        <input *ngIf="getSearchInputType(selectedField) === 'input'"
               id="constraint-search-term-input" type="text"
               [(ngModel)]="searchTerm" class="form-control">

        <select *ngIf="getSearchInputType(selectedField) === 'dropdown'"
                id="constraint-search-term-select" [(ngModel)]="searchTerm" class="form-control">
            <option value="" hidden></option>
            <option *ngFor="let value of selectedField.valuelist" value="{{value}}">{{value}}</option>
        </select>

        <div *ngIf="searchTerm.length > 0" id="add-constraint-button" class="btn btn-primary"
             (click)="addConstraint(); $event.stopPropagation();">
            <span class="mdi mdi-plus"></span>
        </div>
    </div>
</div>