/**
 * @author Thomas Kleinke
 */
resources-search-bar {
  form {
    align-items: inherit !important;
    padding-top: 1px;

    #input-wrapper {
      position: relative;
      width: 100%;

      input {
        height: 39px;
      }
    }

    #qr-scanner {
      position: absolute;
      padding-left: 0;
      top: 0;
      right: 45px;
      width: 50px;
      height: 100%;
      border-radius: 40%;
      cursor: default;
      border: none;
      background: none;
      box-shadow: none;
      outline: none;
      z-index: 1000;

      &:hover {
        border-radius: 100%;
        background-color: $list-item-hover-color;
        -webkit-border-radius: 0 0 0 0;
      }
    }

    .search-bar-input {
      width: calc(100% - 60px) !important;

      &.small-search-input {
        width: calc(100% - 101px) !important;
      }

      &.big-search-input {
        width: 100% !important;
      }
    }
  }
}

.resources-filter-popover {
  .arrow {
    right: 13px !important;
  }
}
