/**
 * @author Thomas Kleinke
 */
resources-search-bar {
  form {
    align-items: inherit !important;
    padding-top: 1px;

    #input-wrapper {
      position: relative;
      width: 100%;

      input {
        height: 39px;
      }
    }

    #qr-code-scanner-button {
      position: relative;
      right: 1px;
      border-radius: 0;
      border-left: none;
      border-right: none;
      border-color: lightgrey;

      &.focused {
        border-color: #7998cb !important;
      }
  
      &:active {
        border-color: #ced4da !important;
      }

      &.with-small-search-input:active {
        box-shadow: inset 3px 3px 11px -7px rgb(0 0 0 / 70%) !important;
      }
    }

    .search-bar-input {
      width: calc(100% - 101px) !important;
      border-right: none;

      &.small-search-input {
        width: calc(100% - 142px) !important;
      }

      &.big-search-input {
        width: 100% !important;
      }
    }
  }
}

.resources-filter-popover {
  .arrow {
    right: 13px !important;
  }
}
