/**
 * @author Thomas Kleinke
 */
resources-search-bar {
  form {
    align-items: inherit !important;
    padding-top: 1px;

    #input-wrapper {
      position: relative;
      width: 100%;

      input {
        height: 39px;
      }
    }

    #qr-code-scanner-button {
      width: 50px;

      .mdi {
        position: relative;
        left: 2px;
      }
    }

    .search-bar-input {
      width: calc(100% - 101px) !important;
      border-right: none;

      &.small-search-input {
        width: calc(100% - 142px) !important;
      }

      &.big-search-input {
        width: 100% !important;
      }
    }
  }
}

.resources-filter-popover {
  .arrow {
    right: 13px !important;
  }
}
