@use '../../variables' as *;

/**
 * @author Thomas Kleinke
 */
#search-suggestions {
  position: absolute;
  top: 38px;
  left: 0;
  text-align: left;
  width: calc(100% - 50px);
  background-color: rgb(238, 238, 238);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  overflow: hidden;
  user-select: none;

  h6 {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 0;
    font-size: 15px;
    cursor: default;
  }

  .suggestion-container {
    padding: 12px;
    background-color: white;
    margin-bottom: 1px;
    transition: background-color .25s ease;

    &.selected-suggestion {
      background-color: $list-item-hover-color;
      transition: background-color .5s ease;
    }
  }

  #no-results-info {
    background-color: white;
    padding: 12px;
    font-size: 14px;
    cursor: default;
  }
}