<div *ngIf="ready">
    <div class="card">
        <div class="card-header">
            <h3 *ngIf="conflictedRevisions.length == 0 && inspectedRevisionsIds.length > 0" class="card-title">
                Alle Konflikte wurden gelöst.
            </h3>
            <h3 *ngIf="conflictedRevisions.length == 1" class="card-title">
                Es besteht <b>ein</b> Konflikt.
            </h3>
            <h3 *ngIf="conflictedRevisions.length > 1" class="card-title">
                Es bestehen <b>{{conflictedRevisions.length}}</b> Konflikte.
            </h3>
        </div>
        <div *ngIf="conflictedRevisions.length > 0">
            <div class="row h-100">
                <div class="col-md-5 my-auto conflict-resolver-field">
                    <span>{{document.modified}}</span>
                </div>
                <div class="col-md-2 my-auto text-center">
                    <button class="btn btn-primary" id="switch-winning-revision-button" (click)="switchWinningSide()">
                        <span *ngIf="getWinningSide() == 'left'" class="mdi mdi-18px mdi-arrow-left-bold"></span>
                        <span *ngIf="getWinningSide() == 'right'" class="mdi mdi-18px mdi-arrow-right-bold"></span>
                        <span *ngIf="getWinningSide() == 'mixed'" class="mdi mdi-18px mdi-asterisk"></span>
                    </button>
                </div>
                <div class="col-md-5 my-auto conflict-resolver-field">
                    <select [ngModel]="selectedRevision" (ngModelChange)="setSelectedRevision($event)"
                            class="form-control">
                        <option *ngFor="let revision of conflictedRevisions" [ngValue]="revision">
                            {{revision.modified}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let field of differingFields" class="card">
        <div class="card-header">
            <h3 class="card-title">{{field.label}}</h3>
        </div>
        <div class="row h-100">
            <div class="col-md-5 my-auto conflict-resolver-field">
                <div *ngIf="field.type == 'field'" [class.text-primary]="!field.rightSideWinning"
                     [class.text-muted]="field.rightSideWinning">
                    <div *ngIf="document.resource[field.name]">{{document.resource[field.name]}}</div>
                    <div *ngIf="!document.resource[field.name]"><em>Nicht gesetzt</em></div>
                </div>
                <div *ngIf="field.type == 'geometry'">
                    <div *ngIf="document.resource.geometry">
                        Geometrie vom Typ {{document.resource.geometry.type}}
                    </div>
                    <div *ngIf="!document.resource.geometry"><em>Nicht gesetzt</em></div>
                </div>
                <div *ngIf="field.type == 'georeference'">
                    <div *ngIf="document.resource.georeference">
                        Georeferenzdaten
                    </div>
                    <div *ngIf="!document.resource.georeference"><em>Nicht gesetzt</em></div>
                </div>
                <div *ngIf="field.type == 'relation'">
                    <div *ngIf="document.resource.relations[field.name]">
                        {{getTargetIdentifiers(document.resource.relations[field.name])}}
                    </div>
                    <div *ngIf="!document.resource.relations[field.name]"><em>Nicht gesetzt</em></div>
                </div>
            </div>
            <div class="col-md-2 my-auto text-center">
                <button class="btn btn-primary" (click)="field.rightSideWinning = !field.rightSideWinning">
                    <span *ngIf="!field.rightSideWinning" class="mdi mdi-18px mdi-arrow-left-bold"></span>
                    <span *ngIf="field.rightSideWinning" class="mdi mdi-18px mdi-arrow-right-bold"></span>
                </button>
            </div>
            <div class="col-md-5 my-auto conflict-resolver-field" [class.text-primary]="field.rightSideWinning"
                 [class.text-muted]="!field.rightSideWinning">
                <div *ngIf="field.type == 'field'">
                    <div *ngIf="selectedRevision.resource[field.name]">
                        {{selectedRevision.resource[field.name]}}
                    </div>
                    <div *ngIf="!selectedRevision.resource[field.name]"><em>Nicht gesetzt</em></div>
                </div>
                <div *ngIf="field.type == 'geometry'">
                    <div *ngIf="selectedRevision.resource.geometry">
                        Geometrie vom Typ {{selectedRevision.resource.geometry.type}}
                    </div>
                    <div *ngIf="!selectedRevision.resource.geometry"><em>Nicht gesetzt</em></div>
                </div>
                <div *ngIf="field.type == 'georeference'">
                    <div *ngIf="selectedRevision.resource.georeference">
                        Georeferenzdaten
                    </div>
                    <div *ngIf="!selectedRevision.resource.georeference"><em>Nicht gesetzt</em></div>
                </div>
                <div *ngIf="field.type == 'relation'">
                    <div *ngIf="selectedRevision.resource.relations[field.name]">
                        {{getTargetIdentifiers(selectedRevision.resource.relations[field.name])}}
                    </div>
                    <div *ngIf="!selectedRevision.resource.relations[field.name]"><em>Nicht gesetzt</em></div>
                </div>
            </div>
        </div>
    </div>
     <div class="text-center">
        <button class="btn btn-primary" id="solve-conflict-button" (click)="solveConflict()">
            Konflikt lösen
        </button>
    </div>
</div>


