.conflict-resolver-field {
  padding: 10px 30px;
  cursor: pointer;
}

.radio-button-field {
  padding-bottom: 5px;
  padding-left: 50px;
  cursor: pointer;
}

.winning-side {
  color: #1b9519;
}

.losing-side {
  color: #e00000;
}

#solve-conflict-button {
  margin-top: 20px;
  margin-bottom: 10px;
}