/**
 * @author: Thomas Kleinke
 * @author: Jan G. Wieners
 * @author: Daniel de Oliveira
 */
.detail-sidebar-container {
  overflow: hidden;
}

.detail-sidebar {
  $buttoncolor: #657faa;

  .tab-view-container {
    padding-top: 7px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .empty-tab {
    color: #5a6269;
  }

  .empty-tab-info {
    font-style: italic;
    font-size: 0.9em;
  }

  .document-card .card-block {
    overflow: auto;
  }

  .document-card .btn-link {
    box-shadow: none !important;
  }

  .card-header {
    background-color: transparent !important;
  }

  .card {
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: transparent !important;
  }

  .card-block {
     padding-bottom: 0 !important;
  }

  #document-view-button-solve-conflicts:hover {
    color: darken(red, 10%) !important;
  }

  #document-view-button-solve-conflicts {
    font-size: 20px;
    float: right;
  }

  #document-view-button-solve-conflicts {
    color: red !important;
  }

  .edit-button {
    margin-top: 5px;

    &:before {
      @extend .mdi;
      @extend .mdi-pencil;
    }

    span {
      font-size: 14px;
    }
  }

  .close-button {
    font-size: 23px;
    color: $buttoncolor !important;
    position: absolute;
    top: 11px;
    right: 0;
    padding: 5px;
  }

  .close-button:hover {
    color: lighten($buttoncolor, 10%) !important;
  }

  a {
    color: #346599;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
    color: #999;
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .fieldname {
    font-size: 1rem;
    font-weight: bold;
  }

  .fieldvalue {
    margin-left: 10px;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    line-height: 1.2;
    font-size: 0.9em;
  }
}