/**
 * @author: Thomas Kleinke
 * @author: Jan G. Wieners
 */

$buttoncolor: #657faa;

#document-view .card-header {
  padding-bottom: 0;
}

#document-view .card-header .type-icon {
  position: absolute;
  top: 17px;
}

#document-view .card-header .document-title {
  margin-left: 35px;
  margin-top: 12px;
  margin-bottom: 12px !important;
}

#document-view .card-header h4.document-title {
  font-weight: lighter;
  margin-bottom: 0;
}

#document-view .card-header .close-button {
  padding: 5px;
  float: right;
  margin-top: -10px !important;
  margin-right: 0 !important;
  font-size: 27px;
  color: $buttoncolor !important;
}

#document-view-button-edit-document {
  font-size: 27px;
  color: $buttoncolor !important;
  display: inline;
  float: right;
  padding: 0;
  margin-top: -4px;
  margin-right: 0px;
}

.document-card .btn-link {
  box-shadow: none !important;
}

#document-view a {
  color: #346599;
}

#document-view h1 {
  font-size: 20px;
}

#document-view h2{
   font-size: 15px;
   color: #999;
   margin-bottom: 20px;
}

.document-view-field {
  margin-bottom: 10px;
}

.document-view-field .fieldname {
  font-size: 1rem;
  font-weight: bold;
}

.document-view-field .fieldvalue {
  margin-left: 10px;
  overflow-wrap: break-word;
}

.document-view-field .fieldvalue .relation-link {
  cursor: pointer;
}

#document-view-button-back-to-map,
#document-view-button-show-data{
  margin-top: 1px;
  padding: 0;
  font-size: 23px;
  color: $buttoncolor !important;
}

#document-view .card-header .close-button:hover,
#document-view-button-edit-document:hover,
#document-view-button-back-to-map:hover,
#document-view-button-show-data:hover {
  color: lighten($buttoncolor, 10%) !important;
}