<div class="document-teaser media">
    <type-icon [type]="document.resource.type" size="35"></type-icon>

    <div *ngIf="document.resource.identifier || document.resource.shortDescription"
         class="teasercontent media-body ml-2">
        <div class="title">
            {{document.resource.identifier}}
        </div>

        <div class="subtitle">
            {{document.resource.shortDescription}}
        </div>
    </div>

    <div *ngIf="!(document.resource.identifier || document.resource.shortDescription)"
         class="teasercontent media-body ml-2">
        <div class="new" i18n="@@components.documents.documentTeaser.newResource">Neue Ressource</div>
    </div>
</div>