<template #deleteModal let-c="close">
    <div class="modal-body">Möchten Sie die Ressource wirklich löschen?</div>
    <div class="modal-footer">
        <button type="button" id="delete-resource-confirm" class="btn btn-danger" (click)="c('delete')">Löschen</button>
        <button type="button" id="delete-resource-cancel" class="btn btn-default" (click)="c('cancel')">Abbrechen</button>
    </div>
</template>

<section id="document-edit-wrapper">
    <header>
        <h1 class="overview-document-heading">

            <button *ngIf="showBackButton" class="btn btn-primary"
                    id="document-edit-button-goto-view"
                    style="float: right;"
                    (click)="onBackButtonClicked.emit();">
                <span class="mdi mdi-close"></span>
            </button>
            <button class="btn btn-success pull-right"
                    id="document-edit-button-save-document"
                    style="float: right;"
                    (click)="save(true);">
                <span class="mdi mdi-content-save"></span>
                <span class="button-label">Speichern</span>
            </button>
            <button *ngIf="showDeleteButton" class="btn btn-danger pull-right"
                    id="document-edit-button-delete-document"
                    style="float: right;"
                    (click)="openDeleteModal(deleteModal);">
                <span class="mdi mdi-delete"></span>
                <span class="button-label">Löschen</span>
            </button>
            <span class="mdi mdi-blur"></span>

            <span *ngIf="showBackButton && clonedDoc">{{typeLabel}} bearbeiten</span>
            <span *ngIf="!showBackButton">Neue Ressource</span>
        </h1>
    </header>
    <main>

        <div *ngIf="clonedDoc" class="container">
            <div class="row">
                <div class="col-md-12">
                    <ngb-tabset activeId="document-edit-{{activeTab}}-tab">
                        <ngb-tab title="Felder" id="document-edit-fields-tab">
                            <template ngbTabContent>
                                <edit-form *ngIf="projectConfiguration" [(document)]="clonedDoc"
                                           [fieldDefinitions]="projectConfiguration.getFieldDefinitions(document.resource.type)"></edit-form>
                            </template>
                        </ngb-tab>
                        <ngb-tab *ngIf="relationDefinitions && relationDefinitions.length > 0" title="Relationen"
                                 id="document-edit-relations-tab">
                            <template ngbTabContent>
                                <relations-form
                                        [(document)]="clonedDoc"
                                        [primary]="'identifier'"
                                        [relationDefinitions]="relationDefinitions"></relations-form>
                            </template>
                        </ngb-tab>
                        <ngb-tab *ngIf="!projectImageTypes[clonedDoc.resource.type]" title="Bilder"
                                 id="document-edit-images-tab">
                            <template ngbTabContent>
                                <div class="form-group card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            Verknüpfte Bilder
                                        </h3>
                                    </div>
                                    <div class="card-block">
                                        
                                        <div class="image-grid" (window:resize)="onResize($event)">

                                            <div *ngFor="let row of rows; let index = index">

                                                <div *ngFor="let cell of row; let ind = ind"
                                                     class="cell-container"
                                                     [style.width.px]="cell['calculatedWidth'] + 1"
                                                     [style.height.px]="cell['calculatedHeight'] + 30">

                                                    <div [id]="'resource-' + cell['document'].resource.identifier" class="cell">
                                                        <div class="identifier"
                                                             *ngIf="cell['calculatedWidth'] > 30 && cell['calculatedHeight'] > 30"
                                                             [style.maxWidth.px]="cell['calculatedWidth']-15">
                                                            <span class="tag tag-default">{{cell['document'].resource.identifier}}</span>
                                                            <span *ngFor="let resourceId of cell['document'].resource.relations['depicts']" id="related-resource-{{resourceId}}" class="tag tag-info">
                                                                 <span class="mdi mdi-link"></span> {{resourceId}}
                                                            </span>
                                                        </div>

                                                        <img *ngIf="cell.imgSrc" [src]="cell.imgSrc"
                                                             [style.width.px]="cell['calculatedWidth']"
                                                             [style.height.px]="cell['calculatedHeight']">

                                                        <div class="title" [style.width.px]="cell['calculatedWidth']">
                                                            {{cell['document'].resource.shortDescription}}
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <button type="button" id="create-depicts-relations-btn"
                                                class="btn btn-primary pull-right" (click)="openImagePicker(imagePicker)">Bild
                                            einfügen
                                        </button>
                                    </div>
                                </div>
                            </template>
                        </ngb-tab>
                        <ngb-tab *ngIf="clonedDoc._conflicts" id="document-edit-conflicts-tab">
                            <template ngbTabTitle><span class="mdi mdi-alert-outline"></span> Konflikte</template>
                            <template ngbTabContent>
                                <conflict-resolver [(document)]="clonedDoc"
                                                   [(inspectedRevisionsIds)]="inspectedRevisionsIds"></conflict-resolver>
                            </template>
                        </ngb-tab>
                    </ngb-tabset>

                </div>
            </div>
        </div>
    </main>
</section>