.document-teaser type-icon {
  float: left;
  display: inline-block;
  margin: 2px 15px 0 5px;
}

.document-teaser type-icon img {
  border-radius: 45px;
}

.document-teaser .teasercontent {
  display: inline-block;
  float: right;
}