<section id="document-edit-wrapper">
    <header>
        <h1 class="overview-document-heading">

            <button *ngIf="showBackButton" class="btn btn-primary"
                    id="document-edit-button-goto-view"
                    style="float: right;"
                    (click)="onBackButtonClicked.emit();">Zur Ansicht</button>
            <button class="btn btn-primary pull-right"
                    id="document-edit-button-save-document"
                    style="float: right;"
                    (click)="save(true);">Speichern</button>
            <span class="mdi mdi-blur"></span>

            <span *ngIf="showBackButton && document">{{typeLabel}} bearbeiten</span>
            <span *ngIf="!showBackButton">Neue Ressource</span>
        </h1>
    </header>
    <main>
        <div *ngIf="document && !projectImageTypes[document.resource.type]" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group card">
                        <div class="card-header">
                            Verknüpfte Bilder
                        </div>
                        <div class="card-block">
                            <thumbnail-view *ngIf="document && document.resource.relations['depictedIn']" [imageIds]="document.resource.relations['depictedIn']"></thumbnail-view>
                            <button type="button" id="create-depicts-relations-btn"
                                    class="btn btn-primary pull-right" (click)="openImagePicker(imagePicker)">Bild einfügen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <document-edit [(document)]="document" [primary]="'identifier'"></document-edit>
    </main>
</section>

