<div class="document-teaser">
    <type-icon [type]="document.resource.type"
               size="42"
               class="type-icon"></type-icon>

    <div *ngIf="document['resource'].identifier || document['resource'].shortDescription"
         class="teaser-content">
        <div class="title">
            {{document['resource'].shortDescription}}
        </div>
        <div class="identifier">
            {{document['resource'].identifier}}
        </div>
    </div>
    <div *ngIf="!(document['resource'].identifier || document['resource'].shortDescription)"
         class="new">Neues Objekt
    </div>
</div>