#document-picker-list {
  max-height: calc(100vh - 350px) !important;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #eee;

  .list-group-item {
    display: block;
    cursor: pointer;
    margin: 0 0 -1px 0 !important;
    font-size: 1em;
    padding: 10px 5px 10px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 62px;
  }

  .list-group-item:hover {
    background-color: darken($list-item-hover-colour, 5%);
    transition: background-color .65s ease;
  }

  .selected {
    background-color: darken($list-item-hover-colour, 5%);
  }

  .title {
    color: #111;
  }

  .subtitle {
    font-size: 0.7em;
    color: #999;
  }
}
