.document-teaser type-icon {
  position: absolute;
  margin-top: 3px;
}

.document-teaser type-icon img {
  border-radius: 45px;
}

.document-teaser .teasercontent,
.document-teaser .new {
  display: inline-block;
  margin-left: 45px;
}