<div *ngFor="let group of getGroups()" class="card">
	<div class="card-header">
		<button class="btn btn-block" (click)="toggleGroupSection(group)">{{group.label}}</button>
	</div>
	<div *ngIf="openSection === group.name" class="collapse show">
		<div class="card-body">
			<div *ngFor="let field of fields[group.name]">
				<div *ngIf="field.isArray && field.value.length > 0" class="field">
					<h3 class="field-label">{{field.label}}</h3>
					<ul>
						<li *ngFor="let item of field.value" class="field-value">
						    {{item.label ? item.label : item}}
						</li>
					</ul>
				</div>
				<div *ngIf="!field.isArray" class="field">
					<h3 class="field-label">{{field.label}}</h3>
					<div class="field-value" *ngIf="isBoolean(field.value)">
						<span *ngIf="field.value === true" i18n="@@boolean.yes">Ja</span>
						<span *ngIf="field.value === false" i18n="@@boolean.no">Nein</span>
					</div>
					<div class="field-value" *ngIf="!isBoolean(field.value)" [innerHTML]="field.value"></div>
				</div>
			</div>
		</div>
	</div>
</div>