/**
 * @author: Thomas Kleinke
 */
fields-view {
  .card-header {
    padding: 0;

    .btn {
      text-align: left;
      font-size: 14px;
    }
  }

  .card-body {
    padding: 10px 0 0 0;

    ul {
      padding: 0;
    }

    .field-label,
    .field-value,
    .relation-name {
      padding-left: $item-horizontal-padding;
    }

    .field-label,
    .relation-name {
      font-weight: normal;
      font-size: $font-size-smaller;
      color: gray;
    }

    .field-label {
      margin-bottom: 4px;
    }

    .field-value {
      padding-right: $item-horizontal-padding;
      font-size: $font-size-bigger;
      margin-bottom: 10px;
      color: black;
    }
  }
}