<div class="modal-header">
    <button *ngIf="selectedDocuments.length == 1" (click)="activeModal.close(selectedDocuments)" class="btn btn-primary">
        Bild hinzufügen
    </button>
    <button *ngIf="selectedDocuments.length > 1" (click)="activeModal.close(selectedDocuments)" class="btn btn-primary">
        {{selectedDocuments.length}} Bilder hinzufügen
    </button>
</div>

<div class="modal-body" id="image-picker-modal">
    <search-bar *ngIf="!selectedDocuments.length"
                [showFiltersMenu]="false"
                [defaultFilterSet]="defaultTypes"
                (onQueryChanged)="queryChanged($event)">
    </search-bar>
    <div class="image-grid" (window:resize)="onResize($event)">

        <div *ngFor="let row of rows; let index = index">

            <div *ngFor="let cell of row; let ind = ind"
                 class="cell-container"
                 [style.width.px]="cell['calculatedWidth'] + 1"
                 [style.height.px]="cell['calculatedHeight'] + 30">


                <div (click)="select(cell['document'])"
                     [id]="'resource-' + cell['document'].resource.identifier"
                     class="cell"
                     [class.selected]="selectedDocuments.includes(cell['document'])">

                    <div class="identifier"
                         *ngIf="cell['calculatedWidth'] > 30 && cell['calculatedHeight'] > 30"
                         [style.maxWidth.px]="cell['calculatedWidth']-15">
                        <span class="tag tag-default">{{cell['document'].resource.identifier}}</span>
                    </div>

                    <img *ngIf="cell.imgSrc" [src]="cell.imgSrc"
                         [style.width.px]="cell['calculatedWidth']"
                         [style.height.px]="cell['calculatedHeight']">

                    <div class="title" [style.width.px]="cell['calculatedWidth']">
                        {{cell['document'].resource.shortDescription}}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss('dismissedByCancel')">Abbrechen</button>
</div>