.process-modal {
  text-align: center;

  .process-modal-container {
    display: inline-block;

    .spinner {
      display: inline-block;
      margin-top: 7px;
      margin-right: 10px;
    }

    .process-info {
      cursor: default;
      user-select: none;
    }
  }
}