<div *ngFor="let relation of relations">
    <div class="document-view-field">
        <div class="fieldname">{{relation.name}}</div>
        <div *ngFor="let target of relation.targets" class="fieldvalue">
            <!--
              See corresponding comment on top of the page.
            -->
            <div *ngIf="doc.resource.shortDescription">
                <a class="relation-link" (click)="clickRelation(target)">{{target.resource.shortDescription}} ({{target.resource.identifier}})</a>
            </div>
            <div *ngIf="!doc.resource.shortDescription">
                <a class="relation-link" (click)="clickRelation(target)">{{target.resource.identifier}}</a>
            </div>
        </div>
    </div>
</div>