<form class="form-inline" id="search-bar">

    <input #searchInput
           [(ngModel)]="q"
           (keyup)="emitQueryString()"
           name="searchInput"
           type="text"
           class="form-control"
           id="object-search"
           placeholder="Suchen...">

    <span class="input-group-btn" id="filter-button" *ngIf="showFiltersMenu">
        <button class="btn btn-primary"
                id="searchfilter"
                type="button"
                [ngbPopover]="filterMenu"
                #p="ngbPopover"
                placement="bottom">
            <span *ngIf="!types || types.length == 0" class="mdi mdi-filter"></span>
            <span *ngIf="types && types.length > 0">
                <type-icon [type]="types[0]" size="30"></type-icon>
            </span>
        </button>

        <ng-template #filterMenu>
            <div class="filtermenu">
                <div class="popover-custom-title">Nach Ressourcentyp filtern:</div>
                <type-picker [typesTreeList]="filterOptions" [allTypesOptionVisible]="!parentType"
                             [selectedTypes]="types" (onTypePicked)="chooseTypeFilter($event); p.close();">
                </type-picker>
            </div>
        </ng-template>
    </span>
</form>