<div class="md-form input-group" id="search-bar">

    <input #searchInput
           (keyup)="qChanged($event.target.value)"
           type="text"
           class="form-control"
           id="object-search">

    <label for="object-search" class="">Suchen...</label>

    <span class="input-group-btn" *ngIf="showFiltersMenu">
        <button class="btn btn-primary"
                id="searchfilter"
                type="button"
                [ngbPopover]="filterMenu"
                #p="ngbPopover"
                placement="bottom">
            <span *ngIf="type == 'resource'" class="mdi mdi-filter"></span>
            <span *ngIf="type != 'resource'">
                <type-icon [type]="type" size="30"></type-icon>
            </span>
        </button>

        <template #filterMenu>
            <div class="filtermenu">
                <div class="popover-custom-title">Nach Ressourcentyp filtern:</div>
                <ul class="list-group">
                    <li id="choose-type-filter-option-all"
                        class="list-group-item popover-item"
                        (click)="setType('resource'); p.close();"
                        [ngClass]="{ 'active': type == '' }">
                        <i>Alle Typen</i>
                    </li>
                    <li *ngFor="let f of filterOptions; let index = index"
                        id="choose-type-filter-option-{{index}}"
                        class="list-group-item popover-item"
                        (click)="setType(f.name); p.close();"
                        [ngClass]="{ 'active': type == f.name }">
                        <type-icon [type]="f.name" size="30"></type-icon> {{f.label}}
                    </li>
                </ul>
            </div>
        </template>
    </span>
</div>