.popover-content .filtermenu .list-group {
  max-height: calc(100vh - 350px) !important;
  overflow: auto;
}

#searchfilter {
  z-index: 3;
  padding: 4px 1em;

  .mdi-filter {
    line-height: 28px;
  }
}

#search-bar #object-search {
  width: 100%;
  padding: 9px;
}

#search-bar #filter-button {
  position: absolute;
  right: 16px;
}

#search-bar #filter-button img {
  width: 20px;
  height: 20px;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search-md]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #37588e !important;
  box-shadow: 0 1px 0 0 lighten(#37588e, 10%) !important;
}