<button type="button" class="btn btn-outline-primary waves-effect">Primary</button>


<div class="search input-group">


    <div class="md-form">

    <input #searchInput
           (keyup)="qChanged($event.target.value)"
           type="text"
           class="form-control"
           id="object-search">
        <label for="object-search" class="">Suchen...</label>
        </div>

    <span class="input-group-btn" *ngIf="showFiltersMenu">
        <button
                class="btn btn-secondary"
                id="searchfilter"
                type="button"
                [ngbPopover]="filterMenu"
                #p="ngbPopover"
                placement="bottom">
            <span *ngIf="type == ''" class="mdi mdi-filter"></span>
            <span *ngIf="type != ''">
                <type-icon [type]="type" size="30"></type-icon>
            </span>
        </button>

        <template #filterMenu>
            <div>
                <div class="popover-custom-title">Nach Ressourcentyp filtern:</div>
                <ul class="list-group">
                    <li id="choose-type-filter-option-all"
                            class="list-group-item popover-item"
                            (click)="setType(''); p.close();"
                            [ngClass]="{ 'active': type == '' }">
                        <i>Alle Typen</i>
                    </li>
                    <li *ngFor="let f of filterOptions; let index = index"
                            id="choose-type-filter-option-{{index}}"
                            class="list-group-item popover-item"
                            (click)="setType(f.name); p.close();"
                            [ngClass]="{ 'active': type == f.name }">
                        <type-icon [type]="f.name" size="30"></type-icon> {{f.label}}
                    </li>
                </ul>
            </div>
        </template>
    </span>

</div>