#document-view .card-header type-icon img {
  border-radius: 35px;
}

#new-object-menu type-icon,
.filtermenu type-icon,
type-picker-modal type-icon {
  margin-right: 10px;
}

#new-object-menu type-icon img,
.filtermenu type-icon img,
type-picker-modal type-icon img {
  border-radius: 40px;
}