.type-picker {

  .list-group-item {
    border-top: 1px solid #eee !important;
    display: block;
    transition: background-color .65s ease;
    padding: 7px 20px;

    &.child-type {
      border: none !important;
      padding-left: 40px;
    }

    &:hover,
    &.selected-type {
      background-color: $list-item-hover-color !important;
    }

    &.parent-selected:hover {
      background-color: darken($list-item-hover-color, 5%) !important;
    }

    .type-item {
      display: flex;
      align-items: center;
      min-height: 30px;

      type-icon {
        position: absolute;
      }

      .type-label {
        display: inline-block;
        margin-left: 40px;
      }
    }
  }

  #choose-type-option-all {
    display: flex;
    align-items: center;
    min-height: 44px;
    height: 44px;
  }

  .type-label,
  .all-types-label {
    user-select: none;
  }
}
