.document-teaser type-icon {
  float: left;
  margin: 2px 15px 0 5px;
}

.document-teaser type-icon img {
  border-radius: 35px;
}

#document-view .card-header type-icon img {
  border-radius: 25px;
}

#new-object-menu type-icon,
.filtermenu type-icon,
type-picker-modal type-icon {
  margin-right: 10px;
}

#new-object-menu type-icon img,
.filtermenu type-icon img,
type-picker-modal type-icon img {
  border-radius: 30px;
}