<div *ngIf="document" class="document-info" [class.transparent-background]="transparentBackground">
    <div class="document-info-header">
        <button class="expand-all-groups-button btn btn-light"
                [class.active]="getExpandAllGroups()"
                ngbTooltip="Alle Gruppen ausklappen"
                i18n-ngbTooltip="@@resources.sidebarList.expandAllGroups"
                #tooltip="ngbTooltip" placement="right" container="body" triggers="manual"
                (mouseover)="tooltip.open()" (mouseleave)="tooltip.close()"
                (click)="tooltip.close(); toggleExpandAllGroups();">
            <span class="mdi mdi-unfold-more-horizontal"></span>
        </button>
        <div class="identifier-label">{{document.resource.identifier}}</div>
        <button *ngIf="!isReadonly() && !showCloseButton" class="edit-button btn btn-light" (click)="startEdit()">
            <span class="mdi mdi-pencil"></span>
        </button>
        <button *ngIf="showCloseButton" class="btn btn-light close-button" (click)="close()">
            <span class="mdi mdi-close"></span>
        </button>
    </div>

    <div *ngIf="showParent && parentIdentifier" class="document-info-parent">
         <div ngbTooltip="Übergeordnete Ressource"
              i18n-ngbTooltip="@@resources.sidebarList.parentInfo"
              #tooltip="ngbTooltip" placement="bottom" container="body">
            <span class="mdi mdi-subdirectory-arrow-left mdi-rotate-90"></span>
            <category-icon [category]="document.resource.category" [size]="18"></category-icon>
            {{parentIdentifier}}
        </div>
    </div>

    <thumbnail *ngIf="showThumbnail"
               [resource]="document.resource"
               (onClick)="clickThumbnail()"></thumbnail>

    <div #documentInfo class="info-container"
         [class.short-document-info]="isThumbnailShown()">
        <fields-view [resource]="document.resource"
                     [openSection]="openSection"
                     [expandAllGroups]="getExpandAllGroups()"
                     (onSectionToggled)="setOpenSection($event)"
                     (onJumpToResource)="jumpToResource($event)"></fields-view>
        <georeference-view *ngIf="isImageDocument()"
                           [document]="document"
                           [openSection]="openSection"
                           [expandAllGroups]="getExpandAllGroups()"
                           [readonly]="isReadonly()"
                           (onSectionToggled)="setOpenSection($event)"></georeference-view>
        <depicts-relations-view *ngIf="isImageDocument()"
                                [resource]="document.resource"
                                [openSection]="openSection"
                                [expandAllGroups]="getExpandAllGroups()"
                                (onSectionToggled)="setOpenSection($event)"
                                (onRelationClicked)="jumpToResource($event)"></depicts-relations-view>
    </div>
</div>
