field-view {
  .field {
    margin-bottom: 10px;

    .field-label,
    .field-value {
      padding-left: $item-horizontal-padding;
    }

    .field-label {
      font-weight: normal;
      font-size: $font-size-smaller;
      color: gray;
      margin-bottom: 4px;
      user-select: none;
    }

    .field-value {
      padding-right: $item-horizontal-padding;
      font-size: $font-size-bigger;
      color: black;
    }

    .field-value.relation-value {
      cursor: default;
    
      &:hover {
        background-color: $list-item-hover-color;
        transition: background-color .5s ease;
      }
    }

    ul {
      padding: 0;
      margin-bottom: 0;
    }

    category-icon {
      position: relative;
      bottom: 1px;
    }

    .target-document-identifier {
      position: relative;
      left: 5px;
      bottom: 1px;
    }
  }
}
