<div *ngIf="field.type === 'array' && field.value.length > 0" class="field">
    <h3 *ngIf="showFieldLabel" class="field-label">{{field.label}}</h3>
    <ul>
        <li *ngFor="let item of field.value" class="field-value">
            {{getObjectLabel(item, field)}}
        </li>
    </ul>
</div>

<div *ngIf="field.type === 'object'" class="field">
    <h3 *ngIf="showFieldLabel" class="field-label">{{field.label}}</h3>
    <div class="field-value" [innerHTML]="getObjectLabel(field.value, field)"></div>
</div>

<div *ngIf="field.type === 'default'" class="field">
    <h3 *ngIf="showFieldLabel" class="field-label">{{field.label}}</h3>
    <div class="field-value" *ngIf="isBoolean(field.value)">
        <span *ngIf="field.value === true" i18n="@@boolean.yes">Ja</span>
        <span *ngIf="field.value === false" i18n="@@boolean.no">Nein</span>
    </div>
    <div *ngIf="!isBoolean(field.value)"
         class="field-value" 
         [innerHTML]="field.value"></div>
</div>

<div *ngIf="field.type === 'url'" class="field">
    <h3 *ngIf="showFieldLabel" class="field-label">{{field.label}}</h3>
    <div *ngIf="!isUrl(field.value)"
         class="field-value" 
         [innerHTML]="field.value"></div>
    <a *ngIf="isUrl(field.value)"
         class="field-value" 
         [href]="field.value"
         [innerHTML]="field.value"
         target="_blank"></a>
</div>

<div *ngIf="field.type === 'relation'" class="field">
    <h3 *ngIf="showFieldLabel" class="field-label">{{field.label}}</h3>
    <div *ngFor="let target of field.targets"
         class="field-value relation-value"
         (click)="jumpToResource(target)">
        <category-icon [category]="target.resource.category" [size]="20"></category-icon>
        <span class="target-document-identifier">{{target.resource.identifier}}</span>
    </div>
</div>
