/**
 * @author: Thomas Kleinke
 * @author: Sebastian Cuy
 */
fields-view,
georeference-view,
depicts-relations-view {
  .card {
    background-color: transparent !important;

    .card-header {
      padding: 0;
      background-color: $popover-header-bg-color;

      &:hover {
        background-color: $popover-header-hover-bg-color;
      }

      .btn {
        text-align: left;
        font-size: 14px;
      }
    }

    .card-body {
      padding: 10px 0 0 0;
    }
  }
}
