<ng-template #deleteModal let-c="close">
    <div id="delete-georeference-modal-info"
         class="modal-body" i18n="@@imageView.georeferenceView.deleteModal.question">
        Möchten Sie die Georeferenzdaten, die für dieses Bild hinterlegt wurden, wirklich löschen?
    </div>
    <div class="modal-footer">
        <button type="button" id="delete-images-confirm" class="btn btn-danger" (click)="c('delete')">
            <span i18n="@@buttons.delete">Löschen</span>
        </button>
        <button type="button" id="delete-images-cancel" class="btn btn-secondary" (click)="c('cancel')">
            <span i18n="@@buttons.cancel">Abbrechen</span>
        </button>
    </div>
</ng-template>

<div *ngIf="document.resource.georeference || !readonly" class="card">
    <div class="card-header">
        <button class="btn btn-block"
                i18n="@@imageView.georeferenceView.georeferenceData"
                (click)="toggle()">Georeferenzdaten</button>
    </div>
    <div *ngIf="openSection === 'georeference' || expandAllGroups" class="collapse show">
        <div class="card-body">
            <div *ngIf="document.resource.georeference" class="field">
                <span class="field-value" i18n="@@imageView.georeferenceView.present">Vorhanden</span>
                <span *ngIf="document.resource.georeference">
                    <div id="export-georeference-button" class="btn btn-link"
                        ngbTooltip="Georeferenzdaten als World-File exportieren"
                        i18n-ngbTooltip="@@imageView.georeferenceView.tooltips.exportGeoreferenceData"
                        container="body"
                        (click)="exportWldFile()">
                        <span class="mdi mdi-file-export"></span>
                    </div>
                    <div *ngIf="!readonly" id="delete-georeference-button" class="btn btn-link"
                        ngbTooltip="Georeferenzdaten löschen"
                        i18n-ngbTooltip="@@imageView.georeferenceView.tooltips.deleteGeoreferenceData"
                        container="body"
                        (click)="openDeleteModal(deleteModal)">
                        <span class="mdi mdi-delete"></span>
                    </div>
                </span>
            </div>
            <div *ngIf="!document.resource.georeference" class="field">
                <span class="field-value" i18n="@@imageView.georeferenceView.notPresent">Nicht vorhanden</span>
                <div id="worldfile-upload" class="btn btn-link"  ngbTooltip="World-File laden"
                     data-toggle="tooltip" title=""
                     i18n-ngbTooltip="@@imageView.georeferenceView.tooltips.loadWorldfile"
                     container="body">
                    <span class="mdi mdi-file-import"></span>
                    <input #worldfileInput type="file"
                           name="files[]"
                           id="file"
                           (change)="onSelectFile($event)">
                </div>
            </div>
        </div>
    </div>
</div>
