<div id="open-child-collection-button"
     class="popover-menu-header"
     (click)="openChildCollection()">
    <span class="mdi mdi-arrow-left"></span>
    <span *ngIf="childrenCount === 1" i18n="@@resources.childrenView.oneResource">Eine Ressource</span>
    <span *ngIf="childrenCount !== 1" i18n="@@resources.childrenView.resources">
        {{childrenCount}} Ressourcen
    </span>
</div>

<button id="close-children-view-button" class="btn btn-light" (click)="closePopover()">
    <span class="mdi mdi-close"></span>
</button>

<ul #childrenList
    id="children-list"
    class="resources-listing">
    <loading-icon [context]="'sidebar-children'"></loading-icon>
    <li *ngFor="let document of children"
        (click)="openChildCollection(document)"
        class="resources-listing-item resources-listing-item-slim"
        [class.conflicted]="document['_conflicts']"
        [id]="'resource-' + document.resource.identifier">

        <document-teaser [document]="document"></document-teaser>
    </li>
</ul>
