<div *ngIf="isPopoverMenuOpened()" id="popover-menu">

    <div *ngIf="isPopoverMenuOpened('children')" class="popover-menu-page">
        <children-view [document]="document"></children-view>
    </div>

    <div *ngIf="isPopoverMenuOpened('info')" class="popover-menu-page">
        <document-info [document]="document"
                       [getExpandAllGroups]="getExpandAllGroups"
                       [setExpandAllGroups]="setExpandAllGroups"
                       [showThumbnail]="true"
                       [showCloseButton]="true"
                       [transparentBackground]="true"
                       (onJumpToResource)="jumpToResource($event)"
                       (onThumbnailClicked)="openImageViewModal()"
                       (onCloseButtonClicked)="closePopover()"></document-info>
    </div>
</div>