<div *ngIf="contextMenu && areAnyOptionsAvailable()"
     id="context-menu"
     class="dropdown-menu show"
     [class.orientation-top]="orientation === 'top'"
     [class.orientation-bottom]="orientation === 'bottom'"
     [style.left]="contextMenu.position.x + 'px'"
     [style.top]="contextMenu.position.y + 'px'"
     [style.bottom]="getBottomPosition(contextMenu.position.y) + 'px'">
    <div *ngIf="isEditOptionAvailable()"
        id="context-menu-edit-button" class="dropdown-item" (click)="selectAction('edit')">
        <span class="mdi mdi-pencil"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.edit">Bearbeiten</span>
    </div>
    <div *ngIf="isExtendOptionAvailable()"
        id="context-menu-extend-button" class="dropdown-item" (click)="selectAction('extend')">
        <span class="mdi mdi-playlist-plus"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.extend">Werteliste erweitern</span>
    </div>
    <div *ngIf="isSwapOptionAvailable()"
         id="context-menu-swap-button" class="dropdown-item" (click)="selectAction('swap')">
        <span class="mdi mdi-swap-horizontal"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.swapForm">Formular wechseln</span>
    </div>
    <div *ngIf="isDeleteOptionAvailable()"
            id="context-menu-delete-button" class="dropdown-item" (click)="selectAction('delete')">
        <span class="mdi mdi-delete"></span>
        <span class="dropdown-entry-label" i18n="@@resources.contextMenu.delete">Löschen</span>
    </div>
</div>
