#configuration-conflicts-modal-header {
  #save-button {
    position: absolute;
    right: 57px;
  }
}

.configuration-conflicts-modal-body {
  height: calc(100vh - 138px) !important;
  overflow-x: hidden;
  overflow-y: auto;

  .conflict-resolver-field div {
    padding-left: 15px;

    span {
      font-style: italic;
    }
  }

  revision-selector {
    .conflict-resolver-field div {
      padding-left: 0;
    }
  }

  loading-icon {
    position: absolute;
    top: 100px;
    left: -15px;
    width: 100%;
  }
}
