<div id="image-download-modal-body" class="modal-body process-modal">
    <div class="process-modal-container">
        <div class="spinner"></div>
        <div id="download-progress">
            <div *ngIf="images.length > 1" id="download-progress-bar" class="progress">
                <div class="progress-bar"
                    [class.bg-success]="!cancelling"
                    [class.bg-secondary]="cancelling"
                    [style.width]="getProgress() + '%'"></div>
            </div>
            <div *ngIf="!cancelling && images.length === 1" id="download-progress-info" class="process-info"
                 i18n="@@imageDownload.progress.single">Originalbild wird geladen...</div>
            <div *ngIf="!cancelling && images.length > 1" id="download-progress-info" class="process-info"
                 i18n="@@imageDownload.progress.multiple">
                {{(processedImagesCount)}} / {{ images.length }} Originalbilder geladen...
            </div>
            <div *ngIf="cancelling" id="download-progress-info" class="process-info"
                 i18n="@@project.download.progressInfo.cancelling">Download wird abgebrochen... </div>
        </div>

        <button *ngIf="images.length > 1" id="cancel-image-download-button" type="button" class="btn btn-secondary"
                [class.disabled]="cancelling" [disabled]="cancelling" (click)="cancel()">
            <span i18n="@@buttons.cancel">Abbrechen</span>
        </button>
    </div>
</div>
