group-listing {
  display: block;
  width: 100%;
  height: calc(100vh - 287px);

  .listing {
    li:hover:not(.new-entry-button) {
        background-color: $list-item-hover-color;
        transition: background-color .5s ease;
    }
  }
}
