<ul class="bg-light listing">
    <li *ngFor="let group of groups"
        [id]="getGroupId(group)"
        [class.selected]="selectedGroup === group"
        (click)="select(group)">
        <span class="item-label">{{getLabel(group)}}</span>
        <code>{{group.name}}</code>
        <span *ngIf="getSearchResultLabel(group)"
                class="search-result-label"> ({{getSearchResultLabel(group)}})</span>
    </li>
    <li *ngIf="isNewGroupOptionShown()"
        id="new-group-button"
        class="new-entry-button btn btn-success"
        (click)="select(emptyGroup)">
        <span class="mdi mdi-plus-circle"></span>
        <div i18n="@@configuration.newGroup">Neue Gruppe <code>{{emptyGroup.name}}</code> erstellen</div>        
    </li>
</ul>
