<div id="view-modal-header" class="modal-header">
    <div class="text-truncate heading"
         i18n="@@resources.qrCodeEditorModal.header">
        QR-Code der Ressource <b>{{document.resource.identifier}}</b>
    </div>
    <button id="qr-code-editor-cancel-button" class="btn btn-primary btn-square" (click)="cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>
<div id="qr-code-editor-modal-body" class="modal-body">
    <div id="qr-code-container">
        <canvas *ngIf="hasQrCode()" #qrCodeCanvas id="qr-code-canvas"></canvas>
        <div *ngIf="hasQrCode()" id="qr-code-print-label">
            <div id="qr-code-identifier">{{document.resource.identifier}}</div>
            <div *ngIf="document.resource.shortDescription"
                 id="qr-code-short-description">
                {{getShortDescriptionLabel()}}
            </div>
            <div id="qr-code-category">{{getCategoryLabel()}}</div>
        </div>
        <div *ngIf="!hasQrCode()" id="qr-code-placeholder">
            <span id="add-qr-code-button"
                  class="mdi mdi-48px mdi-plus-circle"
                  [ngbPopover]="addQrCodePopover"
                  placement="bottom"
                  container="body"
                  popoverClass="add-qr-code-popover">
            </span>
        </div>
    </div>

    <div *ngIf="hasQrCode()" id="print-qr-code-button" class="btn btn-primary"
         onclick="window.print()">
        <span class="mdi mdi-printer"></span>
        <span class="button-label" i18n="@@buttons.print">Drucken</span>
</div>

    <div *ngIf="hasQrCode()" id="delete-qr-code-button" class="btn btn-danger" (click)="deleteCode()">
        <span class="mdi mdi-delete"></span>
        <span class="button-label" i18n="@@buttons.delete">Löschen</span>
    </div>
</div>

<ng-template #addQrCodePopover>
    <span id="generate-qr-code-button"
          class="btn btn-primary"
          (click)="createNewCode()"
          i18n="@@resources.qrCodeEditorModal.addQrCode.generate">Neuen Code generieren</span>
    <span id="set-existing-qr-code-button"
          class="btn btn-primary"
          (click)="setExistingCode()"
          i18n="@@resources.qrCodeEditorModal.addQrCode.setExisting">Existierenden Code übernehmen</span>
</ng-template>
