#qr-code-editor-modal-body {
  height: 412x;
  text-align: center;

  #qr-code-container {
    width: 300px;
    height: 326px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;

    canvas {
      position: relative;
      top: 30px;
    }

    #qr-code-print-label {
      display: none;
    }

    #qr-code-placeholder {
      width: 100%;
      height: 100%;
      color: gray;
      background-color: #fff;
      text-align: center;
      line-height: 326px;
      user-select: none;
    }

    .badge {
      position: relative;
      top: 42px;
      max-width: 270px;
      padding: 3px 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      background-color: white;
    }
  }

  .btn {
    margin: 16px 5px 0 5px;
  }
}

.add-qr-code-popover {
  .popover-body {
    padding: 5px !important;

    #generate-qr-code-button,
    #set-existing-qr-code-button {
      border-style: none;
      border-radius: 0;
      width: 100%;
      background-color: white;
      color: $primary-button-color;
  
      &:hover {
        background: darken(white, 5%)
      }
    }

    #generate-qr-code-button {
      border-bottom-style: solid;
      border-bottom-color: lighten($primary-button-color, 33%);
    }
  }
}

@media print {
  body {
    visibility: hidden;

    #qr-code-editor-modal-body {
      height: 100%;

      #qr-code-container {
        visibility: visible;
        width: fit-content !important;
        height: 100% !important;
        margin-top: 50px;
        border: none !important;

        .badge {
          max-width: 100% !important;
          border: none;
          font-size: 18px;
          line-height: 28px;
          white-space: normal;
        }

        #qr-code-print-label {
          display: block !important;
          padding: 5px 15px;
          border-radius: 7px;
          font-family: serif;

          #qr-code-identifier {
            margin-top: 45px;
            font-size: 28px !important;
            font-weight: bold;
          }

          #qr-code-short-description,
          #qr-code-category {
            margin-top: 10px;
            font-size: 24px !important;
          }

          #qr-code-short-description {
            color: #444
          }

          #qr-code-category {
            font-style: italic;
          }

          #qr-code-project,
          #qr-code-app {
            position: absolute;
            top: 0;
            font-size: 22px;
          }

          #qr-code-project {
            left: 10px;
          }

          #qr-code-app {
            right: 10px;
          }
        }
      }
    }
  }
} 
