#qr-code-editor-modal-body {
  height: 412x;
  text-align: center;

  #qr-code-container {
    width: 300px;
    height: 326px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;

    canvas {
      position: relative;
      top: 30px;
    }

    #qr-code-print-label {
      display: none;
    }

    #qr-code-placeholder {
      width: 100%;
      height: 100%;
      color: gray;
      background-color: #fff;
      text-align: center;
      line-height: 326px;
      user-select: none;
    }

    .badge {
      position: relative;
      top: 42px;
      max-width: 270px;
      padding: 3px 7px;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      background-color: white;
    }
  }

  .btn-group,
  #delete-qr-code-button {
    margin: 16px 5px 0 5px;
  }
  
  #print-qr-code-button:hover {
    z-index: 0;
  }

  #print-settings-button {
    border-left: 1px solid #f8f9fa;
  }
}

.add-qr-code-popover {
  .popover-body {
    padding: 5px !important;

    #generate-qr-code-button,
    #set-existing-qr-code-button {
      border-style: none;
      border-radius: 0;
      width: 100%;
      background-color: white;
      color: $primary-button-color;
  
      &:hover {
        background: darken(white, 5%)
      }
    }

    #generate-qr-code-button {
      border-bottom-style: solid;
      border-bottom-color: lighten($primary-button-color, 33%);
    }
  }
}

@media print {
  body {
    visibility: hidden;

    .modal-dialog {
      width: 100%;
      max-width: 100%;
    }

    .modal-content {
      overflow: visible;
    }

    #qr-code-editor-modal-body {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0;
      text-align: left;

      #qr-code-container {
        position: relative;
        visibility: visible;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        overflow: visible;
        border: none !important;
        transform-origin: 0 0;

        canvas {
          top: 20px;
          left: 20px;
        }

        .badge {
          max-width: unset !important;
          border: none;
          font-size: 18px;
          line-height: 28px;
          white-space: normal;
        }

        #qr-code-string {
          position: absolute;
          top: 20px;
          left: 280px;
          width: 570px;
          padding: 0;
          white-space: nowrap;
          color: black;
          font-size: 25px;
          text-align: left;
        }

        #qr-code-print-label {
          position: absolute;
          top: 70px;
          left: 280px;
          width: 565px;
          display: block !important;
          color: black;
          text-align: left;
          padding: 0;

          #qr-code-identifier {
            position: relative;
            top: 9px;
            right: 2px;
            font-size: 46px !important;
            line-height: 35px;
          }

          #printed-fields-container {
            position: relative;
            width: 100%;

            &.print-label-one-field {
              top: 20px;
              height: 134px;

              #printed-fields {
                top: 50%;
                transform: translateY(-50%);

                .print-label-field {
                  -webkit-line-clamp: 3;
                }
              }
            }

            &.print-label-two-fields,
            &.print-label-three-fields {
              .print-label-field {
                -webkit-line-clamp: 1;
              }  
            }

            &.print-label-two-fields {
              top: 43px;

              .print-label-field:not(:last-child) {
                margin-bottom: 15px;
              }
            }

            &.print-label-three-fields {
              top: 41px;

              .print-label-field:not(:last-child) {
                margin-bottom: 7px;
              }
            }
          
            #printed-fields {
              position: absolute;
              width: 100%;

              .print-label-field {
                width: 100%;
                font-size: 25px;
                line-height: 31px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }
} 
