<div id="view-modal-header" class="modal-header">
    <div class="text-truncate heading">QR-Code</div>
    <button class="btn btn-primary btn-square" (click)="cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>
<div id="qr-code-editor-modal-body" class="modal-body">
    <div id="qr-code-container">
        <canvas *ngIf="hasQrCode()" #qrCodeCanvas id="qr-code-canvas"></canvas>
        <div *ngIf="!hasQrCode()" id="qr-code-placeholder">
            <span id="add-qr-code-button"
                  class="mdi mdi-48px mdi-plus-circle"
                  [ngbPopover]="addQrCodePopover"
                  placement="bottom"
                  container="body"
                  popoverClass="add-qr-code-popover">
            </span>
        </div>
    </div>

    <div *ngIf="hasQrCode()" id="print-button" type="button" class="btn btn-primary" onclick="window.print()">
        <span>Ausdrucken</span>
    </div>
</div>

<ng-template #addQrCodePopover>
    <span id="generate-qr-code-button"
          class="btn btn-primary"
          (click)="createNewCode()"
          i18n="@@resources.qrCodeEditorModal.addQrCode.generate">Neuen Code generieren</span>
    <span id="set-existing-qr-code-button"
          class="btn btn-primary"
          (click)="setExistingCode()"
          i18n="@@resources.qrCodeEditorModal.addQrCode.setExisting">Existierenden Code übernehmen</span>
</ng-template>
