import Config

# depending on intended environment, make a copy as either 'prod.exs' or 'dev.exs'

config :api,
  elasticsearch_url: "elasticsearch:9200",
  elasticsearch_index_prefix: "idai-field",
  cantaloupe_url: "http://cantaloupe:8182/iiif/2/", # must end with slash
  couchdb_url: "",
  couchdb_user: "",
  couchdb_password: "",
  gazetteer_url: "https://gazetteer.dainst.org",
  projects: ["db1", "db2", "db3"],
  locales: ["de", "en"],
  rights: %{ 
    users: [
      %{ name: "user-1", pass: "pass-1", admin: true }
    ],
    readable_projects: %{
      "user-1" => ["a", "b", "c", "d"],
      "anonymous" => ["a"]
    }
  }

config :api, Api.Auth.Guardian,
       issuer: "api",
       secret_key: "Secret key. You can use `mix guardian.gen.secret` to get one"
