/**
 * @author: Thomas Kleinke
 */

@import 'layer-menu';

#map-container {
  z-index: 1008;
  width: 100%;
  height: calc(100vh - 100px);
  user-select: none;

  .vector-marker {
    filter: saturate(50%);

    path {
      stroke: white;
    }

    i.active {
      color: black;
    }
  }

  .leaflet-overlay-pane path {

    &.polygon {
      stroke-width: 1px;
      stroke-opacity: 0.5;

      &.active {
        fill-opacity: 0.5;
        stroke-opacity: 1.0;
      }
    }

    &.polyline {
      stroke-width: 2px;
      stroke-opacity: 0.5;

      &.active {
        stroke-opacity: 1.0;
      }
    }

    &.parent {
      stroke-width: 2px;
      stroke-dasharray: 5, 5, 1, 5;
      stroke-opacity: 0.2;
      fill: none;
    }

    &.templine {
      stroke: blue;
      stroke-width: 1px;
    }

    &.hintline {
      stroke: blue;
      stroke-width: 1px;
      stroke-dasharray: 5;
    }

    &.polygon.faded-out {
      fill-opacity: 0.1;
      stroke-opacity: 0.25;
      cursor: inherit;
    }

    &.polyline.faded-out {
      stroke-opacity: 0.25;
      cursor: inherit;
    }
  }

  .leaflet-control-zoom {
    z-index: 1008;
    border: 1px solid rgba(0, 0, 0, 0.35) !important;

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out {
      font-family: Roboto, sans-serif;
      font-weight: normal;
      cursor: default !important;
    }

    .leaflet-control-zoom-in {
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;

      border-bottom: 1px solid rgba(0, 0, 0, 0.35) !important;

      &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.35) !important;
      }
    }

    .leaflet-control-zoom-out {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }
}

#mouse-position-coordinates-x,
#mouse-position-coordinates-y,
#map-editor-button-ok,
#map-editor-button-abort,
#map-editor-button-delete,
#map-editor-button-delete-disabled,
#map-editor-button-add-polygon,
#map-editor-button-add-polyline,
#map-editor-button-add-point {
  position: absolute;
  z-index: 1008;
}

#mouse-position-coordinates-x,
#mouse-position-coordinates-y {
  z-index: 1008;
  left: 52px;
  pointer-events: none;
}

#mouse-position-coordinates-x {
  z-index: 1008;
  top: 11px;
}

#mouse-position-coordinates-y {
  z-index: 1008;
  top: 32px;
}

#map-editor-buttons {
  z-index: 1008;
  .mdi-24px {
    position: relative;
    bottom: 3px;
  }

  #map-editor-button-ok {
    right: 119px;
    bottom: 8px;

    &.near-to-right {
      right: 91px;
    }
  }

  #map-editor-button-abort {
    right: 8px;
    bottom: 8px;
  }

  #map-editor-button-delete,
  #map-editor-button-delete-disabled {
    left: 10px;
    bottom: 8px;
    height: 38px;
    width: 38px;
    padding: 3px;
  }

  #map-editor-button-add-polygon,
  #map-editor-button-add-polyline,
  #map-editor-button-add-point {
    left: 56px;
    bottom: 8px;
    height: 38px;
    width: 38px;
    padding: 3px;
  }
}