<div *ngIf="showDescription && getValuelistDescription(valuelist)" class="valuelist-description">
    {{getValuelistDescription(valuelist)}}
</div>
<div class="row valuelist">
    <div *ngFor="let value of getValues(valuelist)"
         [class.col-2]="!largeList"
         [class.col-12]="largeList"
         class="value-col">
        <span class="badge bg-light value-badge"
              ngbTooltip="{{valueDescriptions[value]}}"
              placement="bottom" container="body">
            {{valueLabels[value]}}
            <code>{{value}}</code>
        </span>
    </div>
</div>
