valuelist-view {
  .valuelist-description {
    margin: 0 0.2rem 0.7rem;
    font-size: 0.8rem;
  }

  .valuelist {
    .value-col {
      height: 1.69rem;
    }
    
    .value-badge {
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;
      border: 1px solid white;
      border-radius: 5px;
      color: black;

      code {
        font-size: 11px;
      }

      &:hover {
        position: relative;
        max-width: none;
        z-index: 50;
        border: 1px solid grey;
        white-space: normal;
        text-align: left;
      }
    }
  }
}