<div class="image-picker">
    <div class="modal-header" id="image-picker-modal-header">
        <button id="add-image" *ngIf="selectedDocuments.length == 0"
                class="btn btn-primary disabled" disabled>
            <span class="mdi mdi-link"></span>
            Bild verknüpfen
        </button>
        <button id="add-image" *ngIf="selectedDocuments.length == 1"
                (click)="activeModal.close(selectedDocuments)"
                class="btn btn-primary">
            <span class="mdi mdi-link"></span>
            Bild verknüpfen
        </button>
        <button id="add-images" *ngIf="selectedDocuments.length > 1"
                (click)="activeModal.close(selectedDocuments)" class="btn btn-primary">
            <span class="mdi mdi-link"></span>
            {{selectedDocuments.length}} Bilder verknüpfen
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="activeModal.dismiss('dismissedByCancel')">
            <span class="mdi mdi-close"></span>
        </button>
    </div>

    <div class="modal-body" id="image-picker-modal">
        <search-bar *ngIf="!selectedDocuments.length"
                    [showFiltersMenu]="false"
                    (onQueryStringChanged)="setQueryString($event)">
        </search-bar>
        <div class="image-grid" (window:resize)="onResize($event)">

            <image-grid #imageGrid
                    [nrOfColumns]="3"
                    [documents]="documents"
                    [selected]="selectedDocuments"
                    [showLinkBadges]="false"
                    [showShortDescription]="false"
                    (onClick)="select($event)"
                    (onImagesUploaded)="refreshGrid()"
                    (onUploadError)="showUploadErrorMsg($event)"
            >
            </image-grid>
        </div>
    </div>
</div>