<document-view [document]="viewFacade.getSelectedDocument()" (onSolveConflicts)="resourcesComponent.solveConflicts($event)"
               (onDeselect)="viewFacade.deselect()">

    <ngb-tabset #tabs [activeId]="'document-view-' + viewFacade.getActiveDocumentViewTab() + '-tab'"
                (tabChange)="onTabChange($event)">
        <ngb-tab id="document-view-fields-tab">
            <ng-template ngbTabTitle>
                <span class="mdi mdi-format-list-bulleted"></span>
            </ng-template>
            <ng-template ngbTabContent>

                <button class="btn btn-link"
                        id="document-view-button-edit-document"
                        (click)="resourcesComponent.editDocument(viewFacade.getSelectedDocument(), 'fields')">
                    <span class="mdi mdi-pencil"></span>
                </button>

                <description-view [document]="viewFacade.getSelectedDocument()"></description-view>
                <fields-view [resource]="viewFacade.getSelectedDocument().resource"></fields-view>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="document-view-geometry-tab">
            <ng-template ngbTabTitle>
                <span class="mdi mdi-map" [class.empty-tab]="!viewFacade.getSelectedDocument().resource.geometry"></span>
            </ng-template>
            <ng-template ngbTabContent>

                <geometry-view [document]="viewFacade.getSelectedDocument()"
                               (onEditGeometry)="resourcesComponent.isEditingGeometry = true;"
                               (onCreateGeometry)="resourcesComponent.createGeometry($event)">
                </geometry-view>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="document-view-relations-tab">
            <ng-template ngbTabTitle>
                <span class="mdi mdi-sitemap" [class.empty-tab]="!hasRelations()"></span>
            </ng-template>
            <ng-template ngbTabContent>

                <button class="btn btn-link"
                        id="document-view-button-edit-document"
                        (click)="resourcesComponent.editDocument(viewFacade.getSelectedDocument(), 'relations')">
                    <span class="mdi mdi-pencil"></span>
                </button>

                <div *ngIf="!hasRelations()" class="empty-tab-info">Keine Relationen vorhanden.</div>
                <relations-view *ngIf="hasRelations()" [resource]="viewFacade.getSelectedDocument().resource"
                                (onRelationTargetClicked)="jumpToRelationTarget($event)">
                </relations-view>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="document-view-images-tab">
            <ng-template ngbTabTitle>
                        <span class="mdi mdi-image"
                              [class.empty-tab]="!viewFacade.getSelectedDocument().resource.relations['isDepictedIn']"></span>
            </ng-template>
            <ng-template ngbTabContent>
                <div (drop)="uploadImages($event, viewFacade.getSelectedDocument())">
                    <button class="btn btn-link"
                            id="document-view-button-edit-document"
                            (click)="resourcesComponent.editDocument(viewFacade.getSelectedDocument(), 'images')">
                        <span class="mdi mdi-pencil"></span>
                    </button>

                    <div *ngIf="!viewFacade.getSelectedDocument().resource.relations['isDepictedIn']" class="empty-tab-info">
                        Keine Bilder vorhanden.
                        <br><br>
                        Ziehe Bilder per Drag'n'Drop hier auf die Schrift
                        (oder bereits vorhandene Bilder), um neue Bilder hinzuzufügen, oder klicke auf
                        den Stift, um bereits vorhandene Bilder zu verknüpfen.
                        <br><br><br><br><br><br><br><br><br>
                    </div>
                    <thumbnail-view *ngIf="viewFacade.getSelectedDocument().resource.relations['isDepictedIn']"
                                    [imageIds]="viewFacade.getSelectedDocument().resource.relations['isDepictedIn']"
                                    [update]="updateThumbnails" (onRelationTargetClicked)="jumpToRelationTarget($event)">
                    </thumbnail-view>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</document-view>