<context-menu *ngIf="contextMenu.isOpen()"
              [contextMenu]="contextMenu"
              [showViewOption]="true"
              (onSelectAction)="performContextMenuAction($event)"></context-menu>

<div id="type-grid" class="bg-light" (scroll)="contextMenu.close()">
    <document-info *ngIf="mainDocument"
                   [document]="mainDocument"
                   [getExpandAllGroups]="getExpandAllGroups"
                   [setExpandAllGroups]="setExpandAllGroups"
                   [showThumbnail]="true"
                   (onStartEdit)="edit(mainDocument)"
                   (onJumpToResource)="jumpToResource($event)"
                   (onThumbnailClicked)="openImageViewModal(mainDocument)"></document-info>

    <loading-icon [class.with-main-document]="mainDocument"></loading-icon>

    <div *ngIf="!isLoading()" id="grid-elements-container">
        <div class="grid-section">
            <div *ngIf="mainDocument?.resource.category === 'TypeCatalog'"
                 class="grid-section-label first-grid-section-label"
                 i18n="@@resources.typeGrid.types">Typen</div>
            <div *ngIf="mainDocument?.resource.category === 'Type'"
                 class="grid-section-label first-grid-section-label"
                 i18n="@@resources.typeGrid.subtypes">Untertypen</div>

            <cdk-virtual-scroll-viewport>
                <div *cdkVirtualFor="let document of documents"
                        id="type-grid-element-{{document.resource.identifier}}"
                        class="type-grid-element"
                        (click)="open(document)"
                        (contextmenu)="contextMenu.open($event, document)">
                    <type-grid-element [document]="document"
                        [subtype]="getLinkedSubtype(document)"
                        [imageUrls]="getImageUrls(document)"></type-grid-element>
                </div>
            </cdk-virtual-scroll-viewport>

            <div id="plus-button-container">
                <plus-button *ngIf="isPlusButtonShown()"
                             id="create-document-button"
                             [placement]="documents.length > 0 ? 'top' : 'bottom'"
                             [preselectedGeometryType]="'none'"
                             [preselectedCategory]="getCurrentFilterCategory()"
                             [liesWithin]="getSelectedSegmentDoc()"
                             [isRecordedIn]="viewFacade.getCurrentOperation()"
                             [status]="getPlusButtonStatus()"></plus-button>
            </div>
        </div>

        <div *ngIf="linkedDocuments.length > 0" id="linked-documents-grid" class="grid-section">
            <div class="grid-section-label"
                 i18n="@@resources.typeGrid.linkedFinds">Zugeordnete Funde</div>

            <cdk-virtual-scroll-viewport>
                <div *cdkVirtualFor="let document of linkedDocuments"
                        id="type-grid-element-linked-document-{{document.resource.identifier}}"
                        class="type-grid-element"
                        (click)="openResourceViewModal(document)">
                    <type-grid-element
                        [document]="document"
                        [subtype]="getLinkedSubtype(document)"
                        [imageUrls]="getImageUrls(document)"></type-grid-element>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
