.category-icon {
  display: inline-block;
  font-family: Roboto, sans-serif !important;
  font-weight: lighter;
  background-color: #eeeeee;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  filter: saturate(50%);

  .character {
    font-size: 70%;
    vertical-align: top;
    color: white;
    user-select: none;
  }
}