workflow-relations {
  .workflow-relations-container {
    position: relative;
    display: block;
    width: 100%;

    &:hover {
      .category-icon {
        filter: saturate(50%) brightness(117%);
      }

      .category-count {
        filter: brightness(120%);
      }
    }

    .add-relation {
      position: absolute !important;
      left: 0;
      background-color: $primary-button-color !important;

      &:hover {
        background-color: $primary-highlight-color !important;
      }

      .mdi {
        color: white !important;
      }
    }

    .category-info {
      width: 35px;
      float: left;

      &:not(:last-child) {
        margin-right: 12px;
      }

      .category-count {
        position: relative;
        top: 3px;
        right: 11px;
        padding: 0 6px;
        display: inline-block;
        color: white;
        background-color: #636060;
        border-radius: 31px;
        font-size: 12px;
        text-align: center;
        z-index: 1;

        &.additional-categories {
          top: 4px;
          margin-left: 18px;
        }
      }
    }
  }
}
