.workflow-editor-modal-body {
  padding: 16px 16px 22px 16px !important;

  #workflow-steps-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    user-select: none;

    .workflow-step {
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);

      .workflow-step-execution-date,
      .workflow-step-category,
      .workflow-step-short-description {
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .workflow-step-execution-date {
        width: 120px;
      }

      .workflow-step-category {
        width: 200px;
      }

      .workflow-step-short-description {
        width: calc(100% - 400px);
      }
    }
  }

  #workflow-step-plus-button-container {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 39px;
  }
}
