workflow-step-plus-button {
  .circular-button {
    left: calc(50% - 20px);
    width: 41px;
    height: 41px;

    .category-icon {
      position: relative;
      right: 1px;
      bottom: 2px;
    }
  }
}
