<document-teaser *ngIf="relationTargets.length === 1"
                 [document]="relationTargets[0]"></document-teaser>

<div *ngIf="relationTargets.length > 1 && categoryInfos.length < 5">
    <div *ngFor="let info of categoryInfos" class="category-info">
        <category-icon [category]="info.categoryName" [size]="35"></category-icon>
        <span class="category-count">{{info.count}}</span>
    </div>
</div>

<div *ngIf="relationTargets.length > 1 && categoryInfos.length >= 5">
    <div *ngFor="let info of categoryInfos | slice:0:3" class="category-info">
        <category-icon [category]="info.categoryName" [size]="35"></category-icon>
        <span class="category-count">{{info.count}}</span>
    </div>
    <div class="category-info">
        <span class="category-count additional-categories">+ {{getAdditionalCategoriesCount()}}</span>
    </div>
</div>
