@import 'variables';

@import 'idai-components-2';
@import 'bootstrap';
@import 'materialdesignicons';

$roboto-font-path: '../fonts/';
@import 'roboto-fontface';

@import 'navbar';
@import 'taskbar';
@import 'projects';
@import 'desktop/info-window';
@import 'spinner';
@import 'buttons';
@import 'resources/resources';
@import 'import/import';
@import 'export/export';
@import 'settings/settings';
@import 'imageview/imageview';
@import 'widgets/widgets';
@import 'docedit/docedit';
@import 'imagegrid/image-grid';
@import 'imageoverview/image-overview';
@import 'imageupload/image-upload';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Roboto, sans-serif !important;
}

#app {
  margin-top: 57px;
}

#idaifieldlogo {
  height: 35px;
}

.btn {
  text-transform: none !important;
  border-radius: 0 !important;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.btn:active, .btn.active {
  box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: rgba(85, 114, 161, 1);
  border-color: rgba(85, 114, 161, 1);
}

.btn-primary:hover {
  background-color: lighten(rgba(85, 114, 161, 1), 10%);
  border-color: lighten(rgba(85, 114, 161, 1), 10%);
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: darken(rgba(85, 114, 161, 1), 10%);
  border-color: darken(rgba(85, 114, 161, 1), 10%);
  cursor: not-allowed;
}

.btn-primary:active, .btn-primary.active {
  background-color: saturate(rgba(85, 114, 161, 1), 10%);
  border-color: saturate(rgba(85, 114, 161, 1), 10%);
}

.btn-secondary {
  color: #fff;
  background-color: #727b84;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: lighten(#727b84, 10%);
  border-color: lighten(#6c757d, 10%);
  color: #fff;
}

.btn-secondary:disabled, .btn-primary.disabled {
  background-color: darken(#727b84, 10%);
  border-color: darken(#6c757d, 10%);
  cursor: not-allowed;
}

.btn-secondary:active, .btn-secondary.active {
  background-color: saturate(#727b84, 10%);
  background-color: saturate(#6c757d, 10%);
}

.btn-success:disabled, .btn-success.disabled {
  background-color: darken(#6ca378, 10%);
  border-color: darken(#6ca378, 10%);
  cursor: not-allowed;
}

.md-form {
  margin-bottom: 0 !important;
}

messages {
  position: fixed;
  top: 10px;
  right: 60px;
  z-index: 1060;

  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
    button {
      padding-left: 16px;
    }
  }
}

/* override needed for buttons to look good in chrome with bootstrap 4 */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}

/* override popover styles */
.popover {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  min-width: 200px;
}

.popover-body {
  padding: 0 !important;
}

.popover-custom-title {
  background-color: #eee;
  padding: 10px;
  font-weight: lighter;
  user-select: none;
  cursor: default;
}

.popover-custom-title {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.popover-body .list-group {
  max-height: calc(100vh - 230px);
  overflow: auto;
}

.popover-item {
  cursor: pointer;
  border: 0 !important;
  border-radius: 0 !important;
}

.popover-item:hover {
  background-color: $list-item-hover-colour;
  transition: background-color .65s ease;
}

/* Cards */
/* override ugly styling of list-group-items inside cards in bootstrap 4 */
.card > .list-group {
  > .list-group-item {
    border-width: 1px 0 0;
  }
  > .list-group-item:first-child {
    border-width: 0;
  }
}

.card {
  border-radius: 0 !important;
  border: none !important;
  background-color: #eee !important;
}

.card-header {
  border-radius: 0 !important;
}

.card-title {
  font-weight: normal !important;
  font-size: 17px !important;
  margin: 0 !important;
}

.card-block {
  padding: 10px !important;
}

.card-block .form-control {
  margin: 0 !important;
  font-size: 13px;
}

.form-control {
  border-radius: 1px !important;
  -webkit-appearance: none;
}

select.form-control:not([size]):not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url(../img/chevron-down.png);
  padding-right: 1.5em;
  height: auto;
}

.form-check .form-check-label {
  font-size: 15px;
  padding-left: 1.4rem;
}

.fieldcollapse {
  font-size: 1em;
  cursor: pointer;
  font-weight: bold !important;
}

/* Relation Picker */

#relation-picker .btn-secondary {
  margin: 0 0 0 10px !important;
  padding: 5px 5px 5px 15px!important;
  border-radius: 2px !important;
}

#relation-picker .badge {
  background-color: transparent;
}

.delete-relation {
  margin-top: 1px !important;
  padding-top: 5px !important;
}

.relation-link:before {
  color: #333;
  margin-right: 5px;
  margin-left: -10px;
  content: '\2022';
}

relations-view .fieldvalue:hover {
  background-color: #ddd;
}

/* Workaround for showing ngbootstraps modals in bootstrap v4 */
.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

/* wider modals */
.modal-lg {
  min-width: 86%;
}

/* Document view is used in map and image overview */

.document-info {

  .card-header {
    background-color: transparent !important;
  }

  .card {
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: transparent !important;
  }

  .tab-content {
    padding-top: 1em;
    height: calc(100vh - 238px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .empty-tab {
    color: #5a6269;
  }

  .empty-tab-info {
    font-style: italic;
    font-size: 0.9em;
  }
}