<nav *ngIf="views" class="navbar fixed-top navbar-toggleable-xl navbar-dark bg-primary"
     (dragover)="false"
     (dragleave)="false"
     (drop)="false">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/" id="idai-field-brand">
        <img src="img/logo.png" style="height:38px; width:38px; float:left; margin-right:12px;">
        <div class="brand-text">
            <span style="color: #ccc; font-size:90%; font-weight:300;">iDAI.</span>field
            <small style="color: #ccc;">2.0</small>
        </div>
    </a>

    <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="nav navbar-nav" style="margin-top: 2px;">
            <div *ngFor="let view of views" class="nav-item">
                <a class="nav-link" [class.active]="isActiveRoute('/resources/' + view.name)"
                   href="#" routerLink="/resources/{{view.name}}">{{view.label}}</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" [class.active]="isActiveRoute('/images')"
                   href="#" routerLink="/images">Bilder</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" [class.active]="isActiveRoute('/import')"
                   href="#" routerLink="/import" id="importButton">Import</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" [class.active]="isActiveRoute('/export')"
                   href="#" routerLink="/export">Export</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" [class.active]="isActiveRoute('/settings')"
                   href="#" routerLink="/settings">Einstellungen</a>
            </div>
        </div>
    </div>

    <div class="navbar-text navbar-right">
        <taskbar></taskbar>
    </div>

</nav>