.navbar.bg-primary {
  background-color: $navbar-default-bg !important;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-weight: 700;
}

.navbar a {
  color: #fff;
}

.navbar-brand {
  padding-top: 0;
}

.brand-text {
  display: inline-block;
  padding-top: 5px;
}

.navbar-nav {
  margin-top: 0 !important;
}

.navbar messages {
  position: absolute;
  top: 10px;
  right: 60px;


  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
    button {
      padding-left: 16px;
    }
  }
}

.nav-link.active {
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}