/**
 * @author: Jan G. Wieners
 */

// Disable navbar-collapsing
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar.bg-primary {
  background-color: $navbar-default-bg !important;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-weight: 700;
}

#navbar-menu {
  margin-top: 0;
}

#logotext {
  margin-top: 3px;
  margin-right: 40px;
}

#objectsToSyncCount {
  position: absolute;
  top: 12px;
  right: 15px;

  padding: 3px 0 0 0;

  border-radius: 50%;
  margin: auto;
  min-width: 35px;
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  line-height: normal;

  background-color: #aaa;
  height: 35px;
  width: 35px;
  z-index: 1;
  text-align: center;
}

#objectsToSyncCount.connected {
  background-color: #4caf50 !important;
  transition: background-color .5s ease;
}

#objectsToSyncCount.unconnected {
}

#syncCounter {
  font-size: 0.7em;
}

#syncSymbol {
  display: block;
  color: #fff;
  font-size: 1.7em;
}

#objectsToSyncCount #success {
  color: #fff;
  padding: 5px 0 0 0;
  font-size: 1.5em;
  transition: background-color .5s ease;
}

#syncprogress.active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdbb7+0,ffa73d+50,ff7c00+51,ff7f04+100 */
  background: #ffdbb7; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffdbb7 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffdbb7 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffdbb7 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdbb7', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}

#syncprogress {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 3px 0 0 0;
  border-radius: 50%;
  margin: auto;
  min-width: 35px;
  height: 41px;
  width: 41px;
  z-index: 1;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}