.navbar.bg-primary {
  background-color: $navbar-default-bg !important;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-weight: 700;
}


.navbar messages {
  position: absolute;
  top: 10px;
  right: 60px;


  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
    button {
      padding-left: 16px;
    }
  }
}