.projects-modal {

    .project-select{
        padding-top: 8px;
    }

    .circular-button {
        width: 41px;
        height: 41px;
        margin-right: 3px;
        position: inherit;
        display: inline-block;

        &.type-button {
            padding: 0;
            top: 5px;
        }
    }
}

#new-project-menu {
    width: 425px;
}

#projects-badge {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 0.2em !important;
}