projects {
    .circular-button {
        width: 41px;
        height: 41px;

        &.type-button {
            padding: 0;
        }
    }
}

#new-project-menu {
    width: 425px;
}

#projects-badge {
    margin-right: 5px;
    cursor: pointer;
}