.taskbar {
  margin-top: 2px;

  li.nav-item {

    padding: 0 5px;
    margin: -7px 0;

    a {
      color: white;
      cursor: pointer;
    }
  }

  .mdi {
    font-size: 1.7em;
  }

  .mdi-cloud,
  .mdi-cloud-outline-off {
    color: #fff;
  }

  .conflicts {

    .popover-title {
      width: 350px;
      position: absolute;
      right: 0;
    }

    .popover-content {
      position: absolute;
      width: 350px;
      max-height: 500px;
      overflow: hidden;
      right: 0;
      top: 33px;
      background-color: rgb(238, 238, 238);

      .list-group-item {
        display: block;
        cursor: pointer;
        border: 0;
        border-radius: 0;
        margin: 1px 0;
        font-size: 1em;
        padding: 10px 5px 10px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        min-height: 62px;
      }

      .list-group-item:hover {
        background-color: darken($list-item-hover-colour, 5%);
        transition: background-color .65s ease;
      }
    }
  }
}