<ul class="nav navbar-nav taskbar">
    <li class="nav-item conflicts pr-2" *ngIf="conflicts.length">
        <ng-template #popContent>
            <ul class="list-group conflicts-popover-content">
                <li *ngFor="let document of conflicts" class="list-group-item"
                    [id]="'taskbar-conflict-' + document.resource.identifier"
                    (click)="closePopover(); openConflictResolver(document);">
                    <document-teaser [document]="document"></document-teaser>
                </li>
            </ul>
        </ng-template>
        <a [ngbPopover]="popContent" popoverTitle="Konflikte"
           #popover="ngbPopover" placement="bottom" id="taskbar-conflicts-button"
           ngbTooltip="Insgesamt {{conflicts.length}} Konflikte"
           triggers="manual" (click)="togglePopover()"
           placement="bottom">
            <span class="mdi mdi-alert-outline"></span>
            <span class="badge-pill badge-danger conflicts-badge">
                {{conflicts.length}}
            </span>
        </a>
    </li>
    <li class="nav-item pr-2">
        <a href="#" routerLink="/settings">
            <span class="mdi mdi-cloud" *ngIf="connected"
                  ngbTooltip="Synchronisierung ist aktiv"
                  placement="bottom" container="body"></span>
            <span class="mdi mdi-cloud-outline-off" *ngIf="!connected"
                  ngbTooltip="Synchronisierung ist deaktiviert"
                  placement="bottom" container="body"></span>
        </a>
    </li>
    <li class="nav-item">
        <projects></projects>
    </li>
    <li class="nav-item" id="settings-button">&nbsp;&nbsp;
        <a href="#" routerLink="/settings">
            <span class="mdi mdi-settings"
                  ngbTooltip="Einstellungen"
                  placement="bottom" container="body"></span>
        </a>
    </li>
</ul>


