//
// Variables
// --------------------------------------------------

$list-item-hover-color: #f5f5f5;

$primary: #37588e !default;

$item-height: 58px;
$item-padding-top: 8px;
$item-horizontal-padding: 9px;
$font-size-bigger: 14px;
$font-size-smaller: 12px;
$font-size-even-smaller: 10px;

//== Typography
$font-family-sans-serif: 'Roboto', Helvetica, Arial, sans-serif;

//== Media queries breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
) !default;

//== Navbar
$navbar-default-color:       #fff !default;
$navbar-default-bg:          rgba(85, 114, 161, 1) !default;
$navbar-default-border:      transparent !default;
$navbar-dark-color:          #fff !default;

// Windows Ctrl Buttons
$ctrl-button-close:               #d9534f;
$ctrl-button-text-color:          #f2f2f2;
$ctrl-button-bg:                  rgba(85, 114, 161, 0);
