<div id="workflow-step-link-modal-body" class="modal-body">
    <div *ngIf="!selectedDocument">
        <p i18n="@@resources.workflowStepLinkModal.chooseResource">Ressource wählen:</p>
        <document-picker [filterOptions]="filterOptions"
                         [getConstraints]="getConstraints"
                         (documentSelected)="selectDocument($event)"></document-picker>
    </div>
    <div *ngIf="selectedDocument">
        <p i18n="@@resources.workflowStepLinkModal.selectedResource">
            Ausgewählte Ressource:
        </p>
        <div id="selected-document-button" (click)="reset()">
            <document-teaser [document]="selectedDocument"></document-teaser>
            <span class="mdi mdi-close-circle"></span>
        </div>
        <div *ngIf="availableWorkflowSteps.length">
            <p i18n="@@resources.workflowStepLinkModal.chooseWorkflowStepToLink">
                Zu verknüpfenden Arbeitsgang wählen:
            </p>
            <ul id="available-workflow-steps" class="list-group">
                <li *ngFor="let workflowStep of availableWorkflowSteps"
                    (click)="selectWorkflowStep(workflowStep)"
                    class="list-group-item">
                    <div>{{workflowStep.resource.executionDate}}</div>
                    <div>{{getCategoryLabel(workflowStep)}}</div>
                </li>
            </ul>
        </div>
        <div *ngIf="!availableWorkflowSteps.length"
             id="no-available-workflow-steps-info"
             i18n="@@resources.workflowStepLinkModal.noAvailableWorkflowSteps">
            Keine verknüpfbaren Arbeitsschritte gefunden.
        </div>
    </div>
</div>

<div  class="modal-footer">
    <div id="cancel-button"
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
