.idea
*iml
fonts
node_modules
typings
demo/**/*.js
demo/**/*.js.map
test/unit/**/*.js
test/unit/**/*.js.map
!test/unit/config/**/*
persist.js*
messages.js*
datastore.js*
documents.js*
idai-field-map.js*
idai-field-model.js*
widgets.js*
configuration.js*
core.js*
references.js
references.js.map
*.DS_Store
npm-debug.log
