<div *ngIf="allowedCategories">
    <div *ngIf="hasMultipleCategoryOptions()"
         class="circular-button green-button"
         [ngbPopover]="categoryPickerMenu"
         #popover="ngbPopover"
         triggers="manual"
         autoClose="outside"
         (click)="popover.toggle();"
         (hidden)="reset()"
         placement="top">
        <span class="mdi mdi-plus"></span>
    </div>

    <div *ngIf="!hasMultipleCategoryOptions()"
        class="circular-button category-button"
        (click)="baseDocuments.length === 1 && selectCategory(allowedCategories[0])"
        [ngbPopover]="categoryPickerMenu"
        #popover="ngbPopover"
        triggers="manual"
        autoClose="outside"
        (click)="popover.toggle();"
        (hidden)="reset()"
        placement="top">
        <category-icon [category]="allowedCategories[0].name" size="41"></category-icon>
        <div class="plus-sign-circle">
            <span class="mdi mdi-plus mdi-18px"></span>
        </div>
   </div>
</div>

<ng-template #categoryPickerMenu>
    <div>
        <div id="process-plus-button-menu">
            <div *ngIf="baseDocuments.length > 1 && createMultiple === undefined">
                <div class="popover-custom-title">
                    <span i18n="@@resources.workflowEditorModal.plusButton.multiple.header">
                        Bitte wählen Sie die Anzahl der zu erstellenden Prozesse.
                    </span>
                </div>
                <ul id="multiple-select-buttons" class="list-group">
                    <li id="create-single-process-button" class="list-group-item popover-item"
                        (click)="selectCreateMultipleOption(false)">
                        <span class="button-label"
                              i18n="@@resources.workflowEditorModal.plusButton.multiple.false">
                            Ein gemeinsamer Prozess für alle ausgewählten Ressourcen
                        </span>
                    </li>
                    <li id="create-multiple-processes-button" class="list-group-item popover-item"
                        (click)="selectCreateMultipleOption(true)">
                        <span class="button-label"
                              i18n="@@resources.workflowEditorModal.plusButton.multiple.true">
                            Ein eigener Prozess pro Ressource (insgesamt {{baseDocuments.length}})
                        </span>
                    </li>
                </ul>
            </div>
            <div *ngIf="baseDocuments.length === 1 || createMultiple !== undefined">
                <div class="popover-custom-title">
                    <span i18n="@@resources.plusButton.selectCategory">Bitte wählen Sie eine Kategorie aus.</span>
                </div>
                <category-picker [topLevelCategoriesArray]="allowedCategories"
                                 (onCategoryPicked)="selectCategory($event)"></category-picker>
            </div>
        </div>
    </div>
</ng-template>
