.field-editor-modal-header,
.field-editor-modal-body {
  &.dragging {
    cursor: grabbing !important;

    input,
    select,
    .btn,
    label,
    .cdk-drag-handle {
      cursor: grabbing !important;
    }
  }

  #target-category-picker-container {
    width: 100%;
    height: 350px;
    overflow-y: scroll;
  }
}
