/**
 * @author Thomas Kleinke
 */

.help {
  position: relative;
  height: calc(100vh - 49px);
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  z-index: 1001;

  #search-container {
    width: 100%;
  }

  #help-container {
    padding: 15px 0;
    hyphens: auto;
    text-align: justify;

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    h4 {
      font-size: 1.1em;
    }

    h5 {
      font-size: 16px;
      font-weight: 500;
    }

    p[align=center] + h2,
    p[align=center] + h3,
    p[align=center] + h4,
    p[align=center] + h5 {
      margin-top: 35px;
    } 

    pre {
      background-color: #e9ecef;
      padding: 10px;
    }

    img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .search-result {
      color: white;
      background-color: #5572a1;

      &.selected-search-result {
        background-color: #90a5c5;
      }
    }
  }

  #table-of-contents-placeholder {
    border-right: 1px solid #eee;
  }

  #table-of-contents {
    position: fixed;
    margin-top: 10px;
    user-select: none;

    input {
      margin-left: 12px;
      margin-bottom: 5px;
      width: calc(100% - 72px);
      margin-right: 10px;
      float: left;
    }

    .browse-search-results-button {
      width: 50px;
      height: 19px;
      border-color: white !important;

      .mdi {
        position: relative;
        bottom: 11px;
        font-size: 10px;
      }
    }

    ul {
      padding: 0;
    }

    .nav {
      margin: 5px 12px;

      .nav-link {
        &.active {
          background-color: $primary-button-color;
        }
      }
    }
  }
}
