<div class="modal-body p-0">

    <ng-template #deleteModal let-c="close">
        <div class="modal-body">Möchten Sie die Ressource wirklich löschen?</div>
        <div class="modal-footer">
            <button type="button" id="delete-resource-confirm" class="btn btn-danger" (click)="c('delete')">
                Löschen
            </button>
            <button type="button" id="delete-resource-cancel" class="btn btn-default" (click)="c('cancel')">
                Abbrechen
            </button>
        </div>
    </ng-template>

    <section id="document-edit-wrapper">
        <header>
            <h1 class="overview-document-heading">

                <button *ngIf="showBackButton" class="btn btn-primary"
                        id="document-edit-button-goto-view"
                        style="float: right;"
                        (click)="cancel()">
                    <span class="mdi mdi-close"></span>
                </button>
                <button class="btn btn-success pull-right"
                        id="document-edit-button-save-document"
                        style="float: right;"
                        (click)="save(true);">
                    <span class="mdi mdi-content-save"></span>
                    <span class="button-label">Speichern</span>
                </button>
                <button *ngIf="clonedDocument && clonedDocument.resource.id
                            && clonedDocument.resource.type != 'Project'"
                        class="btn btn-danger pull-right" id="document-edit-button-delete-document"
                        style="float: right;" (click)="openDeleteModal(deleteModal);">
                    <span class="mdi mdi-delete"></span>
                    <span class="button-label">Löschen</span>
                </button>
                <div id="type-switcher-button-container">
                    <type-switcher-button [type]="clonedDocument.resource.type"
                                          (onTypeChanged)="changeType($event)">
                    </type-switcher-button>
                </div>
                <div *ngIf="projectConfiguration && clonedDocument && clonedDocument.resource.id"
                      class="docedit-header-label">
                    {{projectConfiguration.getLabelForType(this.clonedDocument.resource.type)}} bearbeiten
                </div>
                <span *ngIf="projectConfiguration && clonedDocument && !clonedDocument.resource.id"
                      class="docedit-header-label">
                    {{projectConfiguration.getLabelForType(this.clonedDocument.resource.type)}} anlegen
                </span>
            </h1>
        </header>
        <main>

            <div *ngIf="clonedDocument" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ngb-tabset activeId="docedit-{{activeTab}}-tab">
                            <ngb-tab title="Felder" id="docedit-fields-tab">
                                <ng-template ngbTabContent>
                                    <edit-form *ngIf="projectConfiguration" [(document)]="clonedDocument"
                                               [fieldDefinitions]="projectConfiguration.getFieldDefinitions
                                                    (clonedDocument.resource.type)">
                                    </edit-form>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab *ngIf="getRelationDefinitions() && getRelationDefinitions().length > 0"
                                     title="Relationen"
                                     id="docedit-relations-tab">
                                <ng-template ngbTabContent>
                                    <relations-form
                                            [(document)]="clonedDocument"
                                            [primary]="'identifier'"
                                            [relationDefinitions]="getRelationDefinitions()">
                                    </relations-form>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab *ngIf="!projectImageTypes[clonedDocument.resource.type]" title="Bilder"
                                     id="docedit-images-tab">
                                <ng-template ngbTabContent>
                                    <docedit-image-tab
                                            [(document)]="clonedDocument">
                                    </docedit-image-tab>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab *ngIf="clonedDocument._conflicts" id="docedit-conflicts-tab">
                                <ng-template ngbTabTitle><span class="mdi mdi-alert-outline"></span> Konflikte
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <docedit-conflicts-tab [(document)]="clonedDocument"
                                                       [(inspectedRevisionsIds)]="inspectedRevisionsIds">
                                    </docedit-conflicts-tab>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>

                    </div>
                </div>
            </div>
        </main>
    </section>
</div>
<ng-template #modalTemplate>
    <edit-save-dialog
            (onSave)="save(); dialog.close();"
            (onDiscard)="activeModal.dismiss('discard'); dialog.close();"
            (onCancel)="dialog.close();">
    </edit-save-dialog>
</ng-template>

