@import 'docedit-image-tab.scss';
@import 'docedit-conflicts-tab';
@import 'type-switcher-button';
@import 'image-picker';

#document-edit-wrapper {

  .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
  }

  .form-group.card {
    margin-bottom: 0;
  }

  .document-info .card-block {
    overflow: auto;
  }

  textarea {
    width: 100%;
    resize: vertical;
  }

  header {
    background-color: #eee;
    padding: 7px;
    border-bottom: 1px solid #ccc;
    user-select: none;
    background-color: #67b2b9;
    padding: 7px;
    
    #type-switcher-button-container {
      min-width: 55px;
      padding: 4px;
    }

    .docedit-header-label {
      font-size: 1.5em;
      line-height: 1em;
      margin: 0;
      padding-right: 15px;
      flex:1;
      min-height: 2.15em;
    }
  }

  .mdi-arrow-left {
    margin-left: -5px;
    margin-right: -3px;
  }


  main {
    padding: 25px;
    background-color: #eee;

    .tab-content {
      height: calc(100vh - 238px);
      overflow: auto;
    }
  }

  #document-edit-button-save-document:active,
  #document-edit-button-save-document:focus,
  #document-edit-button-delete-document:active,
  #document-edit-button-delete-document:focus,
  #document-edit-button-goto-view:active,
  #document-edit-button-goto-view:focus,
  #document-view-button-edit-document:active,
  #document-view-button-edit-document:focus,
  #document-view-button-back-to-map:active,
  #document-view-button-back-to-map:focus {
    outline: none;
  }

  #document-edit-button-save-document,
  #document-edit-button-delete-document,
  #document-edit-button-goto-view {
    margin-right: 7px;
    margin-top: 8px;
    border: 0;
    border-radius: 2px;
    color: #fff;
  }

  .button-label {
    display: inline-block;
    margin-left: 5px;
  }

  .choose-geometry-icon {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  #docedit-conflicts-tab {
    color: red !important;
  }

  #docedit-fields-tab,
  #docedit-relations-tab,
  #docedit-images-tab,
  #docedit-conflicts-tab {
    user-select: none;
  }

}

#confirm-delete-info {
  margin-bottom: 10px;
}

#delete-resource-confirm.disabled {
  cursor: not-allowed !important;
}