@import 'docedit-conflicts-tab';

#document-edit-wrapper {

  .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
  }

  .form-group.card {
    margin-bottom: 0;
  }

  .document-info .card-block {
    overflow: auto;
  }

  textarea {
    width: 100%;
    resize: vertical;
  }

  header {
    background-color: #eee;
    padding: 7px;
    border-bottom: 1px solid #ccc;
  }

  .docedit-header-label {
    display: inline-block;
    position: relative;
    top: -17px;
    color: #fff;
  }

  #type-switcher-button-container {
    display: inline-block;
    margin-right: 10px;
    padding: 9px 5px 0 10px;
    width: 50px;
    height: 55px;
  }

  .mdi-arrow-left {
    margin-left: -5px;
    margin-right: -3px;
  }

  header h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #67b2b9;
  }

  main {
    padding: 25px;
    background-color: #eee;
    height: calc(100vh - 178px);
    overflow: auto;
  }

  #document-edit-button-save-document:active,
  #document-edit-button-save-document:focus,
  #document-edit-button-delete-document:active,
  #document-edit-button-delete-document:focus,
  #document-edit-button-goto-view:active,
  #document-edit-button-goto-view:focus,
  #document-view-button-edit-document:active,
  #document-view-button-edit-document:focus,
  #document-view-button-back-to-map:active,
  #document-view-button-back-to-map:focus {
    outline: none;
  }

  #document-edit-button-delete-document:focus,
  #document-edit-button-save-document:focus,
  #document-edit-button-goto-view:focus {
    background-color: #ddd;
  }

  #document-edit-button-save-document,
  #document-edit-button-delete-document,
  #document-edit-button-goto-view {
    margin-right: 7px;
    margin-top: 12px;
    border: 0;
    border-radius: 2px;
    color: #fff;
  }

  .button-label {
    display: inline-block;
    margin-left: 5px;
  }

  .choose-geometry-icon {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  #document-edit-conflicts-tab {
    color: red !important;
  }

}