<div class="modal-header configuration-editor-modal-header">
    <h5 *ngIf="new" class="modal-title" i18n="@@configuration.createSpecificGroup">
        Gruppe <code>{{group.name}}</code> erstellen
    </h5>
    <h5 *ngIf="!new" class="modal-title" i18n="@@configuration.editSpecificGroup">
        Gruppe <code>{{group.name}}</code> bearbeiten
    </h5>
    <button id="confirm-button" class="btn btn-primary"
            [ngClass]="{ 'disabled': applyingChanges || !isChanged() }"
            (click)="applyingChanges || !isChanged() || confirm()">
        <span class="button-label" i18n="@@buttons.ok">OK</span>
    </button>
    <button id="cancel-button" class="btn btn-primary btn-square"
            [class.disabled]="applyingChanges"
            (click)="applyingChanges || cancel()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body configuration-editor-modal-body group-editor-modal-body">
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.groupLabel">
            Gruppenbezeichnung
        </div>
        <multi-language-input [translations]="clonedLabel"
                              [defaultTranslations]="group.defaultLabel"
                              [projectLanguages]="getClonedProjectLanguages()"></multi-language-input>
    </div>
</div>
