#confirm-delete-info {
  margin-bottom: 10px;
}

#confirm-delete-info,
.text-center {
  user-select: none;
}

#delete-resource-confirm.disabled {
  cursor: not-allowed !important;
}

#delete-images-form-group {
  margin-top: 1rem;
  margin-bottom: 0;
}
