<div class="modal-header">
    <h5 *ngIf="documents.length === 1" class="modal-title" i18n="@@resources.deleteModal.header.single">
        Ressource {{documents[0].resource.identifier}} löschen?
    </h5>
    <h5 *ngIf="documents.length > 1" class="modal-title" i18n="@@resources.deleteModal.header.multiple">
        {{documents.length}} Ressourcen löschen?
    </h5>
</div>

<div class="modal-body">
    <div id="confirm-delete-info" >
        <span *ngIf="documents.length === 1" i18n="@@resources.deleteModal.confirmDeleteInfo.single">
            Bitte geben Sie den Bezeichner der Ressource ein, um den Löschvorgang zu bestätigen.
        </span>
        <span *ngIf="documents.length > 1" i18n="@@resources.deleteModal.confirmDeleteInfo.multiple">
            Bitte geben Sie den Bezeichner einer der zu löschenden Ressourcen ein, um den Löschvorgang
            zu bestätigen.
        </span>
    </div>
    <div class="input-group">
        <input id="delete-resource-input"
               type="text"
               class="form-control"
               [(ngModel)]="confirmDeletionIdentifier"
               (keydown)="$event.key !== 'Enter' || confirmDeletion()" />
    </div>
    <br>
    <div *ngIf="showDeleteDescendantWarningSingle()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendant.single">
        Zu dieser Ressource gehört eine weitere Ressource, die beim Löschen ebenfalls entfernt wird.
    </div>
    <div *ngIf="showDeleteDescendantsWarningSingle()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendants.single">
        Zu dieser Ressource gehören insgesamt {{descendantsCount}} weitere Ressourcen, die beim Löschen
        ebenfalls entfernt werden.
    </div>
    <div *ngIf="showDeleteDescendantWarningMultiple()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendant.multiple">
        Zu diesen Ressourcen gehört eine weitere Ressource, die beim Löschen ebenfalls entfernt wird.
    </div>
    <div *ngIf="showDeleteDescendantsWarningMultiple()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendants.multiple">
        Zu diesen Ressourcen gehören insgesamt {{descendantsCount}} weitere Ressourcen, die beim Löschen
        ebenfalls entfernt werden.
    </div>
    <div *ngIf="showImportedCatalogAssociationsMsg()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModel.warning.importedCatalog">
        Dies ist ein importierter Katalog. Bitte beachten Sie,
        dass beim Löschen auch Zuordnungen von Funden zu Typen des Katalogs entfernt werden.
    </div>
    <div *ngIf="showOwnedCatalogAssociationsMsg()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModel.warning.ownedCatalog">
        Bitte beachten Sie,
        dass beim Löschen von Katalogen sämtliche enthaltenen Typen sowie
        Zuordnungen von Funden zu Typen des Katalogs entfernt werden.
    </div>
    <div *ngIf="showOwnedTypeAssociationsMsg()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModel.warning.ownedType">
        Bitte beachten Sie,
        dass beim Löschen von Typen sämtliche Untertypen sowie
        Zuordnungen von Funden zu Typen und Untertypen entfernt werden.
    </div>

    <div *ngIf="showDeleteImagesOptionForResourceSingular()"
          class="text-center alert alert-warning"
          i18n="@@resources.deleteModal.deleteResourceImagesOptionSingular">
        Mit der Ressource ist ein Bild direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourcePlural()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourceImagesOptionPlural">
        Mit der Ressource sind {{relatedImagesCount}} Bilder direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourceWithDescendantsSingular()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourceWithDescendantsImagesOptionSingular">
        Mit der Ressource oder einer darunterliegenden Ressource ist ein Bild direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourceWithDescendantsPlural()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourceWithDescendantsImagesOptionPlural">
        Mit der Ressource und darunterliegenden Ressourcen sind insgesamt {{relatedImagesCount}} Bilder direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourcesSingular()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourcesImagesOptionSingular">
        Mit den Ressourcen ist ein Bild direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourcesPlural()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourcesImagesOptionPlural">
        Mit den Ressourcen sind {{relatedImagesCount}} Bilder direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourcesWithDescendantsSingular()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourcesWithDescendantsImagesOptionSingular">
        Mit den Ressourcen oder darunterliegenden Ressourcen ist ein Bild direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>
    <div *ngIf="showDeleteImagesOptionForResourcesWithDescendantsPlural()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.deleteResourcesWithDescendantsImagesOptionPlural">
        Mit den Ressourcen und darunterliegenden Ressourcen sind insgesamt {{relatedImagesCount}} Bilder direkt verbunden.
        Direkt verbundene Bilder haben keine Verbindungen zu anderen Ressourcen.
    </div>

    <div *ngIf="showDeleteImagesOption()"
         class="form-group text-left"
        i18n="@@resources.deleteModal.deleteImages">
        <div class="form-check form-check-inline">
            <input id="delete-catalog-images-checkbox"
                   type="checkbox"
                   [(ngModel)]="deleteRelatedImages"
                   class="form-check-input">
            <label for="delete-catalog-images-checkbox" class="form-check-label">
                Verbundene Bilder Löschen
            </label>
        </div>
    </div>
</div>

<div class="modal-footer" *ngIf="documents">
    <button id="delete-resource-confirm" class="btn btn-danger" type="button"
            [ngClass]="{ 'disabled': !this.checkConfirmDeletionIdentifier() }"
            (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </button>
    <button type="button" id="delete-resource-cancel" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
