<resources-context-menu *ngIf="contextMenu.isOpen()"
    [contextMenu]="contextMenu"
    [showViewOption]="true"
    (onSelectAction)="performContextMenuAction($event)"></resources-context-menu>

<div id="type-grid" class="bg-light" (scroll)="contextMenu.close()">
    <document-info *ngIf="mainDocument"
                   [document]="mainDocument"
                   [getExpandAllGroups]="getExpandAllGroups"
                   [setExpandAllGroups]="setExpandAllGroups"
                   [showThumbnail]="true"
                   (onStartEdit)="edit(mainDocument)"
                   (onJumpToResource)="jumpToResource($event)"
                   (onThumbnailClicked)="openImageViewModal(mainDocument)"></document-info>

    <loading-icon [class.with-main-document]="mainDocument"></loading-icon>

    <div *ngIf="!isLoading()" id="grid-elements-container">

        <div *ngIf="linkedDocuments.length > 0"
             class="grid-section-label first-grid-section-label"
             (click)="toggleSection('types')">
            <span [ngClass]="isSectionVisible('types') ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"></span>
            <span *ngIf="mainDocument?.resource.category === 'TypeCatalog'"
                i18n="@@resources.typeGrid.types">Typen</span>
            <span *ngIf="mainDocument?.resource.category !== 'TypeCatalog'"
                i18n="@@resources.typeGrid.subtypes">Untertypen</span>
        </div>

        <div *ngIf="isSectionVisible('types')" class="grid-section">
            <type-grid [documents]="documents"
                       [images]="images"
                       (clickDocument)="open($event)"
                       (contextmenuDocument)="contextMenu.open($event.mouseEvent, [$event.document])"></type-grid>
            <div id="plus-button-container" *ngIf="isSectionVisible('types')">
                <plus-button *ngIf="isPlusButtonShown()"
                             id="create-document-button"
                             [placement]="'top'"
                             [preselectedGeometryType]="'none'"
                             [preselectedCategory]="getCurrentFilterCategory()"
                             [liesWithin]="getSelectedSegmentDoc()"
                             [isRecordedIn]="viewFacade.getCurrentOperation()"
                             [status]="getPlusButtonStatus()"></plus-button>
            </div>
        </div>

        <div *ngIf="linkedDocuments.length > 0"
             id="toggle-finds-section-button"
             class="grid-section-label"
             i18n="@@resources.typeGrid.linkedFinds"
             (click)="toggleSection('finds')">
             <span [ngClass]="isSectionVisible('finds') ? 'mdi mdi-chevron-down' : 'mdi mdi-chevron-right'"></span>
             Zugeordnete Funde
        </div>

        <div *ngIf="linkedDocuments.length > 0 && isSectionVisible('finds')"
             id="linked-documents-grid"
             class="grid-section">
            <type-grid [documents]="linkedDocuments"
                       [images]="images"
                       (clickDocument)="openResourceViewModal($event)"></type-grid>
        </div>
    </div>
</div>
