<div class="backup-creation row">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-end">
                <button id="createBackupButton"
                        class="btn btn-primary"
                        [ngClass]="{ 'disabled': running }"
                        (click)="createBackup()">
                    <span class="mdi mdi-database-export"></span>
                    <span class="button-label" i18n="@@backup.creation.createBackup">Backup erstellen</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col default-container">
                <div class="col-lg-6 mx-lg-auto py-4">
                    <span i18n="@@backup.creation.info">
                        Erstellt ein Backup des aktuell geöffneten Projekts. Regelmäßige Backups erhöhen die
                        Datensicherheit und erlauben es bei Datenverlusten, die Datenbank aus dem letzten
                        gesicherten Zwischenstand wiederherzustellen.
                        <br><br>
                        Bitte beachten Sie, dass Originale von Bildern nicht mitgesichert werden. Diese befinden sich
                        in dem unter <i>Einstellungen</i> angezeigten Pfad und sollten separat gesichert werden.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
