<div class="backup-loading row">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-right">
                <button id="loadBackupButton"
                        class="btn btn-primary"
                        [ngClass]="{ 'disabled': running }"
                        (click)="loadBackup()">
                    <span class="mdi mdi-database-import"></span>
                    <span class="button-label" i18n="@@backup.loading.loadBackup">Backup einlesen</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col default-container">
                <div class="col-lg-6 mx-lg-auto py-4">
                    <span i18n="@@backup.loading.info.1">
                        Geben Sie hier den vollständigen Pfad einer Backup-Datei sowie die Kennung eines Zielprojekts ein.
                        Die Kennung des Zielprojekts darf nicht mit derjenigen des aktuell geöffneten Projekts übereinstimmen.
                    </span>

                    <br><br>

                    <span i18n="@@backup.loading.info.2">
                        Hinweis: Nach dem Einspielen eines Backups werden Vorschaubilder erneut aus den Originaldaten
                        errechnet, weshalb die Anwendung zunächst möglicherweise etwas langsamer laufen kann.
                    </span>

                    <br><br>

                    <span i18n="@@backup.loading.info.3">
                        <b>Achtung:</b> Beim Einspielen einer Backup-Datei wird eine eventuell vorhandene Zieldatenbank
                        mit der angegebenen Kennung <b>vollständig überschrieben</b>.
                    </span>

                    <br>
                    <br>
                    <div class="form-group">
                        <label i18n="@@backup.loading.path">Pfad</label>
                        <div class="input-group">
                            <input id="file-path-input"
                                [ngModel]="path"
                                class="form-control"
                                placeholder="Datei auswählen..."
                                i18n-placeholder="@@import.chooseFile"
                                disabled>
                            <div class="input-group-append">
                                <label for="file-path-input"
                                    class="btn btn-secondary"
                                    (click)="selectFile()">
                                    <span class="mdi mdi-folder"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label i18n="@@project.identifier">Projektkennung</label>
                        <input type="text" class="form-control" id="projectIdentifier"
                            [(ngModel)]="projectIdentifier" name="projectIdentifier">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
