<div class="modal-header">
    <h5 class="modal-title"
        i18n="@@navbar.taskbar.cleanUpRelation.header">Relation bereinigen?</h5>
</div>

<div id="clean-up-relation-modal-body" class="modal-body warnings-tool-modal-body">
    <span i18n="@@navbar.taskbar.cleanUpRelation.confirmation.question">
        Möchten Sie die Relation <span [innerHTML]="getRelationLabelHTML()"></span> wirklich bereinigen?
    </span>
    <span *ngIf="warningType === 'missingRelationTargets'"
          i18n="@@navbar.taskbar.cleanUpRelation.confirmation.info.missing">
        Alle Verweise auf nicht existierende Ressourcen werden dabei entfernt.
    </span>
    <span *ngIf="warningType === 'invalidRelationTargets'"
          i18n="@@navbar.taskbar.cleanUpRelation.confirmation.info.invalid">
        Alle Verweise auf ungültige Zielressourcen werden dabei entfernt.
    </span>
</div>

<div class="modal-footer">
    <div id="confirm-clean-up-button" class="btn btn-primary"
         (click)="cleanUp()">
        <span i18n="@@buttons.ok">OK</span>
    </div>
    <div class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
