<div id="fix-outliers-modal-header" class="modal-header">
    <h5 class="modal-title" i18n="@@navbar.taskbar.fixOutliers.header">
        Wert <b>{{outlierValue}}</b> korrigieren
    </h5>
</div>

<div *ngIf="valuelist" id="fix-outliers-modal-body" class="modal-body warnings-tool-modal-body">
    @if (field.inputType === 'checkboxes') { 
        <div i18n="@@navbar.taskbar.fixOutliers.multipleValues.info" class="warnings-tool-info">
            Bitte wählen Sie die korrekten Werte aus der Werteliste aus.
        </div>

        <div class="replacement-values-container">
            <span *ngFor="let value of getValues()" class="checkbox form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" [value]="value" type="checkbox" (click)="toggleCheckboxValue(value)">
                    {{getValueLabel(value)}}
                </label>
            </span>
        </div>
    } @else {
        <div i18n="@@navbar.taskbar.fixOutliers.singleValue.info" class="warnings-tool-info">
            Bitte wählen Sie den korrekten Wert aus der Werteliste aus.
        </div>
        <div class="replacement-values-container">
            <searchable-select [selectedValue]="selectedValues[0]" 
                               [values]="getValues()" 
                               [getLabel]="getValueLabel"
                               (onValueSelected)="selectedValues = [$event]">
            </searchable-select>
        </div>
    }

    <div *ngIf="isValid()" 
         id="multiple-switch" 
         class="row" 
         [disableTooltip]="getCountAffected() !== 1" 
         [class.disabled]="getCountAffected() === 1"
         ngbTooltip="Nur diese Ressource ist betroffen." 
         i18n-ngbTooltip="@@navbar.taskbar.warningsModal.singleResourceAffected" 
         container="body">
        <div class="col-auto me-auto">
            <span i18n="@@navbar.taskbar.fixOutliers.all">Alle Vorkommnisse in kompatiblen Feldern ersetzen</span>
        </div>
        <div class="col-auto"> 
            <label class="switch" [class.disabled]="getCountAffected() === 1">
                <input type="checkbox" 
                       [checked]="replaceAll" 
                       (change)="replaceAll = !replaceAll" 
                       [disabled]="getCountAffected() === 1">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    
    <div *ngIf="isValid() && replaceAll">
        @if (selectedValues.length === 1) {
            <div class="text-center alert alert-warning"
             i18n="@@navbar.taskbar.fixOutliers.allSingleValue.info">
                Bitte beachten Sie: Durch diese Aktion wird der nicht in der Werteliste enthaltene Wert <b>{{getValueLabel(outlierValue)}}</b> in sämtlichen Feldern aller <b>{{getCountAffected()}}</b> Ressourcen durch den ausgewählten Wert <b>{{selectedValues[0]}}</b> ersetzt.
            </div>
        } @else {
            <div class="text-center alert alert-warning"
             i18n="@@navbar.taskbar.fixOutliers.allMultipleValues.info">
                Bitte beachten Sie: Durch diese Aktion wird der nicht in der Werteliste enthaltene Wert <b>{{getValueLabel(outlierValue)}}</b> in sämtlichen Feldern aller <b>{{getCountAffected()}}</b> Ressourcen, die in diesem Feld eine Mehrfachauswahl erlauben, durch die ausgewählten Werte
                @for (value of selectedValues; track value; let isLast = $last) {<b>{{value}}@if(!isLast){, }</b>} 
                ersetzt.
            </div>
        }
        
    </div>
</div>

<div class="modal-footer">
    <div id="confirm-replacement-button" class="btn btn-primary"
         [ngClass]="{ 'disabled': !isValid() }"
         (click)="performReplacement()">
        <span i18n="@@buttons.ok">OK</span>
    </div>
    <div id="cancel-button" 
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
