<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Field Hub"%>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
      <header>
        <nav>
          <ul>
          <%= if @current_user do %>
            <li><%= @current_user %></li>
            <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
          <% else %>
            <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
          <% end %>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
          <% end %>
          </ul>
        </nav>
      </header>
    <%= @inner_content %>
  </body>
</html>
