<div id="export">

    <header>
        <h1>
            <span class="mdi mdi-file-export"></span>
            Export
        </h1>
    </header>

    <main>
        <div class="form-group row">

            <div class="col-lg-6 offset-lg-3">

                <div class="form-group">

                    <label class="control-label col-form-label"
                           for="exportFormatSelect">Format</label>
                    <select id="exportFormatSelect" class="form-control"
                            [(ngModel)]="format"
                            [class.disabled]="running">
                        <option value="native">iDAI.field</option>
                    </select>

                </div>

                <button *ngIf="!running" id="exportStartButton"
                        class="btn btn-primary"
                        [ngClass]="{ 'disabled': running }"
                        (click)="running || startExport()">
                    Export starten
                </button>
                <div style="display: inline-block;" *ngIf="running" class="spinner"></div>

            </div>
        </div>
    </main>
</div>
