#image-type-picker-modal ul li.list-group-item {
  border: 1px solid #eee !important;
}

#image-type-picker-modal ul li ul {
  margin-top: 10px;
}

#image-type-picker-modal ul li:hover > ul li {
  background-color: $list-item-hover-colour !important;
  transition: background-color .65s ease;
}

#image-type-picker-modal ul li ul li.list-group-item {
  border: none !important;
}

#image-type-picker-modal ul li ul li:hover {
  background-color: darken($list-item-hover-colour, 5%) !important;
}

#image-type-picker-modal .list-group-item {
  cursor: pointer;
}
