#initialization {
  position: absolute;
  top: calc(50vh - 175px);
  width: 100%;

  .icon {
      text-align: center;
      margin-bottom: 50px;

      img {
          width: 100px;
          height: 100px;
      }
  }

  #initialization-progress {
    width: 500px;
    position: absolute;
    left: calc(50vw - 250px);
  }

  #initialization-info {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 50px;
    text-align: center;
    font-family: Roboto, sans-serif;
    user-select: none;

    #initialization-info-project-name {
      font-weight: bold;
    }
  }
}
