#initialization {
  position: absolute;
  top: calc(50vh - 356px);
  width: 100%;

  #initialization-progress {
    width: 500px;
    position: absolute;
    left: calc(50vw - 250px);
  }

  #initialization-info {
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 50px;
    text-align: center;
    font-family: Roboto, sans-serif;
    user-select: none;

    #initialization-info-project-name {
      font-weight: bold;
    }
  }
}
