.manage-valuelists-modal-header {
  background-color: #f8f9fa;
}

.manage-valuelists-modal-body {
  height: calc(100vh - 200px);

  valuelist-preview {
    display: block;
    height: calc(100vh - 273px);
  }
}
  