#cancel-manage-valuelists-modal-button {
  position: absolute;
  right: 7px;
}

.manage-valuelists-modal-body {
  height: calc(100vh - 137px);
  font-size: 15px;

  valuelist-preview {
    height: calc(100vh - 168px);
  }

  valuelist-listing {
    height: calc(100vh - 215px);
  }
}
  