.manage-valuelists-modal-body {
  height: calc(100vh - 110px);
  font-size: 15px;

  valuelist-preview {
    height: calc(100vh - 136px);
  }

  valuelist-listing {
    height: calc(100vh - 183px);
  }
}
  