valuelist-preview {
    category-icon {
        position: relative;
        top: 2px;
        margin-right: 1px;
    }

    .field-in-use {
        margin-left: 28px;
        font-size: 14px;
    }
}
