<div *ngIf="valuelist" class="preview">
    <div id="preview-header" [class.extending-valuelist]="valuelist.extendedValuelist">
        <span class="preview-item-title">
            <code>{{valuelist.id}}</code>
        </span>
        <div *ngIf="valuelist.extendedValuelist"
             id="extension-info"
             ngbTooltip="Diese Werteliste stellt eine Erweiterung einer bestehenden Werteliste dar."
             i18n-ngbTooltip="@@configuration.valuelistExtensionTooltip"
             container="body"
             placement="bottom">
            <span class="mdi mdi-plus"></span> <code>{{valuelist.extendedValuelist}}</code>
        </div>
    </div>
    <div id="preview-body" [class.extending-valuelist]="valuelist.extendedValuelist">
        <div *ngIf="valuelist.createdBy" class="preview-section">
            <b i18n="@@configuration.createdBy">Erstellt von:</b>
            <div class="preview-text">{{valuelist.createdBy}}</div>
        </div>

        <div *ngIf="getValuelistDescription()" class="preview-section">
            <b i18n="@@configuration.descriptionHeading">Beschreibung:</b>
            <div class="preview-text">{{getValuelistDescription()}}</div>
        </div>

        <div *ngIf="valuelist.values" class="preview-section">
            <b i18n="@@configuration.valuesHeading">Werte:</b>
            <valuelist-view [valuelist]="valuelist"
                            [showDescription]="false"
                            [largeList]="true"></valuelist-view>
        </div>

        <b *ngIf="getUsage().length > 0" id="used-by-header" i18n="@@configuration.usedBy">Verwendet von:</b>
        <div *ngFor="let categoryUsage of getUsage()">
            <category-icon [category]="categoryUsage.category" size="23"></category-icon>
            <span class="valuelist-preview-label">{{getLabel(categoryUsage.category)}}</span>
            <ul class="fields-in-use">
                <li *ngFor="let field of categoryUsage.fields" class="field-in-use">
                    {{getLabel(field)}}
                </li>
            </ul>
        </div>
    </div>
</div>
