valuelist-listing {
    display: block;
    width: 100%;
  
    .listing {
      li:not(.btn):hover {
          background-color: $list-item-hover-color;
          transition: background-color .5s ease;
      }

      .in-use {
        font-weight: bold; 
      }
      
      .custom {
        background-color: $custom-highlight-color;

        &.selected,
        &:not(.btn):hover {
          background-color: darken($custom-highlight-color, 5%);
          transition: background-color .5s ease;
        }
      }
    }
  }
  