valuelist-search-bar {
  #valuelist-search-input {
    width: calc(100% - 50px);
    height: 38px;
    border-right: none;
  }

  #valuelist-filter-button .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 50px;

    .mdi {
      position: relative;
      right: 1px;
    }
  }

  .arrow {
    &::before,
    &::after {
      left: 16px;
    }
    &::after {
      border-bottom-color: #eee !important;
    }
  }

  #valuelist-filter-menu {
    user-select: none;

    fieldset {
      .form-check-inline {
        padding-left: 33px;
        padding-bottom: 10px;

        .form-check-label {
          padding-left: 0;
        }

        &:first-child {
          padding-top: 10px;
        }
      }
    }
  }
}
