valuelist-search-bar {
  #valuelist-search-input {
    width: calc(100% - 50px);
    height: 38px;
    border-right: none;
  }

  .input-group-append {
    z-index: 100;
    
    #valuelist-filter-button .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 42px;

      .mdi {
        position: relative;
        right: 1px;
      }
    }
  }

  .arrow {
    &::before,
    &::after {
      left: 16px;
    }
    &::after {
      border-bottom-color: #eee !important;
    }
  }

  #valuelist-filter-menu {
    user-select: none;

    .form-group {
      margin-bottom: 0;

      .form-check-inline {
        padding-left: 10px;
        padding-bottom: 10px;

        &:first-child {
          padding-top: 10px;
        }
      }
    }
  }
}
