<ul class="bg-light listing">
    <li *ngFor="let valuelist of filteredValuelists"
        [id]="'valuelist-' + valuelist.id"
        [class.selected]="selectedValuelist === valuelist"
        [class.in-use]="isInUse(valuelist)"
        [class.custom]="isCustomValuelist(valuelist)"
        (click)="select(valuelist)"
        (contextmenu)="contextMenu && contextMenu.open($event, undefined, undefined, undefined, valuelist)">
        <code>{{valuelist.id}}</code>
        <span *ngIf="getSearchResultLabel(valuelist)"
              class="search-result-label"> ({{getSearchResultLabel(valuelist)}})</span>
    </li>
    <li *ngIf="isNewValuelistOptionShown()"
        class="new-valuelist-button btn btn-success"
        (click)="select(emptyValuelist)">
        <span class="mdi mdi-plus-circle"></span>
        <div i18n="@@configuration.newValuelist">Neue Werteliste <code>{{searchTerm}}</code> erstellen</div>        
    </li>
</ul>
    