#release-notes {
  height: 310px;
  padding: 4px 10px;
  border-radius: 7px;
  background-color: #e9e9e9;
  font-size: 14px;
  overflow-y: auto;
  margin-bottom: 15px;
}

#update-warning {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 15px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

ul {
  margin-top: 7px;
}
