<div class="form-group card">
    <div class="card-header">
        <h3 class="card-title" i18n="@@docedit.tabs.media.linkedMediaResources">
            Verknüpfte Medienressourcen
        </h3>
    </div>

    <div id="media-tab-container" (window:resize)="onResize()">

        <div class="btn-toolbar">
            <button type="button" id="create-depicts-relations-btn"
                    class="btn btn-primary pull-right" (click)="openMediaResourcePicker()">
                <span class="mdi mdi-plus-circle" i18n="@@docedit.tabs.media.linkMoreMediaResources"></span>
                Weitere Medienressourcen verknüpfen
            </button>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <span *ngIf="selected.length">
                <div class="btn-group">
                    <button id="delete-media-resources" type="button" class="btn btn-danger" (click)="removeLinks()"
                            ngbTooltip="{{getRemoveLinksTooltip()}}" placement="bottom" container="body">
                        <span class="mdi mdi-link-off"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button id="deselect-media-resources" type="button" class="btn btn-secondary" (click)="clearSelection()"
                            ngbTooltip="Auswahl aufheben"
                            i18n-ngbTooltip="@@docedit.tabs.media.tooltips.deselect"
                            placement="bottom" container="body">
                        <span class="mdi mdi-selection-off"></span>
                    </button>
                </div>
            </span>
        </div>

        <image-grid #imageGrid
                    [nrOfColumns]="3"
                    [selected]="selected"
                    [documents]="documents"
                    [showLinkBadges]="false"
                    [showShortDescription]="false"
                    [paddingRight]="15"
                    (onClick)="select($event)">
        </image-grid>
    </div>
</div>
