#image-tab-container {
  margin-top: 0;

  .card-block {
    padding-top: 0;
  }

  #create-depicts-relations-btn,
  #delete-images,
  #deselect-images,
  #set-main-image {
    height: 40px;
  }

  .image-grid-container {
    height: calc(100vh - 223px);
    overflow-y: auto;
    margin: 10px;
    padding: 0 !important;
  }
}