.type-row {
  display: flex;
  background-color: white;
  margin: 2px;

  .type-info {
    width: 304px;
    height: 175px;
    border-right: 2px solid lightgrey;

    .type-image-container {
      display: flex;
      justify-content: center;

      img {
        max-width: 300px;
      }
    }

    .type-title {
      text-align: center;
      height: 25px;
    }
  }

  .type-image-container {

    img {
      max-width: 600px;
      max-height: 150px;
      object-fit: scale-down;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  .image-row {
    display: flex;
    align-items: center;
    background-color: black;
  }
}