<div #typeRow class="type-row">
    <div class="type-info">
        <div class="type-title">
            <b>{{document.resource.identifier}}</b>
        </div>
        <div class="type-image-container">
            <img *ngIf="mainThumbnailUrl" [src]="mainThumbnailUrl">
        </div>
    </div>
    <div class="image-row">
        <div *ngFor="let thumbnailUrl of linkedThumbnailUrls" class="type-image-container">
            <img [src]="thumbnailUrl" [class.incomplete]="!isShown(thumbnailUrl)">
        </div>
    </div>
</div>