
<div class="modal-header">
    <h5 *ngIf="documents.length === 1" class="modal-title" i18n="@@resources.deleteModal.header.single">
        Ressource {{documents[0].resource.identifier}} löschen?
    </h5>
    <h5 *ngIf="documents.length > 1" class="modal-title" i18n="@@resources.deleteModal.header.multiple">
        {{documents.length}} Ressourcen löschen?
    </h5>
</div>

<div class="modal-body">
    <div *ngIf="showDeleteDescendantWarningSingle()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendant.single">
        Zu dieser Ressource gehört eine weitere Ressource, die beim Löschen ebenfalls entfernt wird.
    </div>
    <div *ngIf="showDeleteDescendantsWarningSingle()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendants.single">
        Zu dieser Ressource gehören insgesamt {{descendantsCount}} weitere Ressourcen, die beim Löschen
        ebenfalls entfernt werden.
    </div>
    <div *ngIf="showDeleteDescendantWarningMultiple()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendant.multiple">
        Zu diesen Ressourcen gehört eine weitere Ressource, die beim Löschen ebenfalls entfernt wird.
    </div>
    <div *ngIf="showDeleteDescendantsWarningMultiple()" class="text-center alert alert-warning"
         i18n="@@resources.deleteModal.warning.descendants.multiple">
        Zu diesen Ressourcen gehören insgesamt {{descendantsCount}} weitere Ressourcen, die beim Löschen
        ebenfalls entfernt werden.
    </div>
    <div *ngIf="showImportedCatalogAssociationsMsg()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModel.warning.importedCatalog">
        Dies ist ein importierter Katalog. Bitte beachten Sie,
        dass beim Löschen auch Zuordnungen von Funden zu Typen des Katalogs entfernt werden.
    </div>
    <div *ngIf="showOwnedCatalogAssociationsMsg()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModel.warning.ownedCatalog">
        Bitte beachten Sie,
        dass beim Löschen von Katalogen sämtliche enthaltenen Typen sowie
        Zuordnungen von Funden zu Typen des Katalogs entfernt werden.
    </div>
    <div *ngIf="showOwnedTypeAssociationsMsg()"
         class="text-center alert alert-warning"
         i18n="@@resources.deleteModel.warning.ownedType">
        Bitte beachten Sie,
        dass beim Löschen von Typen sämtliche Untertypen sowie
        Zuordnungen von Funden zu Typen und Untertypen entfernt werden.
    </div>
    <div id="confirm-delete-info" >
        <span *ngIf="documents.length === 1" i18n="@@resources.deleteModal.confirmDeleteInfo.single">
            Bitte geben Sie den Bezeichner der Ressource ein, um den Löschvorgang zu bestätigen.
        </span>
        <span *ngIf="documents.length > 1" i18n="@@resources.deleteModal.confirmDeleteInfo.multiple">
            Bitte geben Sie den Bezeichner einer der zu löschenden Ressourcen ein, um den Löschvorgang
            zu bestätigen.
        </span>
    </div>
    <div>
        <input id="delete-resource-input"
               type="text"
               class="form-control"
               [(ngModel)]="confirmDeletionIdentifier"
               (keydown)="$event.key !== 'Enter' || confirmDeletion()" />
    </div>
    <div *ngIf="showDeleteImagesOption()"
         id="delete-images-form-group"
         class="form-group text-left">
        <div class="form-check form-check-inline">
            <input id="delete-catalog-images-checkbox"
                   type="checkbox"
                   [(ngModel)]="deleteRelatedImages"
                   class="form-check-input">
            <label for="delete-catalog-images-checkbox" class="form-check-label">
                <span i18n="@@resources.deleteModal.deleteImages.info">
                    Verknüpfte Bilder löschen, bei denen keine Verknüpfungen zu anderen Ressourcen bestehen
                </span>
                <span *ngIf="relatedImagesCount === 1" i18n="@@resources.deleteModal.deleteImages.single">
                    (Ein Bild)
                </span>
                <span *ngIf="relatedImagesCount > 1" i18n="@@resources.deleteModal.deleteImages.multiple">
                    ({{relatedImagesCount}} Bilder)
                </span>
            </label>
        </div>
    </div>
</div>

<div class="modal-footer" *ngIf="documents">
    <button id="delete-resource-confirm" class="btn btn-danger" type="button"
            [ngClass]="{ 'disabled': !this.checkConfirmDeletionIdentifier() }"
            (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </button>
    <button type="button" id="delete-resource-cancel" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
