*

# Explicitly mention files which should be part of the repo.

!Configuration.json
!Fields-Campidoglio.json	
!Fields-Castiglione.json	
!Fields-Custom.json
!Fields-Kephissostal.json	
!Fields-Pergamon.json
!Fields-Meninx.json
!Fields-MonTur.json	
!Fields-WES.json
!Fields-Boha.json
!Hidden.json
!Hidden-Custom.json
!Hidden-Kephissostal.json	
!Hidden-Meninx.json
!Hidden-MonTur.json	
!Hidden-Pergamon.json
!Hidden-WES.json
!Hidden-Boha.json
!Language.de.json
!Language.en.json
!Language-Campidoglio.de.json	
!Language-Campidoglio.en.json	
!Language-Castiglione.de.json	
!Language-Castiglione.en.json	
!Language-Custom.de.json
!Language-Custom.en.json
!Language-Kephissostal.de.json	
!Language-Kephissostal.en.json
!Language-Meninx.de.json
!Language-Meninx.en.json
!Language-MonTur.de.json	
!Language-MonTur.en.json	
!Language-Pergamon.de.json
!Language-Pergamon.en.json
!Language-WES.de.json
!Language-WES.en.json
!Language-Boha.de.json
!Language-Boha.en.json
!Order.json
!Search.json
!Periods.json
!Periods-Campidoglio.json	
!Periods-Castiglione.json
!Periods-Kephissostal.json
!Periods-Meninx.json
!Periods-MonTur.json
!Periods-Pergamon.json
!Periods-WES.json
!Periods-Boha.json
!README.md
!Fields.json
!Valuelists.json
!Dictionary.txt
