/**
 * @author Thomas Kleinke
 */

.move-into-button {
  padding-left: 0;
  padding-right: 0;

  &:not(:hover) {
    .move-into-icon {
      @extend .mdi-folder;
    }
  }

  &:hover {
    .move-into-icon {
      @extend .mdi-folder-open;

      .children-count {
        display: none;
      }
    }
  }

  .move-into-icon {
    @extend .mdi;
    position: relative;
    bottom: 7px;
    font-size: 28px;

    .children-count {
      position: absolute;
      left: 3px;
      top: 10px;
      width: 22px;
      font-size: 11px;
      text-align: center;
      color: white;
    }
  }
}