<div class="modal-body" id="move-modal">
    <p i18n="@@imageOverview.moveModal.chooseParentResource">Bitte wählen Sie die neue Elternressource:</p>
    <document-picker [filterOptions]="filterOptions"
                     [getConstraints]="getConstraints"
                     (documentSelected)="moveDocument($event)"></document-picker>
</div>

<div class="modal-footer">
    <button type="button" id="move-modal-cancel-button" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>