<div class="modal-body" id="link-modal">
    <p i18n="@@imageOverview.moveModal.chooseParentResource">Neue Elternressource wählen:</p>
    <document-picker [filterOptions]="filterOptions"
                     (documentSelected)="moveDocument($event)"></document-picker>
</div>

<div class="modal-footer">
    <button type="button" id="link-modal-cancel-button" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>