#navigation {
  padding-left: 8px;
  color: rgba(85, 114, 161, 1);
  margin-top: 4px;

  #selected-operation-type-document {
    text-align: left;
  }

  .root-document ~ .navigation-button,
  .root-document ~ .navigation-button:active {
    color: lighten(#5572A1, 30%);
    border-color: lighten(#5572A1, 30%);
  }

  .root-document ~ .navigation-button:hover {
    color: lighten(#5572A1, 35%);
    border-color: lighten(#5572A1, 35%);
  }

  .root-document + .navigation-button,
  .root-document + .navigation-button:hover {
    border-left-color: #5572A1;
  }

  .btn-outline-primary:active {
    box-shadow: inset 5px 5px 9px -7px rgba(0, 0, 0, 0.7);
    color: #5572A1;
    background-color: white;
  }

  .navigation-button:not(:last-child):before, .navigation-button:not(:last-child):after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none;
    z-index: 10000;
  }

  .navigation-button:not(:last-child):before {
    border-left-color: darken(#5572A1, 5%);
    border-width: 6px;
    margin-top: -6px;
  }

  .navigation-button:not(:last-child):after {
    border-left-color: #ffffff;
    border-width: 5px;
    margin-top: -5px;
  }

  .root-document ~ .navigation-button:not(:last-child):before {
    border-left-color: lighten(#5572A1, 30%);
  }

  #operation-document-selector {

    .dropdown-item {
      cursor: pointer;
    }

    .dropdown-item:hover {
      background-color: $list-item-hover-color;
    }

    .dropdown-item:active {
      background-color: darken($list-item-hover-color, 5%);
      color: black;
      outline: 0;
    }
  }

  .show > .btn-outline-primary.dropdown-toggle {
    background-color: #5572A1;
    border-color: #5572A1;
    color: white;
  }
}