/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */

@import 'base-list';
@import 'plus-button';
@import 'navigation/navigation';
@import 'map/map/map';
@import 'map/resources-map';
@import 'map/list/geometry-view';
@import 'map/list/thumbnail-view';
@import 'map/list/relations-view';
@import 'map/list/children-view';
@import 'map/list/thumbnail';
@import 'list/list';
@import 'list/row';
@import 'searchbar/resources-search-bar';
@import 'searchbar/search-suggestions';
@import 'deletion/delete-modal';


.arrow-up {
  @extend .mdi;
  @extend .mdi-arrow-up;
}

.arrow-top-right {
  @extend .mdi;
  @extend .mdi-arrow-top-right;
}


.resources-nav {
  position: relative;
  z-index: 1001;
  height: 49px;
  padding-top: 2px;
  padding-bottom: 6px;

  #search-bar-container {
    padding-right: 8px;

    #search-bar,
    #mainTypeSelectBox,
    #mainTypeSelectBoxSubstitute {
      margin-top: 2px;
      margin-bottom: -3px;
    }
  }

  #buttons-container {
    padding-left: 0;
    padding-right: 8px;

    .resources-mode-buttons {
      margin-top: 3px;
      margin-bottom: -1px;
      width: 100% !important;

      button {
        width: 50% !important;
      }
    }
  }
}

.resources-container {

  .no-main-type-resource-alert {
    position: absolute;
    padding: 10px;
    margin: 35vh 16.6vw 0;
    z-index: 900;
    user-select: none;
    cursor: default;
  }
}
