/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */
@import 'plus-button';
@import 'navigation/navigation';
@import 'map/map/map';
@import 'map/resources-map';
@import 'map/list/geometry-view';
@import 'widgets/popovermenu/children-view';
@import 'list/list';
@import 'list/row';
@import 'typegrid/type-grid';
@import 'searchbar/resources-search-bar';
@import 'searchbar/search-suggestions';
@import 'deletion/delete-modal';
@import 'widgets/context-menu';
@import 'widgets/list-button-group';
@import 'widgets/popovermenu/popover-menu';


$deactivated-button-color: lightgray;

.arrow-up {
  @extend .mdi;
  @extend .mdi-arrow-up;
}

.arrow-top-right {
  @extend .mdi;
  @extend .mdi-arrow-top-right;
}

.arrow-bottom-right {
  @extend .mdi;
  @extend .mdi-subdirectory-arrow-right;
}

.arrow-deactivated {
  color: $deactivated-button-color;
}


.resources-nav {
  position: relative;
  z-index: 1001;
  height: 49px;
  padding-top: 2px;
  padding-bottom: 6px;

  #search-bar-container {
    padding-right: 8px;

    #search-bar,
    #mainTypeSelectBox,
    #mainTypeSelectBoxSubstitute {
      margin-top: 2px;
      margin-bottom: -3px;
    }
  }

  #buttons-container {
    padding-left: 0;
    padding-right: 8px;

    .resources-mode-buttons {
      margin-top: 3px;
      margin-bottom: -1px;
      width: 100% !important;

      button {
        width: 50% !important;

        &.active {
          box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
        }
      }
    }
  }
}

.resources-container {

  .no-main-type-resource-alert {
    position: absolute;
    padding: 10px;
    margin: 35vh 16.6vw 0;
    z-index: 900;
    user-select: none;
    cursor: default;
  }
}

#search-results-info {
  @extend .alert;
  @extend .alert-secondary;

  position: relative;
  top: -2px;
  left: 15px;
  width: 235px;
  max-height: 39px;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  cursor: default;
  user-select: none;
  border-radius: 0;
  background-color: #fefefe;

  &.document-limit-exceeded {
    padding-top: 0;
  }
}

#document-limit-info {
  font-size: 12px;
  margin-top: -2px;
}

.resources-listing {
  .resources-listing-item {
    position: relative;
    display: block;
    cursor: default;
    border: 0;
    border-radius: 0;
    margin: 0 0 1px 0 !important;
    user-select: none;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-height: $item-height;
    height: $item-height;

    &:hover {
      background-color: darken($list-item-hover-color, 5%);
      transition: background-color .65s ease;
    }
  }

  .resources-listing-item-slim {
    width: $teaser-width;
    background-color: transparent;
  }

  .resources-listing-item-wide {
    width: $resources-listing-item-wide-width;
    background-color: white;
  }

  &.scrollbar-visible {
    .resources-listing-item-slim {
      width: $resources-listing-item-slim-width-with-scrollbar;
    }

    .resources-listing-item-wide {
      width: $resources-listing-item-wide-width-with-scrollbar;
    }

    document-teaser {
      width: $resources-listing-item-slim-width-with-scrollbar;
    }
  }

  document-teaser {
    position: absolute;
    width: $teaser-width;
    top: 0;
    height: $item-height;
    padding-left: $item-horizontal-padding;
    padding-right: $item-horizontal-padding;
  }
}