/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */
@import 'plus-button';
@import 'navigation/navigation';
@import 'map/map/map';
@import 'map/resources-map';
@import 'map/list/geometry-view';
@import 'map/list/children-view';
@import 'map/list/thumbnail';
@import 'list/list';
@import 'list/row';
@import 'types/resources-types';
@import 'types/type-row';
@import 'searchbar/resources-search-bar';
@import 'searchbar/search-suggestions';
@import 'deletion/delete-modal';


$deactivated-button-color: lightgray;

.arrow-up {
  @extend .mdi;
  @extend .mdi-arrow-up;
}

.arrow-top-right {
  @extend .mdi;
  @extend .mdi-arrow-top-right;
}

.arrow-bottom-right {
  @extend .mdi;
  @extend .mdi-subdirectory-arrow-right;
}

.arrow-deactivated {
  color: $deactivated-button-color;
}


.resources-nav {
  position: relative;
  z-index: 1001;
  height: 49px;
  padding-top: 2px;
  padding-bottom: 6px;

  #search-bar-container {
    padding-right: 8px;

    #search-bar,
    #mainTypeSelectBox,
    #mainTypeSelectBoxSubstitute {
      margin-top: 2px;
      margin-bottom: -3px;
    }
  }

  #buttons-container {
    padding-left: 0;
    padding-right: 8px;

    .resources-mode-buttons {
      margin-top: 3px;
      margin-bottom: -1px;
      width: 100% !important;

      button {
        width: 50% !important;

        &.active {
          box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
        }
      }
    }
  }
}

.resources-container {

  .no-main-type-resource-alert {
    position: absolute;
    padding: 10px;
    margin: 35vh 16.6vw 0;
    z-index: 900;
    user-select: none;
    cursor: default;
  }
}

#search-results-info {
  @extend .alert;
  @extend .alert-secondary;

  position: relative;
  top: -2px;
  left: 15px;
  width: 235px;
  max-height: 39px;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  cursor: default;
  user-select: none;
  border-radius: 0;
  background-color: #fefefe;

  &.document-limit-exceeded {
    padding-top: 0;
  }
}

#document-limit-info {
  font-size: 12px;
  margin-top: -2px;
}
