/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */

@import 'navigation/navigation';
@import 'map/map/map';
@import 'map/resources-map';
@import 'map/docview/geometry-view';
@import 'list/list';
@import 'list/row';
@import 'map/docview/thumbnail-view';
@import 'searchbar/resources-search-bar';
@import 'searchbar/search-suggestions';

#objectOverview {
  overflow: hidden;
}

#objectOverview,
#imageOverview {
  padding: 0 !important;
  background-color: #f7f7f7;

  main {
    padding: 7px;
  }
}

#resources {
  position: fixed;
  width: 100%;
  z-index: 1001;

  #search-bar-container {
    padding-right: 8px;

    #search-bar,
    #mainTypeSelectBox,
    #mainTypeSelectBoxSubstitute {
      margin-top: 2px;
      margin-bottom: -3px;
    }

    #search-bar #filter-button {
      right: 5px;
    }
  }

  #buttons-container {
    padding-left: 0;
    padding-right: 8px;

    .resources-mode-buttons {
      margin-top: 3px;
      margin-bottom: -1px;
      width: 100% !important;

      button {
        width: 50% !important;
      }
    }
  }
}

#resources-content {
  padding-top: 56px;

  .no-main-type-resource-alert {
    position: absolute;
    padding: 10px;
    margin: 35vh 16.6vw 0;
    z-index: 900;
    user-select: none;
    cursor: default;
  }
}
