<div class="resources-nav row bg-light">
    <div class="col-md-6 d-flex">
        <navigation></navigation>
        <div *ngIf="isSearchResultsInfoVisible()" id="search-results-info"
             [class.document-limit-exceeded]="isDocumentLimitExceeded()">
            <span *ngIf="viewFacade.getTotalDocumentCount() === 1"
                  i18n="@@resources.searchResultsInfo.resourcesFound.single">
                Eine Ressource gefunden
            </span>
            <span *ngIf="viewFacade.getTotalDocumentCount() !== 1"
                  i18n="@@resources.searchResultsInfo.resourcesFound.multiple">
                {{viewFacade.getTotalDocumentCount()}} Ressourcen gefunden
            </span>
            <div *ngIf="isDocumentLimitExceeded()" id="document-limit-info"
                 ngbTooltip="Schränken Sie die Suche weiter ein oder verlassen Sie den erweiterten
                    Suchmodus, um auf die übrigen Ressourcen zuzugreifen."
                 i18n-ngbTooltip="@@resources.searchResultsInfo.documentLimitExceeded.tooltip"
                 placement="bottom"
                 container="body">
                <span i18n="@@resources.searchResultsInfo.documentLimitExceeded">
                    {{viewFacade.getDocuments().length}} angezeigt
                </span>
                <span class="mdi mdi-information-outline"></span>
            </div>
        </div>
    </div>

    <div class="col-md-6 mr-md-auto">
        <div class="row">
            <div id="search-bar-container" class="col-md-9">
                <resources-search-bar [filterOptions]="filterOptions"
                                      [q]="getQueryString()"
                                      [types]="getTypeFilters()"
                                      [extendedSearch]="isInExtendedSearchMode()"
                                      (onQueryStringChanged)="setQueryString($event)"
                                      (onTypesChanged)="setTypeFilters($event)">
                </resources-search-bar>
            </div>

            <div id="buttons-container" class="col-md-3">
                <div class="btn-group resources-mode-buttons">
                    <button *ngIf="!isInTypesManagement()" id="map-mode-button"
                            (click)="switchMode('map')"
                            ngbTooltip="Kartendarstellung"
                            i18n-ngbTooltip="@@resources.tooltips.mode.map"
                            placement="left"
                            class="btn btn-primary m-0"
                            [class.active]="isCurrentMode('map')">
                        <span class="mdi mdi-map"></span>
                    </button>
                    <button *ngIf="isInTypesManagement()" id="types-mode-button"
                            (click)="switchMode('types')"
                            ngbTooltip="Typendarstellung"
                            i18n-ngbTooltip="@@resources.tooltips.mode.types"
                            placement="left"
                            class="btn btn-primary m-0"
                            [class.active]="isCurrentMode('types')">
                        <span class="mdi mdi-image-filter"></span>
                    </button>
                    <button id="list-mode-button"
                            (click)="switchMode('list')"
                            class="btn btn-primary m-0"
                            ngbTooltip="Listendarstellung"
                            i18n-ngbTooltip="@@resources.tooltips.mode.list"
                            placement="left"
                            [class.active]="isCurrentMode('list')">
                        <span class="mdi mdi-table"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row resources-container"
     (dragover)="false"
     (dragleave)="false"
     (drop)="false">

    <div class="col-lg-12 col-md-12 col-sm-12 bg-light">
        <resources-map *ngIf="viewFacade.getMode() === 'map'"></resources-map>
        <list *ngIf="viewFacade.getMode() === 'list'" [documents]="viewFacade.getDocuments()"></list>
        <type-list *ngIf="viewFacade.getMode() === 'types'"
                   [documents]="viewFacade.getDocuments()"></type-list>
    </div>
</div>
