/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */

@import 'map/map/map';
@import 'map/resources-map';
@import 'map/docview/geometry-view';
@import 'list/list';
@import 'list/row';
@import 'map/docview/thumbnail-view';
@import 'map/docview/document-view-sidebar';

#objectOverview {
  overflow: hidden;
}

#objectOverview,
#imageOverview {
  padding: 0 !important;
  background-color: #f7f7f7;

  main {
    padding: 7px;
  }
}

#resources {
  #search-bar,
  #mainTypeSelectBox,
  #mainTypeSelectBoxSubstitute {
    margin-top: 3px;
    margin-bottom: -3px;
  }

  .resources-mode-buttons {
    margin-top: 3px;
    margin-bottom: -1px;
  }
}

.no-main-type-resource-alert {
  position: absolute;
  padding: 10px;
  margin: 35vh 16.6vw 0;
  z-index: 900;
  user-select: none;
  cursor: default;
}