@import "tailwindcss";
@import "./open-sans.css";

@plugin "../js/heroicons.tailwind.plugin.js";

@font-face {
    font-family: 'Cargan';
    src: local('Cargan-Light'), url(/fonts/Cargan-Light.woff2) format('woff2'), url(/fonts/Cargan-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
}

:root {
    --main-navbar-height: 50px;
    --full-size-doc-height: calc(100vh - var(--main-navbar-height) - 220px);
    --primary-color: #5882c2;
    --primary-color-hover: #375d97;
    --font-body: 'Open Sans', sans-serif;
    --font-headings: 'Cargan', serif;
}

/* This file is for your main application CSS */

body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.markdown {
    h1 {
        font-size: 1.5rem;
        /* 24px */
        line-height: 2rem;
        /* 32px */
    
        margin-bottom: 1.5rem;
    }
    
    h2 {
        margin-top: 1.5rem;
        font-size: 1.25rem;
        /* 20px */
        line-height: 1.75rem;
        /* 28px */
        margin-bottom: 1rem;
    }
    
    h3 {
        font-size: 1.125rem;
        /* 18px */
        line-height: 1.75rem;
        /* 28px */
        margin-top: 1rem;
        margin-bottom: 0.75rem;
    }

    ul {
        list-style-type: disc;
        margin-left: 2rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
}