/**
 * @author: Thomas Kleinke
 */

$layer-menu-button-color: #657faa;
$layer-menu-button-inactive-color: grey;
$layer-menu-remove-button-color: #c82333;

#layer-button,
#layer-menu {
  position: absolute;
  z-index: 1008;
  right: 8px;
  border: none;
  border-radius: 0;
}

#layer-button {
  top: 10px;
  height: 41px;
  padding-top: 8px;
}

#layer-menu {
  top: 51px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  background-color: #f8f9fa !important;
  cursor: default !important;
  user-select: none;

  .card-body {
    padding: 8px 14px 5px 12px;

    .layer-menu-container {
      max-height: 296px;
      overflow-y: auto;
      overflow-x: hidden;

      .layer-group-heading {
        font-size: 15px;
      }

      .btn-success {
        height: 20px;

        .mdi {
          position: relative;
          bottom: 10px;
          font-size: 12px;
        }
      }

      .form-group {
        margin-bottom: 0;

        &.drag-and-drop-group {
          cursor: grab;
        }

        .layer-entry {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        .layer-menu-button {
          padding: 0;
          margin-right: 5px;
          font-size: 18px;
        }

        .layer-menu-button.layer-active {
          color: $layer-menu-button-color !important;
        }

        .layer-menu-button.layer-inactive {
          color: $layer-menu-button-inactive-color !important;
        }

        .layer-menu-button:hover {
          color: lighten($layer-menu-button-color, 10%) !important;
        }

        .layer-menu-button.layer-inactive.mdi-image-filter-center-focus {
          visibility: hidden;
        }

        .mdi-link-off {
          color: $layer-menu-remove-button-color;

          &:hover {
            color: lighten($layer-menu-remove-button-color, 20%) !important;
          }
        }

        .drag-placeholder {
          min-height: 27px;
          border: none !important;
          cursor: grabbing;
        }
      }
    }
  }
}

div.cdk-drag-preview {
  z-index: 1009 !important;

  .mdi {
    display: none;
  }

  .layer-menu-label {
    left: 46px;
  }
}

.layer-menu-label {
  position: relative;
  bottom: 2px;
  font-size: 14px;
}
