<div *ngIf="toplevelCategoriesArray && status === 'enabled'">
    <div *ngIf="getButtonType() === 'multipleCategories'"
         class="circular-button green-button"
         [ngbPopover]="newObjectMenu" #popover="ngbPopover"
         triggers="manual" [autoClose]="false"
         (click)="reset(); popover.toggle();"
         [placement]="placement">
        <span class="mdi mdi-plus"></span>
    </div>

    <div *ngIf="getButtonType() === 'singleCategory' && preselectedGeometryType !== 'none'"
         class="circular-button category-button"
         [ngbPopover]="newObjectMenu" #popover="ngbPopover"
         triggers="manual" [autoClose]="false" (click)="reset(); popover.toggle();"
         [placement]="placement">
        <category-icon [category]="toplevelCategoriesArray[0].name" size="41"></category-icon>
        <div class="plus-sign-circle">
            <span class="mdi mdi-plus mdi-18px"></span>
        </div>
    </div>

    <div *ngIf="getButtonType() === 'singleCategory' && (preselectedGeometryType === 'none' || !isGeometryCategory(this.toplevelCategoriesArray[0].name))"
         class="circular-button category-button" (click)="chooseCategory(toplevelCategoriesArray[0])">
        <category-icon [category]="toplevelCategoriesArray[0].name" size="41"></category-icon>
        <div class="plus-sign-circle">
            <span class="mdi mdi-plus mdi-18px"></span>
        </div>
    </div>
</div>

<div *ngIf="toplevelCategoriesArray && status !== 'enabled' && getButtonType() !== 'none'"
     class="circular-button green-button disabled"
     ngbTooltip="{{getTooltip()}}" [placement]="placement">
    <span class="mdi mdi-plus"></span>
</div>

<ng-template #newObjectMenu>
    <div>
        <div *ngIf="!selectedCategory" id="new-object-menu">
            <div class="popover-custom-title">
                <span i18n="@@resources.plusButton.selectCategory">Bitte wählen Sie eine Kategorie aus.</span>
            </div>
            <category-picker [topLevelCategoriesArray]="toplevelCategoriesArray"
                             (onCategoryPicked)="chooseCategory($event)"></category-picker>
        </div>

        <div *ngIf="selectedCategory" id="geometry-type-selection">
            <div class="popover-custom-title">
                <span i18n="@@resources.plusButton.selectGeometryType">Bitte wählen Sie einen Geometrietyp aus.</span>
            </div>
            <ul class="list-group">
                <li id="choose-geometry-option-polygon" class="list-group-item popover-item"
                    (click)="startDocumentCreation('Polygon');">
                    <span class="mdi mdi-shape-polygon-plus mdi-18px"></span>
                    <span class="button-label"
                          i18n="@@resources.plusButton.selectGeometryType.polygon">Polygon</span>
                </li>
                <li id="choose-geometry-option-polyline" class="list-group-item popover-item"
                    (click)="startDocumentCreation('LineString');">
                    <span class="mdi mdi-vector-polyline-plus mdi-18px"></span>
                    <span class="button-label"
                          i18n="@@resources.plusButton.selectGeometryType.polyline">Polyline</span>
                </li>
                <li id="choose-geometry-option-point" class="list-group-item popover-item"
                    (click)="startDocumentCreation('Point');">
                    <span class="mdi mdi-map-marker-plus mdi-18px"></span>
                    <span class="button-label"
                          i18n="@@resources.plusButton.selectGeometryType.point">Punkt</span>
                </li>
                <li id="choose-geometry-option-none" class="list-group-item popover-item"
                    (click)="startDocumentCreation('none');">
                    <span class="mdi mdi-close-circle-outline mdi-18px"></span>
                    <span class="button-label"
                          i18n="@@resources.plusButton.selectGeometryType.noGeometryData">Keine Geometriedaten</span>
                </li>
            </ul>
        </div>
    </div>
</ng-template>
