/*
 * @author Thomas Kleinke
 */

.green-button.disabled {
  background-color: #ababab;
  cursor: not-allowed;

  &:hover {
    background-color: #ababab;
  }
}

#new-object-menu {
  min-width: 270px;
  
  li:last-child {
    border-bottom: 0 !important;
  }

  .popover-custom-title {
    background-color: #e3e3e3;
  }
}

#geometry-type-selection {
  ul {
    border-radius: 0;
  }

  .button-label {
    position: relative;
    top: -1px;
  }
}