/**
 * @author Jan G. Wieners
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */
@import 'plus-button';
@import 'navigation/navigation';
@import 'map/map/map';
@import 'map/resources-map';
@import 'map/list/geometry-view';
@import 'list/list';
@import 'list/row';
@import 'actions/delete/delete-modal';
@import 'actions/move/move-modal';
@import 'actions/edit-qr-code/qr-code-editor-modal';
@import 'actions/edit-qr-code/delete-qr-code-modal';
@import 'actions/edit-qr-code/print-settings/print-settings-modal';
@import 'actions/scan-storage-place/scan-storage-place-modal';
@import 'grid-list/grid-list';
@import 'grid-list/grid';
@import 'grid-list/grid-item';
@import 'grid-list/grid-item-icon';
@import 'searchbar/resources-search-bar';
@import 'searchbar/search-suggestions';
@import 'widgets/list-button-group';
@import 'widgets/popover-menu';


$deactivated-button-color: lightgray;

.arrow-up {
  @extend .mdi;
  @extend .mdi-arrow-up;
}

.arrow-top-right {
  @extend .mdi;
  @extend .mdi-arrow-top-right;
}

.arrow-bottom-right {
  @extend .mdi;
  @extend .mdi-subdirectory-arrow-right;
}

.arrow-deactivated {
  color: $deactivated-button-color;
}

.resources-nav {
  position: relative;
  z-index: 1009;
  height: $toolbar-height;
  padding-top: 3px;

  #search-bar-container {
    padding-right: 8px;

    #search-bar {
      margin-top: 2px;
      margin-bottom: -3px;
    }
  }

  #buttons-container {
    .resources-mode-buttons {
      margin-top: 3px;
      margin-right: 8px;

      .btn {
        width: 38px !important;
        height: 38px !important;
      }
    }
  }
}

#search-results-info {
  @extend .alert;
  @extend .alert-secondary;

  position: absolute;
  top: -2px;
  left: 55px;
  width: 235px;
  max-height: 38px;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  cursor: default;
  user-select: none;
  background-color: #fefefe;

  span {
    position: relative;
    bottom: 1px;
  }

  &.document-limit-exceeded {
    padding-top: 0;
  }
}

#document-limit-info {
  font-size: 12px;
  margin-top: -2px;
}

#remove-document-limit {
  position: absolute;
  top: 3px;
  left: 299px;
  width: 38px !important;
  height: 38px !important;
  white-space: nowrap;

  .mdi {
    position: relative;
    top: 6px;
    left: 1px;
  }
}

.resources-listing {
  .resources-listing-item {
    position: relative;
    display: flex;
    cursor: default;
    border: 0;
    border-radius: 0;
    margin: 0 0 1px 0 !important;
    user-select: none;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    min-height: $item-height;
    height: $item-height;
    transition: background-color .25s ease;

    &:hover {
      background-color: $list-item-hover-color;
    }
  }

  .resources-listing-item-slim {
    background-color: transparent;
  }

  .resources-listing-item-wide {
    background-color: white;
  }

  document-teaser {
    height: $item-height;
    padding-left: $item-horizontal-padding;
    padding-right: 0;
    flex-grow: 1;
  }
}
