<div class="project-configuration row">
    <div class="col">

        <div class="row">
            <div class="col-lg-3 sidebar">
                <type-picker *ngIf="typesTreeList" [typesTreeList]="typesTreeList"
                    allowPickingAbstractTypes="true" (onTypePicked)="selectType($event)"></type-picker>
            </div>
            <div class="col content">
                <h5>{{ selectedType.label }} <code>{{ selectedType.name }}</code></h5>
                
                <div *ngFor="let field of selectedType.fields" class="card">
                    <div class="card-header"><b>{{ field.label }}</b> <code> {{ field.name }}</code></div>
                    <div class="card-body">
                        <p class="card-text">{{ field.description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b i18n="@@configuration.field.group">Gruppe</b>:
                                {{ field.group }}
                            </li>
                            <li class="list-group-item">
                                <b i18n="@@configuration.field.inputType">Eingabetyp</b>:
                                {{ field.inputType }}
                            </li>
                            <li class="list-group-item">
                                <b i18n="@@configuration.field.source">Quelle</b>:
                                {{ field.source }}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>