.project-configuration {

    .sidebar {
        height: calc(100vh - 50px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        background-color: $sidebar-bg-color;
        max-width: 300px;
    }

    .header {
        padding: 7px;
        border-bottom: 1px solid #ccc;
        user-select: none;
        background-color: #e7e7e7;

        h5 {
            margin: 8px;
        }
    }

    .groups {
        padding-top: 1rem;
    }

    .content {
        padding-top: 1rem;
        height: calc(100vh - 104px);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;

        .card {
            margin-bottom: 10px;

            .value-col {
                height: 1.69rem;
            }

            .valuelist-description {
                margin: 0 0.2rem 0.7rem;
                font-size: 0.8rem;
            }

            .valuelist .value-badge {
                overflow: hidden;
                max-width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: default;
                border: 1px solid white;

                &:hover {
                    position: relative;
                    max-width: none;
                    z-index: 50;
                    border: 1px solid grey;
                    white-space: normal;
                    text-align: left;
                }
            }
        }
    }
}