.object-array-entry-modal {
    top: 55px;
  
    .modal-dialog {
      max-width: calc(100vw - 350px);
    }
  
    .modal-header {
      background-color: $modal-header-background-color;
      border-bottom: 1px solid #ccc;
    
      h5 {
        margin-bottom: 0;
      }
    }
    
    .modal-body {
      max-height: calc(100vh - 292px);
      padding-bottom: 0;
      overflow-y: auto;
  
      .form-check-label,
      label {
        user-select: none;
      }
  
      .form-check-label {
        margin-bottom: 0;
      }
  
      input:not([type]),
      input[type="text"],
      input[type="number"],
      select,
      .form-check-label,
      label {
        font-size: 15px;
      }
  
      input:not([type]),
      input[type="text"],
      input[type="number"],
      select {
        height: 33px !important;
      }
  
      select {
        line-height: 20px;
      }
  
      input[type="checkbox"],
      input[type="radio"] {
        position: relative;
        top: 0.5px;
      }
    }
   }
  