<ul class="category-picker list-group"
    [class.dragging]="dragging"
    cdkDropList [cdkDropListDisabled]="!allowChangingOrder"
    (cdkDropListDropped)="onDrop($event)">
    <li *ngIf="allCategoriesOptionVisible" id="choose-category-option-all"
        class="list-group-item popover-item"
        (click)="pickCategory(undefined)"
        [ngClass]="{ 'selected-category': !selectedCategories || selectedCategories.length === 0 }">
        <i class="all-categories-label category-item" i18n="@@widgets.categoryPicker.allCategories">Alle Kategorien</i>
    </li>
    <span *ngFor="let parentCategory of topLevelCategoriesArray"
          cdkDrag cdkDragBoundary=".category-picker" cdkDragLockAxis="y"
          (cdkDragStarted)="dragging = true"
          (cdkDragEnded)="dragging = false">
        <li class="list-group-item popover-item parent-category"
            [ngClass]="{
                'selected-category': selectedCategories && selectedCategories.indexOf(parentCategory.name) > -1,
                'abstract-category': parentCategory.isAbstract,
                'custom-category': highlightCustomCategories && isCustomCategory(parentCategory)
            }">
            <div id="choose-category-option-{{getCategoryId(parentCategory)}}"
                class="category-item" [class.short-category-item]="isCreateButtonVisible(parentCategory)"
                (click)="pickCategory(parentCategory)"
                (dblclick)="onEditCategory.emit(parentCategory)"
                (contextmenu)="openContextMenu($event, parentCategory)">
                <span *ngIf="allowChangingOrder" class="mdi mdi-drag" cdkDragHandle></span>
                <category-icon [category]="parentCategory.name"
                               [customProjectConfiguration]="customProjectConfiguration"
                               size="30"></category-icon>
                <div class="category-label">
                    {{getCategoryLabel(parentCategory)}}
                    <span *ngIf="highlightCustomCategories && hasCustomFields(parentCategory)"
                          class="custom-marking"> *</span>
                </div>
            </div>
            <button *ngIf="isCreateButtonVisible(parentCategory)"
                    [id]="'create-subcategory-' + parentCategory.name"
                    class="btn-link add-subcategory-button"
                    container="body"
                    ngbTooltip="Unterkategorie hinzufügen"
                    i18n-ngbTooltip="@@configuration.addSubcategory"
                    (click)="onCreateSubcategory.emit(parentCategory)"
                    placement="right">
                <span class="mdi mdi-plus-circle text-success"></span>
            </button>
        </li>
        <div *cdkDragPreview class="category-drag-preview">
            <category-icon [category]="parentCategory.name"
                           [customProjectConfiguration]="customProjectConfiguration"
                           size="30"></category-icon>
            <div class="category-label">
                {{getCategoryLabel(parentCategory)}}
                <span *ngIf="highlightCustomCategories && hasCustomFields(parentCategory)"
                      class="custom-marking"> *</span>
            </div>
        </div>
        <div *cdkDragPlaceholder class="category-drag-placeholder"></div>
        <ul class="category-children-list"
            cdkDropList [cdkDropListDisabled]="!allowChangingOrder"
            (cdkDropListDropped)="onDrop($event, parentCategory)">
            <li *ngFor="let childCategory of parentCategory.children"
                cdkDrag cdkDragBoundary=".category-children-list" cdkDragLockAxis="y"
                (cdkDragStarted)="dragging = true"
                (cdkDragEnded)="dragging = false"
                class="list-group-item popover-item child-category"
                [ngClass]="{
                    'selected-category': selectedCategories && selectedCategories.indexOf(childCategory.name) > -1,
                    'abstract-category': childCategory.isAbstract,
                    'parent-selected': isParentSelected(childCategory),
                    'custom-category': highlightCustomCategories && isCustomCategory(childCategory)
                }">
                <div id="choose-category-option-{{getCategoryId(childCategory)}}"
                    class="category-item"
                    (click)="pickCategory(childCategory)"
                    (dblclick)="onEditCategory.emit(childCategory)"
                    (contextmenu)="openContextMenu($event, childCategory)">
                    <span *ngIf="allowChangingOrder" class="mdi mdi-drag" cdkDragHandle></span>
                    <category-icon [category]="childCategory.name" 
                                   [customProjectConfiguration]="customProjectConfiguration"
                                   size="30"></category-icon>
                    <div class="category-label">
                        {{getCategoryLabel(childCategory)}}
                        <span *ngIf="highlightCustomCategories && hasCustomFields(childCategory)"
                              class="custom-marking"> *</span>
                    </div>
                </div>
                <div *cdkDragPreview class="category-drag-preview">
                    <category-icon [category]="childCategory.name"
                                   [customProjectConfiguration]="customProjectConfiguration"
                                   size="30"></category-icon>
                    <div class="category-label">
                        {{getCategoryLabel(childCategory)}}
                        <span *ngIf="highlightCustomCategories && hasCustomFields(childCategory)"
                              class="custom-marking"> *</span>
                    </div>
                </div>
                <div *cdkDragPlaceholder class="category-drag-placeholder"></div>
            </li>
        </ul>
    </span>
</ul>
