.category-picker {
  .list-group-item {
    border-top: 1px solid #eee !important;
    display: block;
    transition: background-color .65s ease;
    padding: 0;

    &.child-category {
      border: none !important;

      .category-item {
        padding-left: 40px;
      }
    }

    &.custom-category {
      background-color: $custom-highlight-color;

      .category-item:hover,
      &.selected-category .category-item {
        background-color: darken($color: $custom-highlight-color, $amount: 5) !important;
      }
    }

    .category-item:hover,
    &.selected-category .category-item,
    .add-subcategory-button:hover {
      background-color: $list-item-hover-color !important;
    }

    &.parent-selected.selected-category .category-item:hover {
      background-color: darken($list-item-hover-color, 5%) !important;
    }

    &:hover {
      background-color: #fff;
    }

    .category-item {
      display: flex;
      align-items: center;
      min-height: 30px;
      padding: 10px 0 10px 20px;

      &.short-category-item {
        width: calc(100% - 28px);
      }

      category-icon {
        position: absolute;
      }

      .category-label {
        display: inline-block;
        margin-left: 40px;
        width: calc(100% - 65px);
      }
    }
  }

  .category-children-list {
    padding: 0;
  }

  #choose-category-option-all {
    display: flex;
    align-items: center;
    min-height: 44px;
    height: 44px;
  }

  .category-label,
  .all-categories-label {
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .add-subcategory-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    height: 100%;
    
    &:hover {
      cursor: default;
    }

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: inset 1px 1px 2px 1px rgb(0 0 0 / 20%);
    }
  }
}
