<div class="modal-header">
    <div id="heading-label"
         i18n="@@@@widgets.historyModal.header">
         Bearbeitungshistorie der Ressource:
         <div id="resource-name-title" class="text-truncate">{{document.resource.identifier}}</div>
    </div>
    <button id="change-history-close-button" class="btn btn-primary btn-square" (click)="closeModal()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="change-history-modal-body" class="modal-body">
    <div class="list col-lg-12 col-md-12 col-sm-12 resource-creation-info">
        <div class="list-row">
            <span class="resource-creation-info-label" i18n="@@widgets.changeHistoryModal.creator.name">Erstellt von: </span>
            <span>{{document.created.user}}</span>
        </div>    
        <div class="list-row">
            <span class="resource-creation-info-label" i18n="@@widgets.changeHistoryModal.creation.date">Erstellungsdatum: </span>
            <span>{{formatDateTime(document.created.date)}}</span>
        </div>
    </div>

    <div *ngIf="document.modified[0].user.length; else noChangeTemplate" id="changes-table">
        <div class="list col-lg-12 col-md-12 col-sm-12">               
            <div id="list-header">  
                <div class="list-header-field text-right"
                    i18n="@@widgets.changeHistoryModal.changes.table.colnames.date" 
                    (click)="toggleColumnSort('date')" 
                    [ngClass]="toggledDate ? 'mdi mdi-arrow-down' : 'mdi mdi-arrow-up'">
                    <span class="box-left">Änderungsdatum </span>
                </div>
                <div class="list-header-field text-right" 
                    i18n="@@widgets.changeHistoryModal.changes.table.colnames.user"
                    (click)="toggleColumnSort('user')"
                    [ngClass]="toggledUser ? 'mdi mdi-arrow-down' : 'mdi mdi-arrow-up'">
                    <span class="box-left">Benutzer </span>
                </div>
            </div>            
            <div class="list-body">
                <div *ngFor="let modification of document.modified"
                    class="list-row">                    
                    <div class="list-body-field" [textContent]="formatDateTime(modification.date)"></div>
                    <div class="list-body-field text-truncate" [textContent]="modification.user"></div>      
                </div> 
            </div>
        </div>
    </div>  

    <div #noChangeTemplate [hidden]="document.modified[0].user.length>=1">
        <div id ="no-change-div" i18n="@@widgets.changeHistoryModal.text.when.no.change">
            Es wurde noch keine Änderung für die Ressource aufgeführt.    
        </div>
    </div>
</div>   