<div class="modal-header">
    <h5  class="modal-title" i18n="@@widgets.historyModal.header">Änderunghistorie</h5>
</div>

<div class="modal-body">
    <p  i18n="@@document.created.information.text">Die Ressource <b>{{document.resource.identifier}}</b>  wurde vom Benutzer  {{document.created.user}} am {{formatDateTime(document.created.date)}} erstellt.</p>
    <div id="changes-history-modal-body" class="modal-body" >
        <div *ngIf="document.modified[0].user">
            <div id="list" class="col-lg-12 col-md-12 col-sm-12">               
                <div id="list-header">  
                    <div class="list-header-field text-right"
                        i18n="@@changes.list.colnames.date" 
                        (click)="toggleColumnSort('date')" 
                        [ngClass]="toggledDate ? 'arrow-down' : 'arrow-up'">
                        <span class="box-left">Änderungsdatum </span>
                    </div>
                    <div class="list-header-field text-right" 
                        i18n="@@changes.list.colnames.user"
                        (click)="toggleColumnSort('user')"
                        [ngClass]="toggledUser ? 'arrow-down' : 'arrow-up'">
                        <span class="box-left">Benutzer </span>
                    </div>
                </div>            
                <div class="list-body">
                    <div *ngFor="let modification of document.modified"
                        class = "list-row">                    
                        <div class= "list-body-field" [textContent]="formatDateTime(modification.date)"></div>
                        <div class= "list-body-field" [textContent]="modification.user"></div>      
                    </div> 
                </div>
            </div>
        </div>    
    </div>   
</div>

<div class="modal-footer">
    <button id="overview-save-confirmation-modal-cancel-button" type="button" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')" i18n="@@buttons.cancel">Abbrechen</button>
</div>


