#list {
  background: white;
  margin-bottom: -20px;
  width:100%;
  
  #list-header {
    min-width: 100%;
    user-select: none;
    display: grid;
    grid-template-columns: 184px 280px;
    font-size: 16px;
    
    .list-header-field {      
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
    }

  }

  .list-body{    
    max-height: calc(80vh - 230px);
    overflow: auto;
  }

  .list-row {
    min-width: 100%;
    user-select: none;
    display: grid;
    grid-template-columns: 184px 280px;
    font-size: 16px;
    font-weight: 500;
  
    .list-body-field {
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
      border-top: none; 
    }
  }
}

.list-header-field:hover{
  background-color: rgb(200, 200, 200, 0.2);
}

.box-left{
  float:left;
  margin-right: 4pt;
}

.text-right{
  text-align:right;
  // margin-right: 4pt;
}

.resource-creation-info-label {
  font-weight: bold;
  // color: rgb(53, 126, 126);
  color: #484948;
  font-style:italic;
  width: 200px;
  float:left;
}
.resource-creation-info-text {
  // font-weight: bold;
  // color: #3a6632;
  
  color: black;
}


#no-change-div {
  font-style:italic;
  color:#8f9190;
  font-size: small;
  // text-align: center;
  // margin-top: 6pt;
  // margin-top: 4pt;
}