<div class="modal-header">
    <div id="heading-label"
         i18n="@@@@widgets.historyModal.header">
         Bearbeitungshistorie der Ressource:
         <div id="resource-name-title" 
              class="text-truncate"
              [ngbTooltip]="document.resource.identifier" 
              [textContent]="document.resource.identifier">
        </div>
    </div>
    <button id="change-history-close-button" class="btn btn-primary btn-square" (click)="closeModal()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="change-history-modal-body" class="modal-body">
    <div class="list resource-creation-info">
        <div class="list-row">
            <span class="resource-creation-info-label" i18n="@@widgets.changeHistoryModal.creator.name">Erstellt von: </span>
            <span class="text-truncate" [ngbTooltip]="documentCreation.user" [textContent]="documentCreation.user"></span>
        </div>    
        <div class="list-row">
            <span class="resource-creation-info-label" i18n="@@widgets.changeHistoryModal.creation.date">Erstellungsdatum: </span>
            <span [textContent]="formatDateTime(documentCreation.date)"></span>
        </div>
    </div>

    <div> 
        @if (document.modified.length > 0) {
        <div class="list">               
            <div id="list-header">  
                <div class="list-header-field text-right"
                    i18n="@@widgets.changeHistoryModal.changes.table.colnames.date" 
                    (click)="toggleColumnSort('date')" 
                    [ngClass]="toggledDate ? 'mdi mdi-arrow-down' : 'mdi mdi-arrow-up'">
                    <span class="box-left">Änderungsdatum </span>
                </div>
                <div class="list-header-field text-right" 
                    i18n="@@widgets.changeHistoryModal.changes.table.colnames.user"
                    (click)="toggleColumnSort('user')"
                    [ngClass]="toggledUser ? 'mdi mdi-arrow-down' : 'mdi mdi-arrow-up'">
                    <span class="box-left">Benutzer </span>
                </div>
            </div>            
            <div class="list-body">
                <div class="list-row">
                    @for (modification of documentModificationList; track modification.date) {                    
                        <div class="list-body-field" [textContent]="formatDateTime(modification.date)"></div>
                        <div class="list-body-field text-truncate" [textContent]="modification.user" [ngbTooltip]="modification.user"></div>
                    }      
                </div> 
            </div>
        </div>
        }    
       @else if (document.modified.length == 0) {
            <div id ="no-change-div" i18n="@@widgets.changeHistoryModal.text.when.no.change">
                Es wurde noch keine Änderung für die Ressource aufgeführt.    
            </div>
        }        
    </div>
</div>   