#list {
  background: white;
  padding-left: 0;
  padding-right: 0;
  margin-left: -7px;
  margin-right: -7px;

  #list-header {
    user-select: none;
    margin-top: 2px;
    display: grid;
    grid-template-columns: 230px 100px 250px;
    // grid-gap: 1px;
    font-size: 16px;
    font-weight: 500;    
    
    .list-header-field {
      height: 34px;      
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
      border-bottom: none;  
    }
  }

  .list-body{
    max-height: 300px;
    overflow: scroll;
  }

  .list-row {
    user-select: none;
    margin-top: 2px;
    display: grid;
    grid-template-columns: 230px 100px 250px;
    // grid-gap: 1px;
    font-size: 16px;
    font-weight: 500;
  
    .list-body-field {
      height: fit-content;      
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
      border-bottom: none; 
    }
  }
}
