#list {
  background: white;
  margin-bottom: -20px;

  #list-header {
    user-select: none;
    display: grid;
    grid-template-columns: 230px 100px 250px;
    font-size: 16px;
    font-weight: 500;    
    
    .list-header-field {
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
    }
  }

  .list-body{
    max-height: 300px;
    overflow: scroll;
  }

  .list-row {
    user-select: none;
    display: grid;
    grid-template-columns: 230px 100px 250px;
    font-size: 16px;
    font-weight: 500;
  
    .list-body-field {
      padding: 5px 5px 0px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
      border-top: none; 
    }
  }
}
