<div class="modal-header">
    <h5  class="modal-title" i18n="@@widgets.historyModal.header">Änderunghistorie</h5>
</div>

<div class="modal-body">
    <p  i18n="@@document.created.information.text">Die Ressource <b>{{document.resource.identifier}}</b>  wurde vom Benutzer  {{document.created.user}} am {{formatDateTime(document.created.date)}} erstellt.</p>
    <div id="changes-history-modal-body" class="modal-body">
        <div *ngIf="document.modified[0].user">
            <div id="list">               
                <div id="list-header">  
                    <div class="list-header-field" i18n="@@changes.list.colnames.date">Änderungsdatum</div>
                    <div class="list-header-field" i18n="@@changes.list.colnames.user">Benutzer</div>
                </div>            
                <div class="list-body">
                    <!-- <div *ngFor="let modification of document.modified.reverse()"  -->
                    <!-- <div *ngFor="let modification of document.modified" -->
                      <div *ngFor="let modification of sortModificationsBy('date')"
                        class = "list-row">                    
                        <div class= "list-body-field" [textContent]="formatDateTime(modification.date)"></div>
                        <div class= "list-body-field" [textContent]="modification.user"></div>      
                    </div> 
                </div>
            </div>
        </div>    
    </div>   
</div>

<div class="modal-footer">
    <button id="overview-save-confirmation-modal-cancel-button" type="button" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')" i18n="@@buttons.cancel">Abbrechen</button>
</div>


