#list {
  background: white;
  margin-bottom: -20px;

  #list-header {
    user-select: none;
    display: grid;
    grid-template-columns: 210px 160px;
    font-size: 16px;
    font-weight: 500;    
    
    .list-header-field {
      min-width: fit-content;
      padding: 10px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
    }
  }

  .list-body{    
    max-height: 66vh;
    overflow: auto;
  }

  .list-row {
    user-select: none;
    display: grid;
    grid-template-columns: 210px 160px;
    font-size: 16px;
    font-weight: 500;
  
    .list-body-field {
      padding: 10px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
      border-top: none; 
    }
  }
}
.sort-arrow-up .sort-arrow-down{
  float:right;
}
.sort-arrow-up:hover{
  color:red;
}
.sort-arrow-down:hover{
  color:green;
}