#list {
  background: white;
  margin-bottom: -20px;
  width:100%;
  
  #list-header {
    min-width: 100%;
    user-select: none;
    display: grid;
    grid-template-columns: 184px 240px;
    font-size: 16px;
    
    .list-header-field {      
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
    }
  }

  .list-body{    
    max-height: calc(80vh - 230px);
    overflow: auto;
  }

  .list-row {
    min-width: 100%;
    user-select: none;
    display: grid;
    grid-template-columns: 184px 240px;
    font-size: 16px;
    font-weight: 500;
  
    .list-body-field {
      padding: 5px 5px 5px 10px;
      color: rgb(73, 80, 87);
      border: solid 1px rgb(221, 221, 221);
      border-top: none; 
    }
  }
}
.sort-arrow-up .sort-arrow-down{
  float:right;
}
.sort-arrow-up:hover{
  color:red;
}
.sort-arrow-down:hover{
  color:green;
}