/*
 * @author Thomas Kleinke
 */

#context-menu {
  position: fixed;
  z-index: 1010;
  margin: 0;
  padding: 5px 0;
  min-width: 120px;

  &.orientation-top {
    bottom: initial !important;
  }

  &.orientation-bottom {
    top: initial !important;
  }

  .dropdown-item {
    padding: 0 10px;
  }

  .dropdown-entry-label {
    position: relative;
    top: -1px;
    margin-left: 5px;
    font-size: 13px;
  }

  .mdi {
    color: #37588e;
  }

  .mdi-delete,
  .mdi-alert {
    color: #dc3545 !important;
  }

  hr {
    margin: 3px 0;
  }
}
