.document-teaser {
  @extend .d-flex;
  @extend .align-items-center;

  height: 100%;

  category-icon,
  .teasercontent {
    position: relative;
    bottom: 1px;
  }

  category-icon {
    margin-top: 2px;
  }

  category-icon img {
    border-radius: 45px;
  }

  .title,
  .subtitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    user-select: none;
  }

  .title {
    color: #111;
    -webkit-line-clamp: 1;
    font-size: $font-size-bigger;

    &.new {
      font-style: italic;
    }
  }

  .subtitle {
    color: #999;
    -webkit-line-clamp: 2;
    font-size: $font-size-even-smaller;
  }
}
