<div id="document-picker">
    <search-bar [filterOptions]="filterOptions"
                [categories]="getQueryCategories()"
                (onQueryStringChanged)="setQueryString($event)"
                (onCategoriesChanged)="setQueryCategories($event)"></search-bar>

    <ul *ngIf="documents?.length > 0" class="list-group" id="document-picker-list">
        <li *ngFor="let document of documents; let index = index"
            (click)="select(document)"
            class="list-group-item"
            [class.selected]="selectedDocument === document"
            [id]="'document-picker-resource-' + document.resource.identifier">
            <document-teaser [document]="document"></document-teaser>
        </li>
    </ul>

    <div id="document-picker-placeholder" *ngIf="!documents || documents.length == 0">
        <br>
        <loading-icon [context]="'documentPicker'"></loading-icon>
        <span *ngIf="!isQuerySpecified()"
              i18n="@@widgets.documentPicker.noSearchCriteria">Keine Suchkriterien angegeben</span>
        <span *ngIf="isQuerySpecified() && !isLoading()"
              i18n="@@widgets.documentPicker.noSearchResults">Keine Ziele gefunden</span>
    </div>
</div>
