<div id="document-picker" [class.has-search-results]="documents?.length">
    <search-bar [filterOptions]="filterOptions"
                [categories]="getQueryCategories()"
                (onQueryStringChanged)="setQueryString($event)"
                (onCategoriesChanged)="setQueryCategories($event)"></search-bar>

    <ul #documentsList *ngIf="documents?.length" id="document-picker-list" class="list-group">
        <li *ngFor="let document of documents; let index = index"
            (click)="select(document)"
            (dblclick)="doubleClick(document)"
            class="list-group-item"
            [class.selected]="selectedDocument === document"
            [id]="getElementId(document)">
            <document-teaser [document]="document"></document-teaser>
        </li>
    </ul>

    <div *ngIf="isLoadingIconVisible()" id="document-picker-loading-icon-container">
        <loading-icon [context]="'documentPicker'"></loading-icon>
    </div>

    <div *ngIf="!isLoading() && !documents?.length" id="document-picker-placeholder">
        <div *ngIf="!isQuerySpecified() && showNoQueryMessage"
             class="no-results-info"
             i18n="@@widgets.documentPicker.noSearchCriteria">Keine Suchkriterien angegeben.</div>
        <div *ngIf="isQuerySpecified() && !isLoading()"
             class="no-results-info"
             i18n="@@widgets.documentPicker.noSearchResults">Keine Ressourcen gefunden.</div>
    </div>
</div>
