#document-picker {
  #document-picker-list {
    max-height: calc(100vh - 350px);
    width: calc(100% - 1px);
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;

    .list-group-item {
      display: block;
      height: 58px;
      min-height: 58px;
      margin: 0 0 -1px 0;
      padding: 10px 5px 10px 10px;
      font-size: 1em;
      border-radius: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: default;

      &:hover {
        background-color: $list-item-hover-color;
        transition: background-color .5s ease;
      }

      &:first-child {
        border-top: 0;
      }
    }

    .selected {
      background-color: $list-item-hover-color;
    }

    .title {
      color: #111;
    }

    .subtitle {
      color: #999;
    }
  }

  .search-bar-input {
    height: 39px;
  }

  #searchfilter {
    position: relative;
    right: 1px;
    height: 39px !important;
  }

  #document-picker-placeholder {
    height: 51px;

    loading-icon {
      position: relative;
      top: 34px;
    }

    span {
      user-select: none;
    }
  }
}
