/**
 * @author Thomas Kleinke
 */

.language-picker-modal-body {
  .list-group {
    max-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow-y: auto;

    .list-group-item {
      padding: 10px;
      user-select: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      border-top: none;
      border-left: none;
      border-right: none;

      &:hover {
        background-color: $list-item-hover-color;
        border-radius: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
