<div class="modal-header">
    <h5 class="modal-title" i18n="@@widgets.qrCodeScanner.header">QR-Code scannen</h5>
</div>

<div id="qr-code-scanner-modal-body" class="modal-body">
    <div id="qr-code-scanner-container" class="d-flex align-items-center justify-content-center">
        <video></video>
        <div *ngIf="cameraNotFound" class="alert alert-warning" i18n="@@widgets.qrCodeScanner.cameraNotFound">
            Es konnte keine Kamera gefunden werden. Bitte prüfen Sie, ob Ihr Gerät über eine Kamera verfügt und die notwendigen
            Berechtigungen erteilt sind.
        </div>
    </div>
</div>

<div class="modal-footer">
    <div type="button" class="btn btn-secondary" (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
