<div class="modal-header">
    <h5 class="modal-title" i18n="@@widgets.qrCodeScanner.header">QR-Code scannen</h5>
</div>

<div id="qr-code-scanner-modal-body" class="modal-body">
    <div id="qr-code-scanner-container"
         class="d-flex align-items-center justify-content-center"
         [class.no-camera]="cameraNotFound">
        <video></video>
        <loading-icon [context]="'qrCodeScanner'"></loading-icon>
        <div *ngIf="cameraNotFound" class="alert alert-warning" i18n="@@widgets.qrCodeScanner.cameraNotFound">
            Es konnte keine Kamera gefunden werden. Bitte prüfen Sie, ob Ihr Gerät über eine Kamera verfügt und
            die notwendigen Berechtigungen erteilt sind.
        </div>
    </div>

    <div *ngIf="!isLoading() && !cameraNotFound" id="camera-select">
        <div i18n="@@widgets.qrCodeScanner.selectCamera">Kamera auswählen:</div>
        <select (change)="selectCamera($event.target.value)"
                class="form-control">
            <option *ngFor="let camera of cameras"
                    value="{{camera.id}}"
                    [selected]="selectedCamera.id === camera.id">
                {{camera.label}}
            </option>
        </select>
    </div>
</div>

<div class="modal-footer">
    <div type="button" class="btn btn-secondary" (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
