#qr-code-scanner-modal-body {
  #qr-code-scanner-container {
    width: 100%;
    min-height: 274px;

    loading-icon {
      position: absolute;
      top: 172px;
    }

    video {
      width: 100%;
    }

    .alert {
      position: absolute;
      margin: 20px;
    }

    .scan-region-highlight-svg {
      stroke: #fff !important;
    }
  }
}
