<div id="quitting-modal" class="modal-body process-modal">
    <div class="process-modal-container">
        <div class="spinner"></div>
        <div class="process-info">
            <div i18n="@@widgets.quittingModal.info">
                Field Desktop wird beendet...
            </div>
            <div id="backup-info" i18n="@@widgets.quittingModal.backupInfo">
                Bitte warten Sie, bis die Erstellung von Backup-Dateien abgeschlossen wurde.
            </div>
        </div>
    </div>
</div>
