<div *ngIf="references?.length">
    <div *ngIf="context === 'editor'" class="references-info-title"
         i18n="referencesInfo.references">Verweise:</div>
    <div *ngIf="context === 'configuration'" class="references-info-title"
         i18n="referencesInfo.generalReferences">Allgemeine Verweise:</div>
    <div *ngFor="let reference of references" class="references-info-entry">
        <a href="{{reference}}" target="_blank">{{reference}}</a>
    </div>
</div>

<div *ngIf="semanticReferences?.length" [class.mt-3]="references?.length">
    <div class="references-info-title" i18n="referencesInfo.semanticReferences">Semantische Verweise:</div>
    <div *ngFor="let reference of semanticReferences" class="references-info-entry semantic-reference">
        <div class="references-info-predicate">{{reference.predicate}}</div>
        <a href="{{reference.uri}}" target="_blank">{{reference.uri}}</a>
    </div>
</div>
