#search-bar {
  .input-group {
    width: 100%;
  }

  .search-bar-input {
    height: 38px;
    padding: 9px;
  }

  .mdi-filter {
    position: relative;
    right: 1px;
  }

  .input-group-append {
    z-index: 100;
  }

  .filter-button {
    width: 50px;

    .mdi {
      position: relative;
      right: 1px;
    }

    .arrow {
      &::before,
      &::after {
        left: 16px;
      }
      &::after {
        border-bottom-color: #eee;
      }
    }
  }
}

.popover-body {
  .filtermenu {
    min-width: 235px;

    .list-group {
      max-height: calc(100vh - 350px) !important;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }

    .popover-custom-title {
      background-color: #e3e3e3;
    }
  }
}

.search-bar-filter-popover {
  .arrow {
    right: 13px !important;
  }
}

.search-filter {
  z-index: 3;
  padding: 4px 1em;
  border: none;
  width: 50px;
  height: 38px;

  category-icon {
    position: relative;
    right: 4px;
  }
}
