/**
 * @author Thomas Kleinke
 */
 searchable-select {
  .ng-select {
    .ng-value-container {
      height: 100%;

      .ng-value {
        width: calc(100% - 45px);
      }
    }

    .ng-select-container {
      border-radius: 0;
      font-size: 13px;
      transition: border-color 0.15s ease-in-out;

      .ng-clear-wrapper,
      .ng-arrow-wrapper {
        cursor: default;
      }
    }

    &.ng-select-focused .ng-select-container {
      border-color: #7998cb !important;
      box-shadow: none !important;
    }
  }
}

.ng-dropdown-panel {
  font-size: 13px;
  transition: border-color 0.15s ease-in-out;
  overflow-x: hidden;

  &.ng-select-top {
    border-bottom-color: #7998cb !important;
  }

  &.ng-select-bottom {
    border-top-color: #7998cb !important;
  }

  .ng-option {
    cursor: default !important;

    &.ng-option-marked,
    &.ng-option-selected {
      background-color: $list-item-hover-color !important;
    }
  }
}
