/**
 * @author Thomas Kleinke
 */
resources-search-constraints,
image-overview-search-constraints {

  #constraints-menu-button {
    border-radius: 0;
    text-align: left;
    border-left-width: 0 !important;
    border-right: 0;
    border-color: lightgrey;

    &.focused {
      border-color: #7998cb !important;
    }

    &:active {
      border-color: #ced4da !important;
    }
  }

  #constraints-menu {
    display: inline;
    position: absolute;
    top: 38px;
    left: 0;
    width: calc(100% - 50px);
    background-color: #f7f7f7;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    overflow: hidden;
    cursor: default;
    user-select: none;

    h6,
    #constraints-type-filter-info,
    .constraint-list-item,
    .form-inline {
      padding: 10px;
    }

    #constraints-type-filter-info {
      background-color: white;
    }

    h6 {
      background-color: #f7f7f7;
      margin-bottom: 0;
      cursor: default;
    }

    .constraint-list-item {
      position: relative;
      background-color: white;
      margin-bottom: 1px;
      transition: background-color .25s ease;

      &:hover {
        background-color: $list-item-hover-color;
        transition: background-color .5s ease;
      }

      .constraint-list-item-text {
        width: calc(100% - 36px);
        overflow: hidden;
        word-wrap: break-word;
        font-size: 13px;
      }

      .mdi-close-circle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        color: #dc3545;
      }
    }

    .form-inline {
      background-color: white;
      margin-top: 1px;

      select.form-control,
      input.form-control {
        height: 39px;
        font-size: 13px;
      }

      input.form-control {
        width: calc(50% - 57px);
        padding: 10px;

        &:focus {
          z-index: 1;
        }
      }

      select.form-control,
      searchable-select {
        width: calc(50% - 31px);
      }

      searchable-select {
        .ng-select {
          .ng-select-container {
            height: 39px !important;
            min-height: 39px;

            .ng-input {
              top: initial;
            }

            .ng-placeholder {
              color: #666;
            }
          }
        }
      }

      #constraint-field-select,
      #constraint-search-term-select,
      #constraint-search-term-boolean-select,
      #constraint-search-term-exists-select,
      #constraint-search-search-term-input-dropdown {
        margin-right: 10px;
      }

      #constraint-search-search-term-input-dropdown {
        button {
          height: 39px;
          color: #6c757d;
          border-color: #ced4da;
          border-radius: 0;
          border-left: none;
          font-size: 13px;
          cursor: default;
        }

        &.show button,
        button:focus, button:active {
          position: relative;
          left: -1px;
          border-left: 1px solid;
          margin-right: -1px;
          border-color: #7998cb !important;
        }
      }

      #add-constraint-button {
        height: 39px;

        span {
          position: relative;
          top: 6px;
        }
      }
    }
  }
}

image-overview-search-constraints {
  #constraints-menu-button {
    .mdi {
      position: relative;
      left: 1px;
     }
  }
}

#constraints-menu-input-dropdown-menu {
  .dropdown-item {
    height: 30px;
    font-size: 13px;
    color: black;
  }
}
