<form id="search-bar" class="form-inline">
    <div class="input-group">
        <input #searchInput
            [(ngModel)]="q"
            (keyup)="onKeyUp($event)"
            name="searchInput"
            type="text"
            class="form-control search-bar-input"
            placeholder="Suchen..." i18n-placeholder="@@widgets.searchBar.placeholder">

        <div *ngIf="isFilterMenuAvailable()" class="input-group-append filter-button">
            <button id="filter-button"
                    class="btn btn-primary search-filter"
                    type="button"
                    [ngbPopover]="filterMenu"
                    [autoClose]="false"
                    #p="ngbPopover"
                    popoverClass="search-bar-filter-popover"
                    placement="bottom-right"
                    container="body">
                <span *ngIf="!selectedCategories || selectedCategories.length == 0" class="mdi mdi-filter"></span>
                <span *ngIf="selectedCategories && selectedCategories.length > 0">
                    <category-icon [category]="selectedCategories[0]" size="24"></category-icon>
                </span>
            </button>
            <ng-template #filterMenu>
                <div id="filter-menu" class="filtermenu">
                    <div class="popover-custom-title">
                        <span i18n="@@widgets.searchBar.categoryFilter">Nach Kategorie filtern:</span>
                    </div>
                    <category-picker [topLevelCategoriesArray]="filterOptions"
                                     [allCategoriesOptionVisible]="isAllCategoriesOptionVisible()"
                                     [selectedCategories]="selectedCategories"
                                     [allowPickingAbstractCategories]="true"
                                     (onCategoryPicked)="chooseCategoryFilter($event)">
                    </category-picker>
                </div>
            </ng-template>
        </div>
    </div>
</form>
