#search-bar {

  .search-bar-input {
    width: 100%;
    padding: 9px;
  }

  .filter-button {
    position: absolute;
    right: 17px;

    .arrow {
      &::before,
      &::after {
        left: 16px;
      }
      &::after {
        border-bottom-color: #eee;
      }
    }

    .search-filter {
      z-index: 3;
      padding: 4px 1em;
      border: none;
      width: 50px;
      height: 39px;

      .mdi-filter {
        line-height: 30px;
      }

      category-icon {
        margin-left: -6px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.popover-body {

  .filtermenu {
    min-width: 235px;

    .list-group {
      max-height: calc(100vh - 350px) !important;
    }
  }
}
