/*
 * @author Thomas Kleinke
 */

.zoom-buttons {
  .btn {
    padding: 0 10px;
    font-size: 22px;
    border-color: #000;
    border-radius: 0.25rem !important;
  }

  .btn:focus,
  .btn:active {
    outline: none;
  }

  #zoom-in-button {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  #zoom-out-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}