$mdi-font-path: 'fonts' !default;
@import '../node_modules/@mdi/font/css/materialdesignicons';

@import '@fontsource/open-sans/variable-full.css';
@import "@fontsource/open-sans/variable-full-italic.css";

@import 'app/components/variables';
@import 'app/components/messages/messages';
@import 'bootstrap';
@import 'app/components/initialization';
@import 'app/components/spinner';
@import 'app/components/buttons';
@import 'app/components/slider';
@import 'app/components/navbar/navbar';
@import 'app/components/default-page';
@import 'app/components/resources/resources';
@import 'app/components/import/import';
@import 'app/components/export/export';
@import 'app/components/settings/settings';
@import 'app/components/viewmodal/view-modal';
@import 'app/components/widgets/widgets';
@import 'app/components/docedit/docedit';
@import 'app/components/image/image';
@import 'app/components/matrix/matrix-view';
@import 'app/components/help/help';
@import 'app/components/configuration/configuration';
@import 'app/components/project/project';
@import 'app/components/backup/backup';

.search-help-tooltip {
  .tooltip-inner {
    width: 400px;
    max-width: 400px;
  }
  animation-name: delayedFadeIn;
  animation-duration: 1s; /* Adjust this duration */
}

.tooltip > div {
  animation-name: delayedFadeIn;
  animation-duration: 1s; /* Adjust this duration */
}

.tooltip {
  pointer-events: none;

  .arrow {
    width: 0.5rem !important;
  }
}

@keyframes delayedFadeIn {
  0% { opacity: 0; }
  75% { opacity: 0; } /* Set this to 99% for no fade-in. */
  100% { opacity: 1; }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  position: relative;
  font-family: 'Open SansVariable', sans-serif !important;
  overflow: hidden;
}

#idaifieldlogo {
  height: 35px;
}

.btn {
  text-transform: none !important;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.btn-primary {
  background-color: $primary-button-color;
  border-color: $primary-button-color;
}

.btn-primary:hover {
  background-color: lighten($primary-button-color, 10%);
  border-color: lighten($primary-button-color, 10%);
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: darken($primary-button-color, 10%);
  border-color: darken($primary-button-color, 10%);
  cursor: not-allowed;
}

.btn-primary:active, .btn-primary.active {
  background-color: saturate($primary-button-color, 10%);
  border-color: saturate($primary-button-color, 10%);
}

.btn-outline-primary {
  border-color: $primary-button-color;
  color: $primary-button-color;
  background-color: white;
}

.btn-outline-primary:hover {
  border-color: lighten($primary-button-color, 10%);
  color: $primary-button-color;
  background-color: white;
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  border-color: darken($primary-button-color, 10%);
  color: darken($primary-button-color, 10%);
  cursor: not-allowed;
  background-color: white;
}

.btn-secondary {
  color: #fff;
  background-color: #727b84;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: lighten(#727b84, 10%);
  border-color: lighten(#6c757d, 10%);
  color: #fff;
}

.btn-secondary:disabled, .btn-primary.disabled {
  background-color: darken(#727b84, 10%);
  border-color: darken(#6c757d, 10%);
  cursor: not-allowed;
}

.btn-secondary:active, .btn-secondary.active {
  background-color: saturate(#727b84, 10%);
  background-color: saturate(#6c757d, 10%);
}

.btn-success:disabled, .btn-success.disabled {
  background-color: darken(#6ca378, 10%);
  border-color: darken(#6ca378, 10%);
  cursor: not-allowed;
}

.btn-danger:disabled, .btn-danger.disabled {
  cursor: not-allowed;
}

.btn-light {
  color: $link-color;
}

.btn-link {
  &:hover {
    background-color: rgba(200, 200, 200, 0.2);
  }

  &.active {
    background-color: lighten($link-color, 50%);
  }
}

.md-form {
  margin-bottom: 0 !important;
}

/* override needed for buttons to look good in chrome with bootstrap 4 */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}

/* override popover styles */
.popover {
  padding: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.3rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  min-width: 200px;
}

.popover-body {
  padding: 0 !important;
}

.popover-header,
.popover-custom-title {
  background-color: #eee;
  font-size: 1.1em;
  user-select: none;
  cursor: default;
}

.popover-header {
  font-weight: normal;
  border-radius: 0;
}

.popover-custom-title {
  padding: 10px 10px 8px 10px;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  &:last-child {
    border-radius: 0.3rem;
  }
}

.popover-body .list-group {
  max-height: calc(100vh - 230px);
  overflow: auto;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.popover-item {
  cursor: default;
  border: 0 !important;
  border-radius: 0 !important;
}

.popover-item:hover {
  background-color: $list-item-hover-color;
  transition: background-color .5s ease;
}

/* Cards */
/* override ugly styling of list-group-items inside cards in bootstrap 4 */
.card > .list-group {
  > .list-group-item {
    border-width: 1px 0 0;
  }
  > .list-group-item:first-child {
    border-width: 0;
  }
}

.card {
  border-radius: 0 !important;
  border: none !important;
  background-color: #eee;
}

.card-header {
  border-radius: 0 !important;
}

.card-title {
  font-weight: normal !important;
  font-size: 17px !important;
  margin: 0 !important;
}

.card-block {
  padding: 10px !important;
}

.card-block .form-control {
  margin: 0;
  font-size: 13px;
}

.form-control {
  border-radius: 1px !important;
  -webkit-appearance: none;

  &:focus {
    box-shadow: none;
  }
}

select.form-control:not([size]):not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: calc(100% - 7px) 50%;
  background-repeat: no-repeat;
  background-image: url(img/chevron-down.png);
  padding-right: 1.5em;
  height: auto;
  user-select: none;

  &:disabled {
    background-image: url(img/chevron-down-disabled.png);
  }
}

.form-check .form-check-label {
  font-size: 15px;
  padding-left: 1.4rem;
}

.fade {
  transition: none;
}

/* wider modals */
.modal-lg {
  min-width: 86%;
}

.modal-header {
  user-select: none;
}

.modal-body {
  p {
    user-select: none;
  }
}

.modal-content {
  border: none;
  overflow: hidden;
}

.modal-dialog:not(.modal-dialog-centered) {
  top: 14px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

a {
  -webkit-user-drag: none;
}

.alert {
  text-align: center;
  user-select: none;
}

.small-info-text {
  font-size: 14px;
  margin-top: 13px;
  user-select: none;
}

.custom-marking {
  color: darken($custom-highlight-color, 50%);
}
