/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

#settings {

  padding: 0 !important;
  background-color: #eee;

  header {
    background-color: #eee;
    padding: 7px;
    color: #fff;
    border-bottom: 1px solid #ccc;
  }

  header .mdi-settings {
    display: inline-block;
    font-size: 1.1em;
    color: #fff;
    background-color: #294b83;
    padding: 10px 10px 10px 11px;
    margin-right: 5px;
  }

  header h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    background-color: #657faa;
  }

  main {
    padding: 7px;
    margin-top: 25px;
  }

  #save-settings-button:active,
  #save-settings-button:focus {
    outline: none;
  }

  #save-settings-button {
    margin-right: 7px;
    margin-top: 7px;
    border: 0;
    border-radius: 2px;
    color: #fff;
  }

  .settings-info {
    font-size: 14px;
  }

  label.btn {
    margin-bottom: 0;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $greenbgr;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $greenbgr;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}