<div id="settings" *ngIf="ready"
     (dragover)="false"
     (dragleave)="false"
     (drop)="false">

    <header>
        <h1>
            <span class="mdi mdi-file-import"></span>
            Einstellungen

            <div style="float: right;">

                <button id="save-settings-button" class="btn-success btn btn-default"
                        style="text-align:right;"
                        [ngClass]="{ 'disabled': saving }"
                        (click)="saving || save()">
                    <span class="mdi mdi-content-save"></span>
                    <span class="button-label">
                        Einstellungen übernehmen
                    </span>

                </button>
            </div>

        </h1>
    </header>

    <main>
        <div class="form-group row">

            <div class="col-lg-6 offset-lg-3">

                <h4>
                    Projekt- und Benutzereinstellungen
                </h4>
                <div class="form-group" style="margin-bottom: 0;">

                    <label for="projectselect"
                           class="control-label col-form-label">Projekt</label>
                    <select class="form-control"
                            id="projectselect"
                            [(ngModel)]="selectedProject">

                        <option *ngFor="let project of settingsService.getProjects()"
                                [ngValue]="project">
                            {{project}}
                        </option>
                    </select>

                    <label class="control-label col-form-label"
                           for="user-name-input">Benutzer</label>
                    <input id="user-name-input"
                           [ngModel]="userName"
                           (ngModelChange)="userName = $event"
                           class="form-control">
                </div>

                <h4 style="margin-top: 35px;">Synchronisierungseinstellungen</h4>

                <h5>Serververbindung </h5>

                <div class="form-group">

                    <label for="server-address-input"
                           class="control-label col-form-label">Adresse</label>
                    <input id="server-address-input" [ngModel]="server.ipAddress"
                           (ngModelChange)="server.ipAddress = $event"
                           class="form-control"
                           placeholder="http://x.x.x.x(:port)">

                    <label for="server-user-name-input"
                           class="control-label col-form-label">Benutzer</label>
                    <input id="server-user-name-input" [ngModel]="server.userName"
                           (ngModelChange)="server.userName = $event"
                           class="form-control">

                    <label for="server-password-input"
                           class="control-label col-form-label">Passwort</label>
                    <input id="server-password-input"
                           type="password"
                           [ngModel]="server.password"
                           (ngModelChange)="server.password = $event"
                           class="form-control">
                </div>

                <h4 style="margin-top: 35px;">Teammitglieder </h4>
                <ul id="remote-sites-list" style="padding: 0; margin: 0 0 15px 0;">
                    <li *ngFor="let remoteSite of remoteSites; let i = index;"
                        style="list-style-type: none; padding: 5px 0;">

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button (click)="removeRemoteSite(i)"
                                        class="btn-danger btn btn-default">
                                    <span class="mdi mdi-delete"></span>
                                </button>
                            </span>
                            <input [ngModel]="remoteSite.ipAddress"
                                   (ngModelChange)="remoteSite.ipAddress = $event"
                                   placeholder="http://x.x.x.x(:port)"
                                   class="form-control">
                        </div>

                    </li>
                </ul>
                <button id="add-remote-site-button"
                        (click)="addRemoteSite()"
                        class="btn-primary btn btn-default">
                    Client hinzufügen
                </button>

            </div>

        </div>
    </main>

</div>

