<div *ngIf="rangeMode" class="date-value-label" i18n="@@docedit.forms.date.from">Von:</div>
<date-value [value]="getValue()"
            [field]="field"
            (onChanged)="updateValue($event)"></date-value>

<div *ngIf="rangeMode" class="date-value-label" i18n="@@docedit.forms.date.to">Bis:</div>
<date-value *ngIf="rangeMode"
            [value]="getEndValue()"
            [field]="field"
            (onChanged)="updateEndValue($event)"></date-value>

<button *ngIf="isSwitchToRangeButtonVisible()"
        ngbTooltip="Enddatum angeben"
        i18n-ngbTooltip="@@docedit.forms.date.toggleRange"
        placement="top"
        container="body"
        class="btn btn-outline-primary circular-button switch-to-range-button"
        type="button"
        (click)="switchToRange()">
        <span class="mdi mdi-plus"></span>
</button>
