form-field-date {
  display: flex;

  .button-container {
    .range-button {
      width: 100%;
      height: 100%;
      border-radius: 0;
      text-decoration: none;
      color: black !important;
  
      .range-button-label {
        position: relative;
        bottom: 1px;
        width: 100%;
        font-size: 14px;
        user-select: none;
  
        &:not(:first-child) {
          margin-top: 19px;
        }
      }
    }

    &.with-range-button {
      height: 33px;

      &.range-mode {
        height: 73px;
      }
    }
  }

  .date-values-container {
    flex-grow: 1;

    date-value:not(:first-child) {
      margin-top: 7px;
    }

    &.with-range-button {
      margin-left: 10px;
    }
  }
}
