date-value {
  display: flex;
  position: relative;

  .input-group {
    width: 133px;

    &.editing {
      width: 100px;
      margin-right: 12px;
    }
  }

  .date-picker-input {
    width: 100px;
    padding-left: 16px;

    &::placeholder {
      font-size: 12px;
    }
  }

  .date-label {
    width: 100px;
    height: 33px;
    margin-right: 12px;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 13px;
    text-align: center;

    .mdi-close {
      position: relative;
      left: 4px;
    }
  }
}
  
ngb-datepicker {
  user-select: none;

  select {
    box-shadow: none !important;
  }

  .ngb-dp-day {
    cursor: default !important;
  
    .btn-light.active {
      background-color: initial !important;
      border-color: initial !important;
      color: #37588e !important;
      box-shadow: initial !important;
    }
  }

  .ngb-dp-arrow-btn:focus {
    outline-width: 0 !important; 
  }
}

.now-button {
  height: 33px;
  line-height: 18px;
  font-size: 14px;
  border-color: #7998cb !important;
  z-index: 5 !important;

  &:hover,
  &:active {
    background-color: rgba(200, 200, 200, 0.2) !important;
  }

  .mdi {
    position: relative;
    right: 1px;
  }
}

.timezone-selector {
  width: 280px;
  margin-left: 12px;
}

.remove-date-value-button {
  right: 0;

  .mdi {
    position: relative;
    bottom: 4px;
  }
}
