/**
 * @author Thomas Kleinke
 */
.resource-view-modal {
  image-row {
    width: calc(100% - 258px);
  }

  #resource-info-popover .document-info {
    height: calc(100% + 169px) !important;
  }

  #image-info-popover {
    float: right !important;
    border-bottom: 1px solid #dddddd;
  }

  #no-images-placeholder {
    width: calc(100% - 258px);
    height: 100% !important;
  }

  &.no-images {
    height: 100% !important;
    
    #resource-info-popover .document-info {
      height: 100% !important;
    }
  }
}
