<div id="view-modal-header" class="d-flex justify-content-between">
    <div class="text-truncate heading">{{document.resource.identifier}}</div>

    <button class="btn btn-primary btn-square"
            id="close-button"
            tabindex="-1"
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="view-modal-body" class="modal-body px-0">
    <div *ngIf="ready" id="view-modal-content" class="flex-nowrap bg-light px-0 resource-view-modal"
         [class.no-images]="images.length === 0">
        <document-info id="resource-info-popover"
                       [document]="document"
                       [getExpandAllGroups]="getExpandAllGroupsForMainResource"
                       [setExpandAllGroups]="setExpandAllGroupsForMainResource"
                       (onStartEdit)="startEdit()"
                       (onJumpToResource)="jumpToResource($event)"></document-info>

        <document-info id="image-info-popover"
                       [document]="selectedImage?.document"
                       [getExpandAllGroups]="getExpandAllGroupsForImage"
                       [setExpandAllGroups]="setExpandAllGroupsForImage"
                       (onStartEdit)="startEdit(true)"
                       (onJumpToResource)="jumpToResource($event)"></document-info>

        <image-viewer *ngIf="selectedImage" [image]="selectedImage.document"></image-viewer>

        <image-row *ngIf="images.length > 0"
                   [images]="images"
                   [selectedImage]="selectedImage"
                   [highlightOnHover]="true"
                   [allowSelection]="true"
                   (onImageSelected)="onSelected($event)"></image-row>

        <div *ngIf="images.length === 0" id="no-images-placeholder"
             class="d-flex align-items-center justify-content-center">
            <div class="alert alert-info" i18n="@@viewModal.noImages">
                Mit dieser Ressource sind keine Bilder verknüpft.
            </div>
        </div>
    </div>
</div>
