/**
 * @author Thomas Kleinke
 */

#matrix-options-button,
#matrix-options-menu {
  position: absolute;
  z-index: 1000;
  right: 8px;
}

#matrix-options-button {
  top: 59px;
  width: 42px;

  .mdi {
    position: relative;
    top: 5px;
  }
}

#matrix-options-menu {
  top: 100px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  background-color: #f8f9fa !important;
  cursor: default !important;
  user-select: none;

  #form-check-relations-spatial,
  #form-check-edges-ortho {
    position: absolute;
    left: 98px;
  }

  #form-check-relations-temporal,
  #form-check-edges-curved {
    position: absolute;
    left: 200px;
  }

  #form-check-relations-temporal,
  #form-check-relations-spatial {
    top: 21px;
  }

  #form-check-edges-curved,
  #form-check-edges-ortho {
    top: 52px;
  }

  input {
    position: relative;
    top: 1px;
  }

  .card-body {
    padding: 20px;
    width: 327px;
  }

  fieldset {
    margin-bottom: 0;

    .pre-label {
      position: relative;
      top: 2px;
      margin-right: 7px;
      font-size: 15px;
    }

    .form-check {
      position: relative;
      top: 1px;
      margin-right: 10px;

      &.form-radiobuttons {
        margin-left: 20px;
      }

      .form-check-input {
        cursor: default !important;
      }

      .form-check-label {
        position: relative;
        top: 1px;
        margin-left: -20px;
      }
    }
  }

  fieldset:nth-of-type(2) {
    > label:first-of-type {
      top: -7px;
      margin-right: 30px;
    }

    > div:first-of-type {
      margin-right: 11px;
    }
  }
}
