/**
 * @author Thomas Kleinke
 * @author Daniel de Oliveira
 */

@import 'graph';
@import 'matrix-options-menu';

#matrix-view {
  position: relative;
  height: 50px;
  padding: 6px;
  border-bottom: 1px solid $gray-200;
  z-index: 1001;
  user-select: none;
  cursor: default;

  .float-right {
    margin-right: 4px;
  }

  .toolbar {
    padding-right: 5px;
  }

  .btn-group {
    max-width: 100%;
  }

  .operation-selection-button {
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }

  #operation-selection-menu {
    padding: 0;

    #operation-selection-buttons {
      max-height: calc(100vh - 350px);
      overflow-y: auto;

      button:first-child {
        margin-top: 7px;
      }

      button:last-child {
        margin-bottom: 7px;
      }
    }
  }

  #selected-operation-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#matrix-container {
  height: calc(100vh - 95px);
  margin: 0 -15px;
  overflow: hidden;

  .matrix-alert {
    position: absolute;
    padding: 10px;
    margin: 35vh 16.6vw 0;
    z-index: 900;
    user-select: none;
    cursor: default;
  }

  loading-icon {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% + 36px);
  }
}
