/**
 * @author Thomas Kleinke
 */

#matrix-options-button,
#matrix-options-menu {
  position: absolute;
  z-index: 1000;
  right: 8px;
}

#matrix-options-button {
  top: 59px;
  width: 42px;

  .mdi {
    position: relative;
    top: 5px;
  }
}

#matrix-options-menu {
  top: 100px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  background-color: #f8f9fa !important;
  cursor: default !important;
  user-select: none;

  input {
    position: relative;
    top: 2px;
  }

  .card-body {
    padding: 20px;
  }

  label {
    font-size: 15px;
    margin-bottom: 0;
  }

  .form-check {
    position: relative;
    top: 1px;
    margin-right: 0;

    .form-check-input {
      cursor: default !important;
    }

    .form-check-label {
      position: relative;
      top: 1px;
      padding: 0;
    }
  }

  .form-radiobuttons {
    margin-left: 15px;
  }

  .radio-buttons-container {
    margin-bottom: 10px;
  }

  #period-check-label {
    margin-bottom: 0;
  }
}
