<div id="matrix-view" class="row bg-light">
    <div class="col col-md-6">
        <div class="row">
            <div *ngIf="showOperationSelector()" class="dropdown"
                 ngbDropdown placement="bottom-left" role="group">
                <button class="btn btn-outline-primary" ngbDropdownToggle>
                    <span *ngIf="selectedOperation" id="selected-operation-label">
                        {{getDocumentLabel(selectedOperation)}}
                    </span>
                </button>
                <div id="operation-selection-menu" class="dropdown-menu" ngbDropdownMenu>
                    <div id="operation-selection-buttons">
                        <button *ngFor="let operation of operations"
                                class="dropdown-item operation-selection-button"
                                (click)="selectOperation(operation)">
                            {{getDocumentLabel(operation)}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col col-md-6 text-right toolbar">
        <div class="btn-group">
            <div id="edit-mode-button"
                 class="btn btn-outline-primary"
                 [class.active]="getSelectionMode() === 'none'"
                 ngbTooltip="Bearbeitungsmodus"
                 i18n-ngbTooltip="@@matrix.view.tooltips.editMode"
                 placement="bottom"
                 container="body"
                 triggers="manual"
                 #selectionTooltip1="ngbTooltip"
                 (mouseover)="selectionTooltip1.open()"
                 (mouseleave)="selectionTooltip1.close()"
                 (click)="selectionTooltip1.close(); setSelectionMode('none');">
                <span class="mdi mdi-pencil"></span>
            </div>
            <div id="single-selection-mode-button"
                 class="btn btn-outline-primary"
                 [class.active]="getSelectionMode() === 'single'"
                 ngbTooltip="Einzelauswahlmodus"
                 i18n-ngbTooltip="@@matrix.view.tooltips.singleSelectionMode"
                 placement="bottom"
                 container="body"
                 triggers="manual"
                 #selectionTooltip2="ngbTooltip"
                 (mouseover)="selectionTooltip2.open()"
                 (mouseleave)="selectionTooltip2.close()"
                 (click)="selectionTooltip2.close(); setSelectionMode('single');">
                <span class="mdi mdi-cursor-default-outline"></span>
            </div>
            <div id="group-selection-mode-button"
                 class="btn btn-outline-primary"
                 [class.active]="getSelectionMode() === 'rect'"
                 ngbTooltip="Gruppenauswahlmodus"
                 i18n-ngbTooltip="@@matrix.view.tooltips.groupSelectionMode"
                 placement="bottom"
                 container="body"
                 triggers="manual"
                 #selectionTooltip3="ngbTooltip"
                 (mouseover)="selectionTooltip3.open()"
                 (mouseleave)="selectionTooltip3.close()"
                 (click)="selectionTooltip3.close(); setSelectionMode('rect');">
                <span class="mdi mdi-select"></span>
            </div>
        </div>

        <div class="btn-group pl-2">
            <div id="clear-selection-button"
                 class="btn btn-primary"
                 [class.disabled]="!documentsSelected()"
                 ngbTooltip="Auswahl aufheben"
                 i18n-ngbTooltip="@@matrix.view.tooltips.deselect"
                 placement="bottom"
                 container="body"
                 triggers="manual"
                 #clearSelectionTooltip="ngbTooltip"
                 (mouseover)="clearSelectionTooltip.open()"
                 (mouseleave)="clearSelectionTooltip.close()"
                 (click)="clearSelectionTooltip.close(); clearSelection();">
                <span class="mdi mdi-select-off"></span>
            </div>

            <div id="create-graph-from-selection-button"
                 class="btn btn-primary"
                 [class.disabled]="!documentsSelected()"
                 ngbTooltip="Matrix aus Auswahl erstellen"
                 i18n-ngbTooltip="@@matrix.view.tooltips.createMatrixFromSelection"
                 placement="left"
                 container="body"
                 triggers="manual"
                 #matrixFromSelectionTooltip="ngbTooltip"
                 (mouseover)="matrixFromSelectionTooltip.open()"
                 (mouseleave)="matrixFromSelectionTooltip.close()"
                 (click)="matrixFromSelectionTooltip.close(); createGraphFromSelection();">
                <span class="mdi mdi-transfer-right"></span>
            </div>

            <div id="reload-graph-button"
                 class="btn btn-primary"
                 [class.disabled]="!graphFromSelection"
                 ngbTooltip="Matrix neu laden"
                 i18n-ngbTooltip="@@matrix.view.tooltips.reloadMatrix"
                 placement="left"
                 container="body"
                 triggers="manual"
                 #reloadGraphTooltip="ngbTooltip"
                 (mouseover)="reloadGraphTooltip.open()"
                 (mouseleave)="reloadGraphTooltip.close()"
                 (click)="reloadGraphTooltip.close(); reloadGraph();">
                <span class="mdi mdi-reload"></span>
            </div>
        </div>
    </div>
</div>

<div id="matrix-container">
    <loading-icon></loading-icon>
    <matrix-options-menu (onChange)="calculateGraph()"></matrix-options-menu>

    <div *ngIf="showNoConfiguredOperationCategoriesWarning()"
         class="col-8 text-center alert alert-warning matrix-alert">
        <em i18n="@@matrix.view.noConfiguredOperationCategoriesWarning">
            Für dieses Projekt sind keine Maßnahmenkategorien konfiguriert, die für die
            Matrixdarstellung geeignet sind.
        </em>
    </div>

    <div *ngIf="showNoOperationsWarning()"
         class="col-8 text-center alert alert-warning matrix-alert">
        <em i18n="@@matrix.view.noOperationsWarning">
            Legen Sie eine Maßnahme der Kategorie 'Schnitt' oder 'Untersuchungsfläche' in der
            <a href="#" routerLink="/resources/project">Übersicht</a> an, um hier mit ihr arbeiten zu können.
        </em>
    </div>

    <div *ngIf="showNoResourcesWarning()"
         class="col-8 text-center alert alert-warning matrix-alert">
        <em i18n="@@matrix.view.noResourcesWarning">
            Legen Sie für die ausgewählte Maßnahme Ressourcen der Kategorie "{{getCategoryLabel('Feature')}}" in der
            Ausgrabungsansicht an und verknüpfen Sie sie mit zeitlichen oder räumlichen Relationen.
        </em>
    </div>

    <graph [graph]="graph"
           [selection]="selection"
           (onSelectForEdit)="edit($event)">
    </graph>
</div>
