<resources-context-menu *ngIf="contextMenu.isOpen()"
                        [contextMenu]="contextMenu"
                        (onSelectAction)="performContextMenuAction($event)">
</resources-context-menu>

<popover-menu *ngIf="selectedDocument" [document]="selectedDocument"
              (onDocumentInfoHeaderRightClicked)="contextMenu.open($event, [selectedDocument])"></popover-menu>

<cdk-virtual-scroll-viewport [itemSize]="itemSize" id="sidebar-viewport">
    <div *ngFor="let category of viewFacade.getGroupedDocuments()" class="category-group">
        <div class="category-header"
             (click)="viewFacade.toggleCategoryExpansion(category.name)">
             <span [class]="'mdi mdi-24px ' + (category.isExpanded ? 'mdi-chevron-down' : 'mdi-chevron-right')"></span>
            {{ category.name }} ({{ category.documents.length }})
        </div>
        <div *ngIf="category.isExpanded" class="category-items">
            <div *ngFor="let document of category.documents"
                 class="category-item"
                 (click)="select(document, $event)"
                 [class.selected]="selectedDocument?.resource.id === document.resource.id">
                <span>{{ document.resource.identifier }}</span>
            <span class="mdi mdi-information-outline mdi-24px"></span>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>

<plus-button *ngIf="isPlusButtonShown()" id="create-document-button" [placement]="'top'"
             [preselectedCategory]="getCurrentFilterCategory()"
             [liesWithin]="getSelectedSegmentDoc()"
             [isRecordedIn]="viewFacade.getCurrentOperation()"
             [status]="getPlusButtonStatus()"></plus-button>
<loading-icon></loading-icon>
