$teaser-width: $resources-listing-item-slim-width;

sidebar-list {
  #sidebar-viewport {
    height: calc(100vh - #{$navbar-height + $toolbar-height});
    overflow-y: auto;
    overflow-x: hidden;
  }

  #sidebar {
    padding: 0;
    margin: 0;
    background-color: $sidebar-bg-color;

    &:focus {
      outline: none;
    }

    .has-warnings {
      border-right: 2px solid red !important;
    }

    .new-from-remote {
      background-color: #d7ffd9;
    }

    li {
      &.selected,
      &.additional-selected,
      &:hover .sidebar-list-button-group .btn,
      &.selected .sidebar-list-button-group .btn,
      &.additional-selected .sidebar-list-button-group .btn {
        background-color: $list-item-hover-color;
      }
    }

    #document-limit-info {
      padding: 10px;
      font-style: italic;
      user-select: none;
      margin-bottom: 41px;
      text-align: center;
      background-color: $sidebar-bg-color;

      &:hover {
        background-color: $list-item-hover-color;
      }
    }
  }

  #create-document-button .circular-button {
    left: calc(50% - 20px);
    margin: -45px auto auto auto;
    z-index: 100;
  }
}
