<resources-context-menu *ngIf="contextMenu.isOpen()"
                        [contextMenu]="contextMenu"
                        (onSelectAction)="performContextMenuAction($event)">
</resources-context-menu>

<popover-menu [document]="selectedDocument"></popover-menu>

<cdk-virtual-scroll-viewport itemSize="58" id="sidebar-viewport">
    <ul #sidebar id="sidebar" class="resources-listing"
        tabindex="0" (scroll)="contextMenu.close()" (keydown)="onKeyDown($event)">
        <li *cdkVirtualFor="let document of viewFacade.getDocuments(); trackBy: trackDocument"
             class="resources-listing-item resources-listing-item-wide"
             (contextmenu)="contextMenu.open($event, getSelection())"
             [class.new-from-remote]="viewFacade.isNewDocumentFromRemote(document)"
             [class.has-warnings]="document.warnings"
             [class.selected]="selectedDocument?.resource.id === document.resource.id"
             [class.additional-selected]="resourcesComponent.additionalSelectedDocuments?.includes(document)"
             [id]="'resource-' + document.resource.identifier">
            <document-teaser (click)="select(document, $event)"
                             (contextmenu)="select(document, $event, false)"
                             (dblclick)="editDocument(document)"
                             [document]="document"></document-teaser>
            <list-button-group [document]="document"
                            [activePopoverMenu]="resourcesComponent.activePopoverMenu"
                            [isDocumentSelected]="selectedDocument?.resource.id === document.resource.id"
                            (popoverMenuToggled)="resourcesComponent.togglePopoverMenu($event, document)">
            </list-button-group>
        </li>
        <li *ngIf="resourcesComponent.isDocumentLimitExceeded()">
            <div id="document-limit-info" (click)="resourcesComponent.removeLimit()"
                 ngbTooltip="Die Darstellung von sehr großen Suchergebnissen kann je nach Gerät und Anzahl der Treffer sehr lange dauern. Daher wurde die aktuelle Darstellung zunächst auf {{viewFacade.getDocuments().length}} Ressourcen begrenzt. Klicken Sie hier, um das gesamte Ergebnis zu laden."
                 i18n-ngbTooltip="@@resources.searchResultsInfo.documentLimitRemoveTooltip">
                <span class="mdi mdi-24px mdi-reload-alert"></span>
                <span i18n="@@resources.searchResultsInfo.documentLimitRemove"></span>
            </div>
        </li>
    </ul>
</cdk-virtual-scroll-viewport>

<plus-button *ngIf="isPlusButtonShown()" id="create-document-button" [placement]="'top'"
             [preselectedCategory]="getCurrentFilterCategory()"
             [liesWithin]="getSelectedSegmentDoc()"
             [isRecordedIn]="viewFacade.getCurrentOperation()"
             [status]="getPlusButtonStatus()"></plus-button>
<loading-icon></loading-icon>
