category-switcher-button {
  #no-category-switching-icon {
    position: absolute;
    cursor: default;
  }

  .bs-popover-bottom-left {
    left: -7px !important;

    .arrow {
      left: 41px !important;
    }
  }

  .mdi-menu-down {
    bottom: 0;
  }
  
}
