.image-picker {

  .modal-header {
    display: flex;
    padding: 15px 7px 15px 15px;

    search-bar {
      flex-grow: 1;

      input {
        height: 39px;
      }

      &.hidden-search-bar {
        input {
          display: none;
        }
      }
    }
  }
  .modal-body {
    height: calc(100vh - 135px);
    overflow: auto;

    input {
      width: 100% !important;
    }
  }
}
