<div class="image-picker">
    <div class="modal-header" id="image-picker-modal-header">
        <button id="add-image" *ngIf="selectedDocuments.length <= 1"
                (click)="applySelection()"
                class="btn btn-primary"
                [disabled]="selectedDocuments.length === 0"
                [class.disabled] ="selectedDocuments.length === 0">
            <span class="mdi mdi-link"></span>
            <span *ngIf="mode === 'depicts'"
                class="button-label"
                i18n="@@docedit.imagePicker.linkImage">Bild verknüpfen</span>
            <span *ngIf="mode === 'layers'"
                class="button-label"
                i18n="@@docedit.imagePicker.linkLayer">Bild als Kartenhintergrund verknüpfen</span>
        </button>

        <button id="add-images" *ngIf="selectedDocuments.length > 1"
                (click)="applySelection()"
                class="btn btn-primary">
            <span class="mdi mdi-link"></span>
            <span *ngIf="mode === 'depicts'"
                    class="button-label"
                    i18n="@@docedit.imagePicker.linkImages">{{selectedDocuments.length}} Bilder verknüpfen</span>
            <span *ngIf="mode === 'layers'"
                    class="button-label"
                    i18n="@@docedit.imagePicker.linkLayers">{{selectedDocuments.length}} Bilder als Kartenhintergrund verknüpfen</span>
        </button>

        <search-bar [class.hidden-search-bar]="selectedDocuments.length"
                    [showFiltersMenu]="false"
                    (onQueryStringChanged)="setQueryString($event)"
                    class="ms-2">
        </search-bar>

        <paging-buttons class="ms-2"
            [currentPage]="getCurrentPage()"
            [pageCount]="getPageCount()"
            [canTurnPage]="canTurnPage()"
            [canTurnPageBack]="canTurnPageBack()"
            (onTurnPage)="turnPage()"
            (onTurnPageBack)="turnPageBack()">
        </paging-buttons>

        <button id="image-picker-close-button" type="button" class="btn btn-primary btn-square ms-2"
                (click)="activeModal.dismiss('cancel')">
            <span class="mdi mdi-close"></span>
        </button>
    </div>

    <div class="modal-body" id="image-picker-modal" #modalBody>
        <div class="image-grid" (window:resize)="onResize()">
            <image-grid #imageGrid
                    [nrOfColumns]="3"
                    [documents]="documents"
                    [selected]="selectedDocuments"
                    [showLinkBadges]="false"
                    [showShortDescription]="false"
                    [paddingRight]="12"
                    (onClick)="select($event)">
            </image-grid>
        </div>
    </div>
</div>
