.add-process-subcategory-modal {
  .modal-dialog {
    width: 700px;
    max-width: 700px;

    .modal-body {
      .target-category-section {
        .target-category-info {
          font-size: 15px;
          user-select: none;
          margin-bottom: 16px;

          p {
            margin-bottom: 5px;
          }
        }

        .target-category-picker-container {
          width: 100%;
          height: calc(100vh - 343px);
          max-height: 682px;
          overflow-y: scroll;
        }
      }
    }
  }
}
