<div class="modal-header configuration-editor-modal-header">
    <h5 *ngIf="categoryFormToReplace" class="modal-title"
        i18n="@@configuration.swapForm">Formular wechseln</h5>
    <h5 *ngIf="!categoryFormToReplace && !parentCategory" class="modal-title"
        i18n="@@configuration.addSupercategory">Oberkategorie hinzufügen</h5>
    <h5 *ngIf="!categoryFormToReplace && parentCategory" class="modal-title"
        i18n="@@configuration.addSubcategory">Unterkategorie hinzufügen</h5>
</div>

<div class="modal-body row add-category-modal-body bg-light">
    <div class="col-md-6">
        <div class="mb-2">
            <input type="text"
                   id="category-name"
                   class="form-control"
                   [(ngModel)]="searchTerm"
                   (ngModelChange)="applyCategoryNameSearch()">
        </div>
        <category-listing [categoryForms]="categoryForms"
                          [configurationDocument]="configurationDocument"
                          [selectedForm]="selectedForm"
                          [emptyForm]="emptyForm"
                          [searchTerm]="searchTerm"
                          (onFormSelected)="selectForm($event)">
        </category-listing>
    </div>
    <div class="col-md-6">
        <category-preview [category]="selectedForm"></category-preview>
    </div>
</div>

<div class="modal-footer bg-light">
    <div id="confirm-category-form-selection-button"
         class="btn btn-success"
         [class.disabled]="!selectedForm"
         (click)="confirmSelection()">
        <span *ngIf="categoryFormToReplace" i18n="@@configuration.selectForm">Formular auswählen</span>
        <span *ngIf="!categoryFormToReplace" i18n="@@configuration.addCategory">Kategorie hinzufügen</span>
    </div>
    <div id="cancel-add-category-modal-button"
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
