<ul class="bg-light listing">
    <li *ngFor="let item of items"
        [id]="getItemId(item)"
        [class.category-header]="item.isCategoryHeader"
        [class.selected]="!item.isCategoryHeader && selectedForm === item.form"
        (click)="!item.isCategoryHeader && selectForm(item.form)">
        <div *ngIf="item.isCategoryHeader">
            <category-icon [category]="item.form" size="30"></category-icon>
            <span class="item-label">{{getCategoryLabel(item.form)}}</span>
            <span *ngIf="getSearchResultLabel(item.form)"
                  class="search-result-label"> ({{getSearchResultLabel(item.form)}})</span>
        </div>
        <div *ngIf="!item.isCategoryHeader">
            <span class="mdi mdi-script-text-outline"></span>
            <code>{{item.form.libraryId}}</code>
            <div *ngIf="item.form.createdBy" class="badge bg-primary">{{item.form.createdBy}}</div>
        </div>
    </li>
    <li *ngIf="isNewCategoryOptionShown()"
        id="new-category-button"
        class="new-entry-button btn btn-success"
        (click)="selectForm(emptyForm)">
        <span class="mdi mdi-plus-circle"></span>
        <div i18n="@@configuration.newCategory">Neue Kategorie <code>{{emptyForm.libraryId}}</code> erstellen</div>
    </li>
</ul>
