category-listing {
  display: block;
  width: 100%;
  height: calc(100vh - 287px);

  .listing {
    li {
      height: 45px;
      
      &.category-header {
        padding: 5px;
      }

      &:hover:not(.category-header):not(.new-entry-button) {
        background-color: darken($list-item-hover-color, 5%);
        transition: background-color .5s ease;
      }

      category-icon {
        position: relative;
        top: 2px;
        margin-left: 4px;
        margin-right: 10px;
      }

      .mdi-script-text-outline {
        position: relative;
        bottom: 1px;
        color: #414952;
      }

      .badge {
        position: relative;
        top: 1px;
        right: 7px;
        float: right;
        background-color: #37588e;
      }
    }

    .item-label,
    .search-result-label {
      bottom: 0;
    }

    code {
      bottom: 2px;
    }
  }
}
