<div *ngIf="category" class="preview">
    <div id="preview-header">
        <category-icon *ngIf="category.label" [category]="category" size="30"></category-icon>
        <span class="preview-item-title">
            <b>{{label}}</b>
            <code>{{category.libraryId}}</code>
        </span>
        <div *ngIf="category.createdBy" class="badge bg-primary">{{category.createdBy}}</div>
    </div>
    <div id="preview-body">
        <div *ngIf="description" id="category-description">{{description}}</div>
        <ul id="groups-list">
            <li *ngFor="let group of category.groups">
                <b>{{getLabel(group)}}</b>
                <code>{{group.name}}</code>
                <ul>
                    <li *ngFor="let field of group.fields">
                        <span class="field-title">
                            <span class="field-label">{{getLabel(field)}}</span>
                            <code>{{field.name}}</code>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
