image-viewer {
  #image-container {
    height: 100%;
    background-color: #000;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: scale-down;
      user-select: none;
      -webkit-user-drag: none;
    }

    .align-items-center {
      position: relative;
      height: 100%;
    }

    .alert {
      position: absolute;
      top: 10px;
    }

    loading-icon {
      position: absolute;
    }
  }
}