<div class="document-view-field" id="document-view-field-georeference">
    <div class="fieldname">Georeferenzdaten</div>
    <div *ngIf="document.resource.georeference">
        Vorhanden
    </div>
    <div *ngIf="!document.resource.georeference">
        <span>Nicht vorhanden</span>
    </div>
    <div class="worldfile-upload btn btn-primary">
        <span>Worldfile laden</span>
        <input type="file"
               name="files[]"
               id="file"
               (change)="onSelectFile($event)">
    </div>
</div>