<div class="row">

    <div *ngIf="image.document" class="col-md-3" [routerLink]="['/images/', image.document.resource.id, 'show']">
        <img *ngIf="image.imgSrc" [src]="image.imgSrc" style="width: 100%; height: 100%;">
    </div>

    <div class="col-md-9">
        <document-edit-wrapper #f
                [(document)]="image.document"
                (onSaveSuccess)="navigate($event);"
                (onBbackButtonClicked)="goBack();">
        </document-edit-wrapper>
    </div>
</div>

<template #modalTemplate>
    <edit-save-dialog
            (onSave)="f.save(); modal.close();"
            (onDiscard)="discard(); modal.close();"
            (onCancel)="canDeactivateGuard.cancel(); modal.close();">
    </edit-save-dialog>
</template>