
.image-grid {
  position: relative;

  .cell-container {
    display: inline-block;
    vertical-align: top;
  }

  .droparea-container {
    padding: 5px;
    display: flex;

    .droparea {
      border: 2px dashed gray;
      background-color: lightgray;
      border-radius: 6px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      label {
        display: block;
        text-align: center;
        cursor: pointer;
        margin-bottom: initial;
      }

      input {
        display: none;
      }
    }
  }

  .cell {
    position: relative;
    cursor: pointer;

    .identifier {
      @extend .tag, .tag-default;
      position: absolute;
      top: 7px;
      left: 7px;
      overflow: hidden;
    }

    img {
      border: 3px solid white;
    }

    .title {
      position: absolute;
      background-color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      padding: 2px 5px;
    }

    &:hover {
      box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.3);
      z-index: 100;

      .title {
        position: static;
        white-space: normal;
      }
    }
  }
}

