<ng-template #deleteModal let-c="close">
    <div class="modal-body">
        <p *ngIf="selected.length > 1">Möchten Sie die {{selected.length}} markierten Bilder wirklich löschen?</p>
        <p *ngIf="selected.length == 1">Möchten Sie das markierte Bild wirklich löschen?</p>
    </div>
    <div class="modal-footer">
        <button type="button" id="delete-images-confirm" class="btn btn-danger" (click)="c('delete')">Löschen</button>
        <button type="button" id="delete-images-cancel" class="btn btn-default" (click)="c('cancel')">Abbrechen</button>
    </div>
</ng-template>

<div (dragover)="false"
     (dragleave)="false"
     (drop)="false">

    <div class="navbar navbar-light bg-faded">
        <search-bar *ngIf="!selected.length"
                    [type]="'image'"
                    [showFiltersMenu]="false"
                    [defaultFilterSet]="types"
                    (onQueryChanged)="queryChanged($event)">
        </search-bar>

        <span *ngIf="selected.length">
            <div class="btn-group" role="group">
                <button type="button" id="delete-images" class="btn btn-danger" (click)="openDeleteModal(deleteModal)">
                    <span class="mdi mdi-delete"></span>
                </button>
                <button type="button" id="create-relations-btn" class="btn btn-primary" (click)="openLinkModal(linkModal)"
                        data-toggle="tooltip" title="Mit dieser Funktion kannst du ein oder mehrere ausgewählte Bilder mit einer anderen Ressource verknüpfen. Eine Verknüpfung ist zu allen Ressourcen möglich, bei denen es sich nicht selbst wiederum um Bilder handelt.">
                    <span class="mdi mdi-link"></span>
                </button>
            </div>
            <button id="deselect-images" type="button" class="btn btn-default" (click)="clearSelection()">
                Auswahl aufheben
            </button>
        </span>
    </div>

    <div class="image-grid" (window:resize)="onResize($event)">

        <div *ngFor="let row of rows; let index = index">

            <div *ngFor="let cell of row; let ind = ind"
                 class="cell-container"
                 [style.width.px]="cell['calculatedWidth'] + 1"
                 [style.height.px]="cell['calculatedHeight'] + 30">

                <div *ngIf="cell['document'].id == 'droparea'"
                     class="droparea-container"
                     [style.width.px]="cell['calculatedWidth']"
                     [style.height.px]="cell['calculatedHeight']">
                    <drop-area
                            (onImageUploaded)="refreshGrid()"
                            (onUploadError)="showUploadErrorMsg($event)">
                    </drop-area>
                </div>

                <div *ngIf="cell['document'].id != 'droparea'"
                     (click)="select(cell['document'])"
                     (dblclick)="navigateTo(cell['document'])"
                     [id]="'resource-' + cell['document'].resource.identifier"
                     class="cell"
                     [class.selected]="selected.includes(cell['document'])">

                    <div class="identifier"
                         *ngIf="cell['calculatedWidth'] > 30 && cell['calculatedHeight'] > 30"
                         [style.maxWidth.px]="cell['calculatedWidth']-15">
                        <span class="tag tag-default">{{cell['document'].resource.identifier}}</span>
                        <span *ngFor="let resourceId of cell['document'].resource.relations['depicts']" id="related-resource-{{resourceId}}" class="tag tag-info">
                             <span class="mdi mdi-link"></span> {{resourceId}}
                        </span>
                    </div>

                    <img *ngIf="cell.imgSrc" [src]="cell.imgSrc"
                         [style.width.px]="cell['calculatedWidth']"
                         [style.height.px]="cell['calculatedHeight']">

                    <div class="title" [style.width.px]="cell['calculatedWidth']">
                        {{cell['document'].resource.shortDescription}}
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
