<div class="row">
    <div *ngIf="image.document" class="col-md-9 px-0">
        <img *ngIf="image.imgSrc" [src]="image.imgSrc" style="width: 100%; height: 100%;">
        <div *ngIf="!image.imgSrc">
            <div class="alert alert-info" role="alert">
                Die Original-Version des Bilds befindet sich nicht im Bilderverzeichnis.
            </div>
            <div class="d-flex align-items-center justify-content-center"
                 style="height: 600px;">
                <img *ngIf="image.thumbSrc" [src]="image.thumbSrc">
            </div>
        </div>
    </div>

    <div *ngIf="image.document" class="col-md-3 px-0 document-info">
        <document-view [document]="image.document" (onDeselect)="deselect()" (onEdit)="startEdit($event)">
            <ngb-tabset activeId="document-view-{{activeTab}}-tab">
                <ngb-tab title="Felder" id="document-view-fields-tab">
                    <ng-template ngbTabContent>
                        <description-view [document]="image.document"></description-view>
                        <georeference-view [document]="image.document"></georeference-view>
                        <fields-view [resource]="image.document.resource"></fields-view>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Relationen" id="document-view-relations-tab">
                    <ng-template ngbTabContent>
                        <relations-view [resource]="image.document.resource"
                                        (onRelationTargetClicked)="jumpToRelationTarget($event)">
                        </relations-view>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </document-view>
    </div>
</div>


