<div class="modal-body" id="link-modal">
    <p>Bitte wählen Sie den gewünschten Typ aus.</p>
    <ul class="list-group">
        <li [ngClass]="{'abstract-idai-type': imageType.isAbstract}" class="list-group-item popover-item"
            id="choose-image-maintype" (click)="!imageType.isAbstract && activeModal.close(imageType)">
            <type-icon [type]="imageType.name" size="30"></type-icon>
            {{imageType.label}}
            <ul *ngIf="imageType['children']" style="padding:0;">
                <li *ngFor="let childType of imageType['children']; let index = index"
                    id="choose-image-subtype-option-{{index}}"
                    class="list-group-item popover-item"
                    (click)="activeModal.close(childType)">
                    <type-icon [type]="childType.name" size="30"></type-icon>
                    {{childType['label']}}
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss('dismissedByCancel')">Abbrechen</button>
</div>