
.image-grid {
  position: relative;

  .cell-container {
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;
  }

  .droparea-container {
    padding: 5px;
    display: flex;
  }

  .cell {
    position: relative;
    cursor: pointer;

    &.selected {
      box-shadow: 0px 0px 10px 2px $brand-primary !important;
    }

    .identifier {
      //@extend .tag, .tag-default;
      position: absolute;
      top: 7px;
      left: 7px;
      overflow: hidden;
    }

    img {
      border: 3px solid white;
    }

    .title {
      background-color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      padding: 2px 5px;
    }

    &:hover {
      box-shadow: 1px 10px 30px 0px rgba(0,0,0,0.3);
      z-index: 100;

      .title {
        white-space: normal;
      }
    }
  }
}

