<div class="row">

    <div *ngIf="image.document" class="col-md-9">
        <img *ngIf="image.imgSrc" [src]="image.imgSrc" style="width: 100%; height: 100%;">
    </div>

    <div *ngIf="image.document" class="col-md-3">
        <document-view [(document)]="image.document" [basePath]="'images'">
            <georeference-view [(document)]="image.document"></georeference-view>
            <fields-view [(doc)]="image.document"></fields-view>
            <relations-view [(doc)]="image.document"></relations-view>
        </document-view>
    </div>
</div>


