
<div>

    <search-bar id="search-bar" [showFiltersMenu]="false" [defaultFilters]="defaultFilters" (onQueryChanged)="queryChanged($event)"></search-bar>

    <div class="image-grid" (window:resize)="onResize($event)">

        <div *ngFor="let row of rows; let index = index">

            <div *ngFor="let cell of row; let ind = ind"
                 class="cell-container"
                 [style.width.px]="cell['calculatedWidth']"
                 [style.height.px]="cell['calculatedHeight'] + 30">

                <div *ngIf="cell['document'].id == 'droparea'"
                     class="droparea-container"
                     [style.width.px]="cell['calculatedWidth']"
                     [style.height.px]="cell['calculatedHeight']">

                    <div class="droparea"
                         (dragover)="onDragOver($event)"
                         (dragleave)="onDragLeave($event)"
                         (drop)="onDrop($event)">
                        <input class="file"
                               type="file"
                               name="files[]"
                               id="file"
                               multiple
                               (change)="onSelectImages($event)">
                        <label for="file">
                            <span class="mdi mdi-48px mdi-plus-circle"></span><br>
                            <strong>Bilder auswählen</strong> oder hier fallen lassen
                        </label>
                    </div>

                </div>

                <div *ngIf="cell['document'].id != 'droparea'"
                     (click)="select(cell['document'])"
                     [id]="'resource-' + cell['document'].resource.identifier"
                     class="cell" >

                    <div class="identifier"
                         *ngIf="cell['calculatedWidth'] > 30 && cell['calculatedHeight'] > 30"
                         [style.maxWidth.px]="cell['calculatedWidth']-15">
                        {{cell['document'].resource.identifier}}
                    </div>

                    <img *ngIf="cell.imgSrc" [src]="cell.imgSrc"
                         [style.width.px]="cell['calculatedWidth']"
                         [style.height.px]="cell['calculatedHeight']">

                    <div class="title" [style.width.px]="cell['calculatedWidth']">
                        {{cell['document'].resource.shortDescription}}
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>