<ng-template #deleteModal let-c="close">
    <div class="modal-body">
        <p *ngIf="selected.length > 1">Möchten Sie die {{selected.length}} markierten Bilder wirklich löschen?</p>
        <p *ngIf="selected.length == 1">Möchten Sie das markierte Bild wirklich löschen?</p>
    </div>
    <div class="modal-footer">
        <button type="button" id="delete-images-confirm" class="btn btn-danger" (click)="c('delete')">Löschen</button>
        <button type="button" id="delete-images-cancel" class="btn btn-secondary" (click)="c('cancel')">Abbrechen</button>
    </div>
</ng-template>

<div (dragover)="false"
     (dragleave)="false"
     (drop)="false">

    <div class="row bg-light">
        <div class="col-sm-12 py-2">
            <search-bar [q]="imagesState.getQuery().q" [showFiltersMenu]="false" [hidden]="selected.length"
                        (onQueryStringChanged)="setQueryString($event)">
            </search-bar>

            <div class="btn-toolbar" *ngIf="selected.length">
                <image-overview-toolbar></image-overview-toolbar>
            </div>
        </div>
    </div>

    <div class="image-grid" (window:resize)="onResize($event)">
        <image-grid #imageGrid
                [nrOfColumns]="4"
                [documents]="documents"
                [resourceIdentifiers]="resourceIdentifiers"
                [selected]="selected"
                [showDropArea]="true"
                (onClick)="select($event)"
                (onDoubleClick)="navigateTo($event)"
                (onImagesUploaded)="refreshGrid()"
        >
        </image-grid>
    </div>

</div>
