<div id="document-view" *ngIf="doc">
    <!-- TODO Remove check for image type and implement editor for images -->
    <button class="btn btn-link btn-sm pull-xs-right" style="margin-top: -2px;" id="document-view-button-edit-document"
            [routerLink]="['/images/', doc.resource.id, 'edit']">
        <span class="mdi mdi-pencil mdi-18px"></span>
    </button>

    <!--
        In one project we have this assumption that there is always a shortDescription,
        while in another there is only the identifier.
    -->
    <div *ngIf="doc.resource.shortDescription">
        <h1 class="document-view-title">{{doc.resource.shortDescription}}</h1>
        <h2 class="document-view-identifier">{{doc.resource.identifier}}</h2>
    </div>
    <div *ngIf="!doc.resource.shortDescription">
        <h1 class="document-view-no-title">{{doc.resource.identifier}}</h1>
    </div>

    <basic-resource-view [(doc)]="doc" (relationClicked)="selectDoc($event)"></basic-resource-view>
</div>
