 <div class="modal-header">
    <h5 class="modal-title" i18n="@@docedit.deleteModal.header">Ressource löschen?</h5>
</div>

<div class="modal-body">
    <div *ngIf="isRecordedInResourcesCount === 1" class="text-center alert alert-warning"
         i18n="@@docedit.deleteModal.warning.single">
        Zu dieser Ressource gehört eine weitere Ressource, die beim Löschen ebenfalls entfernt wird.
    </div>
    <div *ngIf="isRecordedInResourcesCount > 1" class="text-center alert alert-warning"
         i18n="@@docedit.deleteModal.warning.multiple">
        Zu dieser Ressource gehören insgesamt {{isRecordedInResourcesCount}} Ressourcen, die beim Löschen
        ebenfalls entfernt werden.
    </div>
    <div id="confirm-delete-info" i18n="@@docedit.deleteModal.confirmDeleteInfo">
        Bitte geben Sie den Bezeichner der Ressource ein, um den Löschvorgang zu bestätigen.
    </div>
    <div class="input-group">
        <input id="delete-resource-input"
               type="text"
               class="form-control"
               [(ngModel)]="confirmDeletionIdentifier"
               (keydown)="$event.key !== 'Enter' || confirmDeletion()" />
    </div>
</div>

<div class="modal-footer" *ngIf="document">
    <button id="delete-resource-confirm" class="btn btn-danger" type="button"
            [ngClass]="{ 'disabled': confirmDeletionIdentifier !== document.resource.identifier }"
            (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </button>
    <button type="button" id="delete-resource-cancel" class="btn btn-secondary"
            (click)="activeModal.close('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
