@import 'image/image-view-modal';
@import 'image/image-view-edit';
@import 'image/view-modal-drop-area';
@import 'resource/resource-view-modal';

ngb-modal-window {
  overflow-y: hidden !important;
}

/**
 * @author Thomas Kleinke
 * @author Sebastian Cuy
 */
#view-modal-header {
  height: 54px;
  padding: 7px;
  user-select: none;
  background-color: $modal-header-background-color;
  border-bottom: 1px solid #ccc;

  .heading {
    width: calc(100% - 50px);
    height: 40px;
    font-size: 1.5em;
    line-height: 40px;
    margin-left: 7px;
    color: $modal-header-font-color;
  }
}

#view-modal-body {
  height: calc(100vh - 119px);
  padding: 0;

  #view-modal-content {
    position: relative;
    z-index: 1001;
    width: 100%;
    height: calc(100% - 169px);
    margin: 0;

    image-row {
      height: 169px;

      img {
        max-height: 169px;
      }

      .image-placeholder {
        height: 169px;
      }
    }

    #no-images-placeholder {
      height: calc(100% + 169px); 
  
      .alert {
        user-select: none;
      }
    }
  }
}
