<div class="settings row" (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-right">
                <button id="save-settings-button" class="btn btn-primary"
                        [ngClass]="{ 'disabled': saving }"
                        (click)="saving || save()">
                    <span class="mdi mdi-settings"></span>
                    <span class="button-label" i18n="@@settings.applySettings">Einstellungen übernehmen</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div #settingsContainer class="form-group col default-container">
                <div class="col-lg-6 mx-lg-auto py-4">
                    <h5 i18n="@@settings.general">Allgemeine Einstellungen</h5>

                    <div class="form-group" style="margin-bottom: 0;">
                        <label class="control-label col-form-label"
                               i18n="@@settings.languages">
                            Sprachen
                        </label>
                        <language-settings [selectedLanguages]="settings.languages"></language-settings>
                        <div class="small-info-text" i18n="@@settings.languages.info">
                            Sprachen können nach Priorität sortiert werden. Für fett gedruckte Sprachen ist eine
                            übersetzte Benutzeroberfläche verfügbar. Darüber hinaus können für weitere Sprachen
                            Übersetzungen von Kategorie- und Feldbezeichnungen sowie Wertelisten in der
                            Projektkonfiguration hinterlegt sein.
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 0; margin-top: 15px;">

                        <label class="control-label col-form-label"
                               for="username-input"
                               i18n="@@settings.userName">
                            Name des Bearbeiters/der Bearbeiterin
                        </label>
                        <input id="username-input"
                               [ngModel]="settings.username"
                               (ngModelChange)="settings.username = $event"
                               class="form-control">
                    </div>

                    <div class="small-info-text" i18n="@@settings.userName.info">
                        Dieser Name wird in der Bearbeitungshistorie gespeichert,
                        damit Änderungen an Datensätzen einer Person zugeordnet werden können.
                    </div>

                    <hr>


                    <h5 style="margin-top: 32px;" i18n="@@settings.synchronization">Synchronisation</h5>

                    <div class="form-group">

                        <label class="control-label col-form-label" i18n="@@settings.synchronization.ownAddress">Eigene Adresse</label>
                        <pre><code>http://{{ipAddress}}:3000</code></pre>

                        <label for="sync-target-host-password-input"
                               class="control-label col-form-label"
                               i18n="@@settings.synchronization.hostPassword">Eigenes Passwort</label>
                        <input id="sync-target-host-password-input" [ngModel]="settings.hostPassword"
                               (ngModelChange)="settings.hostPassword = $event"
                               class="form-control">
                        <div class="small-info-text" i18n="@@settings.synchronization.info">
                            Diese Adresse und dieses Passwort müssen in anderen Field-Desktop-Installationen
                            eingetragen werden, damit dieser Computer als Synchronisationsziel
                            eingerichtet werden kann.
                        </div>

                        <div class="row" style="margin: 15px 0 0;">
                            <div class="col-auto mr-auto">
                                <span i18n="@@settings.synchronization.allowUploads">Originalbilder empfangen</span>
                            </div>
                            <div class="col-auto">
                                <label class="switch" style="margin-bottom: 0;">
                                    <input type="checkbox" [checked]="settings.allowLargeFileUploads"
                                          (change)="toggleAllowUploads()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="small-info-text" i18n="@@settings.synchronization.allowUploads.info">
                            Der Empfang von Originalbildern ist standardmäßig deaktiviert, 
                            da diese aufgrund ihrer Größe viel Festplattenspeicher belegen können und für die Nutzung
                            der Anwendung nicht zwingend nötig sind.
                        </div>
                    </div>
                    
                    <div *ngIf="!isLinux">
                        <hr>

                        <h5 style="margin-top: 32px;" i18n="@@settings.update">Update</h5>

                        <div class="row" style="margin: 15px 0 0;">
                            <div class="col-auto mr-auto">
                                <span i18n="@@settings.update.activate">Automatische Prüfung auf Updates aktivieren</span>
                            </div>
                            <div class="col-auto">
                                <label class="switch" style="margin-bottom: 0;">
                                    <input type="checkbox" [checked]="settings.isAutoUpdateActive"
                                        (change)="toggleAutoUpdate()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <button id="advanced-settings-button"
                            type="button" class="btn btn-link btn-block" (click)="toggleAdvancedSettings()"
                            [attr.aria-expanded]="!advancedSettingsCollapsed" aria-controls="advanced-settings">
                        <span *ngIf="advancedSettingsCollapsed"
                              i18n="@@settings.showAdvanced">Erweiterte Optionen</span>
                        <span *ngIf="!advancedSettingsCollapsed"
                              i18n="@@settings.hideAdvanced">Erweiterte Optionen ausblenden</span>
                    </button>
                    <div id="advanced-settings" [ngbCollapse]="advancedSettingsCollapsed">
                        <h5 style="margin-top: 32px;" i18n="@@settings.images">Bilder</h5>

                        <div id="advanced-settings" class="form-group">
                            <label class="control-label col-form-label"
                                for="imagestorepath-input"
                                i18n="@@settings.images.path">
                                Pfad
                            </label>
                            <div class="input-group"> 
                                <input id="imagestorepath-input"
                                    [ngModel]="settings.imagestorePath"
                                    (ngModelChange)="settings.imagestorePath = $event"
                                    class="form-control">
                                <div class="input-group-append">
                                    <label for="imagestorepath-input" class="btn btn-secondary file-input-label"
                                            (click)="chooseImagestoreDirectory()">
                                        <span class="mdi mdi-folder"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="small-info-text" i18n="@@settings.images.path.info">
                                Dieser Pfad kann normalerweise auf seiner Grundeinstellung belassen werden. Es kann nötig
                                sein, ihn zu verändern, wenn das von Field genutzte Bilderverzeichnis auf einem
                                Netzwerk-Gerät (NAS) liegt, das von verschiedenen Nutzern bzw. Nutzerinnen geteilt wird.
                                Die Anwendung legt unterhalb dieses Pfades für jedes Projekt ein Unterverzeichnis an.
                                Die in diesen Verzeichnissen abgelegten Bilddateien werden vollständig durch Field
                                verwaltet. Bilddateien sollten nicht per Hand dort abgelegt werden, sondern in der
                                Bilderübersicht oder dem Bilder-Tab der Ressourcenansicht importiert werden.
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
