/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

@import 'language-settings';
@import 'update-username-modal';

.settings {
  #save-settings-button:active,
  #save-settings-button:focus {
    outline: none;
  }

  h5,
  label,
  span {
    user-select: none;
  }

  label.btn {
    margin-bottom: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  #advanced-settings-button {
    text-decoration: none !important;
  }

  #advanced-settings {
    margin-bottom: 0;
  }
}
