<div class="modal-header">
    <h5 i18n="@@settings.userName">Name des Bearbeiters/der Bearbeiterin</h5>
</div>

<div class="modal-body">
    <div i18n="@@settings.userName.request">
        Tragen Sie Ihren Namen ein
    </div>

    <div class="form-group" style="margin-bottom: 0; margin-top: 15px">
        <input
            id="username-input"
            [ngModel]="currentEditor"
            (ngModelChange)="currentEditor = $event"
            class="form-control"
        />
    </div>
</div>

<div class="modal-footer">
    <button id="confirm-button" class="btn btn-success" (click)="confirm()">
        <span class="mdi mdi-content-save"></span>
        <span class="button-label" i18n="@@buttons.save">Speichern</span>
    </button>
    <div class="btn btn-secondary" (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
