/**
 * @author Thomas Kleinke
 */
.resource-view-modal {
  image-row {
    width: calc(100% - 258px);
  }

  #resource-info-popover {
    height: calc(100% + 169px) !important;
  }

  #image-info-popover {
    float: right !important;
  }
}
