/**
 * @author Thomas Kleinke
 */

mesh-geometries {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .map-3d-geometry-info {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    user-select: none;

    .map-3d-geometry-info-icon {
      border-radius: 50%;
      width: 27px;
      height: 27px;
      border: 1px solid #000;
    }

    .map-3d-geometry-info-label {
      position: absolute;
      left: 31px;
      top: 2px;
      font-size: 16px;
      color: #fff;
      background: transparent;
      z-index: 0;
    }

    .map-3d-geometry-info-label:before {
      position: absolute;
      content: attr(data-outline-text);
      -webkit-text-stroke: 0.2em #000;
      left: 0;
      z-index: -1;
    }
  }

  #toggle-line-geometries-button,
  #toggle-polygon-geometries-button {
    position: absolute;
    bottom: 15px;
    z-index: 1000;
    color: #aaa;

    &.activated .mdi {
      color: #5572a1;
    }
  }

  #toggle-line-geometries-button {
    left: 65px;
  }

  #toggle-polygon-geometries-button {
    left: 115px;
  }
}