/**
 * @author Thomas Kleinke
 */

point-geometries {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .map-3d-marker {
    position: absolute;
    height: 50px;
    border-left: 1px solid #fff;
    z-index: 1;
    pointer-events: none;

    .map-3d-marker-head {
      position: relative;
      top: -27px;
      left: -14px;
      cursor: -webkit-grabbing;
      user-select: none;
      pointer-events: auto;

      .map-3d-marker-icon {
        border-radius: 50%;
        width: 27px;
        height: 27px;
        border: 1px solid #000;
      }

      .map-3d-marker-label {
        position: absolute;
        left: 31px;
        top: 2px;
        font-size: 16px;
        color: #fff;
        background: transparent;
        z-index: 0;
      }

      .map-3d-marker-label:before {
        position: absolute;
        content: attr(data-outline-text);
        -webkit-text-stroke: 0.2em #000;
        left: 0;
        z-index: -1;
      }
    }

    .map-3d-marker-head:hover {
      cursor: pointer;

      .map-3d-marker-label {
        color: #5572a1;
      }
    }
  }

  #toggle-point-geometries-button {
    position: absolute;
    z-index: 1000;
    left: 15px;
    bottom: 15px;
    color: #aaa;

    &.activated .mdi {
      color: #5572a1;
    }
  }
}