<div *ngIf="field && category"
     [id]="'field-' + field.name"
     class="card"
     [class.custom]="isCustomField()"
     [class.hidden-element]="hidden"
     (click)="!parentField && onOpen.emit()"
     (dblclick)="!parentField && onEdit.emit()"
     (contextmenu)="!parentField && contextMenu.open($event, category, undefined, field)">
    <div class="card-header"
         [class.parent-element]="parentField"
         [class.opened]="opened || isContextMenuOpen()">
        <ng-content></ng-content>
        <span *ngIf="isCustomField()"
            class="mdi mdi-alert-circle-outline"
            ngbTooltip="Projektspezifisches Feld"
            i18n-ngbTooltip="@@config.source.custom"
            placement="right">
        </span>
        <b *ngIf="label"> {{label}}</b>
        <code> {{field.name}}</code>
        <category-icon *ngIf="parentField"
                       [size]="19"
                       [category]="category.parentCategory"></category-icon>
    </div>

    <div *ngIf="opened" class="card-body">
        <p *ngIf="description" class="card-text">{{description}}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b i18n="@@configuration.field.inputType">Eingabetyp</b>:
                <span>{{getInputTypeLabel()}}</span>
            </li>
            <li *ngIf="field.valuelist" class="list-group-item">
                <valuelist-view [valuelist]="field.valuelist"></valuelist-view>
            </li>
        </ul>
    </div>
</div>
