<configuration-context-menu *ngIf="contextMenu.isOpen()"
    [contextMenu]="contextMenu"
    (onSelectAction)="performContextMenuAction($event)"></configuration-context-menu>

<div *ngIf="configurationDocument" class="project-configuration row bg-light" [class.dragging]="dragging">
    <div class="col">
        <div id="project-configuration-content" class="row">
            <div class="col-2 sidebar">
                <div id="category-picker-container">
                    <category-picker *ngIf="topLevelCategoriesArray"
                                    [topLevelCategoriesArray]="topLevelCategoriesArray"
                                    [selectedCategories]="[selectedCategory.name]"
                                    [allowPickingAbstractCategories]="true"
                                    [highlightCustomCategories]="true"
                                    [showCreateButtons]="true"
                                    [allowChangingOrder]="true"
                                    [contextMenu]="contextMenu"
                                    [dragging]="dragging"
                                    (onCategoryPicked)="selectCategory($event)"
                                    (onEditCategory)="editCategory($event)"
                                    (onCreateSubcategory)="addSubcategory($event)"
                                    (onOrderChanged)="setNewCategoriesOrder($event)"></category-picker>
                    <div id="add-supercategory-button" class="circular-button green-button"
                        (click)="addSupercategory()"
                        ngbTooltip="Oberkategorie hinzufügen"
                        i18n-ngbTooltip="@@configuration.addSupercategory">
                        <span class="mdi mdi-plus"></span>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <configuration-category [category]="selectedCategory"
                                        [configurationDocument]="configurationDocument"
                                        [showHiddenFields]="isShowHiddenFields()"
                                        [availableInputTypes]="availableInputTypes"
                                        [contextMenu]="contextMenu"
                                        [saveAndReload]="saveAndReload"
                                        (onEditCategory)="editCategory(selectedCategory)"
                                        (onEditGroup)="editGroup(selectedCategory, $event)"
                                        (onEditField)="editField(selectedCategory, $event)"
                                        (onDragging)="dragging = $event"></configuration-category>
            </div>
        </div>
    </div>
</div>
