configuration-field {
  .valuelist-description {
    margin: 0 0.2rem 0.7rem;
    font-size: 0.8rem;
  }

  .valuelist .value-badge {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    border: 1px solid white;

    &:hover {
      position: relative;
      max-width: none;
      z-index: 50;
      border: 1px solid grey;
      white-space: normal;
      text-align: left;
    }
  }

  .list-group {
    color: initial;
  }

  .card-header {
    height: 55px;

    .hide-buttons {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .category-icon {
      position: relative;
      top: 2px;
      left: -6px;
      margin-right: 2px;
    }

    b,
    code,
    .mdi-alert-circle-outline {
      position: relative;
      top: 4px;
    }

    code.text-white {
      color: #ffafd4;
    }

    &.parent-field {
      b,
      code,
      .mdi-alert-circle-outline {
        position: relative;
        top: -2px;
      }
    }
  }
}
