@import './configuration-category';
@import './configuration-field';
@import './configuration-field-drag-element';
@import './valuelist-view';
@import './editor/configuration-editor-modal';
@import './editor/field-editor-modal';
@import './editor/category-editor-modal';
@import './editor/valuelist-editor-modal';
@import './editor/value-editor-modal';
@import './editor/multi-language-input';
@import './delete/delete-category-modal';
@import './add/listing';
@import './add/preview';
@import './add/category/add-category-modal';
@import './add/category/category-listing';
@import './add/category/category-preview';
@import './add/field/add-field-modal';
@import './add/field/field-listing';
@import './add/field/field-preview';
@import './add/valuelist/add-valuelist-modal';
@import './add/valuelist/valuelist-listing';


.project-configuration {
  &.dragging {
    cursor: grabbing !important;

    .mdi-drag {
      cursor: grabbing !important;
    }
  }

  .sidebar {
    height: calc(100vh - 51px);
    padding: 0;
    margin: 0;
    background-color: $sidebar-bg-color;

    #category-picker-container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      category-picker {
        .category-item {
          transition: background-color .25s ease;
        }
    
        .category-item:hover,
        .selected-category .category-item {
          background-color: darken($list-item-hover-color, 5%) !important;
          transition: background-color .5s ease;
        }
    
        .list-group-item {
          border-top: 1px solid #f8f9fa !important;
        }
      }
    }

    #add-supercategory-button {
      position: absolute;
      bottom: 6px;
      transform: translate(-20px, 0);
      left: 50%;
      z-index: 1001;
    }
  }  
}
