@import './configuration-category';
@import './configuration-field';
@import './configuration-field-drag-element';
@import './editor/configuration-editor-modal';
@import './editor/field-editor-modal';
@import './editor/category-editor-modal';
@import './editor/multi-language-input';
@import './add/add-category-modal';
@import './delete/delete-category-modal';
@import './add/category-preview';
@import './add/category-listing';

.project-configuration {
  &.dragging {
    cursor: grabbing !important;

    .mdi-drag {
      cursor: grabbing !important;
    }
  }

  .sidebar {
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: $sidebar-bg-color;
  }

  category-picker {
    .category-item {
      transition: background-color .25s ease;
    }

    .category-item:hover,
    .selected-category .category-item {
      background-color: darken($list-item-hover-color, 5%) !important;
      transition: background-color .5s ease;
    }

    .list-group-item {
      border-top: 1px solid #f8f9fa !important;
    }
  }
}
