<div class="row" [class.custom-category]="!category.libraryId">
    <div class="col header header-left d-flex">
        <category-icon size="41" [category]="category"></category-icon>
        <h5>
            <span *ngIf="!category.libraryId"
                class="mdi mdi-alert-circle-outline"
                ngbTooltip="Projektspezifisches Formular"
                i18n-ngbTooltip="@@config.form.custom"
                placement="right">
            </span>
            {{label}}
        </h5>
    </div>
    <div class="col header header-right text-right">
        <span *ngIf="category.name">
            <strong i18n="@@configuration.defaultFields.category">Kategorie</strong>:
            <code>{{category.name}}</code>
        </span>
        &nbsp;
        <span *ngIf="category.libraryId">
            <strong i18n="@@config.libraryId">Formular</strong>:
            <code>{{category.libraryId}}</code>
        </span>
        <button class="btn btn-primary edit-category-button"
                (click)="edit()"
                placement="left" container="body"
                ngbTooltip="Kategorie bearbeiten"
                i18n-ngbTooltip="@@configuration.editCategory">
            <span class="mdi mdi-pencil"></span>
        </button>
    </div>
</div>
<div *ngIf="description" class="row subheader">
    <div class="col">{{description}}</div>
</div>

<div class="row">
    <div class="col-2 groups">
        <ul class="nav nav-pills flex-column">
            <li *ngFor="let group of getGroups()" class="nav flex-column">
                <a class="nav-link group-button"
                        [class.active]="selectedGroup === group.name"
                        (click)="selectedGroup = group.name">
                    {{getGroupLabel(group)}}
                    <span *ngIf="hasCustomFields(group)"> *</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-10 content" [class.shortened]="description">
        <div class="fields-container"
            cdkDropList (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let field of getFields()" class="field-element"
                 cdkDrag cdkDragBoundary="#project-configuration-content"
                 [cdkDragData]="field.name">
                <configuration-field [field]="field"
                                     [category]="category"
                                     [customConfigurationDocument]="customConfigurationDocument"
                                     [hidden]="isHidden(field)"
                                     [availableInputTypes]="availableInputTypes"
                                     (onEdited)="onEdited.emit($event)">
                </configuration-field>
                <div *cdkDragPreview>
                    <configuration-field-drag-element [field]="field"
                                                      [category]="category"
                                                      [hidden]="isHidden(field)">
                    </configuration-field-drag-element>
                </div>
                <div *cdkDragPlaceholder class="field-drag-element-placeholder"></div>
            </div>
            <div *ngFor="let relation of getRelations()">
                <configuration-relation [relation]="relation"
                                        [category]="category">
                </configuration-relation>
            </div>
        </div>
        <div id="add-field-button" class="circular-button green-button"
            (click)="addField()"
            ngbTooltip="Feld hinzufügen"
            i18n-ngbTooltip="@@configuration.addField">
            <span class="mdi mdi-plus"></span>
        </div>
    </div>
</div>