@import './browse/configuration-category';
@import './browse/configuration-field';
@import './browse/configuration-field-drag-element';
@import './browse/hierarchical-relations-info';
@import './editor/configuration-editor-modal';
@import './editor/field/field-editor-modal';
@import './editor/field/subfield-editor-modal';
@import './editor/field/widgets/input-type-selector';
@import './editor/field/widgets/valuelist-selector';
@import './editor/field/widgets/subfields-section';
@import './editor/category/category-editor-modal';
@import './editor/valuelist/valuelist-editor-modal';
@import './editor/valuelist/value-editor-modal';
@import './editor/widgets/multi-language-input';
@import './editor/widgets/references-input';
@import './delete/delete-modal';
@import './add/listing';
@import './add/preview';
@import './add/category/add-category-modal';
@import './add/category/swap-category-form-modal';
@import './add/category/category-listing';
@import './add/category/category-preview';
@import './add/field/add-field-modal';
@import './add/field/field-listing';
@import './add/field/field-preview';
@import './add/group/add-group-modal';
@import './add/group/group-listing';
@import './add/valuelist/add-valuelist-modal';
@import './add/valuelist/manage-valuelists-modal';
@import './add/valuelist/valuelist-listing';
@import './add/valuelist/valuelist-preview';
@import './add/valuelist/valuelist-search-bar';
@import './add/valuelist/extend-valuelist-modal';
@import './widgets/valuelist-view';
@import './notifications/configuration-change-notification-modal';
@import './conflicts/configuration-conflicts-modal';
@import './import/import-configuration-modal';

#configuration-loading-icon-container {
  width: 100%;
  height: calc(100vh - 45px);

  .spinner {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 20px);
  }
}


.project-configuration {
  &.dragging {
    cursor: grabbing !important;

    .mdi-drag {
      cursor: grabbing !important;
    }
  }

  .mdi-drag {
    font-size: 18px;
  }

  #project-configuration-content {
    font-size: 15px;
  }

  code {
    font-size: 14px;
  }

  #configuration-toolbar {
    height: $toolbar-height;

    #categories-filter {
      position: relative;
      top: 5px;
      left: 5px;

      .categories-filter-selection-button {
        max-width: 50vw;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
      }

      #categories-filter-selection-menu {
        padding: 0;

        #categories-filter-selection-buttons {
          max-height: calc(100vh - 350px);
          overflow-y: auto;

          button:first-child {
            margin-top: 7px;
          }

          button:last-child {
            margin-bottom: 7px;
          }
        }
      }
    }

    #save-button {
      position: relative;
      top: 6px;
      left: 9px;
      float: right;
    }
  }

  .sidebar {
    height: calc(100vh - #{$navbar-height + $toolbar-height});
    padding: 0;
    margin: 0;
    background-color: $sidebar-bg-color;

    #category-picker-container {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      category-picker {
        .category-picker.dragging {
          .list-group-item:not(.selected-category) .category-item:hover {
            background-color: #fff !important;
          }

          .custom-category:not(.selected-category) {
            .category-item:hover {
              background-color: $custom-highlight-color !important;
            }
          }
        }
        .category-picker:not(.dragging) {
          .category-item:hover {
            background-color: $list-item-hover-color !important;
            transition: background-color .5s ease;
          }

          .custom-category {
            .category-item:hover {
              background-color: darken($custom-highlight-color, 5%) !important;
            }
          }
        }

        .category-item {
          transition: background-color .25s ease;
        }

        .selected-category .category-item {
          background-color: $list-item-hover-color !important;
          transition: background-color .5s ease;
        }

        .custom-category {
          &.selected-category .category-item {
            background-color: darken($custom-highlight-color, 5%) !important;
          }
        }

        .list-group-item {
          height: 45px;
          border-top: 1px solid #f8f9fa !important;

          .category-label {
            position: relative;
            bottom: 1px;
          }
        }
      }
    }

    #add-supercategory-button {
      position: absolute;
      bottom: 6px;
      padding-top: 2px;
      transform: translate(-20px, 0);
      left: 50%;
      z-index: 1001;
    }
  }
}
