<div class="card">
    <div class="card-header" [class.parent-element]="parentRelation">
        <category-icon *ngIf="parentRelation"
            [size]="28"
            [category]="category.parentCategory"></category-icon>
        <b *ngIf="getLabel()">{{getLabel()}}</b>
        <code> {{relation.name}}</code>
    </div>

    <div *ngIf="!parentRelation" class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b i18n="@@configuration.field.inputType">Eingabetyp</b>:
                <span i18n="@@config.inputType.relation">Relation</span>
            </li>
        </ul>
    </div>
</div>