<configuration-context-menu *ngIf="contextMenu.isOpen()"
    [contextMenu]="contextMenu"
    (onSelectAction)="performContextMenuAction($event)"></configuration-context-menu>

<div *ngIf="!ready" id="configuration-loading-icon-container">
    <div class="spinner"></div>
</div>
<div *ngIf="ready" class="project-configuration row bg-light" [class.dragging]="dragging">
    <div class="col">
        <div id="configuration-toolbar" class="row">
            <div id="categories-filter" class="dropdown"
                 ngbDropdown placement="bottom-left" role="group">

                <button class="btn btn-outline-primary" ngbDropdownToggle>
                    <span *ngIf="selectedCategoriesFilter"
                        id="selected-categories-filter-label">
                        {{selectedCategoriesFilter.label}}
                    </span>
                </button>
                <div id="categories-filter-selection-menu" class="dropdown-menu" ngbDropdownMenu>
                    <div id="categories-filter-selection-buttons">
                        <button [id]="'categories-filter-selection-button-' + categoriesFilterOptions[0].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[0])">
                            {{categoriesFilterOptions[0].label}}
                        </button>
                        <div class="dropdown-divider"></div>
                        <button [id]="'categories-filter-selection-button-' + categoriesFilterOptions[1].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[1])">
                            {{categoriesFilterOptions[1].label}}
                        </button>
                        <div class="dropdown-divider"></div>
                        <button *ngIf="isCategoryConfigured('Trench')"
                                [id]="'categories-filter-selection-button-' + categoriesFilterOptions[2].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[2])">
                            {{categoriesFilterOptions[2].label}}
                        </button>
                        <button *ngIf="isCategoryConfigured('Building')"
                                [id]="'categories-filter-selection-button-' + categoriesFilterOptions[3].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[3])">
                            {{categoriesFilterOptions[3].label}}
                        </button>
                        <button *ngIf="isCategoryConfigured('Survey')"
                                [id]="'categories-filter-selection-button-' + categoriesFilterOptions[4].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[4])">
                            {{categoriesFilterOptions[4].label}}
                        </button>
                        <div *ngIf="isCategoryConfigured('Trench')
                                    || isCategoryConfigured('Building')
                                    || isCategoryConfigured('Survey')"
                            class="dropdown-divider"></div>
                        <button [id]="'categories-filter-selection-button-' + categoriesFilterOptions[5].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[5])">
                            {{categoriesFilterOptions[5].label}}
                        </button>
                        <button [id]="'categories-filter-selection-button-' + categoriesFilterOptions[6].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[6])">
                            {{categoriesFilterOptions[6].label}}
                        </button>
                        <button [id]="'categories-filter-selection-button-' + categoriesFilterOptions[7].name"
                                class="dropdown-item categories-filter-selection-button"
                                (click)="setCategoriesFilter(categoriesFilterOptions[7])">
                            {{categoriesFilterOptions[7].label}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <button id="save-button" class="btn btn-success"
                        [ngClass]="{ 'disabled': !changed }"
                        (click)="!changed || openSaveModal()">
                    <span class="mdi mdi-content-save"></span>
                    <span class="button-label" i18n="@@buttons.save">Speichern</span>
                </button>
            </div>
        </div>
        <div id="project-configuration-content" class="row">
            <div class="col-2 sidebar">
                <div id="category-picker-container">
                    <category-picker *ngIf="filteredTopLevelCategoriesArray"
                                    [topLevelCategoriesArray]="filteredTopLevelCategoriesArray"
                                    [selectedCategories]="selectedCategory ? [selectedCategory.name] : []"
                                    [allowPickingAbstractCategories]="true"
                                    [highlightCustomCategories]="isHighlightCustomElements()"
                                    [showCreateButtons]="true"
                                    [allowChangingOrder]="true"
                                    [contextMenu]="contextMenu"
                                    [dragging]="dragging"
                                    [customProjectConfiguration]="clonedProjectConfiguration"
                                    (onCategoryPicked)="selectCategory($event)"
                                    (onEditCategory)="editCategory($event)"
                                    (onCreateSubcategory)="addSubcategory($event)"
                                    (onOrderChanged)="applyOrderChange($event)"></category-picker>
                    <div id="add-supercategory-button" class="circular-button green-button"
                        (click)="addSupercategory()"
                        ngbTooltip="Oberkategorie hinzufügen"
                        i18n-ngbTooltip="@@configuration.addSupercategory">
                        <span class="mdi mdi-plus"></span>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedCategory" class="col-10">
                <configuration-category [category]="selectedCategory"
                                        [configurationDocument]="configurationDocument"
                                        [clonedProjectConfiguration]="clonedProjectConfiguration"
                                        [showHiddenFields]="isShowHiddenFields()"
                                        [availableInputTypes]="availableInputTypes"
                                        [contextMenu]="contextMenu"
                                        [applyChanges]="applyChanges"
                                        (onEditCategory)="editCategory(selectedCategory)"
                                        (onEditGroup)="editGroup(selectedCategory, $event)"
                                        (onEditField)="editField(selectedCategory, $event)"
                                        (onDragging)="dragging = $event"></configuration-category>
            </div>
        </div>
    </div>
</div>
