<div *ngIf="field && category" class="card"
     [class.bg-warning]="isCustomField()"
     [class.bg-secondary]="hidden"
     [class.text-white]="hidden">
    <div class="card-header" [class.parent-element]="parentField">
        <ng-content></ng-content>
        <category-icon *ngIf="parentField"
            [size]="28"
            [category]="category.parentCategory"></category-icon>
        <span *ngIf="isCustomField()"
            class="mdi mdi-alert-circle-outline"
            ngbTooltip="Projektspezifisches Feld"
            i18n-ngbTooltip="@@config.source.custom"
            placement="right">
        </span>
        <b *ngIf="label"> {{label}}</b>
        <code> {{field.name}}</code>
        <div *ngIf="!parentField" class="btn-group right edit-buttons">
            <button class="btn btn-primary"
                    (click)="edit()"
                    placement="left" container="body"
                    ngbTooltip="Feld bearbeiten"
                    i18n-ngbTooltip="@@configuration.editField">
                <span class="mdi mdi-pencil"></span>
            </button>
        </div>
    </div>

    <div *ngIf="!parentField" class="card-body">
        <p *ngIf="description" class="card-text">{{description}}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b i18n="@@configuration.field.inputType">Eingabetyp</b>:
                <span>{{getInputTypeLabel()}}</span>
            </li>

            <li *ngIf="field.valuelist" class="list-group-item">
                <div *ngIf="getValuelistDescription(field.valuelist)"
                        class="valuelist-description">
                    {{getValuelistDescription(field.valuelist)}}
                </div>
                <div class="row valuelist">
                    <div *ngFor="let value of getValues(field.valuelist)"
                            class="col-2 value-col">
                        <span class="badge badge-light value-badge">
                            {{getValueLabel(field.valuelist, value)}}
                            <code>{{value}}</code>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
