@import './configuration-category.scss';
@import './configuration-field';
@import './multi-language-input';

.project-configuration {
  .sidebar {
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: $sidebar-bg-color;
  }

  .header {
    border-bottom: 1px solid #ccc;
    background-color: #e7e7e7;

    &.header-left {
      padding: 7px;
    }

    h5 {
      max-width: 450px;
      margin: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .subheader {
    height: 56px;
    padding: 1rem;
    background-color: #eee;
    overflow-y: auto;
  }

  .custom-category .header {
    background-color: $custom-highlight-color;
  }

  .groups {
    padding-top: 1rem;
    padding-left: 15px;
    width: 240px;

    ul {
      width: 100%;

      .nav {
        width: 100%;

        .group-button {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .content {
    padding-top: 1rem;
    height: calc(100vh - 154px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;

    &.shortened {
      height: calc(100vh - 210px);
    }

    .card {
      margin-bottom: 10px;

      .value-col {
          height: 1.69rem;
      }

      .card-header {
        height: 55px;

        .category-icon {
          position: relative;
          top: 2px;
          left: -6px;
          margin-right: 2px;
        }

        b,
        code,
        .mdi-alert-circle-outline {
          position: relative;
          top: 4px;
        }
    
        &.parent-element {
          b,
          code,
          .mdi-alert-circle-outline {
            position: relative;
            top: -2px;
          }
        }
      }
    }
  }

  .default-nav {
    padding: 5px;

    #show-hidden-fields-button {
      &.active {
        box-shadow: inset 1px 1px 2px 1px rgb(0 0 0 / 20%) !important;
      }
      &:focus {
        box-shadow: none;
      }
    }

    #save-button {
      position: absolute;
      right: 5px;
    }
  }
}
