<configuration-context-menu *ngIf="contextMenu.isOpen()"
    [contextMenu]="contextMenu"
    (onSelectAction)="performContextMenuAction($event)"></configuration-context-menu>

<div *ngIf="customConfigurationDocument" class="project-configuration row">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light">
                <div class="btn-group mr-2">
                    <button id="show-hidden-fields-button"
                            class="btn btn-secondary"
                            [class.active]="showHiddenFields"
                            (click)="showHiddenFields = !showHiddenFields"
                            placement="right" container="body"
                            ngbTooltip="Ausgeblendete Felder anzeigen"
                            i18n-ngbTooltip="@@configuration.showHiddenFields">
                        <span class="mdi mdi-eye"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button id="toggle-drag-and-drop-button"
                            class="btn btn-secondary"
                            [class.active]="allowDragAndDrop"
                            (click)="allowDragAndDrop = !allowDragAndDrop"
                            placement="right" container="body"
                            ngbTooltip="Verschieben von Konfigurationselementen erlauben"
                            i18n-ngbTooltip="@@configuration.allowDragAndDrop">
                        <span class="mdi mdi-cursor-move"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="project-configuration-content" class="row">
            <div class="col-2 sidebar">
                <category-picker *ngIf="topLevelCategoriesArray"
                                [topLevelCategoriesArray]="topLevelCategoriesArray"
                                [selectedCategories]="[selectedCategory.name]"
                                [allowPickingAbstractCategories]="true"
                                [highlightCustomCategories]="true"
                                [showCreateButtons]="true"
                                [allowChangingOrder]="allowDragAndDrop"
                                [contextMenu]="contextMenu"
                                (onCategoryPicked)="selectCategory($event)"
                                (onCreateSubcategory)="addSubcategory($event)"
                                (onOrderChanged)="setNewCategoriesOrder($event)"></category-picker>
            </div>

            <div class="col-10">
                <configuration-category [category]="selectedCategory"
                                        [customConfigurationDocument]="customConfigurationDocument"
                                        [showHiddenFields]="showHiddenFields"
                                        [allowDragAndDrop]="allowDragAndDrop"
                                        [availableInputTypes]="availableInputTypes"
                                        [contextMenu]="contextMenu"
                                        [saveAndReload]="saveAndReload"
                                        (onEditCategory)="editCategory(selectedCategory)"
                                        (onEditGroup)="editGroup(selectedCategory, $event)"
                                        (onEditField)="editField(selectedCategory, $event)"></configuration-category>
            </div>
        </div>
    </div>
</div>
