<section>
    <header>
        <h1 class="overview-document-heading">


            <button *ngIf="mode=='edit'" class="btn btn-secondary pull-xs-right" id="document-edit-button-goto-view"
                    (click)="cancel();">Zur Ansicht</button>
            <button class="btn btn-secondary pull-xs-right" id="document-edit-button-save-document"
                    (click)="save();">Speichern</button>
            <span class="mdi mdi-blur"></span>

            <span *ngIf="mode=='edit'">Ressource bearbeiten</span>
            <span *ngIf="mode=='new'">Neue Ressource</span>
        </h1>
    </header>
    <main>
        <document-edit [(document)]="document" [primary]="'identifier'"></document-edit>
    </main>
</section>


<template #modalTemplate>
    <div class="modal-header">
        <h4 class="modal-title">Speichern?</h4>
    </div>
    <div class="modal-body">
        Das Objekt wurde geändert. Möchten Sie die Änderungen speichern?
    </div>
    <div class="modal-footer">
        <button id="overview-save-confirmation-modal-save-button" type="button" class="btn btn-primary"
                (click)="save(true); modal.close();">Speichern</button>
        <button type="button" class="btn btn-secondary"
                (click)="discard(true); modal.close();">Änderungen verwerfen</button>
        <button id="overview-save-confirmation-modal-cancel-button" type="button" class="btn btn-secondary"
                (click)="cancel(true); modal.close();">Abbrechen
        </button>
    </div>
</template>

