<div id="import">
    <header>
        <h1>
            <span class="mdi mdi-file-import"></span>
            Import
        </h1>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Quelle:</label>
                        <div class="col-sm-10">
                            <select id="importSourceSelect" class="form-control" [(ngModel)]="sourceType"
                                    (ngModelChange)="reset()">
                                <option value="file">Datei</option>
                                <option value="http">HTTP</option>
                            </select>
                        </div>
                    </div>

                    <div *ngIf="sourceType == 'file'">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Pfad:</label>
                            <div class="col-sm-10 row">
                                <div class="col-sm-10">
                                    <input id="importFileInput" type="file" class="form-control"
                                           (change)="selectFile($event)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="sourceType == 'http'">
                        <div class="form-group">
                            <label class="control-label col-sm-2">URL:</label>
                            <div class="col-sm-10">
                                <input id="importUrlInput" type="text" class="form-control" [(ngModel)]="url">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Format:</label>
                        <div class="col-sm-10">
                            <select id="importFormatSelect" class="form-control" [(ngModel)]="format">
                                <option value="native">iDAI.field</option>
                                <option value="idig">iDig</option>
                            </select>
                        </div>
                    </div>

                </div>

                <button *ngIf="isReady()" id="importStartButton" class="btn btn-default pull-right"
                        (click)="startImport()">Import starten</button>
                <button *ngIf="!isReady()" class="btn btn-default pull-right disabled">Import starten</button>
            </div>
        </div>
    </main>
</div>
