<div class="row">


    <div class="col-lg-3 col-md-3 col-sm-3"
         id="objectOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-view-list"></span>
                    Objects
                </h1>
            </header>

            <main>

                <div class="search">
                    <input #searchInput (keyup)="onKey($event)"
                           class="form-control"
                           id="object-search"
                           placeholder="Search...">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <ul *ngIf="project.getDocuments()" class="list-group" id="objectList">
                    <li *ngFor="let document of project.getDocuments(); let index=index"
                        (click)="select(document)"
                        class="list-group-item"
                        [class.synced]="document.synced"
                        [class.unsynced]="!document.synced"
                        [class.selected]="selectedDocument && selectedDocument.id === document.id"
                        onclick="window.scrollTo(0, 0)">
                        <!-- Enable when finally implemented in Chromium
                            onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                            -->
                        <div *ngIf="document['resource'].identifier || document['resource'].title">
                            <div id="object-overview-title-{{index}}" class="title">{{document['resource'].title}}</div>

                            <div id="object-overview-identifier-{{index}}" class="identifier">{{document['resource'].identifier}}</div>
                        </div>
                        <div id="object-overview-note-{{index}}" *ngIf="!(document['resource'].identifier || document['resource'].title)" class="new">Neues Objekt</div>
                    </li>
                </ul>
                <div id="object-overview-button-create-object"
                     *ngIf="searchInput.value.length == 0"
                     class="circular-button green-button"
                     (click)="select()"
                     onclick="window.scrollTo(0, 0)">+</div>
                <!-- Enable when finally implemented in Chromium
                    onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                    -->

            </main>
        </aside>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9" id="document-edit-wrapper">
        <section>
            <header *ngIf="selectedDocument">
                <h1 id="object-type-heading">
                    <button class="btn btn-default pull-right" id="document-edit-button-save-document"
                            (click)="save(selectedDocument,false)">Speichern</button>
                    <span class="mdi mdi-blur"></span>
                    <div *ngIf="selectedDocument['resource']['type']">
                        {{selectedDocument['resource'].type}}
                    </div>
                    <div *ngIf="!selectedDocument['resource']['type']">
                        Neues Objekt
                    </div>
                </h1>
            </header>
            <main>
                <document-edit [(document)]="selectedDocument" [primary]="'identifier'"></document-edit>
            </main>
        </section>
    </div>

    <modal #modal>
        <modal-header>
            <h4 class="modal-title">Speichern?</h4>
        </modal-header>
        <modal-body>
            Das Objekt wurde geändert. Möchten Sie die Änderungen speichern?
        </modal-body>
        <modal-footer>
            <button id="overview-save-confirmation-modal-save-button" type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="save(selectedDocument); modal.dismiss();">Speichern</button>
            <button type="button" class="btn btn-default"
                    (click)="discardChanges(selectedDocument); modal.dismiss();">Änderungen verwerfen</button>
            <button id="overview-save-confirmation-modal-cancel-button" type="button" class="btn btn-default"
                    (click)="modal.dismiss();">Abbrechen</button>
        </modal-footer>
    </modal>

</div>

