<div class="row">


    <div class="col-lg-3 col-md-3 col-sm-3"
         id="objectOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-view-list"></span>
                    Objects
                </h1>
            </header>

            <main>

                <div class="search">
                    <input #searchInput (keyup)="onKey($event)"
                           class="form-control"
                           id="object-search"
                           placeholder="Search...">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <ul *ngIf="project.getObjects()" class="list-group" id="objectList">
                    <li *ngFor="let object of project.getObjects(); let index=index"
                        (click)="onSelect(object)"
                        class="list-group-item"
                        [class.synced]="object.synced"
                        [class.unsynced]="!object.synced"
                        [class.selected]="selectedObject && selectedObject.id === object.id"
                        onclick="window.scrollTo(0, 0)">
                        <!-- Enable when finally implemented in Chromium
                            onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                            -->
                        <div *ngIf="object.identifier || object.title">
                            <div id="object-overview-title-{{index}}" class="title">{{object.title}}</div>

                            <div id="object-overview-identifier-{{index}}" class="identifier">{{object.identifier}}</div>
                        </div>
                        <div *ngIf="!(object.identifier || object.title)" class="new">Neues Objekt</div>
                    </li>
                </ul>
                <div id="object-overview-button-create-object"
                     *ngIf="searchInput.value.length == 0"
                     class="circular-button green-button"
                     (click)="onCreate()"
                     onclick="window.scrollTo(0, 0)">+</div>
                <!-- Enable when finally implemented in Chromium
                    onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                    -->

            </main>
        </aside>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9">
        <object-edit [(object)]="selectedObject"></object-edit>
    </div>

    <modal #modal>
        <modal-header>
            <h4 class="modal-title">Speichern?</h4>
        </modal-header>
        <modal-body>
            Das Objekt wurde geändert. Möchten Sie die Änderungen speichern?
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="save(); modal.dismiss();">Speichern</button>
            <button type="button" class="btn btn-default"
                    (click)="discardChanges(); modal.dismiss();">Änderungen verwerfen</button>
            <button type="button" class="btn btn-default"
                    (click)="modal.dismiss();">Abbrechen</button>
        </modal-footer>
    </modal>

</div>

