<div class="row">


    <div class="col-lg-3 col-md-3 col-sm-3"
         id="objectOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-view-list"></span>
                    Ressourcen
                </h1>
            </header>

            <main>

                <div class="search">
                    <input #searchInput (keyup)="onKey($event)"
                           class="form-control"
                           id="object-search"
                           placeholder="Search...">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <ul *ngIf="objectList.getDocuments()" class="list-group" id="objectList">
                    <li *ngFor="let document of objectList.getDocuments(); let index=index"
                        (click)="select(document)"
                        class="list-group-item"
                        [class.synced]="document.synced"
                        [class.unsynced]="!document.synced"
                        [class.selected]="selectedDocument && selectedDocument.id === document.id"
                        onclick="window.scrollTo(0, 0)">
                        <!-- Enable when finally implemented in Chromium
                            onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                            -->
                        <div *ngIf="document['resource'].identifier || document['resource'].shortDescription">
                            <div id="object-overview-title-{{index}}" class="title">{{document['resource'].shortDescription}}</div>

                            <div id="object-overview-identifier-{{index}}" class="identifier">{{document['resource'].identifier}}</div>
                        </div>
                        <div id="object-overview-note-{{index}}" *ngIf="!(document['resource'].identifier || document['resource'].shortDescription)" class="new">Neues Objekt</div>
                    </li>
                </ul>
                <div id="object-overview-button-create-object"
                     *ngIf="searchInput.value.length == 0"
                     class="circular-button green-button"
                     (click)="select()"
                     onclick="window.scrollTo(0, 0)">+</div>
                <!-- Enable when finally implemented in Chromium
                    onclick="window.scrollTo({'behavior':'smooth','top':'0','left':'0'})">
                    -->

            </main>
        </aside>
    </div>

    <!--<div id="mapContainer"></div>-->


    <!--<map *ngIf="!selectedDocument" class="col-lg-9 col-md-9 col-sm-9" [documents]="objectList.getDocuments()"-->
            <!--(documentSelection)="select($event)"></map>-->

    <div class="col-lg-9 col-md-9 col-sm-9" id="document-edit-wrapper">
        <section>
            <router-outlet></router-outlet>
            <!--<document-view *ngIf="!editMode" [document]="selectedDocument" (documentSelection)="select($event)"></document-view>-->
        </section>
    </div>

    <template #modalTemplate>
        <div class="modal-header">
            <h4 class="modal-title">Speichern?</h4>
        </div>
        <div class="modal-body">
            Das Objekt wurde geändert. Möchten Sie die Änderungen speichern?
        </div>
        <div class="modal-footer">
            <button id="overview-save-confirmation-modal-save-button" type="button" class="btn btn-primary"
                    (click)="this.persistenceService.save(selectedDocument); modal.close();">Speichern</button>
            <button type="button" class="btn btn-secondary"
                    (click)="this.persistenceService.discardChanges(selectedDocument); modal.close();">Änderungen verwerfen</button>
            <button id="overview-save-confirmation-modal-cancel-button" type="button" class="btn btn-secondary"
                    (click)="modal.close();">Abbrechen</button>
        </div>
    </template>

</div>

