<div *ngFor="#relation of object[field.field]; #i = index">
    <relation-picker [(object)]="object" [field]="field" [relationIndex]="i"></relation-picker>
</div>
<div class="circular-button add-relation"
     *ngIf="!object[field.field] || object[field.field].length == 0 || validateNewest()"
     type="button"
     (click)="createRelation()">+</div>

<!-- Button disabled when waiting for input -->
<div class="circular-button add-relation-disabled"
     *ngIf="object[field.field] && object[field.field].length > 0 && !validateNewest()"
     type="button">+</div>