.configuration-editor-modal-body {
  #category-color {
    width: 38px;
    height: 38px;
    padding: 1px 3px;
    border-radius: 0.3rem !important;

    &.with-restore-default-color-button {
      float: left;
    }
  }

  #restore-color-button {
    height: 38px !important;
    width: 38px !important;
    margin-left: 10px;
  }

  #identifier-prefix,
  #resource-limit {
    width: 200px;  
  }

  #identifier-prefix-warning,
  #resource-limit-warning {
    margin-top: 15px;
    font-size: 14px;
  }

  .printed-fields-header {
    font-size: 15px;
    user-select: none;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .print-label-option {
    .switch {
      float: right;
    }
  
    .print-label-option-info {
      display: inline-block;
      width: calc(100% - 50px);
      margin: 0;
      font-size: 14px;
      text-align: right;
      user-select: none;
    }

    .switch,
    .print-label-option-info {
      position: relative;
      top: 4px;
    }
  }
}
