condition-section {
  .configuration-editor-section {
    margin-bottom: 25px;

    .valuelist-condition-checkboxes,
    .boolean-condition-radio-buttons {
      margin-top: 10px;
    }

    .checkbox,
    .radio {
      margin-bottom: 0;

      label {
        margin-bottom: 0;
        padding-left: 3px;
        user-select: none;
      }
    }
  }
}
