<div *ngIf="isVisible()" class="configuration-editor-section mb-3">
    <div *ngIf="type === 'field'"
         class="configuration-editor-section-title"
         i18n="@@configuration.conditionalField">
        Bedingung für Anzeige des Feldes
    </div>
    <div *ngIf="type === 'subfield'"
         class="configuration-editor-section-title"
         i18n="@@configuration.conditionalSubfield">
        Bedingung für Anzeige des Unterfeldes
    </div>

    <select class="form-control condition-field-select"
            [(ngModel)]="condition[type + 'Name']"
            [disabled]="disabled"
            (change)="resetConditionValues()">
        <option value="" i18n="@@configuration.condition.none">- Keine -</option>
        <option *ngFor="let field of getConditionFields()" [value]="field.name">
            {{getFieldLabel(field)}}
        </option>
    </select>
    <div *ngIf="condition[type + 'Name'] && this.getConditionType() === 'valuelist'"
         class="valuelist-condition-checkboxes">
        <div *ngFor="let value of getConditionValues()" class="checkbox form-check form-check-inline">
            <label class="form-check-label" [class.disabled]="disabled">
                <input class="form-check-input" [value]="value" [disabled]="disabled" type="checkbox"
                    (click)="toggleConditionValue(value)"
                    [checked]="isSelectedConditionValue(value)">
                {{getValueLabel(value)}}
            </label>
        </div>
    </div>
    <div *ngIf="condition[type + 'Name'] && this.getConditionType() === 'boolean'"
         class="boolean-condition-radio-buttons">
        <div class="radio form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio"    
                        [value]="true"
                        [disabled]="disabled"
                        (click)="setConditionValue(true)"
                        [checked]="condition.values === true">
                <span i18n="@@boolean.yes">Ja</span>
            </label>
        </div>
        <div class="radio form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="radio"    
                        [value]="false"
                        [disabled]="disabled"
                        (click)="setConditionValue(false)"
                        [checked]="condition.values === false">
                <span i18n="@@boolean.no">Nein</span>
            </label>
        </div>
    </div>
</div>
