#move-modal {
  #move-modal-loading-icon-container {
    height: 122px;

    loading-icon {
      position: relative;
      top: 50px;
    }

    #moving-info {
      position: relative;
      top: 57px;
      width: 100%;
      text-align: center;
      user-select: none;
    }
  }
}
