<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="icon" type="image/x-icon" href={Settings.get_favicon_url()} />

    <% page_name = Settings.get_page_name() %>

    <.live_title suffix={" · #{page_name}"}>
      {assigns[:page_title]}
    </.live_title>
    <!-- The Opengraph meta tags are set only once on the initial HTTP page load, later websocket navigation leaves
    them unchanged. See also https://github.com/phoenixframework/phoenix_live_view/issues/1194. Appropriate values have to
    be set on mount in the different live views. -->
    <meta property="og:title" content={ "#{assigns[:page_title]} · #{page_name}"} />
    <meta property="og:url" content={Phoenix.Controller.current_url(@conn)} />
    <%= if assigns[:page_image] do %>
      <meta property="og:image" content={assigns[:page_image]} />
    <% end %>
    <%= if assigns[:page_description] do %>
      <meta property="og:description" content={assigns[:page_description]} />
    <% end %>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/ol.css"} />

    <style>
      <%= FieldPublication.Settings.get_customized_css() %>
    </style>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased relative min-h-lvw">
    {@inner_content}
  </body>

</html>
