<div class="modal-header">
    <h5 class="modal-title" i18n="@@configuration.deleteCategory.header">Kategorie löschen?</h5>
</div>

<div id="delete-category-modal-body" class="modal-body">
    <span *ngIf="!hasCustomFields() && !hasChildCategories()"
          i18n="configuration.deleteCategory.body">Möchten Sie die Kategorie <code>{{category.name}}</code> wirklich löschen?</span>
    <div *ngIf="hasCustomFields() && !hasChildCategories()">
        <div *ngIf="hasCustomFields()" class="text-center alert alert-warning"
             i18n="@@configuration.deleteCategory.warning.changes">
            An dieser Kategorie wurden Änderungen vorgenommen, die beim Löschen verloren gehen.
        </div>
        <div id="confirm-delete-info" i18n="@@configuration.deleteCategory.confirmInfo">
            Bitte geben Sie den Namen der Kategorie ein, um den Löschvorgang zu bestätigen.
        </div>
        <div class="input-group">
            <input id="delete-category-input"
                   type="text"
                   class="form-control"
                   [(ngModel)]="confirmDeletionCategoryName"
                   (keydown)="$event.key !== 'Enter' || confirmDeletion()" />
        </div>
    </div>
    <div *ngIf="hasChildCategories()" class="text-center alert alert-warning"
         i18n="configuration.deleteCategory.hasChildren">
         Die Kategorie <code>{{category.name}}</code> kann nicht gelöscht werden, solange sie Unterkategorien besitzt.
         Bitte entfernen Sie zunächst die Unterkategorien.
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="!hasChildCategories()"
         class="btn btn-danger"
         [ngClass]="{ 'disabled': hasCustomFields() && !this.checkConfirmDeletionCategoryName() }"
         (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </div>
    <div id="cancel-add-field-modal-button"
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
