<div class="modal-header">
    <h5 class="modal-title" i18n="@@configuration.deleteGroup.header">Gruppe löschen?</h5>
</div>

<div class="modal-body configuration-delete-modal-body">
    <span *ngIf="isDeletionAllowed()" i18n="configuration.deleteGroup.body">
        Möchten Sie die Gruppe <code>{{group.name}}</code> wirklich löschen?
    </span>
    <div *ngIf="!isDeletionAllowed()" class="text-center alert alert-warning"
          i18n="@@configuration.deleteGroup.notAllowed">
        Die Gruppe <code>{{group.name}}</code> kann nicht gelöscht werden, solange ihr Felder zugeordnet sind.
        Bitte verschieben Sie die Felder zunächst in eine andere Gruppe oder löschen Sie sie.
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="isDeletionAllowed()"
         class="btn btn-danger"
         (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </div>
    <div class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
