<div class="modal-header">
    <h5 class="modal-title" i18n="@@configuration.deleteField.header">Feld löschen?</h5>
</div>

<div class="modal-body">
    <span i18n="@@configuration.deleteField.body">Möchten Sie das Feld <code>{{field.name}}</code> wirklich löschen?</span>
</div>

<div class="modal-footer">
    <div id="delete-field-button"
         class="btn btn-danger"
         (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </div>
    <div class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
