<div class="modal-header">
    <h5 class="modal-title" i18n="@@configuration.deleteCategory.header">Kategorie löschen?</h5>
</div>

<div id="delete-category-modal-body configuration-delete-modal-body" class="modal-body">
    <span *ngIf="!isConfirmationDialogVisible() && isDeletionAllowed()"
          i18n="configuration.deleteCategory.body">Möchten Sie die Kategorie <code>{{category.name}}</code> wirklich löschen?</span>
    <div *ngIf="isConfirmationDialogVisible() && isDeletionAllowed()">
        <div *ngIf="customized" class="text-center alert alert-warning"
             i18n="@@configuration.deleteCategory.warning.changes">
            An dieser Kategorie wurden Änderungen vorgenommen, die beim Löschen verloren gehen.
        </div>
        <div *ngIf="resourceCount === 1" class="text-center alert alert-warning"
            i18n="@@configuration.deleteCategory.warning.resources.single">
           Im Projekt existiert eine Ressource dieser Kategorie, die nach dem Löschen
           nicht mehr sichtbar sein wird. Wenn Sie die Kategorie zu einem späteren Zeitpunkt erneut
           hinzufügen, wird die Ressource wieder angezeigt werden.
       </div>
        <div *ngIf="resourceCount > 1" class="text-center alert alert-warning"
             i18n="@@configuration.deleteCategory.warning.resources.multiple">
            Im Projekt existieren {{resourceCount}} Ressourcen dieser Kategorie, die nach dem Löschen
            nicht mehr sichtbar sein werden. Wenn Sie die Kategorie zu einem späteren Zeitpunkt erneut
            hinzufügen, werden die Ressourcen wieder angezeigt werden.
        </div>
        <div id="confirm-delete-info" i18n="@@configuration.deleteCategory.confirmInfo">
            Bitte geben Sie den Namen der Kategorie ein, um den Löschvorgang zu bestätigen.
        </div>
        <div>
            <input id="delete-category-input"
                   type="text"
                   class="form-control"
                   [(ngModel)]="confirmDeletionCategoryName"
                   (keydown)="$event.key !== 'Enter' || confirmDeletion()" />
        </div>
    </div>
    <div *ngIf="hasChildCategories()" class="text-center alert alert-warning"
         i18n="@@configuration.deleteCategory.hasChildren">
         Die Kategorie <code>{{category.name}}</code> kann nicht gelöscht werden, solange sie Unterkategorien besitzt.
         Bitte entfernen Sie zunächst die Unterkategorien.
    </div>
    <div *ngIf="!hasChildCategories() && isRelationTargetCategory()" class="text-center alert alert-warning"
         i18n="@@configuration.deleteCategory.isRelationTargetCategory">
         Die Kategorie <code>{{category.name}}</code> kann nicht gelöscht werden, solange sie als Zielkategorie einer
         Relation konfiguriert ist.
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="isDeletionAllowed()"
         id="delete-category-button"
         class="btn btn-danger"
         [ngClass]="{ 'disabled': isConfirmationDialogVisible() && !this.checkConfirmDeletionCategoryName() }"
         (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </div>
    <div class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
