#type-relation-modal {

  .modal-header {
    padding: 15px 7px;
    display: flex;

    input {
      height: 39px;
    }

    #criterion-select,
    #catalog-select {
      width: 175px;
      margin-right: 7px;
    }

    .type-search-bar {
      flex-grow: 1;
      margin-right: 7px;

      .search-bar-input {
        width: 100%;
      }
    }

    #close-button {
      width: 40px;
      margin-left: 7px;
    }
  }

  .modal-body {
    height: calc(100vh - 135px);
    padding: 0;
    overflow: auto;

    dai-type-row:first-child .type-row {
      margin-top: 0;
    }
  }
}
