@import 'type-row';
@import 'type-relation-picker';

.type-relation {
  .add-type-relation {
    position: relative;
    margin-bottom: 25px;
    color: #555;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.14) !important;
    user-select: none;

    &:hover {
      color: #fff !important;
      background-color: #28a745;
      transition: color .3s ease, background-color .3s ease;
    }
  }
}
