#type-relation-modal {

  .modal-body {
    background-color: #efefef;
  }

  .type-row {
    $type-row-height: 181px;
    width: 100%;
    height: $type-row-height;
    max-height: $type-row-height;
    position: relative;
    display: flex;
    background-color: #37588e;
    border: 3px solid white;
    margin: 3px 0;

    &:hover {
      box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.3);
      z-index: 100;
    }

    .type-info {
      position: relative;
      min-width: 150px;
      max-width: 150px;
      height: $type-row-height - 6px;
      background-color: white;
      transition: opacity 0.25s ease-in-out;

      .type-title {
        position: absolute;
        bottom: 5px;
        padding: 0 10px;
        background-color: rgba(255, 255, 255, 0.8);
        height: auto;
        width: 100%;
        overflow-wrap: break-word;
        z-index: 5;
        text-align: center;
        user-select: none;
      }

      .type-image-container {
        display: flex;
        justify-content: center;
        height: 144px;

        img {
          object-fit: contain;
          max-width: 150px;
          max-height: 144px;
        }

        .category-icon {
          margin-top: 45px;
        }
      }
    }

    image-row {
      background-color: white;

      .image-row .image-container {
        img {
          max-height: $type-row-height - 6px;
        }

        .image-placeholder {
          height: $type-row-height - 6px;
        }
      }
    }
  }
}