<div class="row">
	<table class="col-md-12 table table-sm">
		<tr>
			<th>identifier</th>
			<th>type</th>
			<th>shortDescription</th>
		</tr>
	    <tr *ngFor="let document of documents; let index=index"
	        (click)="select(document)"
	        [class.synced]="document.synced"
	        [class.unsynced]="!document.synced"
	        [id]="'resource-' + document.resource.identifier">

            <td>{{document.resource.identifier}}</td>
            <td>
            	<select class="form-control" [(ngModel)]="document.resource.type" (change)="update(document)">
            		<option *ngFor="let type of typesList" [value]="type.name">{{type.label}}</option>
            	</select>
            </td>
            <td>
            	<input [(ngModel)]="document.resource.shortDescription" (blur)="update(document)" class="form-control">
            </td>  
	    </tr>
	</table>
</div>