<div class="row" style="background-color: #eee; padding-top:10px;">
	<div class="col-md-4">
		<select class="form-control" [(ngModel)]="selectedFilterTrenchId" (change)="filterByTrench()">
			<option selected value>Alle Schnitte</option>
			<option *ngFor="let trench of trenches" [value]="trench._id">{{trench.resource.identifier}}</option>
		</select>
	</div>
	<div class="col-md-4">
		<search-bar [showFiltersMenu]="true"
					[defaultFilterSet]="defaultTypes"
					(onQueryChanged)="queryChanged($event)">
		</search-bar>
	</div>
</div>

<div class="row">
	<table class="col-md-12 table table-sm">
		<tr>
			<th>identifier</th>
			<th>type</th>
			<th>shortDescription</th>
		</tr>
	    <tr *ngFor="let document of documents; let index=index"
	        (click)="select(document)"
	        [class.synced]="document.synced"
	        [class.unsynced]="!document.synced"
	        [id]="'resource-' + document.resource.identifier">

            <td>{{document.resource.identifier}}</td>
            <td>
            	<select class="form-control" [(ngModel)]="document.resource.type" (change)="update(document)">
            		<option *ngFor="let type of typesList" [value]="type.name">{{type.label}}</option>
            	</select>
            </td>
            <td>
            	<input [(ngModel)]="document.resource.shortDescription" (blur)="update(document)" class="form-control">
            </td>  
	    </tr>
	</table>
</div>