<div id="view-modal-header" class="d-flex justify-content-between">
    <div *ngIf="!linkedResourceIdentifier" class="text-truncate" i18n="@@imageView.images">Bilder</div>
    <div *ngIf="linkedResourceIdentifier" class="text-truncate" i18n="@@imageView.linkedImages">
        Mit <strong>{{linkedResourceIdentifier}}</strong> verknüpfte Bilder
    </div>

    <button class="btn btn-primary"
            id="close-button"
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="view-modal-body" class="modal-body px-0">
    <div id="view-modal-content" class="flex-nowrap bg-light px-0">
        <div class="info-popover">
            <div class="info-popover-header">
                <button class="expand-all-groups-button btn btn-light"
                     [class.active]="getExpandAllGroups()"
                     ngbTooltip="Alle Gruppen ausklappen"
                     i18n-ngbTooltip="@@resources.sidebarList.expandAllGroups"
                     #tooltip="ngbTooltip" placement="right" container="body" triggers="manual"
                     (mouseover)="tooltip.open()" (mouseleave)="tooltip.close()"
                     (click)="tooltip.close(); toggleExpandAllGroups()">
                    <span class="mdi mdi-unfold-more-horizontal"></span>
                </button>
                <div *ngIf="selectedImage" class="identifier-label">
                    {{selectedImage.document.resource.identifier}}
                </div>
                <button class="edit-button btn btn-light" (click)="startEdit()">
                    <span class="mdi mdi-pencil"></span>
                </button>
            </div>

            <div #resourceInfo class="resource-info"
                 [class.scrollbar-visible]="resourceInfoScrollbarVisible">
                <fields-view *ngIf="selectedImage"
                             [resource]="selectedImage.document.resource"
                             [openSection]="openSection"
                             [expandAllGroups]="getExpandAllGroups()"
                             (onSectionToggled)="setOpenSection($event)"></fields-view>
                <georeference-view *ngIf="selectedImage"
                                   [document]="selectedImage.document"
                                   [openSection]="openSection"
                                   [expandAllGroups]="getExpandAllGroups()"
                                   (onSectionToggled)="setOpenSection($event)"></georeference-view>
                <depicts-relations-view *ngIf="selectedImage"
                                        [resource]="selectedImage.document.resource"
                                        [openSection]="openSection"
                                        [expandAllGroups]="getExpandAllGroups()"
                                        (onSectionToggled)="setOpenSection($event)"
                                        (onRelationClicked)="jumpToResource($event)"></depicts-relations-view>
            </div>
        </div>

        <image-viewer [image]="selectedImage.document"></image-viewer>

        <image-row [images]="images"
                   [selectedImage]="selectedImage"
                   [highlightOnHover]="true"
                   [allowSelection]="true"
                   (onImageSelected)="onSelected($event)"></image-row>
    </div>
</div>
