.warnings-modal-body {
  height: calc(100vh - 127px);

  #document-picker #document-picker-list {
    max-height: calc(100vh - 250px);
  }

  label {
    font-size: 13px;
  }

  #warning-filter-select {
    margin-bottom: 1rem;
  }

  #document-warnings-container {
    height: 100%;
    padding-left: 0;

    #document-warnings-header {
      background-color: #e7e7e7;
      padding: 10px;
      border: 1px solid #ccc;
      border-bottom: 0 !important;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      document-teaser {
        display: block;
      }
    }

    #document-warnings-content {
      display: block;
      width: 100%;
      height: calc(100% - 58px);
      background-color: white;
      border: 1px solid #ccc;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      user-select: none;

      .card {
        background-color: unset;
        margin-bottom: 15px;

        .card-title,
        .card-block {
          font-size: 15px !important;
        }

        .card-header {
          padding-top: 6px;
          border-radius: 0 !important;
          border-top-left-radius: 7px !important;
          border-top-right-radius: 7px !important;
        }
    
        .field-label {
            font-weight: 600;
        }

        button {
          height: 34px;
          padding: 0 14px 0 10px;

          .button-label {
            font-size: 14px;
          }
        }
      }
    }
  }
}
