<div class="modal-header warnings-modal-header">
    <h5 class="modal-title"
        i18n="@@navbar.taskbar.warnings.header">Warnungen</h5>
    <button id="close-warnings-modal-button"
            class="btn btn-primary btn-square" 
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div class="modal-body warnings-modal-body row bg-light">
    <div class="col-md-6">
        <select id="warning-filter-select" class="form-control"
                (change)="selectWarningFilter($event.target.value)">
            <option *ngFor="let warningFilter of warningFilters"
                    [value]="warningFilter.constraintName"
                    [selected]="selectedWarningFilter === warningFilter">
                {{warningFilter.label}} ({{warningFilter.count}})
            </option>
        </select>

       <document-picker [filterOptions]="categoryFilters"
                        [getConstraints]="getConstraints"
                        [limit]="20000"
                        [waitForUserInput]="false"
                        [markSelected]="true"
                        [autoSelect]="true"
                        [showConfigurationOption]="isConfigurationOptionVisible()"
                        (documentSelected)="selectDocument($event)"
                        (documentDoubleClicked)="openDoceditModal()"></document-picker>
    </div>
    <div *ngIf="selectedDocument" id="document-warnings-container" class="col-md-6">
        <div id="document-warnings-header">
            <document-teaser [document]="selectedDocument"></document-teaser>
        </div>
        <div id="document-warnings-content">
            <div *ngFor="let section of sections" class="card">
                <div class="card-header h4">
                    <span class="card-title">
                        {{getWarningTypeLabel(section)}}
                        <span *ngIf="isFieldLabelVisible(section)"
                              class="field-label">{{getFieldLabel(section)}}</span>
                    </span>
                </div>
                <div class="card-block">
                    <div class="warning-info">
                        <span *ngIf="section.type === 'unconfigured'"
                              i18n="@@navbar.taskbar.warnings.info.unconfigured">
                            Das Feld ist für die Kategorie <i>{{getCategoryLabel(section)}}</i> nicht konfiguriert.
                            Die in diesem Feld eingetragenen Daten werden daher nicht angezeigt.
                        </span>
                        <span *ngIf="section.type === 'invalid'"
                              i18n="@@navbar.taskbar.warnings.info.invalid">
                            Die in diesem Feld eingetragenen Daten entsprechen nicht dem konfigurierten
                            Eingabetyp <i>{{getInputTypeLabel(section)}}</i>.
                        </span>
                        <span *ngIf="section.type === 'outlierValues'"
                              i18n="@@navbar.taskbar.warnings.info.outlierValues">
                            Es wurden Werte ausgewählt, die in der für dieses Feld konfigurierten Werteliste
                            <i>{{getValuelistId(section)}}</i> nicht enthalten sind.
                        </span>
                        <span *ngIf="section.type === 'conflicts'"
                              i18n="@@navbar.taskbar.warnings.info.conflicts">
                            Bei dieser Ressource ist ein Konflikt aufgetreten. 
                        </span>
                        <span *ngIf="section.type === 'missingIdentifierPrefix'"
                              i18n="@@navbar.taskbar.warnings.info.missingIdentifierPrefix">
                            Der Bezeichner dieser Ressource beginnt nicht mit dem konfigurierten Präfix
                            <i>{{getIdentifierPrefix(section)}}</i>.
                        </span>
                    </div>
                    <div *ngIf="section.type === 'unconfigured' || section.type === 'invalid' || section.type === 'missingIdentifierPrefix'"
                         class="data-info">
                        <div><b i18n="@@navbar.taskbar.warnings.enteredData">Eingetragene Daten:</b></div>
                        <div>{{getDataLabel(section)}}</div>
                    </div>
                    <div *ngIf="section.type === 'outlierValues'" class="data-info">
                        <div *ngIf="getOutlierValues(section).length === 1">
                            <b i18n="@@navbar.taskbar.warnings.outlierValues.single">Ungültiger Wert:</b>
                        </div>
                        <div *ngIf="getOutlierValues(section).length > 1">
                            <b i18n="@@navbar.taskbar.warnings.outlierValues.multiple">Ungültige Werte:</b>
                        </div>
                        <div *ngFor="let outlierValue of getOutlierValues(section)">
                            {{outlierValue}}
                        </div>
                    </div>
                    <span *ngIf="section.type === 'conflicts'">
                        <button class="btn btn-primary" (click)="openConflictResolver()">
                            <span class="mdi mdi-pencil"></span>
                            <span class="button-label"
                                  i18n="@@docedit.tabs.conflicts.resolveConflict">Konflikt lösen</span>
                        </button>
                    </span>
                    <span *ngIf="section.type === 'invalid' || section.type === 'missingIdentifierPrefix'
                            || section.type === 'outlierValues'">
                        <button class="btn btn-primary" (click)="openDoceditModal(section)">
                            <span class="mdi mdi-pencil"></span>
                            <span class="button-label"
                                  i18n="@@resources.contextMenu.edit">Bearbeiten</span>
                        </button>
                    </span>
                    <span *ngIf="section.type === 'unconfigured' || section.type === 'invalid'">
                        <button class="btn btn-danger" (click)="openDeleteFieldDataModal(section)">
                            <span class="mdi mdi-delete"></span>
                            <span class="button-label"
                                  i18n="@@navbar.taskbar.warnings.deleteFieldData">Felddaten löschen</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
