<div class="modal-body p-0">

    <section id="document-edit-wrapper">
        <header class="overview-document-heading d-flex justify-content-between">
            <div id="type-switcher-button-container">
                <type-switcher-button [type]="clonedDocument.resource.type"
                                  (onTypeChanged)="changeType($event)">
                </type-switcher-button>
            </div>

            <div *ngIf="clonedDocument"
                  class="docedit-header-label text-truncate">
                <small *ngIf="!clonedDocument.resource.id">
                    {{projectConfiguration.getLabelForType(this.clonedDocument.resource.type)}}
                    in {{parentLabel}} anlegen
                </small>
                <small *ngIf="clonedDocument.resource.id">
                    {{projectConfiguration.getLabelForType(this.clonedDocument.resource.type)}} bearbeiten
                </small>
                <br>
                <strong>{{clonedDocument.resource.identifier}}</strong>
            </div>

            <div>
                <button *ngIf="clonedDocument && clonedDocument.resource.id
                            && clonedDocument.resource.type != 'Project'"
                        class="btn btn-danger pull-right" id="document-edit-button-delete-document"
                         (click)="openDeleteModal();">
                    <span class="mdi mdi-delete"></span>
                    <span class="button-label">Löschen</span>
                </button>
                <button class="btn btn-success disabled pull-right"
                        id="document-edit-button-save-document"
                        [class.disabled]="!documentEditChangeMonitor.isChanged()"
                        (click)="!documentEditChangeMonitor.isChanged() || save(true);">
                    <span class="mdi mdi-content-save"></span>
                    <span class="button-label">Speichern</span>
                </button>
                <button class="btn btn-primary"
                        id="document-edit-button-goto-view"
                        (click)="cancel()">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
        </header>
        <main>

            <div *ngIf="clonedDocument" class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ngb-tabset (tabChange)="changeActiveTab($event)" activeId="docedit-{{activeTabService.getActiveTab()}}-tab">
                            <ngb-tab id="docedit-fields-tab">
                                <ng-template ngbTabTitle>
                                    <span class="mdi mdi-format-list-bulleted"></span>
                                    Metadaten
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <edit-form *ngIf="projectConfiguration" [(document)]="clonedDocument"
                                               [fieldDefinitions]="projectConfiguration.getFieldDefinitions
                                                    (clonedDocument.resource.type)">
                                    </edit-form>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab *ngIf="getRelationDefinitions() && getRelationDefinitions().length > 0"
                                     id="docedit-relations-tab">
                                <ng-template ngbTabTitle>
                                    <span class="mdi mdi-sitemap"></span>
                                    Relationen
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <relations-form
                                            [(document)]="clonedDocument"
                                            [primary]="'identifier'"
                                            [relationDefinitions]="getRelationDefinitions()">
                                    </relations-form>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab *ngIf="showDoceditImagesTab"
                                     id="docedit-images-tab">
                                <ng-template ngbTabTitle>
                                    <span class="mdi mdi-image"></span>
                                    Bilder
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <docedit-image-tab
                                            [(document)]="clonedDocument">
                                    </docedit-image-tab>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab *ngIf="clonedDocument._conflicts" id="docedit-conflicts-tab">
                                <ng-template ngbTabTitle><span class="mdi mdi-alert-outline"></span> Konflikte
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <docedit-conflicts-tab [(document)]="clonedDocument"
                                                       [(inspectedRevisionsIds)]="inspectedRevisionsIds">
                                    </docedit-conflicts-tab>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>

                    </div>
                </div>
            </div>
        </main>
    </section>
</div>

