@import 'tabs/docedit-image-tab';
@import 'tabs/docedit-conflicts-tab';
@import 'widgets/type-switcher-button';
@import 'widgets/image-picker';
@import 'widgets/relationpicker/relation-picker';
@import 'widgets/relationpicker/relation-picker-group';

#document-edit-wrapper {

  height: calc(100vh - 65px);
  overflow-y: hidden;
  background-color: #eee;

  .form-group.card {
    margin-bottom: 0;
  }

  .document-info .card-block {
    overflow: auto;
  }

  textarea {
    width: 100%;
    resize: vertical;
  }

  header {
    padding: 7px;
    border-bottom: 1px solid #ccc;
    user-select: none;
    background-color: #67b2b9;
    
    #type-switcher-button-container {
      min-width: 55px;
      padding: 4px;
    }

    .docedit-header-label {
      font-size: 1.5em;
      line-height: 1em;
      margin: 0;
      padding-right: 15px;
      flex: 1;
      min-height: 2.15em;
      color: #fff;
    }
  }

  .mdi-arrow-left {
    margin-left: -5px;
    margin-right: -3px;
  }



  #document-edit-button-save-document:active,
  #document-edit-button-save-document:focus,
  #document-edit-button-goto-view:active,
  #document-edit-button-goto-view:focus,
  #document-edit-button-dropdown:active,
  #document-edit-button-dropdown:focus,
  #document-view-button-edit-document:active,
  #document-view-button-edit-document:focus,
  #document-view-button-back-to-map:active,
  #document-view-button-back-to-map:focus {
    outline: none;
  }

  #document-edit-button-save-document,
  #document-edit-button-goto-view,
  #document-edit-button-dropdown {
    position: relative;
    top: 8px;
    height: 39px;
    border: 0;
    border-radius: 2px;
    color: #fff;
  }

  #document-edit-button-goto-view {
    margin-left: 7px;
  }

  #document-edit-button-dropdown {
    margin-left: 1px;

    &:focus {
      box-shadow: none;
    }
  }

  #document-edit-dropdown-menu {
    .dropdown-entry-label {
      margin-left: 5px;
    }
  }

  .mdi-expand-all {
    color: #28a745;
  }

  .choose-geometry-icon {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  #docedit-conflicts-tab {
    color: red !important;
  }

  #docedit-fields-tab,
  #docedit-relations-tab,
  #docedit-images-tab,
  #docedit-conflicts-tab {
    user-select: none;
  }

  #loading-icon-container {
    height: calc(100vh - 150px);

    loading-icon {
      position: relative;
      top: 110px;
    }

    #operation-in-progress-info {
      user-select: none;
      cursor: default;
    }
  }

  main {
    height: 86%;
    padding: 0;

    position: relative;

    z-index: 1001;

    .container-fluid {

      height: 100%;

      .row {

        height: 100%;

        .forms-container {
          padding-right: 45px;
          height: 100%;

          .scrollable-group {

            height: 100%;
            overflow-y: auto;
          }
        }

        .list-group-item {
          background-color: #eee;
        }

        #table-of-contents-placeholder {
          border-right: 1px solid #eee;
        }

        #table-of-contents {

          padding-left: 50px;

          user-select: none;

          .nav {
            margin: 5px 12px;

            .nav-link {
              &.active {
                background-color: #5572a1;
              }
            }
          }
        }
      }
    }


  }
}