 <div class="modal-header">
    <h4 class="modal-title">Ressource löschen?</h4>
</div>

<div class="modal-body">
    <div *ngIf="isRecordedInResourcesCount == 1" class="text-center alert alert-warning">
        Zu dieser Ressource gehört eine weitere Ressource, die beim Löschen ebenfalls entfernt wird.
    </div>
    <div *ngIf="isRecordedInResourcesCount > 1" class="text-center alert alert-warning">
        Zu dieser Ressource gehören insgesamt {{isRecordedInResourcesCount}} Ressourcen, die beim Löschen
        ebenfalls entfernt werden.
    </div>
    <div id="confirm-delete-info">
        Bitte geben Sie den Bezeichner der Ressource ein, um den Löschvorgang zu bestätigen.
    </div>
    <div class="input-group">
        <input id="delete-resource-input" type="text" class="form-control"
               [(ngModel)]="confirmDeletionIdentifier"/>
    </div>
</div>

<div class="modal-footer" *ngIf="document">
    <button id="delete-resource-confirm" class="btn btn-danger" type="button"
            [ngClass]="{ 'disabled': confirmDeletionIdentifier != document.resource.identifier }"
            (click)="confirmDeletionIdentifier != document.resource.identifier || activeModal.close('delete')">
        Löschen
    </button>
    <button type="button" id="delete-resource-cancel" class="btn btn-secondary" (click)="activeModal.close('cancel')">
        Abbrechen
    </button>
</div>
