<messages></messages>
<div class="container-fluid" id="app">


    <hr>

    <ul>
        <h3>Tree of (iDai-)Types from Configuration</h3>
        <li *ngFor="let type of types;">
            {{type['label']}}
            <i *ngIf="type.isAbstract">(Abstract)</i>

            <ul *ngIf="type['children']">
                Children:
                <li *ngFor="let childType of type['children'];">{{childType['label']}}</li>
            </ul>
        </li>
    </ul>


    <hr>

    <p>
        You can make changes to the documents using the documents edit demo
    </p>

    <div class="row">
        <div class="col-md-6">
            <ul>
                <li *ngFor="let document of documents; let i=index"><button (click)="clicked(document['resource']['id'])">document['resource']['id']: {{document['resource']['id']}}</button></li>
            </ul>

            <span *ngIf="selectedDocument">
                Selected document json:
            </span><br><br>
            <p>
                {{selectedDocument|json}}
            </p>
        </div>
        <div class="col-md-6">
            <span *ngIf="selectedDocument">Field definitions of selected document's type {{selectedDocument.resource.type}}</span>:<br><br>
            <p>
                {{fieldDefinitions|json}}
            </p>
        </div>
    </div>


    <hr>




    <div class="row" *ngIf="selectedDocument">
        <div class="col-md-6">
            <p>

                <code>&lt;document-view [document]="selectedDocument"&gt; &lt;fields-view [resource]="selectedDocument.resource"&gt;&lt;/fields-view&gt; &lt;/document-view&gt;</code>
            </p>

            <fields-view [resource]="selectedDocument.resource"></fields-view>
        </div>
        <div class="col-md-6">
            <p>
                <code>&lt;relations-view [resource]="selectedDocument.resource"&gt;&lt;/relations-view&gt;</code>
            </p>

            <relations-view *ngIf="selectedDocument" [resource]="selectedDocument.resource"
                (onRelationTargetClicked)="showRelationTargetClickedMessage($event)">
            </relations-view>
        </div>
    </div>
</div>