<div class="container-fluid" id="app">

    <p>
        <code>&lt;messages&gt;&lt;/messages&gt;</code>
    </p>

    <p>
        -
    </p>

    <p>
        Click on a button to show the corresponding message.
    </p>

    <p>
        Optionally you can define params that will be inserted into the content strings of messages that contain a
        corresponding placeholder: The placeholder "{{'{'}}0{{'}'}}" will be replaced by param 0, "{{'{'}}1{{'}'}}"
        will be replaced by param 1 etc.
    </p>

    <p>
        -
    </p>

    <div style="margin-bottom: 15px;"><input type="checkbox" [(ngModel)]="useParams"> Use params
        <div *ngIf="useParams">
            <div *ngFor="let i of [0]">
                Param {{i}}: <input [(ngModel)]="params[i]">
            </div>
        </div>
    </div>

    <div *ngFor="let msgKey of messageKeys">
        <button (click)="showMessage(msgKey)">Message: {{msgKey}}</button>
    </div>
    <div>
        <button (click)="clearMessages()">Delete all messages</button><br>
        <input type="checkbox" (change)="setHiddenForAll(!$event.target.checked)"> Message-History
    </div>

    <div class="well" style="margin-top: 15px;"><messages></messages></div>
</div>