<div class="row" (window:resize)="onResize($event)">

    <div class="col-lg-3 col-md-3 col-sm-3"
         id="imageOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-image"></span>
                    Bilder
                </h1>
            </header>

            <main>
                <search-bar [showFiltersMenu]="false" [defaultFilters]="defaultFilters" (onQueryChanged)="queryChanged($event)"></search-bar>
            </main>
        </aside>
    </div>

    <div [class.col-sm-9]="!selectedDocument" [class.col-sm-6]="selectedDocument">
        <section>
                <div *ngFor="let row of rows; let index = index" class="image-grid">
                    <!--(click)="select(document)"-->
                    <!--class="list-group-item"-->
                    <!--[class.selected]="getSelected() && getSelected().resource.id === document.id"-->
                    <!--[id]="'resource-' + document.resource.identifier"-->


                    <div *ngFor="let column of row; let ind = ind"
                          (click)="select(column['document'])"

                          [id]="'resource-' + column['document'].resource.identifier">

                        <div *ngIf="column['document'].resource.identifier || column['document'].resource.shortDescription"
                             class="imagedesc"
                             [style.left.px]="column['positionWithinRow']"
                             [style.top.px]="column['positionWithinColumn']">

                            <div class="identifier"
                                 [style.left.px]="column['positionWithinRow']+2"
                                 [style.top.px]="column['positionWithinColumn']+6">
                                {{column['document'].resource.identifier}}
                            </div>

                            <div class="title"
                                 [style.maxWidth.px]="column['calculatedWidth']"
                                 [style.left.px]="column['positionWithinRow']"
                                 [style.top.px]="column['positionWithinColumn']+102">
                                 <!--style="font-size: 8px;" -->

                                {{column['document'].resource.shortDescription}}
                            </div>


                        </div>

                        <div class="cell"
                             [style.left.px]="column['positionWithinRow']"
                             [style.top.px]="column['positionWithinColumn']">

                            <img src="mediastore/{{column['document'].resource['filename']}}"
                                 [style.height.px]="100"
                                 [style.width.px]="column['calculatedWidth']">
                        </div>
                    </div>
                </div>
        </section>
    </div>

    <div *ngIf="selectedDocument" class="col-sm-3 document-info">
        <div class="card">
            <div class="card-header">
                <h4>
                    <div style="margin-top: 3px; float: left;">Bild</div>
                </h4>
            </div>
            <div class="card-block">
                <document-view [document]="selectedDocument"></document-view>
            </div>
        </div>
    </div>

</div>
