<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-3"
         id="imageOverview">
        <aside>
            <header>
                <h1>
                    <span class="mdi mdi-image"></span>
                    Bilder
                </h1>
            </header>

            <main>
                <search-bar [showFiltersMenu]="false" [defaultFilters]="defaultFilters" (onQueryChanged)="queryChanged($event)"></search-bar>
            </main>
        </aside>
    </div>

    <div [class.col-sm-9]="!selectedDocument" [class.col-sm-6]="selectedDocument">
        <section>
            <ul class="list-group object-list" id="imageList">
                    <li *ngFor="let document of documents; let index = index"
                            (click)="select(document)"
                            class="list-group-item"
                            [class.selected]="getSelected() && getSelected().resource.id === document.id"
                            [id]="'resource-' + document.resource.identifier"
                            >

                            <div *ngIf="document['resource'].identifier || document['resource'].shortDescription">
                                <div class="title">
                                    {{document['resource'].shortDescription}}
                                </div>

                                <div class="identifier">
                                    {{document['resource'].identifier}}
                                </div>
                            </div>

                    </li>
                </ul>
        </section>
    </div>

    <div *ngIf="selectedDocument" class="col-sm-3 document-info">
        <div class="card">
            <div class="card-header">
                <h4>
                    <div style="margin-top: 3px; float: left;">Bild</div>
                </h4>
            </div>
            <div class="card-block">
                <document-view [document]="selectedDocument"></document-view>
            </div>
        </div>
    </div>

</div>
