<nav *ngIf="views" class="navbar navbar-expand-lg navbar-dark bg-primary"
     (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="navbar-brand" id="idai-field-brand"
            [class.navbar-brand-mac]="isRunningOnMac()">
        <div id="brand-text">
            <span id="brand-text-idai">iDAI.</span><span id="brand-text-field">field</span>
        </div>
    </div>

    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-tabbed mr-auto">
            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/resources/project')"
                   href="#" routerLink="/resources/project" i18n="@@navbar.overview">Übersicht</a>
            </li>
            <li class="nav-item">
                <span class="nav-link navbar-separator-element">|</span>
            </li>
            <li *ngFor="let view of views; let i=index" class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/resources/' + view.name)"
                   href="#" routerLink="/resources/{{view.name}}">{{view.label}}</a>
            </li>
            <li class="nav-item">
                <span class="nav-link navbar-separator-element">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/matrix')"
                   href="#" routerLink="/matrix" i18n="@@navbar.matrix">Matrix</a>
            </li>
            <li class="nav-item">
                <span class="nav-link navbar-separator-element">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/images')"
                   href="#" routerLink="/images" i18n="@@navbar.images">Bilder</a>
            </li>
        </ul>

        <taskbar></taskbar>
    </div>
</nav>
