.navbar {
  -webkit-app-region: drag;
  padding: 0 10px;
}

.navbar.bg-primary {
  background-color: $navbar-default-bg !important;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-weight: 700;
}

.navbar a {
  color: #fff;
}

.navbar-tabbed .nav-link {
  padding: 0.7em 1em;
  margin-top: 0.3em;
}

.navbar-dark .navbar-tabbed a.nav-link.active {
  background-color: $gray-100;
  color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
  }
  &:before {
    left: -5px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid $gray-100;
    border-right: 1px solid $gray-100;
    box-shadow: 2px 2px 0 $gray-100;
  }
  &:after {
    right: -5px;
    border-bottom-left-radius: 6px;
    border-bottom: 1px solid $gray-100;
    border-left: 1px solid $gray-100;
    box-shadow: -2px 2px 0 $gray-100;
  }
}

#idai-field-brand {
  padding: 0;
  margin-right: 20px;
  user-select: none;

  &.navbar-brand-mac {
    margin-left: 70px;
  }

  #brand-text {
    display: inline-block;
    cursor: default;

    #brand-text-idai {
      color: #ccc;
      font-size: 90%;
      font-weight: 300;
    }

    #brand-text-field {
      color: #fff;
    }

    #brand-text-number {
      color: #ccc;
    }
  }
}

#navbarSupportedContent {
  cursor: default;
}

.navbar-nav {
  margin-top: 0 !important;
  user-select: none;
}

.navbar-hover-element {
  transition: text-shadow .25s ease-in-out;
  cursor: pointer;
}

.navbar-separator-element:hover {
  color: #fff !important;
}
