<nav *ngIf="views" class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary"
     (dragover)="false"
     (dragleave)="false"
     (drop)="false">

    <div class="navbar-brand" id="idai-field-brand">
        <img src="img/logo.png">
        <div id="brand-text">
            <span id="brand-text-idai">iDAI.</span><span id="brand-text-field">field</span>
            <small id="brand-text-number">2</small>
        </div>
    </div>

    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">


            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/resources/project')"
                   href="#" routerLink="/resources/project">Übersicht</a>
            </li>

            <div ngbDropdown class="nav-item">

                <li id="navbar-dropdown" class="navbar-hover-element" ngbDropdownToggle></li>

                <div ngbDropdownMenu>

                    <div *ngFor="let view of selectableViews(); let i=index"
                         (click)="goto(view.name)"
                         class="navbar-hover-element dropdown-item"
                         [class.active]="isActiveRoute('/resources/' + view.name)">

                        <span class="dropdown-entry-label">{{view.label}}</span>
                    </div>
                </div>
            </div>



            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/resources/' + selectedView.name)"
                   href="#" routerLink="{{ '/resources/' + selectedView.name }}">{{selectedView.label}}</a>
            </li>


            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/matrix')"
                   href="#" routerLink="/matrix">Matrix</a>
            </li>




            <li class="nav-item">
                <a class="nav-link navbar-hover-element" [class.active]="isActiveRoute('/images')"
                   href="#" routerLink="/images">Bilder</a>
            </li>
        </ul>

        <taskbar></taskbar>
    </div>

</nav>