<nav class="navbar navbar-expand-lg navbar-dark bg-primary"
     (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="navbar-brand" id="idai-field-brand"
            [class.navbar-brand-mac]="isRunningOnMac()">
        <div id="brand-text">
            <span id="brand-text-idai">iDAI.</span><span id="brand-text-field">field</span>
        </div>
    </div>

    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="isActiveRoute('/resources') || isActiveRoute('/matrix')"
            class="nav navbar-nav navbar-tabbed mr-auto">
            <li id="navbar-project" class="nav-item">
                <a class="nav-link" [class.active]="isActiveRoute('/resources/project')"
                   href="#" routerLink="/resources/project" i18n="@@navbar.overview">Übersicht</a>
            </li>
            <li *ngFor="let tab of getTabs()" id="{{getTabId(tab)}}" class="nav-item">
                <a class="nav-link tab"
                   [class.active]="isActiveRoute(getTabRoute(tab))"
                   (click)="router.navigate(getTabRouteArray(tab))">
                    {{tab.label}}
                    <span class="mdi mdi-close" (click)="$event.stopPropagation(); close(tab);"></span>
                </a>
            </li>
        </ul>

        <ul *ngIf="!isActiveRoute('/resources') && !isActiveRoute('/matrix')"
            id="non-resources-tab" class="nav navbar-nav navbar-tabbed mr-auto">
            <li class="nav-item">
                <a class="nav-link tab active">
                    {{getActiveRouteLabel()}}
                    <span class="mdi mdi-close"
                          (click)="$event.stopPropagation(); returnToLastResourcesRoute();"></span>
                </a>
            </li>
        </ul>

        <taskbar></taskbar>
    </div>
</nav>
