$tab-bg-color: $gray-100;
$tab-bg-color-hover: lighten($navbar-default-bg, 10%);
$link-hover-color: lighten($navbar-default-bg, 30%);

.navbar {
  -webkit-app-region: drag;
  padding: 0 10px;

  .nav-item {
    -webkit-app-region: no-drag;
    max-height: 51px;
  }

  .dropdown-menu {
    z-index: 1050;
  }
}

.navbar.bg-primary {
  background-color: $navbar-default-bg !important;
}

.navbar a {
  color: #fff;
  cursor: default;

  &:hover {
    color: $link-hover-color;
  }
}

.navbar .mdi:hover {
  color: $link-hover-color;
}

.navbar button .mdi:hover {
  color: #fff;
}

.navbar-tabbed .nav-link {
  padding: 0.7em 1em;
  margin-top: 0.3em;
}

#non-resources-tab {
  height: 51px;

  button {
    -webkit-app-region: no-drag;
  }

  .nav-link {
    position: relative;
    left: -10px;
    margin-top: 4px;
  }
}

.navbar-dark .navbar-tabbed a.nav-link.tab {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;

  &.closable-tab {
    padding-right: 9px !important;

    type-icon {
      position: relative;
      top: 1px;
      left: -4px;
    }
  }

  &:before,
  &:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
  }
  &:before {
    left: -5px;
  }
  &:after {
    right: -5px;
  }

  &:focus {
    color: #fff;
    outline: none;
  }

  &.active {
    background-color: $tab-bg-color;
    color: #000;
    z-index: 10;

    &:before {
      border-color: $tab-bg-color;
      box-shadow: 2px 2px 0 $tab-bg-color;
      border-bottom-right-radius: 6px;
      border-bottom: 1px solid $tab-bg-color;
      border-right: 1px solid $tab-bg-color;
    }

    &:after {
      border-color: $tab-bg-color;
      box-shadow: -2px 2px 0 $tab-bg-color;
      border-bottom-left-radius: 6px;
      border-bottom: 1px solid $tab-bg-color;
      border-left: 1px solid $tab-bg-color;
    }

    .mdi-close:hover {
      color: #000;
      background-color: #dee2e6;
    }
  }

  &:not(.active) {
    .mdi-close:hover {
      color: #fff;
      background-color: lighten($navbar-default-bg, 15%);
    }
  }

  &:hover:not(.active) {
    background-color: $tab-bg-color-hover;
    z-index: 5;
    color: white;

    &:before {
      border-color: $tab-bg-color-hover;
      box-shadow: 2px 2px 0 $tab-bg-color-hover;
      border-bottom-right-radius: 6px;
      border-bottom: 1px solid $tab-bg-color-hover;
      border-right: 1px solid $tab-bg-color-hover;
    }

    &:after {
      border-color: $tab-bg-color-hover;
      box-shadow: -2px 2px 0 $tab-bg-color-hover;
      border-bottom-left-radius: 6px;
      border-bottom: 1px solid $tab-bg-color-hover;
      border-left: 1px solid $tab-bg-color-hover;
    }
  }

  &:not(:hover):not(.active) {
    .mdi-close {
      opacity: 0;
    }
  }

  .mdi-close {
    position: relative;
    top: 1px;
    width: 18px;
    height: 18px;
    display: inline-block;
    padding-left: 1px;
    line-height: normal;
    border-radius: 4px;
    transition: opacity 0.2s ease, background-color 0.2s ease;
  }
}

#navbarSupportedContent {
  cursor: default;

  &.mac-margin {
    margin-left: 70px;
  }
}

.navbar-nav {
  margin-top: 0 !important;
  user-select: none;
}
