$tab-bg-color: $gray-100;
$tab-bg-color-hover: lighten($navbar-default-bg, 10%);
$link-hover-color: lighten($navbar-default-bg, 30%);

.navbar {
  -webkit-app-region: drag;
  padding: 0 10px;

  .nav-item {
    -webkit-app-region: no-drag;
  }
}

.navbar.bg-primary {
  background-color: $navbar-default-bg !important;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-weight: 700;
}

.navbar a {
  color: #fff;
  cursor: default;

  &:hover {
    color: $link-hover-color;
  }
}

.navbar .mdi:hover {
  color: $link-hover-color;
}

.navbar-tabbed .nav-link {
  padding: 0.7em 1em;
  margin-top: 0.3em;
}

.navbar-dark .navbar-tabbed a.nav-link {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
  }
  &:before {
    left: -5px;
  }
  &:after {
    right: -5px;
  }

  &.active {
    background-color: $tab-bg-color;
    color: #000;
    z-index: 10;

    &:before {
      border-color: $tab-bg-color;
      box-shadow: 2px 2px 0 $tab-bg-color;
      border-bottom-right-radius: 6px;
      border-bottom: 1px solid $tab-bg-color;
      border-right: 1px solid $tab-bg-color;
    }

    &:after {
      border-color: $tab-bg-color;
      box-shadow: -2px 2px 0 $tab-bg-color;
      border-bottom-left-radius: 6px;
      border-bottom: 1px solid $tab-bg-color;
      border-left: 1px solid $tab-bg-color;
    }
  }

  &:hover:not(.active) {
    background-color: $tab-bg-color-hover;
    z-index: 5;
    color: white;

    &:before {
      border-color: $tab-bg-color-hover;
      box-shadow: 2px 2px 0 $tab-bg-color-hover;
      border-bottom-right-radius: 6px;
      border-bottom: 1px solid $tab-bg-color-hover;
      border-right: 1px solid $tab-bg-color-hover;
    }

    &:after {
      border-color: $tab-bg-color-hover;
      box-shadow: -2px 2px 0 $tab-bg-color-hover;
      border-bottom-left-radius: 6px;
      border-bottom: 1px solid $tab-bg-color-hover;
      border-left: 1px solid $tab-bg-color-hover;
    }
  }

}

#idai-field-brand {
  padding: 0;
  margin-right: 20px;
  user-select: none;

  &.navbar-brand-mac {
    margin-left: 70px;
  }

  #brand-text {
    display: inline-block;
    cursor: default;

    #brand-text-idai {
      color: #ccc;
      font-size: 90%;
      font-weight: 300;
    }

    #brand-text-field {
      color: #fff;
    }

    #brand-text-number {
      color: #ccc;
    }
  }
}

#navbarSupportedContent {
  cursor: default;
}

.navbar-nav {
  margin-top: 0 !important;
  user-select: none;
}

.navbar-hover-element {
  transition: text-shadow .25s ease-in-out;
  cursor: pointer;
}

.navbar-separator-element:hover {
  color: #fff !important;
}
