<div id="taskbar-update">
    <a *ngIf="progressPercent > -1 && !downloadComplete"
       ngbTooltip="Version {{version}} wird heruntergeladen..."
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-info taskbar-badge">
            {{progressPercent}}%
        </span>
    </a>

    <a *ngIf="downloadComplete"
       ngbTooltip="Version {{version}} wurde heruntergeladen und wird beim Neustart installiert"
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-success taskbar-badge">
            ✓
        </span>
    </a>

    <a *ngIf="!isAutoUpdateActive()"
       ngbTooltip="Die automatische Prüfung auf Updates wurde deaktiviert. Sie verwenden möglicherweise nicht die neueste Version von iDAI.field."
       placement="bottom" container="body">
        <span class="mdi mdi-arrow-down-bold mdi-18px"></span>
        <span class="badge-pill badge-warning taskbar-badge">
            ?
        </span>
    </a>
</div>