<ul class="nav navbar-nav taskbar">
    <li class="nav-item pr-2">
        <taskbar-update></taskbar-update>
    </li>

    <li class="nav-item conflicts pr-2">
        <taskbar-conflicts></taskbar-conflicts>
    </li>

    <li class="nav-item navbar-hover-element pr-2">
        <a href="#" routerLink="/settings">
            <span class="mdi mdi-cloud" *ngIf="this.isConnected() && !receivingRemoteChanges"
                  ngbTooltip="Synchronisation ist aktiv"
                  placement="bottom" container="body">
            </span>
            <span class="mdi mdi-cloud-off-outline" *ngIf="!this.isConnected() && !receivingRemoteChanges"
                  ngbTooltip="Synchronisation ist deaktiviert"
                  placement="bottom" container="body">
            </span>
            <span class="mdi mdi-cloud-download" *ngIf="receivingRemoteChanges"
                  ngbTooltip="Daten werden empfangen..."
                  placement="bottom" container="body">
            </span>
        </a>
    </li>

    <li class="nav-item navbar-hover-element">
        <projects></projects>
    </li>

    <div ngbDropdown placement="bottom-right">
        <li id="taskbar-dropdown" class="nav-item navbar-hover-element" ngbDropdownToggle>
            <span class="mdi mdi-dots-vertical"></span>
        </li>
        <div ngbDropdownMenu>
            <a id="help-button" href="#" routerLink="/help" class="dropdown-item">
                <span class="mdi mdi-help" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Hilfe</span>
            </a>
            <a id="import-button" href="#" routerLink="/import" class="dropdown-item">
                <span class="mdi mdi-file-import" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Import</span>
            </a>
            <a id="backup-creation-button" href="#" routerLink="/backup-creation" class="dropdown-item">
                <span class="mdi mdi-database-export" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Backup erstellen</span>
            </a>
            <a id="backup-loading-button" href="#" routerLink="/backup-loading" class="dropdown-item">
                <span class="mdi mdi-database-import" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Backup einlesen</span>
            </a>
            <a id="settings-button" href="#" routerLink="/settings" class="dropdown-item">
                <span class="mdi mdi-settings" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Einstellungen</span>
            </a>
        </div>
    </div>
</ul>


