<ul class="nav navbar-nav taskbar">
    <li class="nav-item pr-2">
        <taskbar-update></taskbar-update>
    </li>

    <li class="nav-item conflicts pr-2">
        <taskbar-conflicts></taskbar-conflicts>
    </li>

    <li class="nav-item pr-2">
        <a href="#" routerLink="/settings">
            <span class="mdi mdi-cloud" *ngIf="isConnected() && !receivingRemoteChanges"
                  ngbTooltip="Synchronisation ist aktiv"
                  i18n-ngbTooltip="@@navbar.taskbar.synchronization.active"
                  placement="bottom" container="body">
            </span>
            <span class="mdi mdi-cloud-off-outline" *ngIf="!isConnected() && !receivingRemoteChanges"
                  ngbTooltip="Synchronisation ist deaktiviert"
                  i18n-ngbTooltip="@@navbar.taskbar.synchronization.deactivated"
                  placement="bottom" container="body">
            </span>
            <span class="mdi mdi-cloud-download" *ngIf="receivingRemoteChanges"
                  ngbTooltip="Daten werden empfangen..."
                  i18n-ngbTooltip="@@navbar.taskbar.synchronization.receivingData"
                  placement="bottom" container="body">
            </span>
        </a>
    </li>

    <li class="nav-item">
        <projects></projects>
    </li>

    <div ngbDropdown placement="bottom-right">
        <li id="taskbar-dropdown" class="nav-item" ngbDropdownToggle>
            <span class="mdi mdi-dots-vertical"></span>
        </li>
        <div ngbDropdownMenu>
            <a id="help-button" (click)="openTab('help')" class="dropdown-item">
                <span class="mdi mdi-help"></span>
                <span class="dropdown-entry-label" i18n="@@navbar.taskbar.dropdown.help">Hilfe</span>
            </a>
            <a id="import-button" (click)="openTab('import')" class="dropdown-item">
                <span class="mdi mdi-file-import"></span>
                <span class="dropdown-entry-label" i18n="@@navbar.taskbar.dropdown.import">Import</span>
            </a>
            <a id="export-button" (click)="openTab('export')" class="dropdown-item">
                <span class="mdi mdi-file-export"></span>
                <span class="dropdown-entry-label" i18n="@@navbar.taskbar.dropdown.export">Export</span>
            </a>
            <a id="backup-creation-button" (click)="openTab('backup-creation')" class="dropdown-item">
                <span class="mdi mdi-database-export"></span>
                <span class="dropdown-entry-label"
                      i18n="@@navbar.taskbar.dropdown.createBackup">Backup erstellen</span>
            </a>
            <a id="backup-loading-button" (click)="openTab('backup-loading')" class="dropdown-item">
                <span class="mdi mdi-database-import"></span>
                <span class="dropdown-entry-label"
                      i18n="@@navbar.taskbar.dropdown.restoreBackup">Backup einlesen</span>
            </a>
            <a id="settings-button" (click)="openTab('settings')" class="dropdown-item">
                <span class="mdi mdi-settings"></span>
                <span class="dropdown-entry-label"
                      i18n="@@navbar.taskbar.dropdown.settings">Einstellungen</span>
            </a>
        </div>
    </div>
</ul>


