@import 'taskbar-conflicts';
@import 'taskbar-update';

.taskbar {
  margin-top: 2px;

  .mdi {
    font-size: 1.7em;
  }

  .mdi-cloud,
  .mdi-cloud-outline-off,
  .mdi-dots-vertical,
  .mdi-alert-outline {
    color: #fff;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-item {
    font-size: 15px;

    .mdi {
      color: #5572a1;
    }
  }

  .dropdown-item:focus {
    background-color: #fff;
  }

  .dropdown-item:hover {
    background-color: $list-item-hover-color;
  }

  .dropdown-item:active {
    background-color: darken($list-item-hover-color, 5%);
  }

  .dropdown-entry-label {
    position: relative;
    display: inline-block;
    top: -4px;
    margin-left: 5px;
    color: black;
  }

  .taskbar-badge {
    position: absolute;
    font-size: 0.6em;
    top: 22px;
    right: 0;
    padding-left: 0.5em;
  }
}