<ul class="nav navbar-nav taskbar">
    <li class="nav-item conflicts pr-2">
        <taskbar-conflicts></taskbar-conflicts>
    </li>

    <li class="nav-item navbar-hover-element pr-2">
        <a href="#" routerLink="/settings">
            <span class="mdi mdi-cloud" *ngIf="connected"
                  ngbTooltip="Synchronisierung ist aktiv"
                  placement="bottom" container="body"></span>
            <span class="mdi mdi-cloud-outline-off" *ngIf="!connected"
                  ngbTooltip="Synchronisierung ist deaktiviert"
                  placement="bottom" container="body"></span>
        </a>
    </li>

    <li class="nav-item navbar-hover-element">
        <projects></projects>
    </li>

    <div ngbDropdown placement="bottom-right">
        <li id="taskbar-dropdown" class="nav-item navbar-hover-element" ngbDropdownToggle>
            <span class="mdi mdi-dots-vertical"></span>
        </li>
        <div ngbDropdownMenu>
            <a id="import-button" href="#" routerLink="/import" class="dropdown-item">
                <span class="mdi mdi-file-import" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Import</span>
            </a>
            <a id="export-button" href="#" routerLink="/backup" class="dropdown-item">
                <span class="mdi mdi-file-export" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Backup</span>
            </a>
            <a id="settings-button" href="#" routerLink="/settings" class="dropdown-item">
                <span class="mdi mdi-settings" placement="bottom" container="body"></span>
                <span class="dropdown-entry-label">Einstellungen</span>
            </a>
        </div>
    </div>
</ul>


