<cdk-virtual-scroll-viewport>
    <div *cdkVirtualFor="let document of documents"
            id="type-grid-element-{{document.resource.identifier}}"
            class="type-grid-element"
            (click)="clickDocument.emit(document)"
            (contextmenu)="contextmenuDocument.emit({mouseEvent: $event, document: document})">
        <type-grid-element [document]="document"
                           [subtype]="typesComponent.getLinkedSubtype(document)"
                           [images]="images[document.resource.id]"
        ></type-grid-element>
    </div>
</cdk-virtual-scroll-viewport>
