<div id="resource-view-modal-header" class="d-flex justify-content-between">
    <div class="text-truncate">{{document.resource.identifier}}</div>

    <button class="btn btn-primary"
            id="close-button"
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="resource-view-modal-body" class="modal-body px-0">
    <div id="resource-view" class="flex-nowrap bg-light px-0">
        <div id="popover">
            <div id="popover-header">
                <button id="expand-all-groups-button" class="btn btn-light"
                        [class.active]="expandAllGroups"
                        ngbTooltip="Alle Gruppen ausklappen"
                        i18n-ngbTooltip="@@resources.sidebarList.expandAllGroups"
                        #tooltip="ngbTooltip" placement="right" container="body" triggers="manual"
                        (mouseover)="tooltip.open()" (mouseleave)="tooltip.close()"
                        (click)="tooltip.close(); expandAllGroups = !expandAllGroups;">
                    <span class="mdi mdi-unfold-more-horizontal"></span>
                </button>
                <div id="identifier-label">{{document.resource.identifier}}</div>
                <button id="edit-resource-button" class="btn btn-light" (click)="startEdit()">
                    <span class="mdi mdi-pencil"></span>
                </button>
            </div>

            <div #resourceInfo id="resource-info"
                 [class.scrollbar-visible]="resourceInfoScrollbarVisible">
                <fields-view [resource]="document.resource"
                             [openSection]="openSection"
                             [expandAllGroups]="expandAllGroups"
                             (onSectionToggled)="setOpenSection($event)"></fields-view>
            </div>
        </div>

        <image-viewer *ngIf="selectedImage" [image]="selectedImage.document"></image-viewer>

        <image-row [images]="images"
                   [selectedImage]="selectedImage"
                   [highlightOnHover]="true"
                   [allowSelection]="true"
                   (onImageSelected)="onSelected($event)"></image-row>
    </div>
</div>
