type-row {
  $type-row-height: 174px;

  .type-row {
    position: relative;
    display: flex;
    background-color: white;
    margin-bottom: -1px;
    border-bottom: 2px solid #dddddd;

    .type-info {
      position: relative;
      min-width: 304px;
      height: $type-row-height;
      border-right: 1px solid #dddddd;

      #type-thumbnail {
        margin-left: 8px;
        margin-top: 2px;
        margin-bottom: 8px;

        thumbnail #thumbnail-container {
          width: 267px;
          height: 140px;
        }
      }

      .type-title {
        text-align: center;
        height: 24px;
        width: 279px;
      }

      .sidebar-list-button-group {
        top: 0;
        width: 24px;
        height: $type-row-height;

        .info-button {
          height: 87px;
        }

        .hierarchy-button {
          left: 0;
          top: 87px;
          height: 87px;
        }

        .btn span {
          top: 31px;
        }
      }
    }

    .badge {
      position: absolute;
      left: 307px;
      top: 3px;
      z-index: 2;
      opacity: 0.8;
      user-select: none;
    }

    image-row .image-row .type-image-container img {
      max-height: $type-row-height;
    }
  }

  &:last-child {
    .type-row {
      border-bottom: 1px solid #dddddd;
    }
  }
}