type-row {
  $type-row-height: 174px;

  .type-row {
    position: relative;
    display: flex;
    background-color: white;
    margin-bottom: -1px;
    border-bottom: 2px solid #dddddd;

    .type-container {
      position: relative;
      min-width: 304px;
      height: $type-row-height;
      border-right: 1px solid #dddddd;
      user-select: none;

      .type-info {
        height: 100%;
        width: calc(100% - 24px);
        transition: background-color 0.25s ease-in-out;

        .type-title {
          text-align: center;
          height: 24px;
          width: 279px;
        }

        .type-thumbnail {
          margin-left: 8px;
          margin-top: 2px;
          margin-bottom: 8px;

          thumbnail .thumbnail-container {
            width: 267px;
            height: 140px;
          }
        }

        &:hover {
          background-color: darken(#fff, 8%);

          img {
            filter: brightness(92%);
          }
        }
      }
      .sidebar-list-button-group {
        top: 0;
        width: 24px;
        height: $type-row-height;

        .hierarchy-button {
          left: 0;
          height: 174px;
        }

        .btn span {
          top: 75px;
        }
      }
    }

    .numberOfLinkedResourcesInfo {
      position: absolute;
      left: 307px;
      top: 3px;
      z-index: 2;
      background-color: #f8f9fad4;
      user-select: none;
    }

    image-row .image-row .image-container {
      img {
        max-height: $type-row-height;
      }

      .image-placeholder {
        height: $type-row-height;
      }
    }
  }

  &:last-child {
    .type-row {
      border-bottom: 1px solid #dddddd;
    }
  }
}