type-list {
  #type-list {
    height: calc(100vh - 140px);
    margin-top: 2px;
    margin-left: -7px;
    margin-right: -7px;
    background-color: white;
    border: 1px solid #dddddd;
    overflow-y: auto;
  }

  #popover-menu {
    left: 312px;
    height: calc(100vh - 139px);
  }

  #plus-button-container {
    height: 38px;

    #create-document-button .circular-button {
      left: calc(50% - 20px);
      margin: -20px auto auto auto;
    }
  }

  loading-icon {
    position: relative;
    bottom: 14px;
  }
}