type-list {
  #type-list {
    height: calc(100vh - 138px);
    background-color: white;
    border: 1px solid #dddddd;
    overflow-y: auto;
  }

  #plus-button-container {
    height: 38px;

    #create-document-button .circular-button {
      left: calc(50% - 20px);
      margin: -20px auto auto auto;
    }
  }

  loading-icon {
    position: relative;
    bottom: 14px;
  }
}