<div #typeRow class="type-row"
     (mouseover)="highlightDocument(document)"
     (mouseleave)="highlightDocument(undefined)">
    <div class="type-info">
        <div class="type-title">
            <b>{{document.resource.identifier}}</b>
        </div>
        <div id="type-thumbnail">
            <thumbnail [identifier]="document.resource.identifier"
                       [isDepictedInRelations]="document.resource.relations.isDepictedIn"></thumbnail>
        </div>
        <list-button-group [document]="document"
                           [alwaysShowInfoButtons]="true"></list-button-group>
    </div>

    <image-row [imageIds]="linkedImagesIds"></image-row>
</div>