type-row {
  .type-row {
    $type-row-height: 175px;

    position: relative;
    display: flex;
    background-color: white;
    margin: 2px;

    .type-info {
      min-width: 304px;
      height: $type-row-height;
      border-right: 2px solid lightgrey;

      .type-image-container {
        display: flex;
        justify-content: center;

        img {
          max-width: 300px;
          max-height: 150px;
        }
      }

      .type-title {
        text-align: center;
        height: 25px;
      }
    }

    image-row .image-row .type-image-container img {
      max-height: $type-row-height;
    }
  }
}