@import 'upload-modal';

/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

.import {

  .import-nav {
    position: relative;
    z-index: 1001;
    border-bottom: 1px solid $gray-200;
  }

  .import-container {
    height: calc(100vh - 107px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .spinner {
    position: relative;
    top: 15px;
    left: 5px;
  }

  .disabled {
    cursor: not-allowed;
  }

  .geojson-info {
    font-size: 14px;
    margin-bottom: 12px;
  }

}
