/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

.import {
  .spinner {
    position: relative;
    top: 15px;
    left: 5px;
  }

  .disabled {
    cursor: not-allowed;
  }

  .import-info {
    font-size: 14px;
    margin-bottom: 12px;
    user-select: none;
  }

  .form-check-inline {
    margin-bottom: 8px;

    .form-check-label {
      position: relative;
      top: 2px;
      user-select: none;
    }
  }
}
