#import-upload-modal {

  .import-upload-modal-container {
    width: 284px;
    margin: 0 auto;

    .spinner {
      display: inline-block;
      margin-top: 7px;
      margin-right: 10px;
    }

    .upload-info {
      display: inline-block;
      position: relative; top: -14px;
    }
  }

}