<div class="modal-header">
    <h5 class="modal-title" i18n="@@settings.addLanguage">Sprache hinzufügen</h5>
</div>

<div class="modal-body language-picker-modal-body">
    <ul *ngIf="languages" class="list-group">
        <li *ngFor="let languageCode of getLanguageCodes()"
            id="language-option-{{languageCode}}"
            class="list-group-item" (click)="select(languageCode)">
            {{getLabel(languageCode)}} <code>{{languageCode}}</code>
        </li>
    </ul>
</div>

<div class="modal-footer">
    <div id="close-projects-modal-button"
         class="btn btn-secondary"
         (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.close">Schließen</span>
    </div>
</div>
