multi-language-input {
  .input-group {
    width: 100%;

    .language-label,
    .language-select {
      width: 200px !important;
      height: 33.5px !important;
      font-size: 13px;
    }

    .language-label {
      background-color: #e9ecef;
      user-select: none;
    }

    .language-input {
      width: calc(100% - 199px);
    }

    .col-form-label {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .btn {
    position: relative;
    right: 1px;
    height: 33.5px;

    .mdi {
      position: relative;
      bottom: 2px;
      right: 1px;
    }
  }

  .btn-success {
    position: relative;
    left: 1px;
  }

  select {
    flex: unset !important;
  }
}
