references-input {
  .reference-input-container {
    width: calc(100% - 41px);

    .reference-input {
      position: relative;
      border-right: none;
    }
  }

  .btn-danger {
    height: 33.5px;

    .mdi {  
      position: relative;
      bottom: 2px;
      right: 1px;
    }
  }
}
