<h2>Installation</h2>

This server runs FieldHub, the central server for syncing different projects using the iDAI.field client. If you want to setup your own FieldHub,
see: <a href="https://github.com/dainst/idai-field/tree/master/server">Github README</a>.
