<h2>FieldHub</h2>

This server runs FieldHub, the central server for syncing different projects that use the  <a href="https://github.com/dainst/idai-field/releases">Field desktop client</a>. If you want to setup your own FieldHub,
see the <a href="https://github.com/dainst/idai-field/tree/master/server">Documentation</a>.
  