<div id="map-container"></div>

<div *ngIf="layers.length > 0">
    <div *ngIf="!layerMenuVisible" id="layer-button" class="btn btn-primary"
         (mouseenter)="layerMenuVisible = true;"><span class="mdi mdi-layers mdi-18px"></span></div>
    <div *ngIf="layerMenuVisible" id="layer-menu" class="card card-block form-group"
         (mouseleave)="layerMenuVisible = false;">
        <div *ngFor="let layer of layers" class="layer-entry">
            <span *ngIf="isActiveLayer(layer)">
                <span class="mdi mdi-eye layer-menu-button layer-active" (click)="toggleLayer(layer)"
                      data-toggle="tooltip" title="Karte ausblenden"></span>
                <span class="mdi mdi-image-filter-center-focus layer-menu-button layer-active"
                      data-toggle="tooltip" title="Karte fokussieren" (click)="focusLayer(layer)"></span>
            </span>
            <span *ngIf="!isActiveLayer(layer)">
                <span class="mdi mdi-eye-off layer-menu-button layer-inactive" (click)="toggleLayer(layer)"
                      data-toggle="tooltip" title="Karte anzeigen"></span>
                <span class="mdi mdi-image-filter-center-focus layer-menu-button layer-inactive"></span>
            </span>
            <span class="layer-menu-label">{{getLayerLabel(layer)}}</span>
        </div>
    </div>
</div>

<div *ngIf="isEditing">
    <div *ngIf="mousePositionCoordinates" id="mouse-position-coordinates-x" class="badge badge-secondary">
        <b>X:</b> {{mousePositionCoordinates[0]}}
    </div>
    <div *ngIf="mousePositionCoordinates" id="mouse-position-coordinates-y" class="badge badge-secondary">
        <b>Y:</b> {{mousePositionCoordinates[1]}}
    </div>
    <div *ngIf="selectedPolygon || selectedPolyline || editableMarker" id="map-editor-button-delete"
         class="btn btn-danger mdi mdi-delete mdi-24px" (click)="deleteGeometry()"></div>
    <div *ngIf="!selectedPolygon && !selectedPolyline && !editableMarker" id="map-editor-button-delete-disabled"
         class="btn btn-danger disabled mdi mdi-delete mdi-24px"></div>
    <div *ngIf="getEditorType() == 'polygon'" id="map-editor-button-add-polygon"
         class="btn btn-success mdi mdi-shape-polygon-plus mdi-24px" (click)="addPolygon()"></div>
    <div *ngIf="getEditorType() == 'polyline'" id="map-editor-button-add-polyline"
         class="btn btn-success mdi mdi-vector-polyline mdi-24px" (click)="addPolyline()"></div>
    <div id="map-editor-button-ok" class="btn btn-primary" (click)="finishEditing()">OK</div>
    <div id="map-editor-button-abort" class="btn btn-secondary" (click)="abortEditing()">Abbrechen</div>
</div>