/**
 * @author: Thomas Kleinke
 */

$layer-menu-button-color: #657faa;
$layer-menu-button-inactive-color: grey;

#layer-button,
#layer-menu {
  position: absolute;
  z-index: 1000;
  right: 8px;
  border: none;
  border-radius: 0;
}

#layer-button {
  top: 10px;
  height: 41px;
  padding-top: 8px;
}

#layer-menu {
  top: 51px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.25rem !important;
  background-color: #f8f9fa !important;
  cursor: default !important;
  user-select: none;

  .layer-menu-container {
    max-height: 296px;
    overflow-y: auto;
    overflow-x: hidden;

    .form-group {
      margin-bottom: 0;

      .layer-entry {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
      }

      .layer-menu-button {
        padding: 0;
        margin-right: 5px;
        font-size: 18px;
        cursor: pointer !important;
      }

      .layer-menu-button.layer-active {
        color: $layer-menu-button-color !important;
      }

      .layer-menu-button.layer-inactive {
        color: $layer-menu-button-inactive-color !important;
      }

      .layer-menu-button:hover {
        color: lighten($layer-menu-button-color, 10%) !important;
      }

      .layer-menu-button.layer-inactive.mdi-image-filter-center-focus {
        visibility: hidden;
      }

      .layer-menu-label {
        position: relative;
        bottom: 2px;
        font-size: 14px;
      }
    }
  }
}