/**
 * @author: Thomas Kleinke
 */

@import 'layer-menu';

#map-container {
  width: 100%;
  height: calc(100vh - 100px);
  user-select: none;

  .leaflet-overlay-pane path {

      &.templine {
        stroke: blue;
        stroke-width: 1px;
      }

      &.hintline {
        stroke: blue;
        stroke-width: 1px;
        stroke-dasharray: 5;
      }
    }
}

#mouse-position-coordinates-x,
#mouse-position-coordinates-y,
#map-editor-button-ok,
#map-editor-button-abort,
#map-editor-button-delete,
#map-editor-button-delete-disabled,
#map-editor-button-add-polygon,
#map-editor-button-add-polyline,
#map-editor-button-add-point {
  position: absolute;
  z-index: 1000;
}

#mouse-position-coordinates-x,
#mouse-position-coordinates-y {
  left: 52px;
  pointer-events: none;
}

#mouse-position-coordinates-x {
  top: 11px;
}

#mouse-position-coordinates-y {
  top: 32px;
}

#map-editor-buttons {
  .mdi-24px {
    position: relative;
    bottom: 3px;
  }

  #map-editor-button-ok {
    right: 119px;
    bottom: 8px;
  }

  #map-editor-button-abort {
    right: 8px;
    bottom: 8px;
  }

  #map-editor-button-delete,
  #map-editor-button-delete-disabled {
    left: 10px;
    bottom: 8px;
    height: 38px;
    width: 38px;
    padding: 3px;
  }

  #map-editor-button-add-polygon,
  #map-editor-button-add-polyline,
  #map-editor-button-add-point {
    left: 56px;
    bottom: 8px;
    height: 38px;
    width: 38px;
    padding: 3px;
  }
}