#instance-of-modal .type-row {
  width: 100%;
  height: 175px;
  max-height: 175px;
  position: relative;
  display: flex;

  .type-info {
    width: 150px;
    max-width: 150px;
    height: 175px;
  }
}