<div class="form-group card">
    <div class="card-block">
        <div id="image-tab-container" (window:resize)="onResize()">

            <div class="btn-toolbar">
                <button type="button" id="create-depicts-relations-btn"
                        class="btn btn-primary pull-right" (click)="openImagePicker()">
                    <span class="mdi mdi-plus-circle"></span>
                    <span class="button-label" i18n="@@docedit.tabs.images.linkImages">Bilder verknüpfen</span>
                </button>

                <span *ngIf="selected.length">
                    <div class="btn-group">
                        <button *ngIf="selected.length === 1 && !isMainImage(selected[0])"
                                id="set-main-image" type="button"
                                class="btn btn-primary"
                                (click)="setMainImage()"
                                ngbTooltip="Als Hauptbild festlegen"
                                i18n-ngbTooltip="@@docedit.tabs.images.tooltips.setMainImage"
                                placement="bottom" container="body">
                            <span class="mdi mdi-star"></span>
                        </button>
                        <button id="delete-images" type="button" class="btn btn-danger" (click)="removeLinks()"
                                ngbTooltip="{{getRemoveLinksTooltip()}}" placement="bottom" container="body">
                            <span class="mdi mdi-link-off"></span>
                        </button>
                        <button id="deselect-images" type="button" class="btn btn-secondary" (click)="clearSelection()"
                                ngbTooltip="Auswahl aufheben"
                                i18n-ngbTooltip="@@docedit.tabs.images.tooltips.deselect"
                                placement="bottom" container="body">
                            <span class="mdi mdi-selection-off"></span>
                        </button>
                    </div>
                </span>
            </div>

            <div class="image-grid-container">
                <image-grid #imageGrid
                            [nrOfColumns]="3"
                            [selected]="selected"
                            [documents]="documents"
                            [showLinkBadges]="false"
                            [showShortDescription]="false"
                            [paddingRight]="15"
                            [main]="getMainImage()"
                            (onClick)="select($event)">
                </image-grid>
            </div>
        </div>
    </div>
</div>
