@import 'image-grid-cell';
@import 'drop-area';

.image-grid {
  margin-top: 15px;
  position: relative;
  pointer-events: none;

  .cell-container {
    display: inline-block;
    vertical-align: top;
  }

  .droparea-container {
    padding: 5px;
    pointer-events: auto !important;
  }

  .image-grid-row {
    overflow: visible;
    width: max-content;
  }

  .cell {
    position: relative;
    user-select: none;
    pointer-events: auto !important;

    &.selected::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      box-shadow: 0 0 10px 2px $brand-primary !important;
    }

    &:hover {
      box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.3);
      z-index: 100;

      .title {
        display: block;
      }
    }
  }
}

