<div id="navigation" class="row">
    <div id="hierarchy-mode-switch"
         class="btn {{isInExtendedSearchMode() ? 'btn-primary' : 'btn-outline-primary'}} btn-square mr-2"
         ngbTooltip="{{getTooltip()}}"
         placement="right"
         container="body"
         triggers="manual"
         #tooltip="ngbTooltip"
         (mouseover)="tooltip.open()"
         (mouseleave)="tooltip.close()"
         (mousedown)="tooltip.close()"
         (click)="toggleDisplayHierarchy()">
            <span *ngIf="!isInExtendedSearchMode()" class="mdi mdi-magnify"></span>
            <span *ngIf="isInExtendedSearchMode()" class="mdi mdi-magnify"></span>
    </div>

    <div *ngIf="!isInExtendedSearchMode()" id="navigation-button-group" class="btn-group">
        <div *ngIf="!viewFacade.isInSpecialView() && viewFacade.getCurrentOperation()"
             id="selected-operation" type="button" class="btn btn-outline-primary navigation-button"
             [class.root-document]="!navigationPath.selectedSegmentId"
             (click)="moveInto(undefined)"
             ngbTooltip="{{getNavigationButtonLabel(viewFacade.getCurrentOperation().resource.id).fullText}}"
             placement="bottom"
             container="body"
             triggers="manual"
             #tooltip="ngbTooltip"
             (mouseover)="getNavigationButtonLabel(viewFacade.getCurrentOperation().resource.id).shortened && tooltip.open()"
             (mouseleave)="tooltip.close()"
             (mousedown)="tooltip.close()">
            {{getNavigationButtonLabel(viewFacade.getCurrentOperation().resource.id).text}}
        </div>

        <div *ngIf="viewFacade.isInOverview()"
             id="selected-project-document" type="button" class="btn btn-outline-primary navigation-button"
             [class.root-document]="!navigationPath.selectedSegmentId"
             (click)="moveInto(undefined)">
            <span i18n="@@resources.navigation.project">Projekt</span>
        </div>

        <div *ngIf="viewFacade.isInTypesManagement()"
             id="types-navigation-root" type="button" class="btn btn-outline-primary navigation-button"
             [class.root-document]="!navigationPath.selectedSegmentId"
             (click)="moveInto(undefined)">
            <span i18n="@@resources.navigation.typeCatalogs">Typenkataloge</span>
        </div>

        <div *ngIf="viewFacade.isInInventoryManagement()"
             id="inventory-navigation-root" type="button" class="btn btn-outline-primary navigation-button"
             [class.root-document]="!navigationPath.selectedSegmentId"
             (click)="moveInto(undefined)">
            <span i18n="@@resources.navigation.storagePlaces">Aufbewahrungsorte</span>
        </div>

        <div *ngFor="let document of getSegments()"
            id="navigation-button-{{document.resource.identifier}}"
            class="btn btn-outline-primary navigation-button"
            [class.root-document]="isSelectedSegment(document.resource.id)"
            [class.shortened-label]="getNavigationButtonLabel(document.resource.id).shortened"
            ngbTooltip="{{getNavigationButtonLabel(document.resource.id).fullText}}"
            placement="bottom"
            container="body"
            triggers="manual"
            #tooltip="ngbTooltip"
            (mouseover)="getNavigationButtonLabel(document.resource.id).shortened && tooltip.open()"
            (mouseleave)="tooltip.close()"
            (mousedown)="tooltip.close()"
            (click)="moveInto(document)">
            {{getNavigationButtonLabel(document.resource.id).text}}
        </div>
    </div>
</div>
