@use 'sass:color';

$add-georeference-color: #5572a1;
$delete-georeference-color: #d9534f;

georeference-view {
  .card-body {
    padding: 0 !important;

    .field {
      margin-bottom: 0 !important;
      padding-top: 1px;

      .field-value {
        padding-left: $item-horizontal-padding;
        margin-right: 3px;
        font-size: 14px;
        user-select: none;
      }
    }
  }

  #worldfile-upload {
    position: relative;
    overflow: hidden;
    padding: 0;
    font-size: 23px;
    color: $add-georeference-color !important;
  }

  #worldfile-upload:hover {
    color: color.adjust($add-georeference-color, $lightness: 10%) !important;
  }

  #worldfile-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
  }

  #delete-georeference-button {
    padding: 0;
    font-size: 23px;
    color: $delete-georeference-color !important;
  }

  #delete-georeference-button:hover {
    color: color.adjust($delete-georeference-color, $lightness: 10%) !important;
  }

  #export-georeference-button {
    padding: 0;
    font-size: 23px;
    color: $add-georeference-color;
  }
}

#delete-georeference-modal-info {
  user-select: none;
}
