/**
 * @author Thomas Kleinke
 * @author Sebastian Cuy
 */

.thumbnail-container {
  width: $resources-listing-item-slim-width;
  height: 172px;
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    user-select: none;
    -webkit-user-drag: none;
    transition: filter 0.25s ease-in-out;

    &:hover {
      filter: brightness(92%);
    }
  }

  .thumbnail-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #d9dee4;
    transition: filter 0.25s ease-in-out;

    &:hover {
      filter: brightness(92%);
    }
  }

  .badge {
    position: absolute;
    top: 3px;
    left: 3px;
    user-select: none;
  }
}
