<span *ngIf="infoType === 'configuration'" i18n="@@docedit.forms.missingValuelistInfo.configuration">
    Die in der Projektkonfiguration für das Feld angegebene Werteliste ist leer.
</span>
<span *ngIf="infoType === 'projectDocumentField'"
      i18n="@@docedit.forms.missingValuelistInfo.projectDocumentField">
    Bitte tragen Sie die erlaubten Werte für dieses Feld in den Projektdaten
    (Feld <i>{{getProjectDocumentFieldLabel()}}</i>) ein.
</span>
<span *ngIf="infoType === 'parent'"
      i18n="@@docedit.forms.missingValuelistInfo.parent">
    Für dieses Feld stehen keine Werte zur Auswahl, da das entsprechende Feld der übergeordneten Ressource
    nicht ausgefüllt ist.
</span>