invalid-field-data {
  .invalid-field-data-info {
    cursor: default;
    user-select: none;
    font-size: 14px;
  }

  .delete-invalid-field-data-button {
    width: 100% !important;

    .mdi {
      margin-right: 3px;
    }
    
    .delete-invalid-data-button-label {
      font-size: 14px;
    }
  }

  .invalid-field-data-label {
    margin: 10px;
    font-size: 13px;

    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    &.no-data {
      user-select: none;
    }
  }
}
