<ul class="nav nav-tabs" [class.focused]="focused">
    <li *ngFor="let language of languages"
        class="nav-item"
        (click)="selectLanguage(language.code)">
        <a class="nav-link" 
           [class.active]="language.code === selectedLanguage"
           [class.filled-in]="isFilledIn(language.code)"
           (focus)="focused = true"
           href="#">{{language.label}}</a>
    </li>
</ul>
<input *ngIf="!multiLine" #inputField [(ngModel)]="selectedText"
       [class.focused]="focused"
       (keyup)="onChanges($event.target.value)"
       (focus)="focused = true"
       (blur)="focused = false"
       class="form-control">
<textarea *ngIf="multiLine" #inputField [(ngModel)]="selectedText"
       [class.focused]="focused"
       (keyup)="onChanges($event.target.value)"
       (focus)="focused = true"
       (blur)="focused = false"
       class="form-control"></textarea>
