<div *ngIf="getOutliers()" class="outliers-container">
    <div i18n="@@docedit.forms.outliersInfo" class="outliers-info">
        Das Feld beinhaltet nicht in der Werteliste enthaltene Einträge:
    </div>
    <div *ngFor="let outlier of getOutliers()" class="outlier">
        <div class="input-group mb-2">
            <input value="{{outlier}}" type="text" disabled class="form-control">
            <div class="input-group-append">
                <button class="btn btn-danger remove-outlier-button" type="button" (click)="remove(outlier)">
                    <span class="mdi mdi-delete"></span>
                </button>
            </div>
        </div>
    </div>
</div>
