<div id="map-container"></div>

<div *ngIf="!layerMenuVisible && getLayersAsList().length > 0" id="layer-button" class="btn btn-primary"
        (mouseenter)="layerMenuVisible = true;">Karten</div>
<div *ngIf="layerMenuVisible && getLayersAsList().length > 0" id="layer-menu" class="card card-block form-group"
        (mouseleave)="layerMenuVisible = false;">
    <div *ngFor="let layer of getLayersAsList()" class="layer-entry">
        <span *ngIf="isActiveLayer(layer)">
            <span class="mdi mdi-eye layer-menu-button layer-active" (click)="toggleLayer(layer)"
                  data-toggle="tooltip" title="Karte ausblenden"></span>
            <span class="mdi mdi-image-filter-center-focus layer-menu-button layer-active"
                  data-toggle="tooltip" title="Karte fokussieren" (click)="focusLayer(layer)"></span>
        </span>
        <span *ngIf="!isActiveLayer(layer)">
            <span class="mdi mdi-eye-off layer-menu-button layer-inactive" (click)="toggleLayer(layer)"
                  data-toggle="tooltip" title="Karte anzeigen"></span>
            <span class="mdi mdi-image-filter-center-focus layer-menu-button layer-inactive"></span>
        </span>
        <span class="layer-menu-label">{{layer.document.resource.shortDescription}}</span>
    </div>
</div>

<div *ngIf="editMode != 'none'">
    <div id="map-editor-button-delete" class="btn btn-danger mdi mdi-delete mdi-24px" (click)="deleteGeometry()"></div>
    <div id="map-editor-button-ok" class="btn btn-primary" (click)="finishEditing()">OK</div>
    <div id="map-editor-button-abort" class="btn btn-primary" (click)="abortEditing()">Abbrechen</div>
</div>