/**
 * @author: Thomas Kleinke
 */

$layer-menu-button-color: #657faa;
$layer-menu-button-inactive-color: grey;

#map-container {
  width: 100%;
  height: calc(100vh - 57px);
}

#layer-button,
#layer-menu {
  border: none;
  border-radius: 0;
}

#layer-button {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 25px;
}

#layer-menu {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 25px;
  padding-bottom: 10px;
}

#map-editor-button-ok {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  right: 150px;
}

#map-editor-button-abort {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  right: 25px;
}

#map-editor-button-delete {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 25px;
}

#map-editor-button-add-polygon {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 100px;
}

.layer-entry {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.layer-menu-button {
  padding: 0;
  font-size: 18px;
  cursor: pointer !important;
}

.layer-menu-button.layer-active {
  color: $layer-menu-button-color !important;
}

.layer-menu-button.layer-inactive {
  color: $layer-menu-button-inactive-color !important;
}

.layer-menu-button:hover {
  color: lighten($layer-menu-button-color, 10%) !important;
}

.layer-menu-button.layer-inactive.mdi-image-filter-center-focus {
  visibility: hidden;
}

.layer-menu-label {
  position: relative;
  top: -1px;
  font-size: 14px;
}