/**
 * @author: Thomas Kleinke
 */

$layer-menu-button-color: #657faa;
$layer-menu-button-inactive-color: grey;

#map-container {
  width: 100%;
  height: calc(100vh - 113px);
  user-select: none;

  &::after {
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.2);
    content: '';
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 800;
  }

  .leaflet-overlay-pane path {

      &.templine {
        stroke: blue;
        stroke-width: 1px;
      }

      &.hintline {
        stroke: blue;
        stroke-width: 1px;
        stroke-dasharray: 5;
      }
    }
}

#layer-button,
#layer-menu,
#mouse-position-coordinates-x,
#mouse-position-coordinates-y,
#map-editor-button-ok,
#map-editor-button-abort,
#map-editor-button-delete,
#map-editor-button-delete-disabled,
#map-editor-button-add-polygon,
#map-editor-button-add-polyline {
  position: absolute;
  z-index: 1000;
}

#layer-button,
#layer-menu {
  border: none;
  border-radius: 0;
}

#layer-button {
  top: 11px;
  right: 25px;
}

#layer-menu {
  top: 11px;
  right: 25px;
  padding-bottom: 10px;
}

#mouse-position-coordinates-x,
#mouse-position-coordinates-y {
  left: 52px;
  pointer-events: none;
}

#mouse-position-coordinates-x {
  top: 11px;
}

#mouse-position-coordinates-y {
  top: 32px;
}

#map-editor-button-ok {
  right: 150px;
  bottom: 20px;
}

#map-editor-button-abort {
  right: 25px;
  bottom: 20px;
}

#map-editor-button-delete,
#map-editor-button-delete-disabled {
  left: 25px;
  bottom: 20px;
}

#map-editor-button-add-polygon,
#map-editor-button-add-polyline {
  left: 100px;
  bottom: 20px;
}

.layer-entry {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.layer-menu-button {
  padding: 0;
  font-size: 18px;
  cursor: pointer !important;
}

.layer-menu-button.layer-active {
  color: $layer-menu-button-color !important;
}

.layer-menu-button.layer-inactive {
  color: $layer-menu-button-inactive-color !important;
}

.layer-menu-button:hover {
  color: lighten($layer-menu-button-color, 10%) !important;
}

.layer-menu-button.layer-inactive.mdi-image-filter-center-focus {
  visibility: hidden;
}

.layer-menu-label {
  position: relative;
  top: -1px;
  font-size: 14px;
}