/**
 * @author Daniel de Oliveira
 * @author Thomas Kleinke
 * @author Sebastian Cuy
 */

children-view {
  position: relative;

  #children-list {
    height: calc(100% - 40px);
    overflow-y: auto;

    loading-icon {
      position: relative;
      top: 49px;
    }
  }

  #open-child-collection-button {
    .mdi-arrow-left {
      padding-right: 4px;
    }

    &:hover {
      background-color: $popover-header-hover-bg-color !important;
    }
  }

  #close-popover-button {
    position: absolute;
    top: 0;
    left: 218px;
    background-color: $popover-header-bg-color !important;

    &:hover {
      background-color: $popover-header-hover-bg-color !important;
    }
  }
}