<div class="modal-header">
    <h5 i18n="@@configuration.saveChanges" class="modal-title">Konfigurationsänderungen speichern</h5>
</div>

<div class="modal-body save-configuration-modal-body">
    <p i18n="@@configuration.saveInfo.general">
        Möchten Sie die von Ihnen vorgenommenen Änderungen an der Konfiguration wirklich speichern?
        Bitte beachten Sie, dass Ihre Änderungen das gesamte Projekt betreffen.
    </p>

    <p i18n="@@configuration.saveInfo.synchronization">
        Andere Benutzerinnen und Benutzer, die über eine Synchronisationsverbindung am gleichen Projekt
        arbeiten, werden die Field-Desktopanwendung neustarten müssen, um die Konfigurationsänderungen zu
        übernehmen.
    </p>
</div>

<div class="modal-footer">
    <button id="confirm-button" class="btn btn-success"
            (click)="confirm()">
        <span class="mdi mdi-content-save"></span>
        <span class="button-label" i18n="@@buttons.save">Speichern</span>
    </button>
    <div class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
