<div *ngIf="relationTargets.length > 0" class="card">
    <div class="card-header">
        <button class="btn btn-block"
                i18n="@@imageView.depictsRelationsView.depictedResources"
                (click)="toggle()">Dargestellte Ressourcen</button>
    </div>
    <div *ngIf="openSection === 'depicts-relations' || expandAllGroups" class="collapse show">
        <div class="card-body resources-listing">
            <div *ngFor="let target of relationTargets" class="resources-listing-item"
                 (click)="jumpToResource(target)">
                <document-teaser [document]="target"></document-teaser>
            </div>
        </div>
    </div>
</div>