<ng-template #deleteModal let-c="close">
    <div class="modal-body" i18n="@@imageView.georeferenceView.deleteModal.question">
        Möchten Sie die Georeferenzdaten, die für dieses Bild hinterlegt wurden, wirklich löschen?
    </div>
    <div class="modal-footer">
        <button type="button" id="delete-images-confirm" class="btn btn-danger" (click)="c('delete')">
            <span i18n="@@buttons.delete">Löschen</span>
        </button>
        <button type="button" id="delete-images-cancel" class="btn btn-secondary" (click)="c('cancel')">
            <span i18n="@@buttons.cancel">Abbrechen</span>
        </button>
    </div>
</ng-template>

<div class="document-view-field georeference-view-field">
    <div class="fieldname" i18n="@@imageView.georeferenceView.georeferenceData">Georeferenzdaten</div>
    <div *ngIf="document.resource.georeference">
        <span class="fieldvalue" i18n="@@imageView.georeferenceView.present">Vorhanden</span>
        <div *ngIf="document.resource.georeference" id="delete-georeference-button" class="btn btn-link"
             ngbTooltip="Georeferenzdaten löschen"
             i18n-ngbTooltip="@@imageView.georeferenceView.tooltips.deleteGeoreferenceData"
             (click)="openDeleteModal(deleteModal)">
            <span class="mdi mdi-delete"></span>
        </div>
    </div>
    <div *ngIf="!document.resource.georeference">
        <span class="fieldvalue" i18n="@@imageView.georeferenceView.notPresent">Nicht vorhanden</span>
        <div id="worldfile-upload" class="btn btn-link"  ngbTooltip="Worldfile laden" data-toggle="tooltip" title=" "
             i18n-ngbTooltip="@@imageView.georeferenceView.tooltips.loadWorldfile">
            <span class="mdi mdi-file-import"></span>
            <input #worldfileInput type="file"
                   name="files[]"
                   id="file"
                   (change)="onSelectFile($event)">
        </div>
    </div>
</div>

<div class="document-view-field">
    <div class="fieldname">Höhe (bei Darstellung auf 3D-Karte)</div>
    <div class="fieldvalue">{{getHeight()}}</div>
</div>