@import 'georeference-view';
@import 'depicts-relations-view';

/**
 * @author Thomas Kleinke
 * @author Sebastian Cuy
 */
#image-view-modal-header {
  height: 54px;
  padding: 7px;
  user-select: none;
  background-color: $modal-header-background-color;
  border-bottom: 1px solid #ccc;

  div {
    height: 40px;
    font-size: 1.5em;
    line-height: 40px;
    margin-left: 7px;
    color: $modal-header-font-color;
  }
}

#image-view-modal-body {
  height: calc(100vh - 119px);
  padding: 0;

  #image-view {
    position: relative;
    z-index: 1001;
    width: 100%;
    height: calc(100% - 169px);
    margin: 0;

    &.thumbnail-slider-scrollbar-visible {
      height: calc(100% - 176px);
    }

    #image-container {
      height: 100%;
      background-color: #000;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: scale-down;
        user-select: none;
        -webkit-user-drag: none;
      }

      .align-items-center {
        height: 100%;
      }

      .alert {
        position: absolute;
        top: 10px;
      }
    }

    #thumbnail-slider-container {
      height: 169px;
      overflow-x: auto;
      background-color: #f8f9fa;

      &.scrollbar-visible {
        height: 176px;
      }

      #thumbnail-slider {
        height: 100%;
        width: max-content;
        padding: 8px 0 8px 8px;

        .thumbnail-container {
          height: 151px;
          line-height: 151px;
          float: left;
          margin-right: 10px;

          &.selected img {
            box-shadow: 0 0 10px 2px #37588e !important;
          }

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: scale-down;
            user-select: none;
            -webkit-user-drag: none;
          }
        }
      }
    }

    #popover {
      height: 100%;
      background-color: #fff;
      width: $resources-listing-item-slim-width;
      overflow: hidden;
      float: left;

      ul {
        padding: 0;
      }

      #popover-header {
        height: 40px;
        padding: 11px;
        background-color: transparent;
        border-bottom: 1px solid #ced4da;
        text-align: center;
        font-size: 14px;
        user-select: none;
        cursor: default;

        #identifier-label {
          position: relative;
          left: 32px;
          top: -41px;
          width: calc(100% - 64px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        #expand-all-groups-button {
          left: -109px;
          top: -11px;

          &.active {
            box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
          }
        }

        #edit-image-button {
          left: 109px;
          top: -71px;
        }

        .btn {
          position: relative;
          height: 39px;
          background-color: transparent;
          border: none;

          &:hover {
            background-color: darken($list-item-hover-color, 5%);
          }

          &:active:focus {
            box-shadow: none;
          }
        }
      }

      #image-info {
        height: calc(100% - 40px);
        overflow-y: auto;

        &.scrollbar-visible {
          document-teaser {
            width: $resources-listing-item-slim-width-with-scrollbar;
          }
        }
      }
    }
  }
}
