@import 'georeference-view';

/**
 * @author Thomas Kleinke
 */
.image-view {
  position: relative;
  z-index: 1001;

  .detail-sidebar {
    min-width: 300px;
    max-width: 300px;

    .tab-view-container {
      height: calc(100vh - 158px);
    }

    #document-view-button-solve-conflicts {
      position: relative;
      right: 10px;
      bottom: 1px;
    }

    #close-button {
      box-shadow: none;
    }
  }

  #image-container {
    height: calc(100vh - 51px);
    width: calc(100vw - 300px);
    background-color: #000;

    #original-image {
      max-width: 100%;
      max-height: 100%;
    }

    img {
      object-fit: scale-down;
    }

    #thumbnail-image-container {
      height: calc(100% - 66px);
    }

    .align-items-center {
      height: 100%;
    }
  }
}
