@import 'georeference-view';

/**
 * @author Thomas Kleinke
 */
.image-view {
  .detail-sidebar {
    .tab-view-container {
      height: calc(100vh - 154px);
    }

    #document-view-button-solve-conflicts {
      position: relative;
      right: 10px;
      bottom: 1px;
    }

    #back-to-map {
      box-shadow: none;
    }
  }

  #image-container {
    height: calc(100vh - 57px);
    background-color: #000;

    #original-image {
      max-width: 100%;
      max-height: 100%;
    }

    #thumb-image {
      height: 600px;
    }

    .align-items-center {
      height: 100%;
    }
  }
}