<div id="image-view-modal-header" class="d-flex justify-content-between">
    <div *ngIf="!linkedResourceIdentifier" class="text-truncate" i18n="@@imageView.images">Bilder</div>
    <div *ngIf="linkedResourceIdentifier" class="text-truncate" i18n="@@imageView.linkedImages">
        Mit <strong>{{linkedResourceIdentifier}}</strong> verknüpfte Bilder
    </div>

    <button class="btn btn-primary"
            id="close-button"
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="image-view-modal-body" class="modal-body px-0">
    <div id="image-view"
         class="flex-nowrap bg-light px-0"
         [class.thumbnail-slider-scrollbar-visible]="isThumbnailSliderScrollbarVisible()">
        <div id="popover">
            <div id="popover-header">
                <div *ngIf="selectedImage" id="identifier-label">
                    {{selectedImage.document.resource.identifier}}
                </div>
                <button class="btn btn-light" (click)="startEdit()">
                    <span class="mdi mdi-pencil"></span>
                </button>
            </div>

            <div #imageInfo id="image-info"
                 [class.scrollbar-visible]="isImageInfoScrollbarVisible()">
                <fields-view *ngIf="selectedImage"
                             [resource]="selectedImage.document.resource"
                             [openSection]="openSection"
                             (onSectionToggled)="openSection = $event"></fields-view>
                <georeference-view *ngIf="selectedImage"
                                   [document]="selectedImage.document"
                                   [openSection]="openSection"
                                   (onSectionToggled)="openSection = $event"></georeference-view>
                <depicts-relations-view *ngIf="selectedImage"
                                        [resource]="selectedImage.document.resource"
                                        [openSection]="openSection"
                                        (onSectionToggled)="openSection = $event"
                                        (onRelationClicked)="jumpToResource($event)"></depicts-relations-view>
            </div>
        </div>

        <div *ngIf="selectedImage" id="image-container">
            <div class="d-flex align-items-center justify-content-center">
                <div *ngIf="!containsOriginal(selectedImage)" class="alert alert-info" role="alert"
                     i18n="@@imageView.originalNotFoundWarning">
                    Die Original-Version des Bilds befindet sich nicht im Bilderverzeichnis.
                </div>
                <img [src]="containsOriginal(selectedImage) ? selectedImage.imgSrc : selectedImage.thumbSrc">
            </div>
        </div>

        <div #thumbnailSliderContainer id="thumbnail-slider-container"
             [class.scrollbar-visible]="isThumbnailSliderScrollbarVisible()">
            <div id="thumbnail-slider">
                <div *ngFor="let image of images"
                     id="thumbnail-{{image.document.resource.id}}"
                     class="thumbnail-container"
                     [class.selected]="image === selectedImage">
                    <img [src]="image.thumbSrc" (click)="select(image)">
                </div>
            </div>
        </div>
    </div>
</div>
