<div class="row">
    <div *ngIf="image.document" class="col-md-9 px-0">
        <img *ngIf="image.imgSrc" [src]="image.imgSrc" style="width: 100%; height: 100%;">
        <div *ngIf="originalNotFound">
            <div class="alert alert-info" role="alert" *ngIf="image.thumbSrc">
                Die Original-Version des Bilds befindet sich nicht im Bilderverzeichnis.
            </div>
            <div class="d-flex align-items-center justify-content-center"
                 style="height: 600px;">
                <img *ngIf="image.thumbSrc" [src]="image.thumbSrc">
            </div>
        </div>
    </div>

    <div *ngIf="image.document" class="col-md-3 px-0 document-info">
        <document-view [document]="image.document" (onDeselect)="deselect()">
            <ngb-tabset activeId="document-view-{{activeTab}}-tab">
                <ngb-tab id="document-view-fields-tab">
                    <ng-template ngbTabTitle>
                        <span class="mdi mdi-format-list-bulleted"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <button class="btn btn-link"
                                id="document-view-button-edit-document"
                                (click)="startEdit(image.document)">
                            <span class="mdi mdi-pencil"></span>
                        </button>

                        <description-view [document]="image.document"></description-view>
                        <fields-view [resource]="image.document.resource"></fields-view>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="document-view-georeference-tab">
                    <ng-template ngbTabTitle>
                        <span class="mdi mdi-map"></span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <georeference-view [document]="image.document"></georeference-view>
                    </ng-template>
                </ngb-tab>

                <ngb-tab id="document-view-relations-tab">
                    <ng-template ngbTabTitle>
                        <span class="mdi mdi-sitemap" [class.empty-tab]="!hasRelations()"></span>
                    </ng-template>
                    <ng-template ngbTabContent>

                        <button class="btn btn-link"
                                id="document-view-button-edit-document"
                                (click)="startEdit(image.document, 'relations')">
                            <span class="mdi mdi-pencil"></span>
                        </button>

                        <div *ngIf="!hasRelations()" class="empty-tab-info">Keine Relationen vorhanden.</div>
                        <relations-view *ngIf="hasRelations()" [resource]="image.document.resource"
                                        (onRelationTargetClicked)="jumpToRelationTarget($event)">
                        </relations-view>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </document-view>
    </div>
</div>


