@import 'georeference-view';

/**
 * @author Thomas Kleinke
 */
#image-view-modal {
  height: calc(100vh - 65px);

  .row {
    position: relative;
    z-index: 1001;
    width: 100%;
    height: calc(100% - 150px);
    margin: 0;

    .detail-sidebar {
      min-width: 300px;
      max-width: 300px;

      .tab-view-container {
        height: calc(100% - 158px);
      }

      #document-view-button-solve-conflicts {
        position: relative;
        right: 10px;
        bottom: 1px;
      }

      #close-button {
        box-shadow: none;
      }
    }

    #image-container {
      height: 100%;
      width: calc(100% - 300px);
      background-color: #000;

      #original-image {
        max-width: 100%;
        max-height: 100%;
      }

      img {
        object-fit: scale-down;
      }

      #thumbnail-image-container {
        height: calc(100% - 66px);
      }

      .align-items-center {
        height: 100%;
      }
    }
  }

  #thumbnail-slider-container {
    height: 150px;
    overflow-x: auto;

    #thumbnail-slider {
      height: 100%;
      width: max-content;

      .thumbnail-container {
        width: 200px;
        height: 100%;
        float: left;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: scale-down;
          user-select: none;
          -webkit-user-drag: none;
        }
      }
    }
  }
}