<div id="image-view-modal-header" class="d-flex justify-content-between">
    <div class="text-truncate">
        <strong>Bilder</strong>
    </div>

    <button class="btn btn-primary"
            id="close-button"
            (click)="close()">
        <span class="mdi mdi-close"></span>
    </button>
</div>

<div id="image-view-modal-body" class="modal-body px-0">
    <div id="image-view" class="flex-nowrap bg-light px-0">
        <div *ngIf="selectedImage" id="popover">
            <div id="popover-header">
                <div>{{selectedImage.document.resource.identifier}}</div>
                <div class="btn btn-light" (click)="closePopover()">
                    <span class="mdi mdi-close"></span>
                </div>
            </div>

            <div id="document-info">
                <fields-view [resource]="selectedImage.document.resource"></fields-view>
            </div>
        </div>
        <div *ngIf="selectedImage" id="image-container">
            <div *ngIf="selectedImage.imgSrc" class="d-flex align-items-center justify-content-center">
                <img id="original-image" [src]="selectedImage.imgSrc">
            </div>
            <div *ngIf="originalNotFound && selectedImage.thumbSrc" id="thumbnail-image-container">
                <div class="alert alert-info" role="alert"
                     i18n="@@imageView.originalNotFoundWarning">
                    Die Original-Version des Bilds befindet sich nicht im Bilderverzeichnis.
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <img [src]="selectedImage.thumbSrc" id="thumb-image">
                </div>
            </div>
        </div>

        <div *ngIf="images" id="thumbnail-slider-container">
            <div id="thumbnail-slider">
                <div *ngFor="let image of images"
                     class="thumbnail-container d-flex align-items-center justify-content-center"
                     [class.selected]="image === selectedImage"
                     (click)="select(image)">
                    <img [src]="image.thumbSrc">
                </div>
            </div>
        </div>
    </div>
</div>
