<div class="modal-header">
    <h5 class="modal-title" i18n="@@configuration.selectCategory">Kategorie auswählen</h5>
</div>

<div class="modal-body row add-category-modal-body">
    <div class="col-md-6">
        <div class="input-group mb-2">
            <input type="text"
                   id="category-name"
                   class="form-control"
                   [(ngModel)]="searchTerm"
                   (ngModelChange)="applyCategoryNameSearch()">
            <button class="btn btn-success" type="button"
                    [class.disabled]="searchTerm.length === 0"
                    (click)="createNewSubcategory()">
                <span class="mdi mdi-plus"></span>
            </button>
        </div>
        <category-listing [category]="parentCategory"
                          [categories]="categories"
                          [searchTerm]="searchTerm"
                          (onCategorySelected)="selectCategory($event)">
        </category-listing>
    </div>
    <div class="col-md-6">
        <category-preview [category]="selectedCategory"></category-preview>
    </div>
</div>

<div class="modal-footer">
    <div id="add-category-button"
         class="btn btn-success"
         [class.disabled]="!selectedCategory"
         (click)="addSelectedCategory()">
        <span i18n="@@configuration.selectCategory">Kategorie auswählen</span>
    </div>
    <div id="cancel-add-category-modal-button"
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
