<div class="modal-header">
    <h5 class="modal-title" i18n="@@configuration.addCategory">
        Neue Kategorie "{{categoryName?.toLowerCase()}}" erstellen?
    </h5>
</div>

<div class="modal-footer">
    <div id="create-category-button"
         class="btn btn-success"
         (click)="createCategory()">
        <span i18n="@@configuration.createCategory">
            Bestätigen
        </span>
    </div>
    <div id="cancel-add-category-modal-button"
         class="btn btn-secondary"
         (click)="cancel()">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </div>
</div>
