Listing of subcategories of {{getLabel(category)}}
<ul id="category-listing-inner"
    style="background-color: white">
    <li *ngFor="let category of categories"
        (click)="selectCategory(category)">
        <category-icon [category]="category" size="30"></category-icon>
        {{getLabel(category)}}&nbsp;&nbsp;(Formular: {{category.name}})
        <br>
        <h5 *ngIf="searchTerm !== ''">Labels:</h5>
        <ul>
            <li *ngFor="let labelEntry of getLabels(category)">
                {{labelEntry[0]}}:{{labelEntry[1]}}
            </li>
        </ul>
        <hr>
    </li>
</ul>
