<ul id="category-listing" class="bg-light">
    <li *ngFor="let category of categories"
        [class.selected]="selectedCategory === category"
        (click)="selectCategory(category)">
        <category-icon [category]="category" size="30"></category-icon>
        <span class="category-label">{{getLabel(category)}}</span>
        <span *ngIf="getSearchResultLabel(category)"
              class="search-result-label"> ({{getSearchResultLabel(category)}})</span>
        <code>{{category.name}}</code>
        <div *ngIf="category.createdBy" class="badge badge-primary">{{category.createdBy}}</div>
    </li>
</ul>
