#category-preview {
  display: block;
  width: 100%;
  height: calc(100vh - 226px);
  background-color: white;
  user-select: none;

  #category-preview-header {
    position: relative;
    top: 5px;
    left: 5px;
    height: 40px;

    category-icon {
      position: relative;
      top: 2px;
      margin-left: 4px;
      margin-right: 3px;
    }
    
    .category-title {
      b {
        margin: 6px;
      }

      b,
      code {
        position: relative;
        bottom: 2px;
      }
    }

    .badge {
      margin-top: 8px;
      margin-right: 19px;
      float: right;
      color: #fff;
      background-color: #37588e;
    }

    #creation-date {
      font-size: 12px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  #category-preview-body {
    height: calc(100% - 45px);
    margin: 5px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    
    #category-description {
      padding: 12px;
      font-size: 14px;
    }

    #groups-list {
      li {
        margin: 4px 6px 18px 6px;
      }

      ul li {
        margin: 3px 6px;
      }

      code {
        margin-left: 6px;
      }

      .field-title {
        .field-label {
          font-size: 14px;
        }

        code {
          font-size: 12px;
        }
      }
    }
  }
}
