<ul id="category-listing" class="bg-light">
    <li *ngFor="let item of items"
        [class.category-header]="!item.form"
        [class.selected]="item.form && selectedForm === item.form"
        (click)="item.form && selectForm(item.form)">
        <div *ngIf="item.label" class="category-label">{{getLabel(item)}}</div>
        <div *ngIf="item.form">
            <category-icon [category]="item.form" size="30"></category-icon>
            <span *ngIf="getSearchResultLabel(item.form)"
                class="search-result-label"> ({{getSearchResultLabel(item.form)}})</span>
            <code>{{item.form.libraryId}}</code>
            <div *ngIf="item.form.createdBy" class="badge badge-primary">{{item.form.createdBy}}</div>
        </div>
    </li>
</ul>
