@use '../../variables' as *;

.listing {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;

  li {
    padding: 12px 5px 5px 45px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    user-select: none;

    &:not(.btn) {
      background-color: #fff;
      transition: background-color .25s ease;
    }

    &.selected {
      background-color: $list-item-hover-color;
      transition: background-color .5s ease;
    }

    &.new-entry-button {
      height: auto;
      width: 100%;
      padding: 8px 12px;

      div {
        position: relative;
        left: 4px;
        display: inline;

        code {
          bottom: 0;
          margin-left: 0;
          color: #ffc2de;
        }
      }
    }

    .item-label,
    .search-result-label,
    code {
      position: relative;
      bottom: 3px;
    }

    code {
      margin-left: 6px;
    }

    .search-result-label {
      font-style: italic;
      font-size: 14px;
    }
  }
}