/**
 * @author Thomas Kleinke
 */
image-overview-search-bar {

  form {
    align-items: inherit !important;
    padding-top: 1px;

    #input-wrapper {
      position: relative;
      width: 100%;

      input {
        height: 39px;
      }
    }

    #object-search {
      width: calc(100% - 101px) !important;
    }

    #filter-button {
      right: 26px !important;

      #searchfilter {
        height: 39px !important;
      }
    }

    image-overview-search-constraints {
      position: absolute;
      top: 42px;
      left: 8px;
    }
  }
}