<section>
  <%= for {field, description} <- @examples do %>
    <pre>{description}:</pre>
    <.labeled_value class="border p-0.5 border-black/20">
      <:label><.render_field_label field={field} /></:label>
      <.render_field_data field={field} publication={@publication} />
    </.labeled_value>
  <% end %>
</section>
