<div class="row" *ngIf="typesMap && typesList">
    <div class="col-md-12 px-0">
        <table class="table table-hover table-striped table-sm">
            <tr>
                <th>Typ</th>
                <th>Identifier/Id</th>
                <th>Kurzbeschreibung</th>
                <th>Neue Resource anhängen</th>
            </tr>
            <tr *ngFor="let document of documents; let index=index;"
                [class.synced]="document.synced"
                [class.unsynced]="!document.synced"
                [class.bg-info]="selectedDocument == document"
                [id]="'resource-' + document.resource.identifier">
                <td class="small">
                    {{typesMap[document.resource.type].label}}
                </td>
                <td align="right">
                    <input [(ngModel)]="document.resource.identifier" (blur)="save(document)" (keyup)="markAsChanged()"
                           class="form-control form-control-sm identifier-input">
                    <small class="text-muted">{{document._id}}</small>
                </td>
                <td align="right">
                    <input [(ngModel)]="document.resource.shortDescription" (blur)="save(document)"
                           (keyup)="markAsChanged()" class="form-control form-control-sm">
                    <small>
                        <button (click)="focusDocument(document)" class="btn btn-sm btn-link">Bearbeiten</button>
                    </small>
                </td>
                <td>
                    <div class="form-inline">
                        <select *ngIf="typesMap[document.resource.type].relations.length"
                                class="form-control form-control-sm ml-2" autocomplete="off"
                                [(ngModel)]="selectedRelation"
                                (change)="addRelatedDocument(document, selectedRelation, $event)" >
                            <option selected value></option>
                            <option *ngFor="let relation of typesMap[document.resource.type].relations"
                                    [ngValue]="relation">{{relation.label}} ({{typesMap[relation.targetName].label}})
                            </option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>