#list {

  #list-header {
    position: static;
    height: 35px;
    user-select: none;
    cursor: default;
  }

  #list-body {
    height: calc(100vh - 175px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #create-document-button .circular-button {
    left: calc(50% - 20px);
    margin: -20px auto auto auto;
    z-index: 100;
  }

  .no-search-result {
    opacity: 0.7;
  }
}