/**
 * @author Thomas Kleinke
 */

.map-3d-marker {
  position: fixed;
  height: 50px;
  border-left: 1px solid #fff;
  z-index: 1;

  .map-3d-marker-head {
    position: relative;
    top: -27px;
    left: -14px;
    user-select: none;

    .map-3d-marker-icon {
      border-radius: 50%;
      width: 27px;
      height: 27px;
      border: 1px solid #fff;
    }

    .map-3d-marker-label {
      position: absolute;
      left: 32px;
      top: -1px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      -webkit-text-stroke: 1px #000;
    }
  }

  .map-3d-marker-head:hover {
    cursor: pointer;

    .map-3d-marker-label {
      color: #748db5;
    }
  }
}