/**
 * @author: Jan G. Wieners
 */

$greenbgr: #1b9519;
$redbgr: #e00000;
$lightgraybgr: #eeeeee;

.circular-button {
  cursor: pointer;
  text-align: center;
  padding: 3px 0 0 0;
  border-radius: 50%;
  min-width: 35px;
  height: 39px;
  width: 39px;
  z-index: 1;
  font-size: 23px;
  position: absolute;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.24), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.circular-button:hover {
  transition: background-color .3s ease;
}

.small-circular-button {
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  padding: 8px 0 0 0;
  border-radius: 50%;
  min-width: 33px;
  height: 33px;
  width: 33px;
  z-index: 1;
  position: absolute;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.small-circular-button:hover {
  transition: background-color .3s ease;
}

.lightgray-button:hover {
  background-color: $lightgraybgr;
}

.green-button {
  background-color: $greenbgr;
  color: #fff;
  font-weight: normal;
}

.green-button:hover {
  background-color: lighten($greenbgr, 5%);
}

.red-button:hover {
  background-color: lighten($redbgr, 35%);
}