html {

  position: relative;
  min-height: 100%;
}

.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #e2e2e2;
  height: 73px;
}

.footer .logoImage {

  height: 35px;
  margin: 0 10px;
}

@media screen and (max-width: 440px) {

  .footer .logoImage {

    height: 35px;
  }

}

.footer {

  a:hover > img {
    text-decoration: none;
  }
}