#brand-img {
  height: 38px;
  margin-top: -16px;
  margin-bottom: -14px;
}

.navbar {
  border: 0;
}

.navbar-brand {
  position: absolute;
  left: 17px;
  cursor: pointer;
}

// display arrow on top of dropdown menu for idai.world menu
.navbar .nav > li > .dropdown-menu:before {

  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -7px;
  left: 25px;
}

.navbar .form-control:focus {

  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar .form-control:focus ~ .input-group-btn .btn-default {

  border: 1px solid $input-border-focus;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {

  border: none !important;
}

.navbar-form {

  box-shadow: none !important;
}

// Dropdown menu
.open > .dropdown-menu {
  display: block;
}

.dropdown-menu {

  background-clip: padding-box !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
  font-size: 14px !important;
  left: 0;
  list-style: outside none none;
  margin: 0 !important;
  min-width: 160px !important;
  padding: 5px 0 !important;
  position: absolute !important;
  text-align: left !important;
  top: 100% !important;
  z-index: 1000 !important;
}

.dropdown-menu > li > a {

  clear: both !important;
  color: #333 !important;
  display: block !important;
  font-weight: 400 !important;
  line-height: 1.42857 !important;
  padding: 3px 20px !important;
  white-space: nowrap !important;
}

// Define navigation bar for small and medium sized screen resolutions
@media (max-width: $grid-float-breakpoint) {

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {

    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-collapse.collapse {

    display: none !important;
  }

  .navbar-nav {

    float: none !important;
    margin: 0;
  }

  .navbar-nav>li {

    float: none;
  }

  .navbar-nav > li > a {

    padding-bottom: 15px;
    padding-top: 15px;
  }

  .navbar-collapse {

    box-shadow: none;
  }

  .navbar .nav > li > .dropdown-menu::before {

    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 25px;
    position: absolute;
    top: -7px;
  }

  .navbar-nav > li > .dropdown-menu {

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
}

// Medium screen resolutions: Spread form input item over whole width
@media (min-width: $screen-sm) and (max-width: $grid-float-breakpoint) {

  .navbar-form {

    margin: 8px -15px;
    padding: 10px 15px;
  }

  .input-group .form-control, .input-group-addon, .input-group-btn {

    display: table-cell;
  }

  .input-group .form-control {

    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .navbar-left {

    float: none !important;
  }
}

@media screen and (max-width: 372px) {

  #projectLogo {

    display: none;
  }
}

#connection-icon {
  
  margin-top: 5px;
  position: absolute;
}

#connection-icon.connected {

  width: 12px;
  height: 12px;
  background: #33cc33;
  border: 2px solid #ffffff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#connection-icon.unconnected {

  width: 12px;
  height: 12px;
  background: #cc0000;
  border: 2px solid #ffffff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#connection-info {
  
  margin-top: 2px;
  margin-left: 16px;
}