/**
 * @author: Jan G. Wieners
 */

#objectList .list-group-item {
  cursor: pointer;
}

#objectList .list-group-item:hover {
  background-color: #d9e1ed;
  transition: background-color .65s ease;
}

#objectList .title {
  color: #111;
}

#objectList .identifier {
  font-size: 0.7em;
  color: #999;
}

#objectList .new {
  color: #111;
  font-style: italic;
}

#objectList .synced {
  border-right: 3px solid #657faa;
  transition: border-right 1s ease;
}

#objectList .unsynced {
  border-right: 3px solid #ccc;
  transition: border-right 1s ease;
}

.selected {
  background-color: #d9e1ed;
}

#objectOverview #createObject {
  left: 45%;
  margin: -41px auto auto auto;
}