/**
 * @author: Jan G. Wieners
 */

#objectList .list-group-item {
  cursor: pointer;
}

#objectList .list-group-item:hover {
  background-color: #d9e1ed;
}

#objectList .title {
  color: #111;
}

#objectList .identifier {
  font-size: 0.7em;
  color: #999;
}

#objectList .status {
  position: absolute;
  right: 0;
  padding: 9px 5px 5px 5px;
  top: 0;
  font-size: 1em;
  font-weight: bold;
}

#objectList .synced {
  color: #00d637;
}

#objectList .unsynced {
  color: #ffc600;
}

.selected {
  background-color: #d9e1ed;
}

.selectedObject {
}

.selectedObject .glyphicon {
  cursor: pointer;
}