/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */
messages {
  position: fixed;
  top: 10px;
  right: 0;
  left: 0;
  z-index: 1200;
  pointer-events: none;

  .alert-container {
    text-align: center;

    .alert {
      text-align: center;
      bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      max-width: calc(100vw - 150px);
      pointer-events: all;
      -webkit-app-region: no-drag;

      .close {
        padding-left: 16px;
        cursor: default !important;
        user-select: none;
      }

      .close:focus {
        outline: none;
      }
    }
  }
}
