<ng-container *ngFor="let message of getActiveMessages(); let index = index">
    <div *ngIf="!message.hidden" id="message-{{index}}" class="alert-container">
        <div class="alert alert-{{message.level}}">
            <button *ngIf="alwaysShowClose || message.level == 'danger' || message.level == 'warning'"
                    type="button" class="close"
                    (click)="closeAlert(message)">&times;</button>
            <span class="message-content">{{getMessageContent(message)}}</span>
        </div>
    </div>
</ng-container>
