<div id="export" class="row" (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-end">
                <button id="exportStartButton"
                        class="btn btn-primary" [class.disabled]="!isExportButtonEnabled()"
                        (click)="!isExportButtonEnabled() || startExport()">
                    <span class="mdi mdi-file-export"></span>
                    <span class="button-label" i18n="@@export.startExport">Export starten</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col default-container mb-3">
                <div *ngIf="invalidFields.length < 2" class="col-lg-6 mx-lg-auto py-4">
                    <div class="mb-3">
                        <label class="control-label col-form-label"
                               for="ExportFormatSelect" i18n="@@export.format">Format</label>
                        <select id="ExportFormatSelect" class="form-control" [(ngModel)]="format">
                            <option value="csv" i18n="@@export.formats.csv">CSV</option>
                            <option value="geojson" i18n="@@export.formats.geojson">GeoJSON</option>
                            <option value="shapefile" i18n="@@export.formats.shapefile">Shapefile</option>
                            <option value="catalog" i18n="@@export.formats.catalog">Katalog</option>
                        </select>
                    </div>

                    <div *ngIf="format === 'csv'" class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   [(ngModel)]="csvExportMode"
                                   (change)="setCategoryCounts()"
                                   value="complete" id="completeselect"/>
                            <label class="form-check-label" for="completeselect" i18n="@@export.csvimportmode.complete">Komplett</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   [(ngModel)]="csvExportMode"
                                   (change)="setCategoryCounts()"
                                   value="schema" id="schemaselect"/>
                            <label class="form-check-label" for="schemaselect" i18n="@@export.csvimportmode.schema">Nur Schema</label>
                        </div>
                    </div>

                    <div *ngIf="showOperations()" class="mb-3">
                        <label class="control-label col-form-label"
                               for="operationSelect"
                               i18n="@@export.operationSelect.label">Kontext</label>
                        <select id="operationSelect" class="form-control"
                                [(ngModel)]="selectedContext"
                                (change)="setCategoryCounts()">
                            <option value="project"
                                    i18n="@@export.operationSelect.all">Keine Einschränkung</option>
                            <option *ngFor="let operation of operations" value="{{operation.resource.id}}">
                                {{getDocumentLabel(operation)}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="showCatalogs() && this.catalogs.length > 0" class="mb-3">
                        <label class="control-label col-form-label"
                               for="catalogSelect"
                               i18n="@@export.catalogSelect.label">Katalog</label>
                        <select id="catalogSelect" class="form-control" [(ngModel)]="selectedCatalogId">
                            <option *ngFor="let catalog of catalogs" value="{{catalog.resource.id}}">
                                {{getDocumentLabel(catalog)}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="format === 'csv' && categoryCounts.length > 0" class="mb-3">
                        <label class="control-label col-form-label"
                               for="categorySelect"
                               i18n="@@export.format.categorySelect">Kategorie</label>
                        <select id="categorySelect" class="form-control"
                                [(ngModel)]="selectedCategory">
                            <option *ngFor="let categoryCount of categoryCounts"
                                    [ngValue]="categoryCount[0]">
                                {{getCategoryLabel(categoryCount[0])}} {{categoryCount[1] !== -1 ? '(' + categoryCount[1] + ')' : ''}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="format === 'csv'" class="mb-3">
                        <label class="control-label col-form-label"
                               i18n="@@import.csv.separator">Feldtrennzeichen</label>
                        <input class="form-control" id="separatorInput"
                               type="text" maxlength="1"
                               [(ngModel)]="csvSeparator">
                    </div>

                    <div *ngIf="format === 'csv'" id="combine-hierarchical-relations-checkbox"
                         class="form-check-inline">
                        <input type="checkbox" id="hierarchical-relations-checkbox" class="form-check-input"
                                [(ngModel)]="combineHierarchicalRelations">
                        <label for="hierarchical-relations-checkbox" class="form-check-label"
                               i18n="@@export.combineHierarchicalRelations">
                            Hierarchische Relationen zusammenfassen (empfohlen)
                        </label>
                    </div>

                    <div *ngIf="format === 'csv'" id="hierarchical-relations-info" class="small-info-text"
                         i18n="@@export.combineHierarchicalRelations.info">
                        Ist diese Option aktiviert, werden die hierarchischen Relationen zur vereinfachten Relation
                        <i>isChildOf</i> zusammengefasst, die jeweils die unmittelbar übergeordnete Ressource angibt.
                        Diese Option sollte im Normalfall aktiviert bleiben.
                    </div>
                    
                    <div *ngIf="format !== 'catalog' && noResourcesFound()"
                         class="export-info text-danger"
                         i18n="@@export.csv.noResources">
                        Keine Ressourcen gefunden.
                    </div>

                    <div *ngIf="format === 'catalog' && noCatalogsFound()"
                         class="export-info text-danger"
                         i18n="@@export.csv.noCatalogs">
                        Keine Kataloge gefunden.
                    </div>

                    <div *ngIf="format === 'geojson' && !noResourcesFound()" class="export-info"
                         i18n="@@export.geojson.info">
                        Exportiert werden Geometrien und die Felder <em>Bezeichner</em> (identifier),
                        <em>Kurzbeschreibung</em> (shortDescription) und <em>Kategorie</em> (category) der
                        jeweiligen Ressourcen.
                    </div>


                    <div *ngIf="isJavaInstallationMissing()" class="export-info text-danger"
                         i18n="@@export.shapefile.javaWarning">
                        Zur Durchführung eines Shapefile-Exports ist die Installation von Java JDK 8 oder höher
                        erforderlich.
                    </div>


                    <div *ngIf="format === 'shapefile' && !isJavaInstallationMissing() && !noResourcesFound()"
                         class="export-info" i18n="@@export.shapefile.info">
                        Exportiert werden Geometrien und die Felder <em>Bezeichner</em> (identifier),
                        <em>Kurzbeschreibung</em> (shortdesc) und <em>Kategorie</em> (category) der jeweiligen
                        Ressourcen.
                    </div>
                </div>

                <div *ngIf="invalidFields.length > 1" class="col-lg-6 mx-lg-auto py-4">
                    <div class="card bg-light">
                        <div class="card-header" i18n="@@export.invalidFields.heading">Nicht exportierte Felder:</div>
                        <div id="invalid-fields" class="card-body">
                            <div *ngFor="let invalidField of invalidFields">
                                {{invalidField.fieldName}}
                                <span i18n="@@export.invalidFields.resource">(Ressource {{invalidField.identifier}})</span>
                            </div>
                        </div>
                    </div>
                    <button id="back-to-export-button"
                            class="btn btn-secondary"
                            (click)="invalidFields = []">
                        <span class="button-label" i18n="@@buttons.back">Zurück</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
