/**
 * @author Thomas Kleinke
 */
 #export {
  user-select: none;
  
  .export-info {
    font-size: 14px;
    margin-bottom: 12px;
    cursor: default;
  }

  #back-to-export-button {
    margin-top: 22px;
  }

  #combine-hierarchical-relations-checkbox {
    margin-bottom: 0;
  }

  #hierarchical-relations-info {
    margin-top: 5px;
  }

  #ignored-identifiers {
    max-height: calc(100vh - 258px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
