<div class="modal-body process-modal" id="file-upload-modal">
    <div class="process-modal-container">
        <div class="spinner"></div>
        <div class="process-info">
            <span *ngIf="uploadStatus.getTotalFiles() == 1" i18n="@@upload.uploadModal.info.single">
                Datei wird eingelesen...
            </span>
            <span *ngIf="uploadStatus.getTotalFiles() > 1" i18n="@@upload.uploadModal.info.multiple">
                {{uploadStatus.getHandledFiles()}} / {{uploadStatus.getTotalFiles()}} Dateien eingelesen...
            </span>
        </div>
    </div>
</div>