<div class="modal-header">
    <h5 class="modal-title" i18n="@@project.createModal.header">
        Neues Projekt erstellen
    </h5>
</div>

<div id="create-project-modal-body" class="modal-body">
    <div i18n="@@project.createModal.projectName">Projektname:</div>
    <div>
        <input id="create-project-input"
               type="text"
               class="form-control"
               [(ngModel)]="projectName"
               (keydown)="$event.key !== 'Enter' || createProject()" />
    </div>
    <div i18n="@@project.createModal.configuration">Konfiguration:</div>
    <select (change)="selectTemplate($event.target.value)"
            class="form-control">
        <option *ngFor="let templateName of getTemplateNames()"
                value="{{templateName}}"
                [selected]="selectedTemplate.name === templateName">
            {{getTemplateLabel(templateName)}}
        </option>
    </select>
    <ul class="list-group list-group-flush">
        <li *ngFor="let language of selectedLanguages; let i = index"
            class="list-group-item">
            <div class="language-item">
                <span class="language-label">{{languages[language].label}}
                    <code>{{language}}</code>
                </span>
            </div>
            <div class="btn btn-light remove-language"
                (click)="removeLanguage(language)"
                ngbTooltip="Sprache entfernen"
                i18n-ngbTooltip="@@settings.removeLanguage"
                container="body">
                <span class="mdi mdi-delete"></span>
            </div>
        </li>
    </ul>
    <div id="add-language" class="circular-button green-button"
         (click)="addLanguage()"
         ngbTooltip="Sprache hinzufügen"
         i18n-ngbTooltip="@@settings.addLanguage">
        <span class="mdi mdi-plus"></span>
    </div>
</div>

<div class="modal-footer">
    <button id="create-project-confirm" class="btn btn-success" type="button"
            [ngClass]="{ 'disabled': !projectName || creating }"
            (click)="createProject()">
        <span i18n="@@buttons.create">Erstellen</span>
    </button>
    <button type="button" id="create-project-cancel" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
