<div class="modal-header">
    <h5 class="modal-title" i18n="@@project.createModal.header">
        Neues Projekt erstellen
    </h5>
</div>

<div id="create-project-modal-body" class="modal-body">
    <div i18n="@@project.createModal.projectName">Projektname:</div>
    <div>
        <input id="create-project-input"
               type="text"
               class="form-control"
               [(ngModel)]="projectName"
               (keydown)="$event.key !== 'Enter' || createProject()" />
    </div>
    <div i18n="@@project.createModal.configuration">Konfiguration:</div>
    <select (change)="selectTemplate($event.target.value)"
            class="form-control">
        <option *ngFor="let templateName of getTemplateNames()"
                value="{{templateName}}"
                [selected]="selectedTemplate.name === templateName">
            {{getTemplateLabel(templateName)}}
        </option>
    </select>
    <div i18n="@@project.createModal.languages">Projektsprachen:</div>
    <languages-list [languages]="languages" [selectedLanguages]="selectedLanguages"
                    (onModalToggled)="modalOpened = $event"></languages-list>
</div>

<div class="modal-footer">
    <button id="create-project-confirm" class="btn btn-success" type="button"
            [ngClass]="{ 'disabled': !isConfirmButtonEnabled() }"
            (click)="createProject()">
        <span i18n="@@buttons.create">Erstellen</span>
    </button>
    <button type="button" id="create-project-cancel" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
