
<div class="modal-header">
    <h5 class="modal-title" i18n="@@project.deleteModal.header">
        Projekt <b>{{getProjectName()}}</b> löschen?
    </h5>
</div>

<div class="modal-body">
    <div id="confirm-delete-info" >
        <span i18n="@@project.deleteModal.confirmDeleteInfo">
            Bitte geben Sie den Bezeichner des Projekts ein, um den Löschvorgang zu bestätigen.
        </span>
    </div>
    <div class="input-group">
        <input id="delete-project-input"
               type="text"
               class="form-control"
               [(ngModel)]="confirmDeletionProjectName"
               (keydown)="$event.key !== 'Enter' || confirmDeletion()" />
    </div>
</div>

<div class="modal-footer">
    <button id="delete-project-confirm" class="btn btn-danger" type="button"
            [ngClass]="{ 'disabled': !this.checkConfirmDeletionProjectName() }"
            (click)="confirmDeletion()">
        <span i18n="@@buttons.delete">Löschen</span>
    </button>
    <button type="button" id="delete-project-cancel" class="btn btn-secondary"
            (click)="activeModal.dismiss('cancel')">
        <span i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
