#download-project-progress-modal {
  .spinner {
    position: relative;
    left: 5px;
  }
  
  #replication-progress {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #download-project-cancel-button {
    margin-top: 10px;
  }
}
