<div id="download-project" class="row" (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-right">
                <button id="importStartButton"
                        class="btn btn-primary"
                        (click)="onStartClicked()">
                    <span class="mdi mdi-file-import"></span>
                    <span class="button-label" i18n="@@project.download.connect">Download starten</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col default-container">
                <div class="col-lg-6 mx-lg-auto py-4">
                    <div class="form-group">
                        <label class="control-label col-form-label"
                               i18n="@@project.download.address">Adresse</label>
                        <input class="form-control"
                            id="urlInput"
                            type="text"
                            [(ngModel)]="url">
                        <div class="small-info-text" i18n="@@project.download.address.info">
                            Als Adresse kann sowohl die URL eines iDAI.field-Datenbankservers als auch die
                            Netzwerkadresse einer anderen iDAI.field-Desktopinstallation angegeben werden.
                        </div>

                        <label id="project-name-label" class="control-label col-form-label"
                               i18n="@@project.download.projectName">Projektname</label>
                        <input class="form-control"
                            id="projectInput"
                            type="text"
                            [(ngModel)]="projectName">
                        <label id="password-label" class="control-label col-form-label"
                               i18n="@@project.download.password">Passwort</label>
                            <input class="form-control"
                                id="passwordInput"
                                type="password"
                                [(ngModel)]="password">
                    </div>
                    <div id="thumbs-synchronization-slider" class="row" >
                        <div class="col-auto mr-auto">
                            <span i18n="@@settings.synchronization.thumbnailImageFiles">Vorschaubilder</span>
                        </div>
                        <div class="col-auto">
                            <label class="switch"  >
                                <input type="checkbox" [checked]="syncThumbnailImages"
                                    (change)="syncThumbnailImages = !syncThumbnailImages">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div id="original-synchronization-slider" class="row" >
                        <div class="col-auto mr-auto">
                            <span i18n="@@settings.synchronization.originalImageFiles">Original Bilder</span>
                        </div>
                        <div class="col-auto">
                            <label class="switch"  >
                                <input type="checkbox" [checked]="syncOriginalImages"
                                    (change)="syncOriginalImages = !syncOriginalImages">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
