<div id="download-project" class="row" (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-end">
                <button id="importStartButton"
                        class="btn btn-primary"
                        [class.disabled]="!checkCredentialsCompleteness()"
                        (click)="checkCredentialsCompleteness() && onStartClicked()">
                    <span class="mdi mdi-file-import"></span>
                    <span class="button-label" i18n="@@project.download.connect">Download starten</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col default-container">
                <div class="col-lg-6 mx-lg-auto py-4">
                    <div class="mb-3">
                        <label class="control-label col-form-label"
                               i18n="@@project.download.address">Adresse</label>
                        <input class="form-control"
                            id="urlInput"
                            type="text"
                            (ngModelChange)="onCredentialsChanged()"
                            [(ngModel)]="url">
                        <div class="small-info-text" i18n="@@project.download.address.info">
                            Als Adresse kann sowohl die URL eines Field-Servers als auch die
                            Netzwerkadresse einer anderen Field-Desktop-Installation angegeben werden.
                        </div>

                        <label id="project-identifier-label" class="control-label col-form-label"
                               i18n="@@project.identifier">Projektkennung</label>
                        <input class="form-control"
                            id="projectInput"
                            type="text"
                            (ngModelChange)="onCredentialsChanged()"
                            [(ngModel)]="projectIdentifier">
                        <label id="password-label" class="control-label col-form-label"
                               i18n="@@project.download.password">Passwort</label>
                            <input class="form-control"
                                id="passwordInput"
                                type="password"
                                (ngModelChange)="onCredentialsChanged()"
                                [(ngModel)]="password">
                    </div>
                    <div id="thumbs-synchronization-slider" class="row">
                        <div class="col-auto me-auto">
                            <span i18n="@@project.download.thumbnailImageFiles">Vorschaubilder herunterladen</span> 
                            <span> {{ thumbnailImagesSize }}</span>
                            <div *ngIf="loadingImagesSize" class="spinner image-size-spinner"></div>
                        </div>
                        <div class="col-auto">
                            <label class="switch">
                                <input type="checkbox" [checked]="syncThumbnailImages"
                                    (change)="syncThumbnailImages = !syncThumbnailImages">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div id="original-synchronization-slider" class="row">
                        <div class="col-auto me-auto">
                            <span i18n="@@project.download.originalImageFiles">Originalbilder herunterladen</span> 
                            <span> {{ originalImagesSize }}</span>
                            <div *ngIf="loadingImagesSize" class="spinner image-size-spinner"></div>
                        </div>
                        <div class="col-auto">
                            <label class="switch">
                                <input type="checkbox" [checked]="syncOriginalImages"
                                    (change)="syncOriginalImages = !syncOriginalImages">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div id="overwrite-project-slider" class="row">
                        <div class="col-auto me-auto">
                            <span i18n="@@project.download.overwriteProject">Existierendes Projekt gleicher Kennung überschreiben</span>
                        </div>
                        <div class="col-auto">
                            <label class="switch">
                                <input type="checkbox" [checked]="overwriteProject"
                                    (change)="overwriteProject = !overwriteProject">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
