#download-project-progress-modal {
  height: 194px;
  padding-top: 14px;
  transition: height 0.5s ease-in-out;

  .spinner {
    position: relative;
    left: 6px;
  }
  
  .replication-progress {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #download-project-cancel-button {
    transition: top 0.5s ease-in-out;

    &.disabled:active,
    &.disabled:focus {
      background-color: #5a6268
    }
  }

  #files-progress {
    height: 0;
    width: 0;
    transition: height 0.5s ease-in-out;

    #files-progress-bar,
    #files-progress-info {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      transition-delay: 0.5s;
    }
  }

  &.loading-files {
    height: 254px;

    #files-progress {
      height: 60px;
      width: 100%;

      #files-progress-bar {
        display: flex;
        opacity: 1;
      }

      #files-progress-info {
        display: block;
        opacity: 1;
      }
    }
  }
}
