<div id="download-project-progress-modal" class="modal-body process-modal"
     [class.loading-files]="filesProgressPercent > 0">
    <div class="process-modal-container">
        <div class="spinner"></div>
        <div class="progress replication-progress">
            <div class="progress-bar"
                 [style.width]="databaseProgressPercent + '%'"></div>
        </div>
        <div *ngIf="databaseProgressPercent === 0" class="process-info" i18n="@@project.download.connecting">Verbindung wird hergestellt...</div>
        <div *ngIf="databaseProgressPercent > 0" class="process-info" i18n="@@project.download.progressInfo">{{getRoundedProgress(databaseProgressPercent)}}% der Projektdaten geladen... </div>

        <div id="files-progress-bar" class="progress replication-progress">
            <div class="progress-bar bg-success"
                 [class.disabled]="filesProgressPercent === 0"
                 [style.width]="filesProgressPercent + '%'"></div>
        </div>
        <div id="files-progress-info" class="process-info" i18n="@@project.download.progressInfo">{{getRoundedProgress(filesProgressPercent)}}% der Bilder geladen... </div>

        <button id="download-project-cancel-button" type="button" class="btn btn-secondary"
                (click)="cancel()">
            <span i18n="@@project.download.abort">Abbrechen</span>
        </button>
    </div>
</div>
