<div id="download-project-progress-modal" class="modal-body process-modal"
     [class.loading-files]="filesProgressPercent >= 0">
    <div class="process-modal-container">
        <div class="spinner"></div>
        <div class="progress replication-progress">
            <div class="progress-bar"
                 [class.bg-secondary]="cancelling"
                 [style.width]="databaseProgressPercent + '%'"></div>
        </div>
        <div *ngIf="databaseProgressPercent === 0 && !cancelling" class="process-info" i18n="@@project.download.connecting">Verbindung wird hergestellt...</div>
        <div *ngIf="databaseProgressPercent > 0 && filesProgressPercent === -1 && !cancelling" class="process-info" i18n="@@project.download.progressInfo.database">{{getRoundedProgress(databaseProgressPercent)}}% der Projektdaten geladen... </div>
        <div *ngIf="filesProgressPercent >= 0" class="process-info" i18n="@@project.download.progressInfo.databaseFinished">{{getRoundedProgress(databaseProgressPercent)}}% der Projektdaten geladen. </div>
        <div *ngIf="filesProgressPercent === -1 && cancelling" class="process-info" i18n="@@project.download.progressInfo.cancelling">Download wird abgebrochen... </div>

        <div id="files-progress">
            <div id="files-progress-bar" class="progress replication-progress">
                <div class="progress-bar"
                    [class.bg-success]="!cancelling"
                    [class.bg-secondary]="cancelling"
                    [class.disabled]="filesProgressPercent === -1"
                    [style.width]="filesProgressPercent + '%'"></div>
            </div>
            <div *ngIf="!cancelling" id="files-progress-info" class="process-info" i18n="@@project.download.progressInfo.files">{{getRoundedProgress(filesProgressPercent)}}% der Bilder geladen... </div>
            <div *ngIf="cancelling" id="files-progress-info" class="process-info" i18n="@@project.download.progressInfo.cancelling">Download wird abgebrochen... </div>
        </div>

        <button id="download-project-cancel-button" type="button" class="btn btn-secondary"
                [class.disabled]="cancelling" [disabled]="cancelling" (click)="cancel()">
            <span i18n="@@project.download.abort">Abbrechen</span>
        </button>
    </div>
</div>
