#download-project-progress-modal {
  height: 194px;
  transition: height 0.5s ease-in-out;

  &.loading-files {
    height: 254px;
  }

  .spinner {
    position: relative;
    left: 5px;
  }
  
  .replication-progress {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #download-project-cancel-button {
    margin-top: 10px;
  }
}
