project-information-modal {
  #project-information-modal-info {
    user-select: none;
    margin-bottom: 10px;

    b {
      font-weight: 600;
    }
  }

  .card {
    border-radius: 0.3rem !important;
    max-height: calc(100vh - 284px);
    overflow: auto;
    user-select: none;

    .card-body {
      div {
        &.indented {
          margin-left: 20px;
        }

        &:not(.indented) {
          font-weight: 600;
        }

        &:not(.indented):not(:first-of-type) {
          margin-top: 15px;
        }
      }

      #last-changed-resource-identifier {
        color: #37588e;

        &:hover {
          color: #223657;
        }
      }
    }
  }

  #project-information-modal-loading-icon-container {
    height: 100px;

    loading-icon {
      position: relative;
      top: 52px;
    }
  }
}
