project-information-modal {
  .card {
    border-radius: 0.3rem !important;
    max-height: 400px;
    overflow: auto;
    user-select: none;

    div {
      &.indented {
        margin-left: 15px;
      }

      &:not(.indented):not(:first-of-type) {
        margin-top: 15px;
      }
    }
  }
}
