#synchronization-modal {
  span,
  label {
    user-select: none;
  }

  span.disabled {
    color: grey;
  }

  #thumbs-synchronization-slider,
  #originals-upload-synchronization-slider,
  #originals-download-synchronization-slider {
    margin-left: 0;
  }

  .image-syncing-option-label {
    font-size: 14px;
  }
}
