/**
 * @author: Thomas Kleinke
 * @author: Sebastian Cuy
 */
fields-view,
georeference-view,
depicts-relations-view {
  .card {

    .card-header {
      margin-top: -1px;
      padding: 0;
      background-color: white;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;

      .btn {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        background-color: white;

      }
    }

    .card-body {
      background-color: white;
    }
  }
}
