<div>
    <div class="delete-relation small-circular-button red-button mdi mdi-delete" (click)="deleteRelation()"></div>
    <div id="relation-picker">
        <div *ngIf="!selectedTarget">
            <input [(ngModel)]="idSearchString" (keydown)="keyDown($event)" (keyup)="keyUp($event)"
                   (focus)="enterSuggestionMode()" (blur)="leaveSuggestionMode()" class="form-control">
            <div *ngIf="suggestionsVisible" class="suggestion-container" (mouseout)="selectedSuggestionIndex = -1">
                <div *ngFor="#suggestion of suggestions; #i = index">
                    <div *ngIf="selectedSuggestionIndex != i" class="suggestion" (mousedown)="chooseTarget(suggestion)"
                            (mouseover)="selectedSuggestionIndex = i">
                        <span class="badge">{{suggestion.identifier}}</span> {{suggestion.title}}
                    </div>
                    <div *ngIf="selectedSuggestionIndex == i" class="suggestion selected-suggestion"
                            (mousedown)="createRelation(suggestion)">
                        <span class="badge">{{suggestion.identifier}}</span> {{suggestion.title}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="selectedTarget">
            <button class="btn btn-default" type="button" (click)="editTarget()">
                <span class="badge">{{selectedTarget.identifier}}</span> {{selectedTarget.title}}
            </button>
        </div>
    </div>
</div>