<div id="export">

    <header class="bg-light">

        <button id="exportStartButton"
                class="btn btn-primary"
                [ngClass]="{ 'disabled': running }"
                (click)="dump()"
                ngbTooltip="Erstellt ein Backup des aktuell geöffneten Projektes. Aus diesem kann die entsprechende Datenbank zu einem späteren Zeitpunkt wiederhergestellt werden."
                placement="bottom">
            <span class="mdi mdi-file-export" style="color: white"></span>
            Backup erstellen
        </button>

    </header>

    <main>

        <div class="form-group row">

            <div class="col-lg-6 mx-lg-auto">

                <h3>Backup</h3>

                Regelmäßige Backups erhöhen die Datensicherheit und erlauben es bei bei Datenverlusten,
                die Datenbank aus dem letzten gesicherten Zwischenstand wiederherzustellen.

                <br><br>
                Bitte beachten Sie, dass Originale von Bildern nicht mitgesichert werden. Diese befinden sich
                in dem unter Einstellungen angezeigten Pfad und sollten separat gesichert werden.


                <br><br>
                <br><br>

                <h4>Datenbank wiederherstellen</h4>

                Hinweis: Nach dem Einspielen eines Backups werden die Thumbnails wieder aus den Originaldaten errechnet,
                weshalb die Anwendung dann nach dem Einlesen eines Backups
                zunächst stellenweise etwas langsamer läuft.

                <br><br>

                Geben Sie hier den vollständigen Pfad einer Backup-Datei sowie den Namen einer Zieldatenbank /
                eines Zielprojektes ein. Der Name des Zielprojektes darf nicht mit
                dem aktuell geöffneten Projekt übereinstimmen.
                <b>Achtung: </b> Beim Einspielen einer Backup-Datei wird eine eventuell vorhandene
                Zieldatenbank mit dem angegebenem Namen vollständig überschrieben.

                <br>
                <br>
                <label>Pfad</label>
                <input type="text" class="form-control" id="path"
                       [(ngModel)]="path" name="path">


                <label>Projekt</label>
                <input type="text" class="form-control" id="proj"
                       [(ngModel)]="proj" name="proj">

                <br>
                <br>
                <button id="importStartButton"
                        class="btn btn-primary"
                        [ngClass]="{ 'disabled': running }"
                        (click)="readDump()">
                    <span class="mdi mdi-file-export" style="color: white"></span>
                    Backup einlesen
                </button>
            </div>
        </div>
    </main>
</div>
