/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

#backup-creation,
#backup-loading {
  padding: 0 !important;

  header {
    position: fixed;
    width: 100%;
    z-index: 1001;
    margin-left: -15px;
    top: 45px;
    height: 56px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  }

  header button {
    position: absolute;
    right: 6px;
    bottom: 6px;
  }

  main {
    padding: 7px;
    margin-top: 70px;
  }

  input {
    height: 39px;
  }
}
