/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

.backup-creation,
.backup-loading {

  .backup-nav {
    position: relative;
    z-index: 1001;
    border-bottom: 1px solid $gray-200;
  }

  .backup-container {
    height: calc(100vh - 107px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

}
