/**
 * @author: Jan G. Wieners
 * @author: Thomas Kleinke
 */

.import {
  user-select: none;

  .disabled {
    transition: none !important;
  }

  #path-input-group {
    margin-bottom: -8px;
  }

  .import-info {
    font-size: 14px;
    margin-bottom: 12px;
    cursor: default;
  }

  .form-check-inline {
    margin-bottom: 8px;

    .form-check-label {
      position: relative;
      top: 1px;
    }
  }

  .form-check-label {
    margin-bottom: 0;
    padding-left: 0 !important;
  }

  input[type=checkbox],
  input[type=radio] {
    margin-right: 8px;
  }

  #back-to-import-button {
    margin-top: 22px;
  }

  #ignored-identifiers {
    max-height: calc(100vh - 258px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .unselected-category {
    font-style: italic;
  }
}
