<div class="import row" (dragover)="false" (dragleave)="false" (drop)="false">
    <div class="col">
        <div class="row">
            <div class="col default-nav bg-light text-right">
                <button id="importStartButton"
                        class="btn btn-primary"
                        [ngClass]="{ 'disabled': !isReady() }"
                        (click)="!isReady() || onImportButtonClick()">
                    <span class="mdi mdi-file-import"></span>
                    <span class="button-label" i18n="@@import.startImport">Import starten</span>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="form-group col default-container">
                <div *ngIf="ignoredIdentifiers.length < 2" class="col-lg-6 mx-lg-auto py-4">
                    <div class="form-group">
                        <label class="control-label col-form-label" for="importSourceSelect"
                               i18n="@@import.source">Quelle</label>
                        <select id="importSourceSelect" class="form-control"
                                [(ngModel)]="importState.sourceType"
                                (ngModelChange)="reset()">
                            <option value="file" i18n="@@import.file">Datei</option>
                            <option value="http" i18n="@@import.http">HTTP</option>
                        </select>
                    </div>

                    <div *ngIf="importState.sourceType === 'file'" class="form-group">
                        <label class="control-label col-form-label" i18n="@@import.path">Pfad</label>

                        <div class="input-group">
                            <input [ngModel]="importState.file ? importState.file.path : ''" class="form-control"
                                   placeholder="Datei auswählen..."
                                   i18n-placeholder="@@import.chooseFile"
                                   disabled>
                            <input id="import-file-input" class="file-input" type="file"
                                   accept="{{allowedFileExtensions}}"
                                   (change)="selectFile($event)">
                            <div class="input-group-append">
                                <label for="import-file-input" class="btn btn-secondary file-input-label">
                                    <span class="mdi mdi-folder"></span>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="importState.sourceType === 'http'" class="form-group">
                        <label class="control-label col-form-label" i18n="@@import.url">URL</label>
                        <input class="form-control" id="importUrlInput"
                               type="text"
                               [(ngModel)]="importState.url"
                               (keyup)="updateFormat()">
                    </div>

                    <div *ngIf="!importState.format" class="import-info" i18n="@@import.format.info">
                        Unterstützte Dateiformate: {{getAllowedFileExtensions()}}<br>
                        Bildformate können in der <a href="#" routerLink="../images">Bilderverwaltung</a> importiert werden.
                    </div>

                    <div *ngIf="isDefaultFormat()">
                        <div
                            (click)="setMergeMode(false)"
                            id="radiobutton-merge-mode-false">
                            <div class="form-group form-check-inline">
                            <input type="radio"
                                class="form-check-input"
                                name="radiobutton-merge-mode"
                                [checked]="!isMergeMode()" />
                            <label for="radiobutton-merge-mode-false"
                                class="form-check-label"
                                i18n="@@import.regularOption.label">
                                Neue Ressourcen importieren</label>
                            </div>
                            <div class="import-info"
                                i18n="@@import.defaultOption.info">
                                Datensätze, deren Bezeichner (Feld <em>identifier</em>)
                                bereits vergeben ist, werden ignoriert.
                            </div>
                        </div>
                        <div
                            (click)="setMergeMode(true)"
                            id="radiobutton-merge-mode-true">
                            <div class="form-group form-check-inline">
                                <input type="radio"
                                    class="form-check-input"
                                    name="radiobutton-merge-mode"
                                    [checked]="isMergeMode()" />
                                <label for="radiobutton-merge-mode-true"
                                    class="form-check-label"
                                    i18n="@@import.mergeOption.label">
                                    Vorhandene Ressource ergänzen
                                </label>
                            </div>
                            <div *ngIf="importState.format === 'native'" class="import-info"
                                i18n="@@import.mergeOption.native.info">
                                Ist diese Option aktiviert, so werden bereits existierende Datensätze mit
                                den Daten aus der Importdatei ergänzt. Felder des Importdatensatzes überschreiben
                                dabei gleichnamige Felder im existierenden Datensatz. Geometrien des Importdatensatzes
                                überschreiben bestehende im existierenden Datensatz. Im existierenden Datensatz
                                vorhandene Felder, die nicht im Importdatensatz vorhanden sind, bleiben unverändert
                                bestehen. Die Kategorie kann nicht verändert werden. Die Zuordnung von Datensätzen
                                geschieht per Bezeichner (Feld <em>identifier</em>). Datensätze in der
                                Importdatei, die nicht zugeordnet werden können, werden ignoriert.
                            </div>
                            <div *ngIf="importState.format === 'csv'" class="import-info"
                                i18n="@@import.mergeOption.csv.info">
                                Ist diese Option aktiviert, so werden bereits existierende Datensätze mit
                                den Daten aus der Importdatei ergänzt. Felder des Importdatensatzes überschreiben
                                dabei gleichnamige Felder im existierenden Datensatz. Im existierenden Datensatz
                                vorhandene Felder, die nicht im Importdatensatz vorhanden sind, bleiben unverändert
                                bestehen. Die Kategorie kann nicht verändert werden. Die Zuordnung von Datensätzen
                                geschieht per Bezeichner (Spalte <em>identifier</em>). Datensätze in der
                                Importdatei, die nicht zugeordnet werden können, werden ignoriert.
                            </div>
                        </div>
                        <div *ngIf="shouldDisplayPermitDeletionsOption()">
                            <div class="form-group form-check-inline">
                                <input type="checkbox" id="merging-relations-checkbox" class="form-check-input"
                                        [(ngModel)]="importState.permitDeletions">
                                <label for="merging-relations-checkbox" class="form-check-label" i18n="@@import.mergeOption.permitDeletions">
                                    Löschen erlauben
                                </label>
                            </div>
                            <div *ngIf="importState.format === 'native'"
                                class="import-info" i18n="@@import.mergeOption.deletionsInfo.jsonl">
                                Ist diese Option aktiviert, so können sowohl Felder als auch Relationen nicht nur
                                verändert, sondern auch entfernt werden. Gelöscht werden alle Felder und Relationen,
                                denen in der Importdatei der Wert <i>null</i> zugewiesen ist.
                                Nicht aufgeführte Felder und Relationen bleiben unverändert.
                            </div>
                            <div *ngIf="importState.format === 'csv'"
                                class="import-info" i18n="@@import.mergeOption.deletionsInfo.csv">
                                Ist diese Option aktiviert, so können sowohl Felder als auch Relationen nicht nur
                                verändert, sondern auch entfernt werden. Gelöscht werden alle Felder und Relationen,
                                bei denen das Feld in der Importdatei leer ist.
                                Nicht in der CSV-Tabelle als Spalte aufgeführte Felder und Relationen bleiben
                                unverändert.
                            </div>
                        </div>
                        <div class="form-group form-check-inline">
                            <input type="checkbox" id="ignore-unconfigured-fields-checkbox" class="form-check-input"
                                    [(ngModel)]="importState.ignoreUnconfiguredFields">
                            <label for="ignore-unconfigured-fields-checkbox" class="form-check-label"
                                  i18n="@@import.ignoreUnconfiguredFields">
                                Nicht konfigurierte Felder ignorieren
                            </label>
                        </div>
                        <div class="import-info" i18n="@@import.ignoreUnconfiguredFields.info">
                            Ist diese Option aktiviert, so werden Felder in der Importdatei, die nicht Teil der
                            Projektkonfiguration sind, beim Import ignoriert. Andernfalls wird der Import abgebrochen.
                        </div>
                    </div>

                    <div class="form-group" *ngIf="importState.format === 'csv' && importState.file && !importState.typeFromFileName">
                        <label class="control-label col-form-label"
                               for="importTypeSelect"
                               i18n="@@import.format.importCategorySelect">Kategorie</label>

                        <select id="importTypeSelect"
                                class="form-control"
                                [class.unselected-category]="!importState.selectedCategory"
                                [(ngModel)]="importState.selectedCategory">
                            <option hidden [ngValue]="undefined" i18n="@@import.selectCategory">Kategorie auswählen</option>
                            <option *ngFor="let category of importState.categories" [ngValue]="category">
                                {{getCategoryLabel(category)}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group" *ngIf="shouldDisplayImportIntoOperation()">
                        <label class="control-label col-form-label"
                               for="operationSelect"
                               i18n="@@import.assignToOperation.label">Daten einer Maßnahme zuordnen</label>
                        <select id="operationSelect" class="form-control"
                                [(ngModel)]="importState.selectedOperationId">
                            <option value="" i18n="@@import.assignToOperation.noAssignment">Keine Zuordnung</option>
                            <option *ngFor="let document of operations" value="{{document.resource.id}}">
                                {{getDocumentLabel(document)}}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="importState.format === 'csv'" class="form-group">
                        <label class="control-label col-form-label"
                               i18n="@@import.csv.separator">Feldtrennzeichen</label>
                        <input class="form-control" id="separatorInput"
                               type="text" maxlength="1"
                               [value]="getSeparator()" (change)="setSeparator($event.srcElement.value)">
                    </div>

                    <div *ngIf="importState.format === 'geojson'" class="import-info" i18n="@@import.geojson.info">
                        Beim GeoJSON-Import werden keine neuen Ressourcen angelegt, sondern existierenden
                        Ressourcen Geometrien hinzugefügt. Bitte beachten Sie, dass bereits vorhandene
                        Geometrien dabei überschrieben werden. Die Zuordnung von Datensätzen geschieht per
                        Bezeichner (Feld <em>identifier</em> im Objekt <em>properties</em>). Datensätze in der
                        Importdatei, die nicht zugeordnet werden können, werden ignoriert.
                    </div>

                    <div *ngIf="isJavaInstallationMissing()" class="import-info text-danger" i18n="@@import.shapefile.javaWarning">
                        Zur Durchführung eines Shapefile-Imports ist die Installation von Java 8 oder höher
                        erforderlich.
                    </div>

                    <div *ngIf="importState.format === 'shapefile' && !isJavaInstallationMissing()" class="import-info" i18n="@@import.shapefile.info">
                        Beim Shapefile-Import werden keine neuen Ressourcen angelegt, sondern existierenden
                        Ressourcen Geometrien hinzugefügt. Bitte beachten Sie, dass bereits vorhandene
                        Geometrien dabei überschrieben werden. Die Zuordnung von Datensätzen geschieht per
                        Bezeichner (Feld <em>identifier</em>). Datensätze im Shapefile, die nicht zugeordnet
                        werden können, werden ignoriert.
                    </div>
                </div>
                <div *ngIf="ignoredIdentifiers.length > 1" class="col-lg-6 mx-lg-auto py-4">
                    <div class="card bg-light">
                        <div class="card-header" i18n="@@import.nonImportedResources">Nicht importierte Ressourcen</div>
                        <div id="ignored-identifiers" class="card-body">
                            <div *ngFor="let identifier of ignoredIdentifiers">
                                {{identifier}}
                            </div>
                        </div>
                    </div>
                    <button id="back-to-import-button"
                            class="btn btn-secondary"
                            (click)="ignoredIdentifiers = []">
                        <span class="button-label" i18n="@@buttons.back">Zurück</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
