<div class="modal-header configuration-editor-modal-header value-editor-modal-header">
    <h6 *ngIf="!new" i18n="@@configuration.editValue">Wert <code>{{valueId}}</code> bearbeiten</h6>
    <h6 *ngIf="new" i18n="@@configuration.createValue">Wert <code>{{valueId}}</code> erstellen</h6>
</div>


<div class="modal-body configuration-editor-modal-body value-editor-modal-body">
    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.label">
            Anzeigetext
        </div>
        <multi-language-input [translations]="clonedValue.label"
                              [defaultTranslations]="{}"
                              [projectLanguages]="projectLanguages"></multi-language-input>
    </div>

    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.valueDescription">
            Beschreibung
        </div>
        <multi-language-input [translations]="clonedValue.description"
                              [defaultTranslations]="{}"
                              [projectLanguages]="projectLanguages"></multi-language-input>
    </div>

    <div class="configuration-editor-section">
        <div class="configuration-editor-section-title" i18n="@@configuration.references">
            Verweise
        </div>
        <references-input [references]="clonedValue.references"></references-input>
    </div>
</div>

<div class="modal-footer value-editor-modal-footer bg-light">
    <button id="confirm-value-button" class="btn btn-primary" (click)="confirmChanges()">
        <span class="button-label" i18n="@@buttons.ok">OK</span>
    </button>
    <button id="cancel-button" class="btn btn-secondary" (click)="cancel()">
        <span class="button-label" i18n="@@buttons.cancel">Abbrechen</span>
    </button>
</div>
