.valuelist-editor-modal-body {
  #value-items {
    .cdk-drag-animating {
      transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
    }
  
    &.cdk-drop-list-dragging .value-item-container:not(.cdk-drag-placeholder) {
      transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
    }

    .value-item-container {
      margin-bottom: 0.5rem !important;

      .hidden-value {
        color: #ccc;

        code {
          color: #ccc;
        }
      }

      .value-item-input-group {
        .btn {
          width: 34px;
          height: 33px;

          .mdi {
            position: relative;
            bottom: 2px;
            right: 5px;
          }
        }

        .cdk-drag-handle {
          position: relative;
          top: 4px;
          right: 7px;
          font-size: 17px;
          cursor: grab;
        }
      }
    }
  }

  #add-value-button {
    position: relative;
    left: 1px;
    height: 33.5px;

    .mdi {
      position: relative;
      bottom: 2px;
      right: 1px;
    }
  }

  #new-value-input {
    max-width: 200px;
    border-right: none;
  }

  #sort-label {
    font-size: 15px;
    width: 300px;
    float: left;
    user-select: none;
  }
}

.value-item {
  height: 33px;
  color: #495057;
  background-color: #e9ecef;
  user-select: none;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value-drag-placeholder {
  height: 33px;
  margin-bottom: 0.5rem !important;
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 350ms cubic-bezier(0, 0, 0.2, 1);
  position: relative;
  z-index: 1 !important;
}

.value-drag-preview {
  width: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  z-index: 2000 !important;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2),
              0 9px 11px 2px rgba(0, 0, 0, 0.14),
              0 3px 14px 3px rgba(0, 0, 0, 0.12);
}

.valuelist-editor-modal-header,
.valuelist-editor-modal-body {
  &.dragging {
    cursor: grabbing !important;

    input,
    select,
    .btn,
    label,
    .cdk-drag-handle {
      cursor: grabbing !important;
    }
  }
}