# See http://help.github.com/ignore-files/ for more about ignoring files.

config.json
log.txt

test/CURRENT
test/LOCK
test/LOG
test/MANIFEST-*
test/*.log
unittest
test/unit/**/*.js
test/unit/**/*.js.map
test/e2e/**/*.js
test/e2e/**/*.js.map
test/dist
testdb
test/test-temp/

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

src/app.css
src/fonts
release
tools
test-results
src/config/Scripts/dist
