/**
 * @author Thomas Kleinke
 */
form-field-complex {
  .subfield-section:not(:last-child) {
    margin-bottom: 10px;
  }

  .mdi-information-outline {
    position: relative;
    bottom: 2px;
    font-size: 20px;
  }

  .invalid-data {
    font-style: italic;
    pointer-events: none;
  }
}
