form-field-date {
  .remove-date-button {
    padding-top: 7px;
    font-size: 15px;
    color: #212529;

    .mdi-close {
      position: relative;
      left: 4px;
    }
  }
}

ngb-datepicker {
  user-select: none;

  select {
    box-shadow: none !important;
  }
}
