date-value {
  display: flex;
  position: relative;

  .date-picker-input {
    width: 100px;
    margin-right: 12px !important;
  }

  .date-label {
    width: 100px;
    height: 33px;
    margin-right: 12px;
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 13px;
    text-align: center;

    .mdi-close {
      position: relative;
      left: 4px;
    }
  }
}
  
ngb-datepicker {
  user-select: none;

  select {
    box-shadow: none !important;
  }

  .ngb-dp-day {
    cursor: default !important;
  
    .btn-light.active {
      background-color: initial !important;
      border-color: initial !important;
      color: #37588e !important;
      box-shadow: initial !important;
    }
  }

  .ngb-dp-arrow-btn:focus {
    outline-width: 0 !important; 
  }
}

.now-button {
  height: 33px;
  line-height: 18px;
  font-size: 14px;
}

.timezone-selector {
  width: 280px;
  margin-left: 12px;
}
