form-field-date {
  position: relative;
  
  .remove-date-button {
    height: 33px;
    padding-top: 4px;
    font-size: 15px;
    color: #212529;

    .mdi-close {
      position: relative;
      left: 4px;
    }
  }
}

ngb-datepicker {
  user-select: none;

  select {
    box-shadow: none !important;
  }

  .ngb-dp-day {
    cursor: default !important;
  
    .btn-light.active {
      background-color: initial !important;
      border-color: initial !important;
      color: #37588e !important;
      box-shadow: initial !important;
    }
  }
  
  .ngb-dp-arrow-btn:focus {
    outline-width: 0 !important; 
  }
}
