<div *ngIf="!isDatePickerVisible()"
     class="date-label"
     (click)="editDate()">
    {{getFormattedDate()}}
</div>

<input *ngIf="isDatePickerVisible()"
        #dateInput
        #datePicker="ngbDatepicker"
        class="form-control date-picker-input"
        [firstDayOfWeek]="1"
        placeholder="dd.mm.yyyy"
        container="body"
        (click)="toggleDatePicker()"
        (blur)="onDateInputBlurred()"
        (dateSelect)="update()"
        (closed)="onDatePickerClosed()"
        (keydown)="onKeyDown($event)"
        [(ngModel)]="dateStruct"
        ngbDatepicker>

<div *ngIf="isNowButtonVisible()"
     class="btn btn-outline-primary now-button"
     i18n="@@dcoedit.forms.date.now"
     (click)="setCurrentDate()">Jetzt</div>

<time-input *ngIf="isTimePickerVisible()"
            [time]="time"
            (onChanged)="onTimeChanged($event)"></time-input>

<div class="timezone-selector">
    <searchable-select *ngIf="isTimePickerVisible()"
                    [selectedValue]="selectedTimezone"
                    [values]="getAvailableTimezones()"
                    [getLabel]="getTimezoneLabel"
                    [clearable]="false"
                    (onValueSelected)="selectTimezone($event)"></searchable-select>
</div>
