<div *ngIf="!isDatePickerVisible()" class="btn btn-light remove-date-button" (click)="removeValue()">
    <span>{{getFormattedDate()}}</span>
    <span class="mdi mdi-close"></span>
</div>

<input *ngIf="isDatePickerVisible()"
        #dateInput
        class="form-control date-picker-input"
        [firstDayOfWeek]="1"
        placeholder="dd.mm.yyyy"
        container="body"
        (click)="d.toggle(); focusInputField(); listenToScrollEvents(d)"
        (blur)="update()"
        (dateSelect)="update()"
        (closed)="stopListeningToScrollEvents()"
        (keydown)="onKeyDown($event)"
        [(ngModel)]="dateStruct"
        ngbDatepicker
        #d="ngbDatepicker">

<div *ngIf="isDatePickerVisible()"
     class="btn btn-outline-primary now-button"
     i18n="@@dcoedit.forms.date.now"
     (click)="setCurrentDate()">Jetzt</div>

<ngb-timepicker *ngIf="isTimePickerVisible()"
                [(ngModel)]="timeStruct"
                (ngModelChange)="update()"
                [spinners]="false"></ngb-timepicker>

<div class="timezone-selector">
    <searchable-select *ngIf="isTimePickerVisible()"
                    [selectedValue]="selectedTimezone"
                    [values]="getAvailableTimezones()"
                    [getLabel]="getTimezoneLabel"
                    [clearable]="false"
                    (onValueSelected)="selectTimezone($event)"></searchable-select>
</div>
