<div *ngIf="!isDatePickerVisible()" class="btn btn-light remove-date-button" (click)="removeFieldData()">
    <span>{{getFieldData()}}</span>
    <span class="mdi mdi-close"></span>
</div>

<input *ngIf="isDatePickerVisible()"
    #dateInput
    class="form-control"
    [firstDayOfWeek]="1"
    placeholder="dd.mm.yyyy"
    container="body"
    (click)="d.toggle(); focusInputField(); listenToScrollEvents(d)"
    (blur)="update()"
    (dateSelect)="update()"
    (closed)="stopListeningToScrollEvents()"
    (keydown)="onKeyDown($event)"
    [(ngModel)]="dateStruct"
    ngbDatepicker
    #d="ngbDatepicker">
