/**
 * @author Sebastian Cuy
 * @author Thomas Kleinke
 */

form-field-dating {
  .margin-label {
    width: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    user-select: none;
  }

  .margin-input {
    width: 100px;
  }

  .year-input {
    width: 100px;
  }

  .type-select {
    width: 80px;
  }

  .until-label {
    width: 60px;
    text-align: center;
  }
}
