<ng-template #editDate let-date="date" let-index="index">
    <input class="form-control year-input" type="number" size="6" min="0" max="100000"
           [(ngModel)]="date.inputYear" value="0" name="year_{{index}}" required>
    <select class="form-control ml-1 type-select" [(ngModel)]="date.inputType" name="type_{{index}}">
        <option value="bce" i18n="@@docedit.forms.dating.bce">v. Chr.</option>
        <option value="ce" i18n="@@docedit.forms.dating.ce">n. Chr.</option>
        <option value="bp" i18n="@@docedit.forms.dating.bp">BP</option>
    </select>
</ng-template>

<ng-template #checkboxes let-dating="dating">
    <div class="form-group">
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"
                       [checked]="dating.isImprecise"
                       (change)="dating.isImprecise = !dating.isImprecise">
                <span i18n="@@docedit.forms.dating.imprecise">Ungenau</span>
            </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox"
                       [checked]="dating.isUncertain"
                       (change)="dating.isUncertain = !dating.isUncertain">
                <span i18n="@@docedit.forms.dating.uncertain">Unsicher</span>
            </label>
        </div>
    </div>
</ng-template>

<ng-template #editDating let-dating="dating">
    <div class="card object-array-field-widget">
        <div>
            <select class="form-control" (change)="createNewDating($event.target.value)">
                <option value="range" i18n="@@docedit.forms.dating.period">Zeitraum</option>
                <option value="single" i18n="@@docedit.forms.dating.single">Einzelnes Jahr</option>
                <option value="before" i18n="@@docedit.forms.dating.before">Vor</option>
                <option value="after" i18n="@@docedit.forms.dating.after">Nach</option>
                <option value="scientific" i18n="@@docedit.forms.dating.scientific">Naturwissenschaftlich</option>
            </select>
        </div>

        <div class="card-block">
            <div *ngIf="dating.type === 'range'">
                <div class="form-group">
                    <div class="form-inline">
                        <ng-container [ngTemplateOutlet]="editDate"
                                      [ngTemplateOutletContext]="{ date: dating.begin, index: 0 }"></ng-container>
                        <span class="until-label" i18n="@@docedit.forms.dating.until">bis</span>
                        <ng-container [ngTemplateOutlet]="editDate"
                                      [ngTemplateOutletContext]="{ date: dating.end, index: 1 }"></ng-container>
                    </div>
                </div>
                <ng-container [ngTemplateOutlet]="checkboxes"
                              [ngTemplateOutletContext]="{ dating: dating }"></ng-container>
            </div>

            <div *ngIf="dating.type === 'single'">
                <div class="form-group">
                    <div class="form-inline">
                        <ng-container [ngTemplateOutlet]="editDate"
                                      [ngTemplateOutletContext]="{ date: dating.end, index: 1 }"></ng-container>
                    </div>
                </div>
                <ng-container [ngTemplateOutlet]="checkboxes"
                              [ngTemplateOutletContext]="{ dating: dating }"></ng-container>
            </div>

            <div *ngIf="dating.type === 'before'">
                <div class="form-group">
                    <div class="form-inline">
                        <ng-container [ngTemplateOutlet]="editDate"
                                      [ngTemplateOutletContext]="{ date: dating.end, index: 1 }"></ng-container>
                    </div>
                </div>
                <ng-container [ngTemplateOutlet]="checkboxes"
                              [ngTemplateOutletContext]="{ dating: dating }"></ng-container>
            </div>

            <div *ngIf="dating.type === 'after'">
                <div class="form-group">
                    <div class="form-inline">
                        <ng-container [ngTemplateOutlet]="editDate"
                                      [ngTemplateOutletContext]="{ date: dating.begin, index: 0 }"></ng-container>
                    </div>
                </div>
                <ng-container [ngTemplateOutlet]="checkboxes"
                              [ngTemplateOutletContext]="{ dating: dating }"></ng-container>
            </div>

            <div *ngIf="dating.type === 'scientific'">
                <div class="form-group">
                    <div class="form-inline">
                        <ng-container [ngTemplateOutlet]="editDate"
                                      [ngTemplateOutletContext]="{ date: dating.end, index: 1 }"></ng-container>
                        <span class="margin-label">&plusmn;</span>
                        <input type="number" name="margin" class="form-control margin-input"
                               [(ngModel)]="dating.margin">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label i18n="@@docedit.forms.dating.source">Grundlage:</label>
                <multi-language-text-field [fieldData]="dating.source" [languages]="fieldLanguages"
                                           (onFieldDataChanged)="updateSource(dating, $event)">
                </multi-language-text-field>
            </div>

        </div>
        <div class="card-footer" align="right">
            <button class="btn btn-primary"
                    i18n="@@buttons.ok"
                    [disabled]="!validate(dating)"
                    (click)="addNewDating()">OK</button>
            <button type="button" class="btn btn-secondary"
                    (click)="newDating = null">
                <span i18n="@@buttons.cancel">Abbrechen</span>
            </button>
        </div>
    </div>
</ng-template>

<div *ngFor="let dating of fieldContainer[field.name]; index as i"  class="checkbox">
    <div class="input-group mb-2">
        <input value="{{getLabel(dating)}}" type="text" disabled class="form-control">
        <div class="input-group-append">
            <button class="btn btn-danger" [disabled]="newDating" type="button" (click)="removeDating(i)">
                <span class="mdi mdi-delete"></span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="!newDating" class="input-group">
    <input placeholder="Hinzufügen..." i18n-placeholder="@@docedit.forms.dating.add" type="text"
           disabled class="form-control">
    <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="createNewDating()">
            <span class="mdi mdi-plus-circle"></span>
        </button>
    </div>
</div>
<div *ngIf="newDating" class="mt-2">
    <ng-container [ngTemplateOutlet]="editDating"
                  [ngTemplateOutletContext]="{ dating: newDating }">
    </ng-container>
</div>
