<div *ngFor="let dimension of fieldContainer[field.name]; index as i"  class="mb-2">
	<div class="input-group mb-2" *ngIf="!isEditing(dimension)">
		<input value="{{getLabel(dimension)}}" type="text" disabled class="form-control">
		<div class="input-group-append">
            <button class="btn btn-danger" [disabled]="!isEditingAllowed()" (click)="removeDimensionAtIndex(i)">
				<span class="mdi mdi-delete"></span>
			</button>
            <button class="btn btn-info" [disabled]="!isEditingAllowed()" (click)="startEditing(dimension)">
				<span class="mdi mdi-pencil"></span>
			</button>
        </div>
	</div>

	<div *ngIf="isEditing(dimension)">
	    <ng-container [ngTemplateOutlet]="dimensionFormTemplate"
	                  [ngTemplateOutletContext]="{ dimension: dimensionInEditing.clone }">
	    </ng-container>
	</div>
</div>

<div class="input-group" *ngIf="isEditingAllowed()">
	<input placeholder="Hinzufügen..." i18n-placeholder="@@docedit.forms.dimension.add" type="text" disabled class="form-control">
	<div class="input-group-append">
        <button class="btn btn-success create-new-dimension-button"
			    (click)="createNewDimension()">
			<span class="mdi mdi-plus-circle"></span>
	</button>
    </div>
</div>

<div *ngIf="newDimension">
    <ng-container [ngTemplateOutlet]="dimensionFormTemplate"
                  [ngTemplateOutletContext]="{ dimension: newDimension }">
    </ng-container>
</div>

<outliers [fieldContainer]="fieldContainer" [field]="field" [valuelist]="valuelist"></outliers>

<ng-template #dimensionFormTemplate let-dimension="dimension">
	<div class="card object-array-field-widget">
		<div class="card-block">
			<select class="form-control w100 mb-2" [(ngModel)]="dimension['isRange']"
					(ngModelChange)="toggleRangeOnOff(dimension, $event)" name="range">
				<option [ngValue]="false" i18n="@@docedit.forms.dimension.singleValue">Einzelwert</option>
				<option [ngValue]="true" i18n="@@docedit.forms.dimension.range">Bereich</option>
			</select>

			<div class="form-inline form-group">
				<input [(ngModel)]="dimension.inputValue" type="number"
						step="0.001" min="0" size="6" name="inputValue"
						class="form-control value-input">
				<span *ngIf="dimension['isRange']" class="ml-2 form-inline form-group">
						-
					<input [(ngModel)]="dimension.inputRangeEndValue" type="number"
							step="0.001" min="0" size="6" name="inputRangeEndValue"
							class="ml-2 form-control range-end-input">
				</span>

				<select [(ngModel)]="dimension.inputUnit"
						class="form-control input-unit-select"
						name="inputUnit">
					<option value="cm">cm</option>
					<option value="m">m</option>
					<option value="mm">mm</option>
				</select>
			</div>
			<div class="form-inline form-group">
				<label i18n="@@docedit.forms.dimension.asMeasuredBy">Gemessen an</label>
				<select [(ngModel)]="dimension.measurementPosition"
						class="ml-2 form-control measurement-position-select" >
					<option value=""></option>
					<option *ngFor="let value of getPositionValues()" value="{{value}}">
						{{getPositionValueLabel(value)}}
					</option>
				</select>
			</div>

			<div class="form-group">
				<div class="checkbox form-check form-check-inline">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox"
								[checked]="dimension.isImprecise"
								(change)="dimension.isImprecise = !dimension.isImprecise">
						<span i18n="@@docedit.forms.dimension.imprecise">Ungenau</span>
					</label>
				</div>
			</div>

			<div class="form-group">
				<label i18n="@@docedit.forms.dimension.comment">Kommentar:</label>
				<multi-language-text-field [fieldData]="dimension.measurementComment"
										   [languages]="fieldLanguages"
										   (onFieldDataChanged)="updateMeasurementComment(dimension, $event)">
				</multi-language-text-field>
			</div>
		</div>
		<div class="card-footer" align="right">
			<button class="btn btn-primary save-dimension-button" [disabled]="!isValid(dimension)"
					(click)="saveDimension(dimension)"
					i18n="@@buttons.ok">OK</button>
			<button class="btn btn-secondary" *ngIf="newDimension == dimension"
					(click)="cancelNewDimension()" i18n="@@buttons.cancel">Abbrechen</button>
		</div>
	</div>
</ng-template>
