/**
 * @author Thomas Kleinke
 */
form-field-dimension {
  .input-unit-select {
    position: relative;
    left: 4px;
  }

  .value-input,
  .range-end-input {
    width: 100px;
  }

  .form-check {
    .form-check-label {
      padding-left: 0;
    }
  }

  label {
    font-size: 15px;
  }
}
