<div class="input-group">
    <div class="input-group-prepend">
        <label *ngIf="showEndElements()">
            <span i18n="@@docedit.forms.dropdownRange.from">von</span>
        </label>
    </div>

    <searchable-select [selectedValue]="fieldContainer[field.name] && fieldContainer[field.name]['value']"
                        [values]="getValues()"
                        [getLabel]="getLabel"
                        [closeOnClear]="showEndElements()"
                        (onValueSelected)="setValue($event)"></searchable-select>

    <label *ngIf="showEndElements()" class="dropdown-range-end-label">
        <span i18n="@@docedit.forms.dropdownRange.to">bis</span>
    </label>

    <searchable-select *ngIf="showEndElements()"
                        [selectedValue]="fieldContainer[field.name] && fieldContainer[field.name]['endValue']"
                        [values]="getValues()"
                        [getLabel]="getLabel"
                        [disabled]="!fieldContainer[field.name]
                                || !fieldContainer[field.name]['value']
                                || fieldContainer[field.name]['value'] === ''"
                        (onValueSelected)="setEndValue($event)"></searchable-select>

    <div class="input-group-append">
        <button *ngIf="!showEndElements()"
                ngbTooltip="Start- und Endzeitraum angeben"
                i18n-ngbTooltip="@@docedit.forms.dropdownRange.tooltip"
                placement="left"
                container="body"
                class="btn btn-outline-primary"
                type="button"
                (click)="activateEnd()">
            <span class="mdi mdi-arrow-expand-horizontal"></span>
        </button>
    </div>
</div>

<outliers [fieldContainer]="fieldContainer" [field]="field" [valuelist]="valuelist"></outliers>

<empty-valuelist-info *ngIf="hasEmptyValuelist()" [field]="field"></empty-valuelist-info>
