/**
 * @author Thomas Kleinke
 */
form-field-dropdown-range {
  label {
    position: relative;
    top: 4px;
    margin-right: 7px;
    user-select: none;

    span {
      font-size: 14px;
    }

    &.dropdown-range-end-label {
      margin-left: 7px;
    }
  }

  searchable-select {
    flex-grow: 1;
    flex-basis: 0;
  }
}
