/**
 * @author Thomas Kleinke
 */
form-field-dropdown-range {
  label {
    position: relative;
    top: 4px;
    margin-right: 7px;
    user-select: none;

    &.dropdown-range-end-label {
      margin-left: 7px;
    }
  }
}