<select [(ngModel)]="fieldContainer[field.name]" (change)="deleteIfEmpty($event.target.value)"
        class="form-control">
    <option value="" [selected]="!fieldContainer.hasOwnProperty(field.name)"></option>
    <option *ngFor="let item of getValues()" value="{{item}}">{{getLabel(item)}}</option>
</select>

<empty-valuelist-info *ngIf="hasEmptyValuelist()" [field]="field"></empty-valuelist-info>

<outliers [fieldContainer]="fieldContainer" [fieldName]="field.name" [valuelist]="valuelist"></outliers>