form-field-dating,
form-field-dimension,
form-field-literature,
form-field-complex {
	.btn-info {
		margin-left: 0 !important;
	}

	.object-array-field-widget {
		@extend .bg-light;

    .card-footer {
			margin-left: -10px;
			margin-right: -10px;
			border-top: none;

			.btn-primary {
				margin-right: 7px;
			}
		}
	}
}
