<div *ngIf="!edit" class="input-group mb-2">
    <input type="text" disabled class="form-control"
           [value]="getGeometryTypeLabel()">
    <div class="input-group-append">
        <button class="btn btn-info" type="button" (click)="edit = true;">
            <span class="mdi mdi-pencil"></span>
        </button>
    </div>
</div>

<div *ngIf="edit">
    <select (change)="setGeometryType($event.target.value)" class="form-control">
        <option value="" [selected]="!fieldContainer.hasOwnProperty(fieldContainer.geometry)"
                i18n="@@geometry.none">Keine Geometrie</option>
        <option value="Point" [selected]="fieldContainer.geometry && fieldContainer.geometry.type === 'Point'"
                i18n="@@geometry.point">Punkt</option>
        <option value="MultiPoint" [selected]="fieldContainer.geometry && fieldContainer.geometry.type === 'MultiPoint'"
                i18n="@@geometry.multiPoint">Multipunkt</option>
        <option value="LineString" [selected]="fieldContainer.geometry && fieldContainer.geometry.type === 'LineString'"
                i18n="@@geometry.polyline">Polyline</option>
        <option value="MultiLineString"
                [selected]="fieldContainer.geometry && fieldContainer.geometry.type === 'MultiLineString'"
                i18n="@@geometry.multiPolyline">Multipolyline</option>
        <option value="Polygon" [selected]="fieldContainer.geometry && fieldContainer.geometry.type === 'Polygon'"
                i18n="@@geometry.polygon">Polygon</option>
        <option value="MultiPolygon"
                [selected]="fieldContainer.geometry && fieldContainer.geometry.type === 'MultiPolygon'"
                i18n="@@geometry.multiPolygon">Multipolygon</option>
    </select>

    <textarea *ngIf="fieldContainer.geometry && fieldContainer.geometry.type !== ''"
              class="form-control geometry-coordinates-textarea"
              [(ngModel)]="coordinates"
              (keyup)="parseCoordinates(false)"
              (blur)="parseCoordinates(true)">{{coordinates}}</textarea>
</div>
