<div *ngIf="!edit" class="input-group mb-2">
    <input type="text" disabled class="form-control"
           [value]="getGeometryTypeLabel()">
    <button class="btn btn-info" type="button" (click)="edit = true;">
        <span class="mdi mdi-pencil"></span>
    </button>
</div>

<div *ngIf="edit">
    <select (change)="setGeometryType($event.target.value)" class="form-control">
        <option value="" [selected]="!fieldContainer.hasOwnProperty(fieldContainer.geometry)"
                i18n="@@geometry.none">Keine Geometrie</option>
        <option *ngFor="let geometryType of geometryTypes" [value]="geometryType"
                [selected]="fieldContainer.geometry?.type === geometryType">
            {{getGeometryTypeLabel(geometryType)}}
        </option>
    </select>

    <textarea *ngIf="fieldContainer.geometry?.type !== ''"
              class="form-control geometry-coordinates-textarea"
              [(ngModel)]="coordinates"
              (input)="parseCoordinates(false)"
              (blur)="parseCoordinates(true)">{{coordinates}}</textarea>
</div>
