form-field-identifier {
  .identifier-prefix-label {
    height: 33px;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 7px;
    border-radius: 0;
    font-size: 13px;
    color: $primary-button-color;
    background-color: white;
    transition: border-color 0.15s ease-in-out;
    border-right-color: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    user-select: none;

    &.focused {
      border-color: #7998cb;
    }
  }

  input.with-prefix {
    position: relative;
    right: 1px;
    margin-right: -1px !important;
    padding-left: 0;
    border-left: none;
  }

  .invalid-identifier-info {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-top: 9px;
    margin-bottom: 0;
    border-radius: 7px;
    user-select: none;
    cursor: default;
  }
}
