<div class="input-group">
    <span *ngIf="identifierPrefix"
          class="input-group-text identifier-prefix-label"
          (click)="focusInputField()"
          [class.focused]="focused">{{identifierPrefix}}</span>
    <input #inputField
           [(ngModel)]="identifierBody"
           (keyup)="update($event.target.value)"
           (focus)="focused = true"
           (blur)="focused = false"
           class="form-control"
           [class.with-prefix]="identifierPrefix">
    <div *ngIf="invalidIdentifier" class="invalid-identifier-info alert alert-warning" i18n="@@docedit.forms.invalidIdentifier">
        Der eingetragene Bezeichner <b>{{currentIdentifier}}</b> beginnt nicht mit dem konfigurierten Bezeichner-Präfix 
        <b>{{identifierPrefix}}</b>. Bitte tragen Sie einen neuen Bezeichner ein.
    </div>
</div>
