<div *ngFor="let literature of resource[field.name]">
    <div class="input-group mb-2" *ngIf="!isInEditing(literature)">
        <input value="{{getLabel(literature)}}" type="text" disabled class="form-control">

        <div class="input-group-append">
            <button class="btn btn-danger" [disabled]="!isEditingAllowed()" (click)="remove(literature)">
                <span class="mdi mdi-delete"></span>
            </button>
            <button class="btn btn-info" [disabled]="!isEditingAllowed()" (click)="startEditing(literature)">
                <span class="mdi mdi-pencil"></span>
            </button>
        </div>
    </div>

    <div *ngIf="isInEditing(literature)">
        <ng-container [ngTemplateOutlet]="literatureFormTemplate"
                      [ngTemplateOutletContext]="{ literature: getClone(literature) }">
        </ng-container>
    </div>
</div>

<div class="input-group" *ngIf="isEditingAllowed()">
    <input placeholder="Hinzufügen..." i18n-placeholder="@@docedit.forms.literature.add"
           type="text" disabled class="form-control">

    <div class="input-group-append">
        <button class="btn btn-success" (click)="createNewLiterature()">
            <span class="mdi mdi-plus-circle"></span>
        </button>
    </div>
</div>

<div *ngIf="newLiterature">
    <ng-container [ngTemplateOutlet]="literatureFormTemplate"
                  [ngTemplateOutletContext]="{ literature: newLiterature }">
    </ng-container>
</div>


<ng-template #literatureFormTemplate let-literature="literature">
    <div class="card object-array-field-widget">
        <div class="card-block">
            <div class="form-group">
                <label i18n="@@docedit.forms.literature.quotation">Literaturzitat:</label>
                <input [(ngModel)]="literature.quotation" class="form-control" name="quotation" type="text">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label i18n="@@docedit.forms.literature.zenonId">Zenon-ID:</label>
                    <input [(ngModel)]="literature.zenonId" class="form-control" name="zenonId" type="text">
                </div>
                <div class="form-group col-md-6">
                    <label i18n="@@docedit.forms.literature.doi">DOI:</label>
                    <input [(ngModel)]="literature.doi" class="form-control" name="doi" type="text">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label i18n="@@docedit.forms.literature.page">Seite:</label>
                    <input [(ngModel)]="literature.page" class="form-control" name="page" type="text">
                </div>
                <div class="form-group col-md-6">
                    <label i18n="@@docedit.forms.literature.figure">Abbildung:</label>
                    <input [(ngModel)]="literature.figure" class="form-control" name="figure" type="text">
                </div>
            </div>
        </div>
        <div class="card-footer" align="right">
            <button class="btn btn-primary"
                    i18n="@@buttons.ok"
                    (click)="save(literature)"
                    [disabled]="!validate(literature)">OK</button>
            <button *ngIf="newLiterature == literature"
                    class="btn btn-secondary"
                    i18n="@@buttons.cancel"
                    (click)="discardNewLiterature()">Abbrechen</button>
        </div>
    </div>
</ng-template>
