<div *ngIf="fieldContainer[fieldName]">
    <div *ngFor="let entry of fieldContainer[fieldName]; let i = index">
        <div class="input-group mb-2">
            <multi-language-text-field *ngIf="fieldLanguages"
                                    [fieldData]="entry"
                                    [languages]="fieldLanguages"
                                    (onFieldDataChanged)="updateExistingEntry($event, i)">
            </multi-language-text-field>
            <div class="input-group-append" [class.with-language-tabs]="!hasNoConfiguredLanguages()">
                <button class="btn btn-danger" type="button" (click)="deleteEntry(entry)">
                    <span class="mdi mdi-delete"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="input-group mb-2">
    <multi-language-text-field *ngIf="fieldLanguages"
                               [fieldData]="newEntry"
                               [languages]="fieldLanguages"
                               (onFieldDataChanged)="updateNewEntry($event)">
    </multi-language-text-field>
    <div class="input-group-append" [class.with-language-tabs]="!hasNoConfiguredLanguages()">
        <button class="btn btn-success" [disabled]="!isValidEntry(newEntry)" type="button"
                (click)="addNewEntry()">
            <span class="mdi mdi-plus"></span>
        </button>
    </div>
</div>
