<div *ngFor="let item of getValues()" class="radio form-check form-check-inline">
    <label class="form-check-label">
        <input class="form-check-input" value="{{item}}" type="radio"
               name="{{field.name}}"
               (click)="setValue(item)"
               [checked]="item === resource[field.name]">
        {{getLabel(item)}}
    </label>
</div>

<div class="form-check form-check-inline">
    <label class="form-check-label">
        <input class="form-check-input" value="" type="radio"
               name="{{resource[field.name]}}"
               (click)="resetValue()"
               [checked]="!resource.hasOwnProperty(field.name)">
        --
    </label>
</div>

<empty-valuelist-info *ngIf="hasEmptyValuelist()" [field]="field"></empty-valuelist-info>

<outliers [resource]="resource" [fieldName]="field.name" [valuelist]="valuelist"></outliers>